{% load static %}
<!-- Modal -->
<form action="#" method="post">
    {% csrf_token %}
    <div class="modal fade" id="adjust_btn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1" style="font-family: Pretendard;">연차조정</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*조정수량</label>
                            <input type="number" id="adjust_num"
                                   name="adjust_num"
                                   class="form-control"
                                   placeholder="조정수량" required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*조정사유</label>
                            <textarea class="form-control" id="adjust_reason" name="adjust_reason" placeholder="조정사유" required></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="adjust_add_btn">확인</button>
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('#adjust_add_btn').click(function () {
        var adjust_num = $('#adjust_num').val()
        var adjust_reason = $('#adjust_reason').val()

        $.ajax({
            url: "{% url 'createAdjustHoliday' %}",
            type: 'GET',
            data: {
                'id': currentId,
                'adjust_num': adjust_num,
                'adjust_reason': adjust_reason
            },
            success: function (res) {
                Swal.fire({
                title: 'Success!',
                text: '연차조정이 등록되었습니다.',
                icon: 'success',
                confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            },
            error: function(err) {
               Swal.fire({
                    title: 'Fail!',
                    text: '관리자에게 문의바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
               })
            }
        })

    })
</script>