<!DOCTYPE html>
<html>
<header>{% include "header.html" %}</header>
{# 발주대비 입고현황 #}

<body style="overflow: hidden;">

{% load static %}
{% comment %}<div class="spinner" id="spinner">
    <img src="../../../static/img/spinner.gif" width="150px" height="150px"/>
</div>{% endcomment %}


<!-- 검색 -->
<div class="card m-2">
    <div class="card-body p-2">
        <!-- 본문 -->
        <div
                class="content-search row no-gutters align-items-center content-input-group"
        >
            <div class="content-title col-1 align-self-stretch">검색</div>
            <form id="search_form" class="col-11">
                <div class="row no-gutters">
                    <div class="content-input-group col-3 px-0">
                        <div class="content-input-group-header">
                            <label>거래처</label>
                        </div>
                        <div class="content-input-group-input">
                            <select
                                    class="form-control customer_search"
                                    id="customer_search"
                            ></select>
                        </div>
                    </div>
                    <div class="content-input-group col-3 px-0">
                        <div class="content-input-group-header">
                            <label>입고현황</label>
                        </div>

                        <div class="content-input-group-input">
                            <select
                                    class="form-control work-status-dropdown"
                                    id="in_status"
                            >
                                <option value="">전체</option>
                                <option value="미입고">미입고</option>
                                <option value="일부입고">일부입고</option>
                                <option value="입고완료">입고완료</option>
                            </select>

                        </div>
                    </div>
                    <div class="content-input-group col-4 px-0">
                        <div class="content-input-group-header">
                            <label>작성일자</label>
                        </div>
                        <div class="content-input-group-input">
                            <div class="input-group input-daterange">
                                <input
                                        type="text"
                                        class="form-control datepicker"
                                        id="make_from"
                                        autocomplete="off"
                                />
                                <div class="input-group-addon px-3">~</div>
                                <input
                                        type="text"
                                        class="form-control datepicker"
                                        id="make_to"
                                        autocomplete="off"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-1 px-0">
                        <button
                                class="btn button-search rounded-0 w-100 h-100"
                                type="button"
                                onclick="return search_submit(event);"
                        >
                            검색
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 발주정보 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <div class="content-table col-12" style="overflow-y: hidden; height:253px;">
            <table
                    id="list_table"
                    class="table table-sm text-center"
            >
                <thead>
                <tr>
                    <th>순번</th>
                    <th>발주번호</th>

                    <th>거래처</th>
                    <th>거래처담당자</th>
                    <th>담당자연락처</th>

                    <th>공급가</th>
                    <th>입고현황</th>
                    <th>작성일자</th>
                    <th>작성자</th>
                </tr>
                </thead>
                <tbody id="list_tbody"></tbody>
            </table>

            <div class="row no-gutters d-flex justify-content-center" id="item_nation"
                 style="margin-top: -20px;">
            </div>
        </div>
    </div>
</div>


<!-- 발주내역 상세 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <div class="content-table col-12" style="overflow-x:auto; height:253px;">
            <table
                    id="detail_table"
                    class="table table-sm text-center"
                    style="min-width: 100px"
            >
                <thead>
                <tr>
                    <th style="width:70px;">순번</th>
                    <th style="width:150px;">품번</th>
                    <th style="width:150px;">품명</th>

                    <th>현재재고</th>
                    <th>발주수량</th>

                    <th>입고수량</th>
                    <th title="입고한 불량수량">불량수량</th>

                    <th>미입고</th>

{#                    <th>입고할 수량</th>#}
{#                    <th title="입고할 불량수량"><span style="font-size:12px;font-weight:lighter;">(할)</span>불량수량</th>#}

                    <th>입고일자</th>
                    <th>자재생산일자</th>
                    <th>창고저장위치</th>
                    <th>비고</th>

                </tr>
                </thead>
                <tbody id="detail_table_body"></tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/api_paginations.js' %}" type="text/javascript"></script>
<script>

    let list_id = null;
    let orders_item_id = null;
    let msg = "";

    let nation_data1 = {
        cname : 'nation1',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation',
        range: 5,
        page_size: 5,
    };

    let nation1 = new Pnations(nation_data1, search);  // 인스턴스 명

    $(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        minViewMode: 0,
        maxViewMode: 2,
        autoclose: true,
        language: "ko",
        todayHighlight: 'true',
    });

    $(".datepicker").datepicker("setDate", "today");

    function isNumber(value) {
        return typeof value === 'number' && isFinite(value);
    }


    function check_unexpected_value(param) {
        if (param === undefined || param === '' || param === 'null' || param === 'undefined') {
            param = null;
        }

        return param;
    }


    $(function () {
        let now = new Date();
        let first_date = new Date(now.getFullYear(), now.getMonth(), 1);

        $("#make_from").datepicker("setDate", first_date);
        $("#make_to").datepicker("setDate", "today");

        refresh();

        // Table export
        {% comment %}
        $(parent.document).find("#excel-export").click(() =>
            init_excel_export($("#detail_table"), "거래처기준정보")
        );
        {% endcomment %}
    });


    function refresh() {
        nation1.page = 1;
        init_drop_down();
        search();
    }


    function search(){
        let customer_search = $('#customer_search :selected').val();
        if (customer_search === undefined || customer_search === null) customer_search = ''

        let make_from = $("#make_from").val();
        let make_to = $("#make_to").val();

        let query = "?page=" + nation1.page + "&";
        if (customer_search === ''){} else query += "code_id=" + customer_search + "&";

        if (make_from === ''){} else query += "make_from=" + make_from + "&";
        if (make_to === ''){} else query += "make_to=" + make_to + "&";

        api_gp("/order_s/" + query + "/", "GET", {}, (done) => {
            load_list_table(done);
        });
    }


    function load_list_table(done) {
        {#console.table(data)#}
        let rows = "";
        let num = (((nation1.page*1) - 1) * nation_data1["page_size"]) + 1 ;
        let data = done.results;

        for (let i = 0; i < data.length; i++) {
            let item = data[i];

            // append it
            let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
            row += "<td>" + (num+i) + "</td>";  // 순번
            row += "<td class='d-none' name='list_id'>" + item.id + "</td>";  // id

            row += "<td name='orders_code'>" + (item.orders_code ? item.orders_code : "") + "</td>";  // 발주번호
            row += "<td class='d-none' name='customer'>" + (item.code_id ? item.code_id : "") + "</td>";  // 거래처
            row += "<td name='customer_name'>" + (item.code_name ? item.code_name : "") + "</td>";  // 거래처
            row += "<td name='person_in_charge'>" + (item.charge_name ? item.charge_name : "") + "</td>";  // 거래처담당자
            row += "<td>" + (item.charge_phone ? item.charge_phone : "") + "</td>";  // 담당자연락처

            row += "<td name='provide_sum'>" + item.provide_sum.toLocaleString() + "</td>";  // 공급가
            row += "<td class='d-none' name='provide_surtax'>" + item.provide_surtax + "</td>";  // 부가세포함
            row += "<td name='ins_status'>" + (item.in_status == "" ? "미입고" : item.in_status) + "</td>";  // 입고현황

            row += "<td name='updated_at'>" + (item.created_at ? item.created_at : "") + "</td>";  // 작성일자
            row += "<td name='username'>" + item.username + "</td>";  // 작성자

            row += "</tr>";
            rows += row;
        }

        nation1.nation_display(done);

        $('#list_tbody').html(rows);
        $('#list_tbody > tr').on('click', function () {

            // table click highlight
            $(this).parent().find('tr').removeClass('clicked');
            $(this).addClass('clicked');

            list_id = $(this).find("[name='list_id']").text();
            load_detail_table();

            {#set_info();#}
            {#set_item();#}
        });

        {#reset_note_info();#}
    }


    function load_detail_table() {

        let query = "?";
        if (list_id) query += "orders_id=" + list_id + "&";

        api_gp("/order_s_in_items/" + query, "GET", {}, (done) => {
            console.table(done);

            let rows = "";
            let list_num = 1;
            for (let i = 0; i < done.length; i++) {
                let item = done[i];

                let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
                row += "<td>" + list_num++ + "</td>";
                row += "<td name='orders' class='d-none'>" + item.orders + "</td>";  // 발주서 ID
                row += "<td name='orders_item' class='d-none'>" + item.id + "</td>";  // 발주항목 ID
                row += "<td name='item_id' class='d-none'>" + item.item.id + "</td>";  // 품번 ID
                row += "<td name='code'>" + (item.item ? item.item.code : "") + "</td>";  // 품번
                row += "<td name='name'>" + (item.item ? item.item.name : "") + "</td>";  // 품명
                row += "<td name='item_price' class='d-none'>" + item.item_price + "</td>";  // 단가

                row += "<td name='stock'>" + (item.item ? item.item.stock.toLocaleString() : 0) + "</td>";  // 현재재고
                row += "<td name='quantity'>" + (item.quantity ? item.quantity.toLocaleString() : 0) + "</td>";  // 발주수량

                if(item.ins) {
                    row += "<td name='in_quantity'>" + (item.in_quantity ? item.in_quantity.toLocaleString() : 0) + "</td>";  // 입고한 수량
                    row += "<td name='in_faulty'>" + (item.in_faulty ? item.in_faulty.toLocaleString() : 0) + "</td>";  // 입고한 불량수량
                    row += "<td name='in_remian'>" + "" + "</td>";  // 미입고수량
                }else{
                    row += "<td name='in_ed_quantity'>" + "" + "</td>";  // 입고한 수량
                    row += "<td name='in_ed_faulty'>" + "" + "</td>";  // 입고한 불량수량
                    row += "<td name='in_remian'>" + (item.in_quantity ? item.in_quantity.toLocaleString() : 0) + "</td>";  // 미입고수량
                }
                {#row += "<td name='in_will_quantity'>" + (item.in_will_quantity ? item.in_will_quantity.toLocaleString() : "") + "</td>";  // 입고할 수량#}
                {#row += "<td name='in_will_faulty'>" + (item.in_will_faulty ? item.in_will_faulty.toLocaleString() : "") + "</td>";  // 입고할 불량수량#}

                {#row += "<td name='supply_price' class='d-none'>" + (item.supply_price ? item.supply_price.toLocaleString() : "") + "</td>";  // 공급가#}
                {#row += "<td name='surtax' class='d-none'>" + (item.surtax ? item.surtax.toLocaleString() : "") + "</td>";  // 부가세#}
                {#row += "<td name='item_supply_total' class='d-none'>" + (item.item_supply_total ? item.item_supply_total.toLocaleString() : "") + "</td>";  // 합계#}

                row += "<td name='in_date'>" + (item.in_date ? item.in_date : "") + "</td>";  // 입고일자
                row += "<td name='item_created_at'>" + (item.item_created_at ? item.item_created_at : "") + "</td>";  // 자재생산일자
                row += "<td name='location'>" + (item.location ? item.location : "") + "</td>";  // 창고저장위치
                row += "<td name='etc'>" + (item.etc ? item.etc : "") + "</td>";  // 비고

                row += "</tr>";
                rows += row;
            }

            $("#detail_table_body").html(rows);

            // table click highlight
            $("#detail_table_body tr").on("click", function () {

                selected_tr = $(this);
                orders_item_id = $(this).find("[name='orders_item']").text();

                $(this).parent().find("tr").removeClass("clicked");
                $(this).addClass("clicked");

                $("#in_date").val(
                    $(this).find("[name='in_date']").text()
                );

                $("#in_will_quantity").val(
                    $(this).find("[name='in_will_quantity']").text()
                );

                $("#in_will_faulty").val(
                    $(this).find("[name='in_will_faulty']").text()
                );

                $("#item_created_at").val(
                    $(this).find("[name='item_created_at']").text()
                );

                $("#location").val(
                    $(this).find("[name='location']").text()
                );

                $("#etc").val(
                    $(this).find("[name='etc']").text()
                );
            });
        });
    }

    function load_in_table(done) {
        console.table(done)
        let rows = "";
        let list_num = 1;
        for (let i = 0; i < done.length; i++) {
            let item = done[i];

            {% comment %}if (item.out) {{% endcomment %}
                let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
                row += "<td>" + list_num++ + "</td>";
                {#row += "<td>" + "<input name='in_checkbox' type='checkbox' onclick='in_is_chk()'>" + "</td>";  // Checked#}
                row += "<td name='orders' class='d-none'>" + item.orders + "</td>";  // 발주서 ID
                {#row += "<td name='ordering_item' class='d-none'>" + item.ordering_item + "</td>";  // 주문항목 ID#}
                {#row += "<td name='ordering_ex_item' class='d-none'>" + item.id + "</td>";  // 출하항목 ID#}
                {#row += "<td name='item_num' class='d-none'>" + item.num + "</td>";  // 출하번호#}
                {#row += "<td name='item_id' class='d-none'>" + item.item.id + "</td>";  // 품번 ID#}
                {#row += "<td name='code'>" + (item.item ? item.item.code : "") + "</td>";  // 품번#}
                {#row += "<td name='name'>" + (item.item ? item.item.name : "") + "</td>";  // 품명#}
                {#row += "<td name='item_price' class='d-none'>" + item.item_price + "</td>";  // 단가#}
                {##}
                {#row += "<td name='stock' class='d-none'>" + (item.stock ? item.stock.toLocaleString() : "") + "</td>";  // 현재재고#}
                {#row += "<td name='quantity' class='d-none'>" + (item.quantity ? item.quantity.toLocaleString() : "") + "</td>";  // 주문수량#}
                {##}
                {#row += "<td name='export_quantity'>" + (item.export_quantity ? item.export_quantity.toLocaleString() : "") + "</td>";  // 출하수량#}
                {##}
                {#row += "<td name='supply_price' class='d-none'>" + (item.supply_price ? item.supply_price.toLocaleString() : "") + "</td>";  // 공급가#}
                {#row += "<td name='surtax' class='d-none'>" + (item.surtax ? item.surtax.toLocaleString() : "") + "</td>";  // 부가세#}
                {#row += "<td name='item_supply_total' class='d-none'>" + (item.item_supply_total ? item.item_supply_total.toLocaleString() : "") + "</td>";  // 합계#}
                {##}
                {#row += "<td name='export_date'>" + (item.export_date ? item.export_date : "") + "</td>";  // 출하일자#}
                {#row += "<td name='export_address'>" + (item.export_address ? item.export_address : "") + "</td>";  // 출하주소#}
                row += "<td name='username'>" + item.updated_by + "</td>";  // 작성자
                row += "</tr>";

                rows += row;
            {% comment %}}{% endcomment %}
        }

        $("#in_table_body").html(rows);

        $("#in_table_body > tr").on("click", function () {

            // table click highlight
            $(this).parent().find("tr").removeClass("clicked");
            $(this).addClass("clicked");
        });
    }


    function init_drop_down() {
        function make_dropdown(data, selectors) {
            let list = "<option value=''>선택</option>";
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                if (selectors === '.customer_code') {
                    list += "<option value='" + item.id + "'" +
                        " data-licensee_number='" + (item.licensee_number ? item.licensee_number : "") + "'" +  // 사업자번호
                        " data-owner_name='" + (item.owner_name ? item.owner_name : "") + "'" +  // 대표자명
                        " data-business_conditions='" + (item.business_conditions ? item.business_conditions : "") + "'" +  // 업태
                        " data-business_event='" + (item.business_event ? item.business_event : "") + "'" +  // 종목
                        " data-postal_code='" + (item.postal_code ? item.postal_code : "") + "'" +  //  우편번호
                        " data-address='" + (item.address ? item.address : "") + "'" +  // 주소
                        " data-office_phone='" + (item.office_phone ? item.office_phone : "") + "'" +  // 회사전화번호
                        " data-office_fax='" + (item.office_fax ? item.office_fax : "") + "'" +  // 팩스번호
                        " data-charge_name='" + (item.charge_name ? item.charge_name : "") + "'" +  // 담당자
                        " data-charge_level='" + (item.charge_level ? item.charge_level : "") + "'" +  // 직급
                        " data-charge_phone='" + (item.charge_phone ? item.charge_phone : "") + "'" +  // 담당자 연락처
                        " data-email='" + (item.email ? item.email : "") + "'" +  // 이메일
                        " data-etc='" + (item.etc ? item.etc : "") + "'" +  // 비고
                        "'>" + item.code + "</option>";
                } else if (selectors === ".customer_name") {
                    list += "<option value='" + item.id + "'" +
                        " data-licensee_number='" + (item.licensee_number ? item.licensee_number : "") + "'" +  // 사업자번호
                        " data-owner_name='" + (item.owner_name ? item.owner_name : "") + "'" +  // 대표자명
                        " data-business_conditions='" + (item.business_conditions ? item.business_conditions : "") + "'" +  // 업태
                        " data-business_event='" + (item.business_event ? item.business_event : "") + "'" +  // 종목
                        " data-postal_code='" + (item.postal_code ? item.postal_code : "") + "'" +  //  우편번호
                        " data-address='" + (item.address ? item.address : "") + "'" +  // 주소
                        " data-office_phone='" + (item.office_phone ? item.office_phone : "") + "'" +  // 회사전화번호
                        " data-office_fax='" + (item.office_fax ? item.office_fax : "") + "'" +  // 팩스번호
                        " data-charge_name='" + (item.charge_name ? item.charge_name : "") + "'" +  // 담당자
                        " data-charge_level='" + (item.charge_level ? item.charge_level : "") + "'" +  // 직급
                        " data-charge_phone='" + (item.charge_phone ? item.charge_phone : "") + "'" +  // 담당자 연락처
                        " data-email='" + (item.email ? item.email : "") + "'" +  // 이메일
                        " data-etc='" + (item.etc ? item.etc : "") + "'" +  // 비고
                        "'>" + item.name + "</option>";
                } else if (selectors === ".item_code") {
                    list +=
                        "<option value='" + item.id + "'" +
                        " data-detail='" + (item.detail ? item.detail : "") + "'" +  // 품명상세
                        " data-unit='" + (item.unit ? item.unit.name : "") + "'" +  // 단위
                        "'>" + item.code + "</option>";
                } else if (selectors === ".item_name") {
                    list +=
                        "<option value='" + item.id + "'" +
                        " data-detail='" + (item.detail ? item.detail : "") + "'" +  // 품명상세
                        " data-unit='" + (item.unit ? item.unit.name : "") + "'" +  // 단위
                        "'>" + item.name + "</option>";
                } else {
                    list +=
                        "<option value='" + item.id + "'>" + item.name + "</option>";
                }
            }
            $(selectors).html(list);
            $(selectors).select2({width: "100%"});
        }

        // 거래처 코드
        api_gp('/customers_part/', 'GET', {}, (done) => {
            make_dropdown(done, ".customer_search");
        });
    }

    function search_submit(e) {
        e.preventDefault();
        nation1.page = 1;

        $("#detail_table_body").empty();

        search();
        return false;
    }

</script>