<!DOCTYPE html>
<html>
<header>{% include "header.html" %}</header>
{# 발주등록 #}

<link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">



{% load static %}
{{ it.media }}
<body style="">

{% comment %}<div class="spinner" id="spinner">
    <img src="../../../static/img/spinner.gif" width="150px" height="150px"/>
</div>{% endcomment %}

<!-- 검색 -->
<div class="col-12">
    <div class="main-content">
        <div class="main-content-inner">
            <!-- 검색  -->
            <div class="row align-items-center">
                <div class="col-lg-12 col-ml-12 mt-3">
                    <div class="card">

                            <div class="row ml-3">

                                <div class="col-md-3 clearfix">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">거래처</label>
                                        <div class="content-input-group-input">
                                         {{ it.cu_name_sch }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 clearfix">
                                    <div class="form-group">
                                        <label for="example-text-input" class="col-form-label">마감여부</label>
                                        <div class="content-input-group-input">
                                         <select class="form-control form-control-sm" id="option_send_chk">
                                            <option value="">전체</option>
                                            <option value="1">마감완료</option>
                                            <option selected value="0">미완료</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 clearfix">
                                    <div class="form-group">
                                        <label class="col-form-label">발주일자</label>
                                        <div class="input-group input-daterange">
                                        <input type="text"
                                            class="form-control created_at_after datepicker form-control-sm"
                                            id="make_from"
                                            autocomplete="off"
                                        />
                                        <div class="input-group-addon px-3">~</div>
                                        <input type="text"
                                            class="form-control created_at_before datepicker form-control-sm"
                                            id="make_to"
                                            autocomplete="off"
                                        />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 clearfix">
                    <div class="gradient-buttons ml-1 col-md-3 mt-3">
                        <button type="button" class="btn btn-primary" onclick="search();"><i class="ti-search"></i>  검색</button>
                    </div>
                </div>
                <div class="col-md-1 mt-4">
                    <ul class="notification-area pull-right">
                        <li class="settings-btn">
                            <i class="ti-settings"></i>
                        </li>
                    </ul>
                </div>
                            </div>

                    </div>
                </div>
                </div>
            </div>
            <!-- 테이블  -->
            <div class="row no-gutters ml-4 mr-4">
                <div class="col-sm-6">
                    <div class="card m-1">
                        <div class="card-body">

                            <table id="order_manage_data_table" class="table table-hover table-striped table-bordered display nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        {% for item in column %}
                                            {% if item.visual_flag %}
                                            <th>{{ item.label }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody id="order_manage_tbody"></tbody>

                            </table>

                        </div>
                    </div>
                </div>

            <div class="col-sm-6">
            <div class="card m-1">
                        <div class="card-body">

                            <table id="order_manage_data_table_sub" class="table table-hover table-striped table-bordered display nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        {% for item in subcolumn %}
                                            {% if item.visual_flag %}
                                            <th>{{ item.label }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody id="order_manage_tbody_sub"></tbody>

                            </table>

                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- offset area start -->
<div class="offset-area">
    <div class="offset-close"><i class="ti-close"></i></div>
    <ul class="nav offset-menu-tab">
        <li><a class="active" data-toggle="tab" href="#or_manage_item">편집</a></li>
        <li></li>
    </ul>
    <div class="offset-content tab-content">
        <div id="or_manage_item" class="tab-pane fade in show active">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation" id="order_manage_form">
                            <div class="form-row">
                                <div class="col-md-6 mb-3" id="id_it_code_form_div">
                                    <label><strong>*</strong>품번</label>
                                    <div class="input-group">
                                        {{ it.it_code_form }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3" id="id_it_name_form_div">
                                    <label><strong>*</strong>품명</label>
                                    <div class="input-group">
                                        {{ it.it_name_form }}
                                    </div>
                                </div>
                            <div class="col-md-6 mb-3" id="id_it_name_form_div">
                                    <label><strong>*</strong>거래처</label>
                                    <div class="input-group">
                                        {{ it.it_customer_add }}
                                    </div>
                                </div>

                                {% for item in subcolumn %}
                                    {% if item.edit_flag %}


                                        {% if item.tag == "input" %}
                                    <div class="col-md-6 mb-3">
                                    <label><strong>{{ item.pre_label|default_if_none:'' }}</strong>{{ item.label }}</label>
                                    <input type="text" class="{{ item.class_name|safe }}"
                                           name="{{ item.label_en|safe }}"
                                           autocomplete="off"
                                            {% if item.attr != None %} {{ item.attr|safe }} {% endif %}
                                            {% if item.event != None %} {{ item.event|safe }} {% endif %}/>
                                     </div>
                                        {% elif item.tag == "btn" %}
                                            <div class="col-md-6 mb-3">
                                    <label><strong>{{ item.pre_label|default_if_none:'' }}</strong>{{ item.label }}</label>
                                    <input type="button" class="{{ item.class_name|safe }}" name="{{ item.label_en|safe }}" onclick="{{ item.event|safe }}" {{ item.attr }}/>
                                     </div>

                                        {% endif %}

                                    {% endif %}
                                {% endfor %}

                            </div>
                        </form>
                        <div class="gradient-buttons pull-right">
                        {% for item in subcolumn %}
                            {% if item.tag == "button" %}
                                <div class="{{ item.class_name|safe }}" onclick="{{ item.event|safe }}">{{ item.label }}</div>
                            {% endif %}
                        {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="{% static 'js/html2canvas.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jspdf.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_paginations.js' %}" type="text/javascript"></script>
{% comment %}<script src="https://code.jquery.com/jquery-3.5.1.js"></script>{% endcomment %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
<script src="{% static 'srtdash/assets/js/scripts.js' %}" type="text/javascript"></script>
<script>
    let maintable = null;
    let subtable = null;
    let re_column = []
    let re_invisual_col = []
    let re_name = []
    let hidden_name = []

    {% for item in column %}
            {% if item.tag == "input" or item.tag == "btn" %}
                re_name.push("{{ item.label_en|safe }}")

            {% elif item.tag == "select" %}

                hidden_name.push({
                    "{{ item.label_en|safe }}":
                     "{{ item.type|safe }}"
                })
            {% endif %}
        {% if not item.visual_flag and item.edit_flag %}
            re_invisual_col.push("{{ item.type|safe }}")
            {% else %}
            re_column.push("{{ item.label_en|safe }}")
        {% endif %}

    {% endfor %}

    $(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        minViewMode: 0,
        maxViewMode: 2,
        autoclose: true,
        language: "ko",
        todayHighlight: 'true',
    });


    function isNumber(value) {
        return typeof value === 'number' && isFinite(value);
    }


    function check_unexpected_value(param) {
        if (param === undefined || param === '' || param === 'null' || param === 'undefined') {
            param = null;
        }

        return param;
    }

    function print(){
        if (list_id == null) {
            alert("발주서를 먼저 선택해 주세요");
            return;
        }
        if (myinfo_id == null || myinfo_id === "") {
            alert("사업장을 선택해 주세요");
            return;
        }
            window.open('/basic_information/print_page/', 'print_page', 'width=1600, height=900');
    }


    $(function () {
        let now = new Date();
        let first_date = new Date(now.getFullYear(), now.getMonth(), 1);
        console.log("re_column" + re_column);

        $('[data-toggle="tooltip"]').tooltip()
        $("#make_from").datepicker("setDate", first_date);
        $("#make_to").datepicker("setDate", new Date());

        main_table = $('#order_manage_data_table').DataTable({
            scrollX: true,
            "columnDefs": [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: [0],
                        render: function(data, type, row, meta) {
                            return ;
                        }
                    },{
                        targets: [1],
                        render: function(data, type, row, meta) {
                            return meta.row + 1;
                        }
                },
                    {
                    "targets": "_all",
                    "className": "ellipsis"
                  }
                ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            "rowCallback": function(row, data) {
                    $(row).on('click', function() {
                        // 클릭 로우 색상
                        //setRowColor(this, 'M');

                    });
                }
                });
         sub_table = $('#order_manage_data_table_sub').DataTable({
                scrollX: true,
             "columnDefs": [
            {% comment %}{
                    "targets": [1, 2, 3], // 반입수량, 불량수량
                    render: function(data, type, row) {
                        if (type === 'display' && typeof data === 'number') {
                          return data.toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                        }
                        return data;
                      }
                  },{% endcomment %}
            {
                    "targets": "_all",
                    "className": "ellipsis"
                  }
                  ]
         })

        refresh()

    });


    function refresh()
    {
        search();

    }



    function reset_note_info() {
        api_gp('/order_s/?last=true&', 'GET', {}, (done) => {
            {#console.table(done[0]);#}
            if (done[0]){
                $("#pay_option").val(done[0].pay_option);  // 결제조건
                $("#due_date").datepicker("setDate", "today");  // 납기일은 오늘날짜로 해달라고 함
                $("#guarantee_date").val(done[0].guarantee_date);  // 품질보증기한
                $("#deliver_place").val(done[0].deliver_place);  // 남품장소
                $("#note").val(done[0].note);  // 비고
            }
        });
    }



    function search(){
        let customer_search = $('#customer_search :selected').val();
        if (customer_search === undefined || customer_search === null) customer_search = ''

        let make_from = $("#make_from").val();
        let make_to = $("#make_to").val();

        let mail_from = $("#mail_from").val();
        let mail_to = $("#mail_to").val();

        let query = "?page=1&";


        api_gp("/order_s/" + query + "/", "GET", {}, (done) => {
            load_list_table(done);
        });
    }


    function load_list_table(done) {

        let data = done.results;
        console.log(data);

        main_table.rows().remove().draw();
        main_table.rows.add(formatDataArray(data, re_column)).draw();

    }


    function load_detail_table(data) {
        {#console.table(data)#}

        let checked = $('#surtax_chk').is(":checked");
        if (checked) {
            $('#detail_thead tr').eq(0).find("th[name=surtax]").removeClass("d-none");
            $('#detail_thead tr').eq(0).find("th[name=item_supply_total]").removeClass("d-none");
            $('#ordering_detail_tfoot tr').eq(0).find("th[name=ordering_surtax]").html("VAT 포함");
        } else {
            $('#detail_thead tr').eq(0).find("th[name=surtax]").addClass("d-none");
            $('#detail_thead tr').eq(0).find("th[name=item_supply_total]").addClass("d-none");
            $('#ordering_detail_tfoot tr').eq(0).find("th[name=ordering_surtax]").html("VAT 미포함");
        }

        count_total();
    }



    function set_item() {
        if (!list_id) return;

        // 거래처 코드
        api_gp('/order_s_items/?orders_id=' + list_id + "&", 'GET', {}, (done) => {
            load_detail_table(done);
        });
    }



    function refresh_data() {  // 초기화 (

        $('#order_manage_form input').val('');

        $('#order_manage_form select').val(null).trigger('change');
        $('#order_manage_form select').attr("disabled",false);

        $('#order_manage_tbody').find('tr').siblings().css('background-color', '');
        $('#order_manage_tbody_sub').find('tr').siblings().css('background-color', '');

    }


    function add() {

            count_total();
        }


    function modify() {
        let item_id = $('#item_code option:selected').val();
        if (item_id == null || item_id == '') {
            alert("품번을 선택해 주세요.");
            return;
        }

        let item_code = $('#item_code option:selected').text();
        let item_name = $('#item_name option:selected').text();
        let item_detail = $('#item_detail').val();
        let item_shape = $('#item_shape').val();
        let item_nice = $('#item_nice option:selected').text();

        let item_quantity = $('#item_quantity').val();
        item_quantity = parseFloat(item_quantity.replace(/,/g, ""));
        if (!isNumber(item_quantity)) {
            alert("수량을 선택해 주세요.");
            return;
        }

        let item_price = $('#item_price').val();
        item_price = parseFloat(item_price.replace(/,/g, ""));
        if (!isNumber(item_price)) {
            alert("단가를 선택해 주세요.");
            return;
        }

        // 첨부파일

        let supply_price = 0;
        supply_price = item_quantity * item_price;

        let surtax = 0;
        surtax = supply_price * 0.1;

        let total = 0;
        total = supply_price + surtax

        let item_remark = $('#item_remark').val();

        selected_tr.find("td[name=item_id]").text(item_id);  // 품번 ID
        selected_tr.find("td[name=item_code]").text(item_code)
        selected_tr.find("td[name=item_code_tooltip]").text(`${item_code.length > 10 ? item_code.slice(0,10)+ "...": item_code}`)
        selected_tr.find("td[name=item_code_tooltip]").attr('title',`${item_code}`)
        selected_tr.find("td[name=item_name]").text(item_name)
        selected_tr.find("td[name=item_name_tooltip]").text(`${item_name.length > 10 ? item_name.slice(0,10)+ "...": item_name}`)
        selected_tr.find("td[name=item_name_tooltip]").attr('title',`${item_name}`)
        selected_tr.find("td[name=item_nice]").text(item_nice)
        selected_tr.find("td[name=item_nice_tooltip]").text(`${item_nice.length > 10 ? item_nice.slice(0,10)+ "...": item_nice}`)
        selected_tr.find("td[name=item_nice_tooltip]").attr('title',`${item_nice}`)
        selected_tr.find("td[name=item_detail]").text(item_detail)
        selected_tr.find("td[name=item_detail_tooltip]").text(`${item_detail.length > 10 ? item_detail.slice(0,10)+ "...": item_detail}`)
        selected_tr.find("td[name=item_detail_tooltip]").attr('title',`${item_detail}`)
        selected_tr.find("td[name=item_shape]").text(item_shape);  // 품명단위

        selected_tr.find("td[name=item_quantity]").text(item_quantity.toLocaleString());  // 수량
        selected_tr.find("td[name=item_price]").text(item_price.toLocaleString());  // 단가
        selected_tr.find("td[name=supply_price]").text(supply_price.toLocaleString());  // 공급가
        selected_tr.find("td[name=surtax]").text(surtax.toLocaleString());  // 부가세
        selected_tr.find("td[name=item_supply_total]").text(total.toLocaleString());  // 합계

        selected_tr.find("td[name=item_remark]").text(item_remark);  // 비고

        count_total();
        alert("성공적으로 수정하였습니다.");
    }


    function remove() {
        if (!selected_tr) return;

        selected_tr.remove();

        let table = $('#detail_tbody tr');
        for (let i = 0; i < table.length; i++) {
            let tr = table.eq(i);
            tr.find("td:eq(0)").text(i + 1);  // 순번
        }

        list_number = table.length + 1;
        reset_item_info();
        count_total();

        selected_tr = null;

        // 첨부파일
        let item_id = $('#item_code option:selected').val();
    }


    $('#surtax_chk').click(function () {
        let checked = $('#surtax_chk').is(":checked");
        refresh_detail_table(checked);
    });


    function refresh_detail_table(_checked) {
        if (_checked) {
            $('#detail_thead tr').eq(0).find("th[name=surtax]").removeClass("d-none");  // 부가세
            $('#detail_thead tr').eq(0).find("th[name=item_supply_total]").removeClass("d-none");  // 합계
            $('#ordering_detail_tfoot tr').eq(0).find("th[name=ordering_surtax]").html("VAT 포함");
        } else {
            $('#detail_thead tr').eq(0).find("th[name=surtax]").addClass("d-none");
            $('#detail_thead tr').eq(0).find("th[name=item_supply_total]").addClass("d-none");
            $('#ordering_detail_tfoot tr').eq(0).find("th[name=ordering_surtax]").html("VAT 미포함");
        }

        let table = $('#detail_tbody tr');
        for (let i = 0; i < table.length; i++) {
            let tr = table.eq(i);
            let item_quantity = tr.find("td[name=item_quantity]").text().replace(/,/g, "");  // 수량
            let item_price = tr.find("td[name=item_price]").text().replace(/,/g, "");  // 단가
            let supply_price = tr.find("td[name=supply_price]").text().replace(/,/g, "");  // 공급가
            let surtax = tr.find("td[name=surtax]").text().replace(/,/g, "");  // 부가세
            let total = tr.find("td[name=item_supply_total]").text().replace(/,/g, "");  // 합계

            if (item_quantity == "") {  // 수량
                item_quantity = 0;
            } else {
                item_quantity = parseFloat(item_quantity);
            }

            if (item_price == "") {  // 단가
                item_price = 0;
            } else {
                item_price = parseFloat(item_price);
            }

            if (supply_price == "") {  // 공급가
                supply_price = 0;
            } else {
                supply_price = parseFloat(supply_price);
            }

            if (surtax == "") {  // 부가세
                surtax = 0;
            } else {
                surtax = parseFloat(surtax);
            }

            if (total == "") {  // 합계
                total = 0;
            } else {
                total = parseFloat(total);
            }

            if (_checked) {
                tr.find("td[name=surtax]").removeClass("d-none");  // 부가세 Visible (부가세 포함 계산)
                tr.find("td[name=item_supply_total]").removeClass("d-none");
                supply_price = item_quantity * item_price;
                surtax = supply_price * 0.1;
                total = supply_price + surtax;

                tr.find("td[name=item_quantity]").text(item_quantity.toLocaleString());  // 수량
                tr.find("td[name=item_price]").text(item_price.toLocaleString());  // 단가
                tr.find("td[name=supply_price]").text(supply_price.toLocaleString());  // 공급가
                tr.find("td[name=surtax]").text(surtax.toLocaleString());  // 부가세
                tr.find("td[name=item_supply_total]").text(total.toLocaleString());  // 합계

            } else {
                tr.find("td[name=surtax]").addClass("d-none");  // 부가세 Un-visible (부가세 제외 계산)
                tr.find("td[name=item_supply_total]").addClass("d-none");
                supply_price = item_quantity * item_price;
                surtax = 0;
                total = supply_price + surtax;

                tr.find("td[name=item_quantity]").text(item_quantity.toLocaleString());  // 수량
                tr.find("td[name=item_price]").text(item_price.toLocaleString());  // 단가
                tr.find("td[name=supply_price]").text(supply_price.toLocaleString());  // 공급가
                tr.find("td[name=surtax]").text(surtax.toLocaleString());  // 부가세
                tr.find("td[name=item_supply_total]").text(total.toLocaleString());  // 합계
            }
        }
        count_total();
    }


    function count_total(){
        let checked = $('#surtax_chk').is(":checked");

        let table = $('#detail_tbody tr');
        let sum_supply_price = 0;
        let sum_surtax = 0;
        let sum_supply_total = 0;

        for (let i = 0; i < table.length; i++) {
            let tr = table.eq(i);
            let supply_price = tr.find("td[name=supply_price]").text().replace(/,/g, "");  // 공급가
            let surtax = tr.find("td[name=surtax]").text().replace(/,/g, "");  // 부가세

            supply_price = parseFloat(supply_price);
            if (!isNumber(supply_price)){
                supply_price = 0;
            }

            surtax = parseFloat(surtax);
            if (!isNumber(surtax)){
                surtax = 0;
            }

            sum_supply_price += supply_price;

            if (checked == true) {
                sum_surtax += surtax;
                sum_supply_total += supply_price + surtax;
            }else{
                sum_supply_total += supply_price;
            }
        }
        $("#supply_price").val(sum_supply_price.toLocaleString());
        $("#surtax").val(sum_surtax.toLocaleString());
        $("#supply_total").val(sum_supply_total.toLocaleString());
        $("#ordering_item_supply_total").html(" ₩ " + sum_supply_total.toLocaleString() + " -");
        $('#ordering_total_price').html(sum_supply_total.toLocaleString() + " -");
    }


    function submit() {

        let item_id = $('#id_it_code_form').val();
        item_id = item_id ? item_id : $('#id_it_name_form').val();
        let cu_id = $('#id_it_customer_add').val();
        let quantity = $('#order_manage_form [name=quantity]').val();
        let item_price = $('#order_manage_form [name=item_price]').val();

        let form = new FormData();
        form.append("item", item_id);
        form.append("customer", cu_id);
        form.append("quantity", quantity);
        form.append("item_price", item_price);

        let valid = true;

        if(item_id == null){
            alert("품목을 선택해주세요");
            valid = false;
        }else if(cu_id == null){
            alert("거래처를 선택해주세요");
            valid = false;
        }else if(quantity == null){
            alert("수량을 입력해주세요");
            valid = false;
        }else if(item_price == null){
            alert("단가를 입력해주세요");
            valid = false;
        }

        if (valid){
            api_orders_post(form, (e) => {
                console.log(e)
                alert("등록하였습니다.");

            refresh_data();

        }, (e1) => {
            console.log(e1)
                alert("예외가 발생했습니다.");
        });
        }

    }


    function craete_pdf(){
        if (list_id == null) {
            alert("발주서를 먼저 선택해 주세요");
            return;
        }
        if (myinfo_id == null || myinfo_id === "") {
            alert("사업장을 선택해 주세요");
            return;
        }
        html2canvas($('#print')[0], {scrollX: -8.5, scrollY: -window.scrollY, onclone: function (clonedDoc) {
                $(clonedDoc).find('#print').css('visibility', 'visible');
            }}).then(function (canvas) { //저장 영역 div id

            // 캔버스를 이미지로 변환
            var imgData = canvas.toDataURL('image/png');

            var imgWidth = 200; // 이미지 가로 길이(mm) / A4 기준 210mm
            var pageHeight = imgWidth * 1.414;  // 출력 페이지 세로 길이 계산 A4 기준
            var imgHeight = canvas.height * imgWidth / canvas.width;
            var heightLeft = imgHeight;
            var margin = 4; // 출력 페이지 여백설정
            var doc = new jsPDF('p', 'mm');
            var position = 10;

            // 첫 페이지 출력
            doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
            heightLeft -= pageHeight;

            // 한 페이지 이상일 경우 루프 돌면서 출력
            while (heightLeft >= 0) {
                position = heightLeft - imgHeight;
                doc.addPage();
                doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;
            }
            let pdf = new Blob([doc.output('blob')], {type: 'application/pdf'});
            let customer_email = $('#email').val();
            let enterprise_name = $('#ordering_enterprise_name').text();

            let form = new FormData();
            form.append("file", pdf);
            form.append("customer_email", customer_email);
            form.append("enter_email", enter_email);
            form.append("enter_fax", enter_fax);
            form.append("enter_call", enter_call);
            form.append("logo_img", logo_img)
            form.append("enterprise_name", enterprise_name);

            if (form == null) {
                return;
            }

            api_send_email(form, (done) => {
                alert('메일 전송 완료');

                // 메일 전송 완료시 리스트 Update
                let upload_data = {
                    send_chk: true,
                    send_try: true,
                }

                api_gp("/order_s/" + list_id + "/", "PATCH", upload_data, (done) => {
                    let ret = done.send_chk;
                    let send_date = done.send_date;

                    if (ret == true) {
                        $("#list_tbody").find(".clicked").find("[name='send_chk']").text('발송');
                        $("#list_tbody").find(".clicked").find("[name='send_date']").text(send_date);
                    } else {
                        alert('예외가 발생했습니다. 관리자에게 문의 하세요.');
                    }
                });
            });
        });
    }


    function craete_pdf_download(){
        if (list_id == null) {
            alert("발주서를 먼저 선택해 주세요");
            return;
        }
        if (myinfo_id == null || myinfo_id === "") {
            alert("사업장을 선택해 주세요");
            return;
        }
        html2canvas($('#print')[0], {scrollX: -8.5, scrollY: -window.scrollY, onclone: function (clonedDoc) {
                $(clonedDoc).find('#print').css('visibility', 'visible');
            }}).then(function (canvas) { //저장 영역 div id

            // 캔버스를 이미지로 변환
            var imgData = canvas.toDataURL('image/png');

            var imgWidth = 200; // 이미지 가로 길이(mm) / A4 기준 210mm
            var pageHeight = imgWidth * 1.414;  // 출력 페이지 세로 길이 계산 A4 기준
            var imgHeight = canvas.height * imgWidth / canvas.width;
            var heightLeft = imgHeight;
            var margin = 4; // 출력 페이지 여백설정
            var doc = new jsPDF('p', 'mm');
            var position = 10;

            // 첫 페이지 출력
            doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
            heightLeft -= pageHeight;

            // 한 페이지 이상일 경우 루프 돌면서 출력
            while (heightLeft >= 0) {
                position = heightLeft - imgHeight;
                doc.addPage();
                doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;
            }

            doc.save('발주서-' + order_code + '.pdf')
        });
    }


    // 메일 전송
    function send_email() {

        if (list_id == null) {
            alert("리스트를 선택해 주세요.");
            return;
        }
        if (myinfo_id === null || myinfo_id === "") {
            alert("사업장을 선택해 주세요.");
            return;
        }

        {#let checked_value = $("input[id=mail_checkbox]:checked")#}
        let send_checked = $("#list_tbody").find(".clicked").find("[name='send_chk']").text();

        if (send_checked == '발송') {
            if (!confirm('메일을 다시 전송하시겠습니까?')) return;
        } else if (send_checked == '미발송') {
            if (!confirm('메일을 전송하시겠습니까?')) return;
        }

        craete_pdf()
    }


    function spinner() {
        $("#spinner").remove();
    }


    function api_orders_post(allData, done_callback) {
        $.ajax({
            type: "POST",
            url: "/order_s/",
            headers: {
                "Authorization": get_token()
            },
            processData: false,
            contentType: false,
            data: allData
        })
            .done(function () {
                done_callback();
            })
            .fail(handle_error);
    }


    function api_send_email(allData, done_callback) {
        $.ajax({
            type: "POST",
            url: "/order_s/sendmail_pdf/",
            headers: {
                "Authorization": get_token()
            },
            processData: false,
            contentType: false,
            data: allData
        })
            .done(function () {
                done_callback();
            })
            .fail(handle_error);
    }


    function get_fname(_url) {
        let url = decodeURI(_url);
        let arSplitUrl = url.split("/");    //   "/" 로 전체 url 을 나눈다
        let nArLength = arSplitUrl.length - 1;

        if (nArLength == undefined || nArLength == null || nArLength == -1){
            return '';
        }

        let sFileName = arSplitUrl[nArLength];   // 나누어진 배열의 맨 끝이 파일명이다
        {#console.log('sFileName', sFileName);#}

        if (sFileName == 'undefined'){
            return '';
        }


        return sFileName;
    }


    function fileCheck(file) {
        // 사이즈체크
        var maxSize = 1 * 1024 * 1024 //1MB
        var fileSize = 0;

        fileSize = file.files[0].size;
        if (fileSize > maxSize) {
            alert("파일 사이즈는 1MB 이내로 등록 가능합니다.");
            return false;
        }
        return true;
    }

    function search_submit(e) {
        e.preventDefault();

        reset_other_data();
        $("#detail_table_body").empty();

        search();
        return false;
    }

    //품번, 거래처 선택시 수수료율과 단가 셋팅
    $('#id_it_customer_add').on('select2:select', function (e) {
        let cu_id = e.params.data.id;
        let it_code = $('#id_it_code_form').val();

        if (it_code != null) {
            get_feeRate(cu_id, it_code);
        }
    });

    $('#id_it_code_form').on('select2:select', function (e) {
        let it_code = e.params.data.id;
        let cu_id = $('#id_cu_name_form').val();

        if (cu_id != null) {
            get_feeRate(cu_id, it_code);
        }

        if (it_code != null){
            get_itemmaster_info(it_code, "C")
        }

    });

    $('#id_it_name_form').on('select2:select', function (e) {
        let it_code = e.params.data.id;
        if (it_code != null){
            get_itemmaster_info(it_code, "N")
        }

    });

    function get_feeRate(cuId, itCode) {
        let postData = {};
        postData["customer_id"] = cuId;
        postData["item_id"] = itCode;
        postData["division_id"] = '10';
        postData["type"] = 's';

        api_gp("/unitprice/sub/", "get", postData, (done) => {

            if (done.count == 0){
                alert("거래처별 단가관리에서 단가와 수수료를 등록해주세요");

                $('#order_manage_form [name="item_price"]').val("");
            }else {

                $('#order_manage_form [name="item_price"]').val(done.results[0].unit_price);

            }

            })
    }

    function get_itemmaster_info(id, type) {
        if (id == null){
            console.log("선택된 품번, 품명이 존재하지 않습니다.")
        }else{
            api_gp(`/items/?id=${id}`, 'get', {},(done)=>{
                done = done.results[0]
                console.log(done);

                $('#order_manage_form [name="detail"]').val(done.detail);
                $('#order_manage_form [name="model"]').val(done.model);
                $('#order_manage_form [name="division_name"]').val(done.division_name);

                let option;

                if (type == "C"){
                    option = new Option(done.name, done.id, true, true);
                    $("#id_it_name_form").append(option).trigger("change")
                }else{
                    option = new Option(done.code, done.id, true, true);
                    $("#id_it_code_form").append(option).trigger("change")
                }
            })
        }
    }
</script>

