<!DOCTYPE html>
{% load static %}

{% include 'admins/admin_header.html' %}

<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/typography.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/katex.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/editor.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.css' %}"/>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        {% include 'admins/index_sidemenu.html' %}
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">

                        <!-- Full Editor -->
                        <div class="col-12">
                            <div class="card">
                                <strong style="font-size: x-large; margin-left: 20px; margin-top: 15px;">공지사항 글쓰기</strong>


                                <form action="{% url 'noticeWriteEdit' notice.id %}" method="post" id="textform">
                                    {% csrf_token %}
                                    <div style="display: flex; justify-content: flex-end; margin-bottom: 20px; margin-right: 20px;">
                                        <label class="switch switch-danger"
                                                   style="margin-right: 60px; margin-top: 8px;">
                                                <input type="hidden" name="fixed_flag" value="false">
                                                <input type="checkbox" class="switch-input" name="fixed_flag"
                                                       value="true" {% if notice.fixed_flag %}checked{% endif %}>
                                                <span class="switch-label">상단공지등록</span>
                                                <span class="switch-toggle-slider">
                                                    <span class="switch-on">
                                                        <i class="bx bx-check"></i>
                                                    </span>
                                                    <span class="switch-off">
                                                        <i class="bx bx-x"></i>
                                                    </span>
                                                </span>
                                            </label>
                                        <!--임시저장 버튼-->
                                        {% include 'admins/notice/temporarySave_modal.html' %}
                                         <button type="submit" class="btn btn-label-secondary" id="submitBtn">등록</button>
                                    </div>
                                    <!--제목 필드-->
                                    <input type="text" class="form-control" id="defaultFormControlInput"
                                           placeholder="제목을 입력해주세요." aria-describedby="defaultFormControlHelp"
                                           style="width: 97%; margin-left: 20px;" name="title"
                                           value="{{ notice.title }}">

                                    <!-- 내용 필드 -->
                                    <div class="card-body">
                                        <div id="editor"></div>
                                        <!-- Hidden input for content -->
                                        <input type="hidden" name="content" id="content-input"
                                               value="{{ notice.content|safe }}">
                                    </div>
                                </form>


                            </div>
                        </div>
                        <!-- /Full Editor -->


                        <!-- Multi  -->
                        <div class="col-12" style="margin-top: 30px;">
                            <div class="card">
                                <h5 class="card-header">파일 업로드 수정</h5>
                                <div style="margin-left: 60px;">
                                                {% load custom_filters %}
                                                {% if files %}
                                                    {% for file in files %}
                                                        <div class="edit_div" style="margin-bottom: 20px; display: flex;">
                                                            <a href="{% url 'download_file' file.id %}" download>{{ file.file_path|basename }}</a>
                                                            <div style="margin-top: 2px;">
                                                                 <a href="#" class="delete-file" data-file-id="{{ file.id }}" style="margin-left: 30px;">삭제</a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div>첨부파일이 없습니다.</div>
                                                {% endif %}
                                            </div>
                                <div class="card-body">
                                    <form action="{% url 'noticeWriteEdit' notice.id %}" class="dropzone needsclick" id="dropzone-multi" method="post" enctype="multipart/form-data">
                                        <div class="dz-message needsclick" style="color: lightgrey; font-size: large">
                                            이 곳에 파일을 올려주세요.
                                        </div>
                                        <div class="fallback">
                                            <input name="file" type="file"/>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Multi  -->

                    </div>
                </div>
                <!-- / Content -->
            </div>
        </div>
    </div>


</div>





</body>
{% include 'admins/admin_footer.html' %}

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.js' %}"></script>


<!-- Page JS -->
<script src="{% static 'sneat/assets/js/forms-editors.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-file-upload.js' %}"></script>


<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{'header': 1}, {'header': 2}],
        [{'list': 'ordered'}, {'list': 'bullet'}],
        [{'script': 'sub'}, {'script': 'super'}],
        [{'indent': '-1'}, {'indent': '+1'}],
        [{'direction': 'rtl'}],
        [{'size': ['small', false, 'large', 'huge']}],
        [{'header': [1, 2, 3, 4, 5, 6, false]}],
        [{'color': []}, {'background': []}],
        [{'font': []}],
        [{'align': []}],
        ['image'],
        ['clean']
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    // 에디터에서 작성된 내용,디자인,서식 서버로 저장
    document.querySelector('form').addEventListener('submit', function (event) {

        var content = JSON.stringify(quill.getContents());


        document.querySelector('#content-input').value = content;
    });

    // 서버에서 가져온 내용,디자인,서식 delta format 형식
    var delta = {{ notice.content|safe }};
    quill.setContents(delta);

    // delta 값 렌더링
    function deltaToText(delta) {
        return delta.ops.map(function (op) {
            if (op.insert) {
                return op.insert;
            } else if (op.attributes && op.attributes.link) {
                return op.attributes.link; // 링크 있는 경우, 필요한 처리 추가
            }
            return "";
        }).join("");
    }

    // 변환된 텍스트를 콘솔에 출력
    // console.log('수정 원본글:', deltaToText(delta));
</script>
<script>

   $("#submitBtn").click(function(e) {
    e.preventDefault();

    var formdata = new FormData($("#textform")[0]);
    formdata.append('title', $("#defaultFormControlInput").val());
    formdata.append('content', JSON.stringify(quill.getContents()));
    formdata.append('fixed_flag', $("input[name='fixed_flag']:checked").val());

    var fileData = $("#dropzone-multi").get(0).dropzone.files;

    for (var i = 0; i < fileData.length; i++) {
        formdata.append('file', fileData[i]);
    }

       var iterator = formdata.entries();
       var result = iterator.next();
       while (!result.done) {
           //console.log(result.value);
           result = iterator.next();
       }

    $.ajax({
      url: "{% url 'noticeWriteEdit' notice.id %}",
      type: "POST",
      xhrFields: {
            withCredentials: true
       },
      data: formdata,
      processData: false,
      contentType: false,
        success: function (response) {
            Swal.fire({
                title: 'Success!',
                text: '수정이 완료되었습니다.',
                icon: 'success',
                confirmButtonText: '확인'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'adminNotice' %}";
                }
            });
        },
        error: function (error) {
            console.log(error);
            Swal.fire({
                title: 'Error!',
                text: '관리자에게 문의 바랍니다.',
                icon: 'error',
                confirmButtonText: '확인'
            })
        }
    });
  });
</script>
<script>
    $(document).ready(function () {
        $(".delete-file").on("click", function (e) {
            e.preventDefault();
            var fileId = $(this).data("file-id");

            $.ajax({
                url: "{% url 'delete_file' %}",
                type: "POST",
                data: { file_id: fileId, csrfmiddlewaretoken: "{{ csrf_token }}" },
                success: function (response) {
                    // 삭제 성공 시 화면에서 해당 파일 엘리먼트 제거
                    if (response.success) {
                        $(e.target).closest(".edit_div").remove();
                    } else {
                        console.error("파일 삭제 실패");
                    }
                },
                error: function (error) {
                    console.error("파일 삭제 요청 실패: ", error);
                }
            });
        });
    });
</script>
</html>