{% load static %}
<!DOCTYPE html>

    {% include 'admins/admin_header.html' %}

<style>
    /* 상위 두 개의 행에 진한 경계선 추가 */
    table tr:nth-child(2) {
        border-bottom: 2px solid #6c757d;
    }
</style>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; margin-left: 26px; margin-top: 30px">


                <!-- Invoice -->

                <div class="card invoice-preview-card">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0" style="margin-bottom: -30px">
                        <div class="mb-xl-0 mb-4">
                            <div class="d-flex svg-illustration mb-3 gap-2">
                                <strong style="font-size: x-large;">공지사항 홈</strong>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 94em; margin-bottom: 20px;">
                        <a href="{% url 'noticeWritePage' %}">
                            <button type="button" class="btn btn-label-secondary" style="width: 120px;">글쓰기</button>
                        </a>
                    </div>

                    <hr class="my-0">

                    <div class="table-responsive">
                        <table class="table border-top m-0">
                            <thead>
                            <tr style="background-color: lightgray">
                                <th style="font-size: medium; font-weight: bold; text-align: center; width: 10%">번호</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">제목</th>
                                <th style="font-size: medium; font-weight: bold">작성자</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">작성일시</th>
                                <th style="font-size: medium; font-weight: bold">조회</th>
                                <th style="font-size: medium; font-weight: bold">댓글</th>
                            </tr>
                            </thead>
                            <tbody>
                             <tr style="cursor: pointer;" onclick="window.location='{% url 'noticeDetail' %}'">
                                <td style="color: red"><img src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}" style="margin-right: 8px"></td>
                                <td style="color: red">HTML Admin Template</td>
                                <td style="color: red">$32</td>
                                <td style="color: red">2023-11-20 15:53:20</td>
                                <td style="color: red">$32.00</td>
                                <td style="color: red">$32.00</td>
                            </tr>
                            <tr>
                                <td style="color: red"><img src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}" style="margin-right: 8px"></td>
                                <td style="color: red"><a href="" style="color: red">Angular Admin Template</a></td>
                                <td style="color: red">$22</td>
                                <td style="color: red">2023-11-20 17:00:20</td>
                                <td style="color: red">$22.00</td>
                                <td style="color: red">$22.00</td>
                            </tr>

                            <tr>
                                <td >1</td>
                                <td >HTML Admin Template</td>
                                <td>$17</td>
                                <td>2023-11-20 09:53:20</td>
                                <td>$34.00</td>
                                <td>$34.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>React Admin Template</td>
                                <td>$66</td>
                                <td>2023-11-20 14:53:20</td>
                                <td>$66.00</td>
                                <td>$66.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <!-- /Invoice -->
        </div>
    </div>
</div>


</body>
    {% include 'admins/admin_footer.html' %}
</html>