<!DOCTYPE html>
{% load static %}

{% include 'admins/admin_header.html' %}

<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/typography.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/katex.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/editor.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.css' %}"/>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        {% include 'admins/index_sidemenu.html' %}
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">

                        <!-- Full Editor -->
                        <div class="col-12">
                            <div class="card">
                                <strong style="font-size: x-large; margin-left: 20px; margin-top: 15px;">공지사항 글쓰기</strong>


                                <form action="{% url 'noticeWriteAdd' %}" method="post" id="textform">
                                    {% csrf_token %}
                                    <div style="display: flex; justify-content: flex-end; margin-bottom: 20px; margin-right: 20px;">
                                        <label class="switch switch-danger"
                                               style="margin-right: 60px; margin-top: 8px;">
                                            <input type="hidden" name="fixed_flag" value="false">
                                            <input type="checkbox" class="switch-input" name="fixed_flag" value="true">
                                            <span class="switch-label">상단공지등록</span>
                                            <span class="switch-toggle-slider">
                                            <span class="switch-on">
                                                <i class="bx bx-check"></i>
                                            </span>
                                            <span class="switch-off">
                                                <i class="bx bx-x"></i>
                                            </span>
                                        </span>
                                        </label>
                                        <!--임시저장 버튼-->
                                        {% include 'admins/notice/temporarySave_modal.html' %}
                                         <button type="submit" class="btn btn-label-secondary" id="submitBtn">등록</button>
                                    </div>
                                    <!--제목 필드-->

                                    <input type="text" class="form-control" id="defaultFormControlInput"
                                           placeholder="제목을 입력해주세요." aria-describedby="defaultFormControlHelp"
                                           style="width: 97%; margin-left: 20px;" name="title">

                                    <!-- 내용 필드 -->
                                    <div class="card-body">
                                        <div id="editor"></div>
                                        <!-- Hidden input for content -->
                                        <input type="hidden" name="content" id="content-input">
                                    </div>
                                </form>


                            </div>
                        </div>
                        <!-- /Full Editor -->


                        <!-- Multi  -->
                        <div class="col-12" style="margin-top: 30px;">
                            <div class="card">
                                <h5 class="card-header">파일 업로드</h5>
                                <div class="card-body">
                                    <form action="{% url 'noticeWriteAdd' %}" class="dropzone needsclick" id="dropzone-multi" method="post" enctype="multipart/form-data">
                                        <div class="dz-message needsclick" style="color: lightgrey; font-size: large">
                                            이 곳에 파일을 올려주세요.
                                        </div>
                                        <div class="fallback">
                                            <input name="file" type="file"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Multi  -->

                    </div>
                </div>
                <!-- / Content -->
            </div>
        </div>
    </div>


</div>





</body>
{% include 'admins/admin_footer.html' %}

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.js' %}"></script>


<!-- Page JS -->
<script src="{% static 'sneat/assets/js/forms-editors.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-file-upload.js' %}"></script>


<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{'header': 1}, {'header': 2}],
        [{'list': 'ordered'}, {'list': 'bullet'}],
        [{'script': 'sub'}, {'script': 'super'}],
        [{'indent': '-1'}, {'indent': '+1'}],
        [{'direction': 'rtl'}],
        [{'size': ['small', false, 'large', 'huge']}],
        [{'header': [1, 2, 3, 4, 5, 6, false]}],
        [{'color': []}, {'background': []}],
        [{'font': []}],
        [{'align': []}],
        ['image'],
        ['clean']
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });


    function imageHandler() {
        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');
        input.click();

        input.onchange = () => {
            var file = input.files[0];
            if (file) {
                var formData = new FormData();
                formData.append('image', file);

                $.ajax({
                    url: '{% url "image_upload" %}',
                    type: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken'),
                    },
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        // 통신 성공 -> 이미지 URL get
                        var imageUrl = response.imageUrl;
                        // 에디터의 현재 위치에 이미지 삽입
                        const range = quill.getSelection();
                        quill.insertEmbed(range.index, 'image', imageUrl);
                    },
                    error: function () {
                        console.error('이미지 업로드 실패');
                    }
                });
            }
        };
    }

    quill.getModule('toolbar').addHandler('image', imageHandler);


    document.querySelector('form').addEventListener('submit', function (event) {
        var content = JSON.stringify(quill.getContents());
        document.querySelector('#content-input').value = content;
    });

   $("#submitBtn").click(function(e) {
    e.preventDefault();

    var formdata = new FormData($("#textform")[0]);
    formdata.append('title', $("#defaultFormControlInput").val());
    formdata.append('content', JSON.stringify(quill.getContents()));
    formdata.append('fixed_flag', $("input[name='fixed_flag']:checked").val());

    var fileData = $("#dropzone-multi").get(0).dropzone.files;

    for (var i = 0; i < fileData.length; i++) {
        formdata.append('file', fileData[i]);
    }

       var iterator = formdata.entries();
       var result = iterator.next();
       while (!result.done) {
           // console.log(result.value);
           result = iterator.next();
       }

    $.ajax({
      url: "{% url 'noticeWriteAdd' %}",
      type: "POST",
      xhrFields: {
            withCredentials: true
       },
      data: formdata,
      processData: false,
      contentType: false,
        success: function (response) {
            Swal.fire({
                title: 'Success!',
                text: '작성글이 등록되었습니다.',
                icon: 'success',
                confirmButtonText: '확인'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'adminNotice' %}";
                }
            });
        },
        error: function (error) {
            console.log(error);
            Swal.fire({
                title: 'Error!',
                text: '관리자에게 문의 바랍니다.',
                icon: 'error',
                confirmButtonText: '확인'
            })
        }
    });
  });
</script>
</html>