{% load static %}
<!DOCTYPE html>

{% include 'admins/admin_header.html' %}


<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/typography.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/katex.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/editor.css' %}"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.css' %}"/>


<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; height: 100%; margin-left: 26px; margin-top: 30px">

                <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0" style="margin-bottom: -30px">
                    <div class="mb-xl-0 mb-4">
                        <div class="d-flex svg-illustration mb-3 gap-2">
                            <strong style="font-size: x-large; font-family: Pretendard;">공지사항</strong>
                        </div>
                    </div>
                </div>

                <!--공지사항 제목-->
                <div style="width: 98%; margin-top: 40px; display: flex; justify-content: space-between; align-items: center;">
                    <span style="font-size: x-large; margin-left: 40px">{{ notice.title }}</span>
                    <div class="dropdown" style="margin-top: 10px; margin-right: 20px;">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow btn-lg" data-bs-toggle="dropdown">
                            <img src="{% static 'admin/img/indexImg/menu.png' %}">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);" onclick="editItem();">
                                <i class="bx bx-edit-alt me-1"></i> 수정
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);" onclick="deleteItem();">
                                <i class="bx bx-trash me-1"></i> 삭제
                            </a>
                        </div>
                    </div>
                </div>

                <div style="margin-left: 30px; margin-bottom: 100px;">
                    <span style="color: lightgrey; font-size: small">{{ notice.created_by.username }} {{ notice.created_at|date:"Y년 m월 d일 A g:i" }}</span>
                </div>

                <!--공지사항 내용-->
                <div id="content-container" style="width: 85%; font-size: large; margin-left: 100px; border: 0px;">

                </div>
                <div class="card-body" style="width: 90%; margin-left: 60px; display: grid; border: rgb(242, 247, 255) 2px dashed;">
                    {% load custom_filters %}
                    {% for file in files %}
                        <a href="{% url 'download_file' file.id %}" download>{{ file.file_path|basename }}</a>
                    {% endfor %}
                </div>

                <!--공지사항 댓글--->
                <div style="width: 90%; margin-left: 60px; margin-top: 100px;">
                    <label for="exampleFormControlTextarea1" class="form-label">댓글 {{ notice.reply_count }}개 |</label>
                    <label for="exampleFormControlTextarea1" class="form-label">조회 {{ notice.click_cnt }}</label>
                    <div class="form-group">
                        <form onsubmit="addComment(event)">
                            <div class="form-group" style="display: flex;">
                                <input type="text" class="form-control" style="margin-right: 30px;" placeholder="댓글을 입력하세요" required>
                                <button type="submit" class="btn btn-primary" style="width: 120px;">댓글등록</button>
                            </div>
                        </form>
                        <!--댓글 표시되는 div-->
                        <div class="card my-3 comments" style="justify-content: center">
                            {% for reply in replies %}
                                <div class="card-body">
                                    <p class="card-text">{{ reply.reply }}</p>
                                    <p class="card-text">
                                        <small class="text-muted" style="margin-right: 5px;">{{ reply.created_by.username }}</small>
                                        <small class="text-muted">{{ reply.created_at|date:"Y년 m월 d일 A g:i" }}</small>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

        </div>
    </div>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Quill 에디터 초기화
    var quill = new Quill('#content-container', {
      readOnly: true,
      theme: 'snow',
        modules: {
        toolbar: false,
      },
    });

    var postDelta = {{ notice.content|safe }};

    quill.setContents(postDelta.ops);

  });

    function editItem() {
    // 현재 페이지 URL에서 기본 경로 가져오기 (예: 현재 페이지가 '/notices/detail/1'이면 '/notices'를 가져옴)
    var basePath = window.location.pathname.split('/').slice(0, -1).join('/');

    // Edit 페이지로 이동
    window.location.href = basePath + '/edit';
    }

    function deleteItem(){
        var pathArray = window.location.pathname.split('/');
        var notice_id = pathArray[pathArray.length - 2];

        console.log('게시글 아이디',notice_id)

        $.ajax({
            url: "{% url 'noticeDelete' %}",
            method: 'POST',
            data: {
                'notice_id': notice_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.status === 'ok') {
                    Swal.fire({
                        title: 'Success!',
                        text: '작성글이 삭제되었습니다.',
                        icon: 'success',
                        confirmButtonText: '확인'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url 'adminNotice' %}";
                        }
                    });
                }
            }
        });
    }

</script>
<script>
    function addComment(event) {
        event.preventDefault();
        let notice_id = {{ notice.id }}

        var commentInput = event.target.querySelector("input");
        var reply = commentInput.value;


        $.ajax({
            url: "{% url 'replyAdd' %}",
            method: 'POST',
            data: {
                'reply': reply,
                'parent_id': notice_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function() {
                commentInput.value = "";
            },
            error: function(error) {
                console.error("실패 ", error);
            }
        });
    }
</script>
{% include 'admins/admin_footer.html' %}
</body>
<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'sneat/assets/js/forms-editors.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-file-upload.js' %}"></script>


</html>
