{% load static %}
<!DOCTYPE html>

    {% include 'admins/admin_header.html' %}

<style>

    @media (max-width: 767px) {
        .table tbody tr {
            display: block;
            margin-bottom: 10px;
        }

        .table thead {
            display: none;
        }

        .table th,
        .table td {
            display: block;
            text-align: left;
            white-space: nowrap;
            padding: 8px;
        }

        .table .hide-on-small-screen {
            display: none;
        }

        .table .text-start {
            text-align: start;
        }
    }
</style>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; margin-left: 26px; margin-top: 30px">


                <!-- Invoice -->

                <div class="card invoice-preview-card">
                    <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0" style="margin-bottom: -30px">
                        <div class="mb-xl-0 mb-4">
                            <div class="d-flex svg-illustration mb-3 gap-2">
                                <strong style="font-size: x-large; font-family: Pretendard;">공지사항 홈</strong>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 94em; margin-bottom: 20px;">
                        <a href="{% url 'noticeWritePage' %}">
                            <button type="button" class="btn btn-outline-dark">🖋 작성하기</button>
                        </a>
                    </div>

                    <hr class="my-0">

                    <div class="table-responsive" style="overflow-x: auto;">
                        <table class="table border-top m-0">
                            <thead>
                            <tr style="background-color: #fffbfb">
                                <th class="hide-on-small-screen" style="font-size: medium; font-weight: bold; text-align: center; width: 10%">번호</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center; width: 50%">제목</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">작성자</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">작성일시</th>
                                <th class="hide-on-small-screen" style="font-size: medium; font-weight: bold; text-align: center;">조회</th>
                                <th class="hide-on-small-screen" style="font-size: medium; font-weight: bold; text-align: center;">댓글</th>
                            </tr>
                            </thead>

                           <tbody>
                            <!--상단공지-->
                            {% for obj in fixed_notice %}
                            <tr style="cursor: pointer;" onclick="window.location='{% url 'noticeDetail' obj.id %}'">
                                <td class="hide-on-small-screen" style="color: red; text-align: center;"><img
                                        src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}"
                                        style="margin-right: 8px"></td>
                                <td style="color: red">{{ obj.title }}</td>
                                <td class="text-start" style="color: red; text-align: center;">{{ obj.created_by.username }}</td>
                                <td class="updated_at" style="color: red;">{{ obj.updated_at|date:"Y-m-d H:i:s" }}</td>
                                <td class="hide-on-small-screen" style="color: red; text-align: center;">{{ obj.click_cnt }}</td>
                                <td class="hide-on-small-screen" style="color: red; text-align: center;">{{ obj.reply_count }}</td>
                            </tr>
                            {% endfor %}

                            <!--일반공지-->
                            {% for obj in notice %}
                            <tr style="cursor: pointer;" onclick="window.location='{% url 'noticeDetail' obj.id %}'">
                                <td class="hide-on-small-screen" style="text-align:center;">{{ forloop.counter }}</td>
                                <td>{{ obj.title }}</td>
                                <td class="text-start" style="text-align:center;">{{ obj.created_by.username }}</td>
                                <td class="updated_at">{{ obj.updated_at|date:"Y-m-d H:i:s" }}</td>
                                <td class="hide-on-small-screen" style="text-align:center;">{{ obj.click_cnt }}</td>
                                <td class="hide-on-small-screen" style="text-align:center;">{{ obj.reply_count }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <div style="margin-bottom: 30px; margin-top: 50px;">
                        {% include 'admins/paging.html' %}
                    </div>
                </div>
            </div>
            <!-- /Invoice -->
        </div>
    </div>
</div>

</body>
    {% include 'admins/admin_footer.html' %}

</html>