<!-- 대시보드 캘린더 -->

{% load static %}
<!DOCTYPE html>

<meta charset="UTF-8">
{% include 'admins/admin_header.html' %}
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/fullcalendar/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/flatpickr/flatpickr.css' %}"/>

<style>
    .card {
        box-shadow: 0 0 0 1px #c2c5c8;
        height: 100%;
    }
    
    .flatpickr-calendar {
        box-shadow: 0 0 0 0 !important;
    }

    .animate-slide-in {
        animation: slide-in 0.5s forwards;
    }
    .animate-slide-out {
        animation: slide-out 0.5s forwards;
    }
    @keyframes slide-in {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes slide-out {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(100%);
            opacity: 0;
        }
    }
    
    .apv_hover:hover {
        color: white !important;
        background-color: #2a3040;
        padding: 6px 8px;
        border-radius: 6px;
    }
    
    .flatpickr-days {
        border: none !important;    
    }
</style>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
    {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page">
            {% include 'admins/topnav.html' %}

            <!-- 대시보드 첫번째 행 -->
            <div class="col-12 row" style="padding-top: 20px; padding-left: 25px;">
            
                <!-- 내 정보 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card event_card_bg" style="color: #2a3040;">
                        <h5 class="card-header fw-bold event_text_main">
                            <a href="{% url 'userSettingsPage' %}" style="color: inherit;">
                                <i class="fa-regular fa-face-smile fa-bounce me-1"></i>
                                <span id="profile_card_text">환영합니다</span>, {{ request.user.username }} {{ request.user.job_position.name }}님!
                            </a>
                        </h5>
                        <div class="card-body" style="max-height: 150px; overflow: visible;">
                            <div class="d-flex">
                                <div class="ms-1">
                                    {% comment %}<img src="/data/{{ request.user.profile_image }}" style="width: 90px; height: 90px; border-radius: 100%;" alt="profile_image">{% endcomment %}
                                    <div style="position: relative; width: 90px; height: 90px;">
                                        <img id="profile_border" src="" style="width: 120px; height: 120px; position: absolute; top: -20px; left: -15px; border-radius: 50%; z-index: 2; display: none;">
                                        <img src="/data/{{ request.user.profile_image }}" style="width: 90px; height: 90px; border-radius: 100%; position: absolute; top: 0; left: 0; z-index: 1;" alt="profile_image">
                                    </div>
                                    <div id="employment_years" class="mt-1 event_text_main" style="color: black; font-size: 12px;">&nbsp;</div>
                                    <div class="progress position-relative event_bar_bg" style="height: 12px; background-color: #ddd;">
                                        <div id="levelProgressBar" class="progress-bar bg-secondary" role="progressbar" style="width: 0; box-shadow: none; border-radius: 12px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        <span id="workingDaysRate" class="progress-text"></span>
                                    </div>
                                </div>
                                <div class="py-2 ms-4 w-100">
                                    <div class="fw-bold event_text_main" style="color: black; font-size: 24px;">{{ request.user.username }}</div>
                                    <div class="event_text_sub" style="color: #8491a2;">{{ request.user.department_position.name }} {{ request.user.job_position.name }}</div>
                                    <hr class="w-100 event_text_sub" style="color: #8491a2;">
                                    <div class="d-flex event_text_main" style="font-size: 14px;">
                                        <div class="me-3">
                                            <i class="fa-solid fa-user-tie me-1" data-toggle="tooltip" data-placement="top" title="근무일 수"></i>
                                            <span id="working_days"></span>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-user-clock me-1" data-toggle="tooltip" data-placement="top" title="연차 충전까지"></i>
                                            <span id="leave_refill_days"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                
                <!-- 내 전자결재 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card" style="color: #2a3040;">
                        <h5 class="card-header fw-bold">
                            <a href="{% url 'apv_list' %}" style="color: inherit;">
                                <i class="fa-regular fa-file-lines me-2"></i>나의 결재
                            </a>
                        </h5>
                        <div class="card-body d-flex justify-content-center align-items-center px-0" style="max-height: 150px; overflow: hidden;">
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <div class="col-4 d-flex flex-column align-items-center text-center p-1">
                                    <a href="#" class="apv_waiting_docs">
                                        <div class="position-relative d-inline-flex flex-column align-items-center p-2">
                                        {% if waiting_docs is 0 %}
                                            <i class="fa-solid fa-envelope-open-text text-muted mb-2" style="font-size: 36px;"></i>
                                            <span class="apv_hover text-muted text-nowrap" style="font-size: 14px;">미결재 문서</span>
                                        {% else %}
                                            <i class="fa-solid fa-envelope-open-text text-dark mb-2" style="font-size: 36px;"></i>
                                            <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                                             style="font-size: 12px; width: 22px; height: 22px; top: 15%; left: 70%; display: flex; align-items: center; justify-content: center;">{{ waiting_docs }}</span>
                                            <span class="apv_hover text-dark fw-bold text-nowrap" style="font-size: 14px;">미결재 문서</span>
                                        {% endif %}
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="col-4 d-flex flex-column align-items-center text-center p-1">
                                    <a href="#" class="apv_unread_docs">
                                        <div class="position-relative d-inline-flex flex-column align-items-center p-2">
                                        {% if unread_docs is 0 %}
                                            <i class="fa-solid fa-envelope text-muted mb-2" style="font-size: 36px;"></i>
                                            <span class="apv_hover text-muted text-nowrap" style="font-size: 14px;">읽지않은 문서</span>
                                        {% else %}
                                            <i class="fa-solid fa-envelope text-dark mb-2" style="font-size: 36px;"></i>
                                            <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                                             style="font-size: 14px; width: 22px; height: 22px; top: 15%; left: 70%; display: flex; align-items: center; justify-content: center;">{{ unread_docs }}</span>
                                            <span class="apv_hover text-dark fw-bold text-nowrap" style="font-size: 14px;">읽지않은 문서</span>
                                        {% endif %}
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="col-4 d-flex flex-column align-items-center text-center p-1">
                                    <a href="#" class="apv_my_temp_docs">
                                        <div class="position-relative d-inline-flex flex-column align-items-center p-2">
                                        {% if my_temp_docs is 0 %}
                                            <i class="fa-solid fa-file-pen text-muted mb-2" style="font-size: 36px;"></i>
                                            <span class="apv_hover text-muted text-nowrap" style="font-size: 14px;">작성중인 문서</span>
                                        {% else %}
                                            <i class="fa-solid fa-file-pen text-dark mb-2" style="font-size: 36px;"></i>
                                            <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                                             style="font-size: 14px; width: 22px; height: 22px; top: 15%; left: 70%; display: flex; align-items: center; justify-content: center;">{{ my_temp_docs }}</span>
                                            <span class="apv_hover text-dark fw-bold text-nowrap" style="font-size: 14px;">작성중인 문서</span>
                                        {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                
                <!-- 근태 현황-->
                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card" style="color: #2a3040;">
                        <h5 class="card-header fw-bold">
                            <a href="{% url 'adminWorkSchedule' %}" style="color: inherit;">
                                <i class="fa-solid fa-users me-2"></i>근태 현황
                            </a>
                        </h5>
                        <div class="card-body" style="max-height: 150px; overflow: hidden;">
                            <div class="d-flex align-items-center pb-1 mb-2 text-truncate" style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px dotted gray;">
                                <i class="fa-solid fa-house-user" style="margin-right: 5px;"></i>
                                <strong class="me-1">연차 |</strong>
                                {% for event in events %}
                                    {% if event.event_type == "Holiday" %}
                                        <span class="ms-1">{{ event.create_by }}</span>{% if not forloop.last %},&nbsp;{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="d-flex align-items-center pb-1 mb-2 text-truncate" style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px dotted gray;">
                                <i class="fa-solid fa-person-shelter" style="margin-right: 7px;"></i>
                                <strong class="me-1">반차 |</strong>
                                {% for event in events %}
                                    {% if event.event_type == "Family" %}
                                        <span class="ms-1">{{ event.create_by }}</span>{% if not forloop.last %},{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="d-flex align-items-center pb-1 mb-2 text-truncate" style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px dotted gray;">
                                <i class="fa-solid fa-person-walking-luggage" style="margin-right: 6px;"></i>
                                <strong class="me-1">출장 |</strong>
                                {% for event in events %}
                                    {% if event.event_type == "Business" %}
                                        <span class="ms-1">{{ event.create_by }}</span>,
                                        {% for participant in event.participant_set.all %}
                                            <span class="ms-1">{{ participant.cuser }}</span>{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="d-flex align-items-center pb-1 mb-2 text-truncate" style="max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <i class="fa-solid fa-car-side" style="margin-right: 5px;"></i>
                                <strong class="me-1">차량 |</strong>
                                {% for obj in events %}
                                    {% if obj.vehicle %}
                                        <span class="ms-1">{{ obj.vehicle }}({{ obj.create_by }})</span>{% if not forloop.last %},{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 대시보드 두번째 행 -->
            <div class="col-12 row" style="padding-left: 25px;">
                
                <!-- 공지사항 -->
                <div class="col-md-6 col-lg-6 mb-4">
                    <div class="card" style="color: #2a3040;">
                        <h5 class="card-header fw-bold">
                            <a href="{% url 'adminNotice' %}" style="color: inherit;">
                                <i class="fa-solid fa-volume-high me-2"></i>공지사항
                            </a>
                        </h5>
                        <div class="card-body" style="max-height: 150px; overflow: hidden;">
                            {% for obj in fixed_notice %}
                                <a href="{% url 'noticeDetail' obj.id %}" style="color: inherit; text-decoration: none;">
                                    <div class="d-flex align-items-center mb-1 text-truncate" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;">
                                        <i class="fa-solid fa-circle me-2" style="font-size: 5px;"></i>
                                        <span class="flex-grow-1" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">{{ obj.title }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <!-- 전사게시판 -->
                <div class="col-md-6 col-lg-6 mb-4">
                    <div class="card" style="color: #2a3040;">
                        <h5 class="card-header fw-bold">
                            <a href="{% url 'adminBoard' %}" style="color: inherit;">
                                <i class="fa-solid fa-volume-low me-2"></i>전사게시판
                            </a>
                        </h5>
                        <div class="card-body" style="max-height: 150px; overflow: hidden;">
                            {% for obj in fixed_board %}
                                <a href="{% url 'boardDetail' obj.id  %}" style="color: inherit; text-decoration: none;">
                                    <div class="d-flex align-items-center mb-1 text-truncate" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;">
                                        <i class="fa-solid fa-circle me-2" style="font-size: 5px;"></i>
                                        <span class="flex-grow-1" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">{{ obj.title }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- 대시보드 세번째 행 -->
            <div class="col-12 row" style="padding-left: 25px;">
                <div class="col-12 mb-4">
                    <div class="card app-calendar-wrapper" style="color: #2a3040;">
                        <!-- Calendar Sidebar -->
                        <div class="row g-0">
                            <div class="app-calendar-sidebar d-none d-md-block" id="app-calendar-sidebar" style="width: 280px;">
                                <div class="p-4 my-sm-0 mb-3">
                                    <div class="d-grid">
                                        <div style="height: 10px;"> </div>
                                        {% comment %}<button
                                          class="btn btn-outline-primary btn-toggle-sidebar"
                                          style="width: 255px; margin-left: -5px;"
                                          data-bs-toggle="offcanvas"
                                          data-bs-target="#addEventSidebar"
                                          aria-controls="addEventSidebar">
                                          <i class="bx bx-plus me-1"></i>
                                          <span class="align-middle">일정 추가</span>
                                        </button>{% endcomment %}
                                    </div>
                                </div>
                                
                                <!-- inline calendar (flatpicker) -->
                                <div class="py-3 px-2">
                                    <div class="inline-calendar" style="margin: auto;"></div>
                                    
                                    <!-- Filter -->
                                    <div class="p-3 mt-3">
                                        <small class="text-small text-muted text-uppercase align-middle">Filter</small>
                                            <div class="form-check form-check-dark my-2">
                                                <input
                                                    class="form-check-input select-all"
                                                    type="checkbox"
                                                    id="selectAll"
                                                    data-value="all"
                                                    checked />
                                                <label class="form-check-label" for="selectAll">전체</label>
                                            </div>
                                            
                                        <div class="app-calendar-events-filter">
                                            <div class="form-check form-check-danger my-2">
                                                <input
                                                    class="form-check-input input-filter"
                                                    type="checkbox"
                                                    id="select-personal"
                                                    data-value="personal"
                                                    checked/>
                                                <label class="form-check-label" for="select-personal">자리비움</label>
                                            </div>
                
                                            <div class="form-check form-check-warning my-2">
                                                <input
                                                    class="form-check-input input-filter"
                                                    type="checkbox"
                                                    id="select-family"
                                                    data-value="family"
                                                    checked/>
                                                <label class="form-check-label" for="select-family">반차</label>
                                            </div>
                                            
                                            <div class="form-check form-check-success my-2">
                                                <input
                                                    class="form-check-input input-filter"
                                                    type="checkbox"
                                                    id="select-holiday"
                                                    data-value="holiday"
                                                    checked/>
                                                <label class="form-check-label" for="select-holiday">연차</label>
                                            </div>
                                            
                                            <div class="form-check my-2">
                                                <input
                                                    class="form-check-input input-filter"
                                                    type="checkbox"
                                                    id="select-business"
                                                    data-value="business"
                                                    checked/>
                                                <label class="form-check-label" for="select-business">출장</label>
                                            </div>
                                        </div>
                                  
                                        {% comment %}<div class="form-check form-check-info">
                                            <input
                                                class="form-check-input input-filter"
                                                type="checkbox"
                                                id="select-etc"
                                                data-value="etc"
                                                checked/>
                                            <label class="form-check-label" for="select-etc">차량(QM3)</label>
                                        </div>
                                        
                                        <div class="form-check form-check-info" style="margin-top: 8px;">
                                            <input
                                                class="form-check-input input-filter"
                                                type="checkbox"
                                                id="select-etc"
                                                data-value="spotage"
                                                checked/>
                                            <label class="form-check-label" for="select-etc">차량(스포티지)</label>
                                        </div>{% endcomment %}
                                    </div>
                                </div>
                        </div>
                        <!-- /Calendar Sidebar -->
        
                        <!-- Calendar & Modal -->
                        <div class="col app-calendar-content">
                            <div class="card shadow-none border-0">
                                <div class="card-body pb-0">
                                
                                    <!-- FullCalendar -->
                                    <div id="calendar" style="margin-top: 3px;"></div>
                                </div>
                            </div>
                            
                            <div class="app-overlay"></div>
                            
                            <!-- FullCalendar Offcanvas -->
                            <div class="offcanvas offcanvas-end event-sidebar" tabindex="-1" id="addEventSidebar" aria-labelledby="addEventSidebarLabel">
                                <div class="offcanvas-header border-bottom">
                                    <h5 class="offcanvas-title mb-2" id="addEventSidebarLabel">일정 추가</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                
                                <div class="offcanvas-body">
                                    <form class="event-form pt-0" id="eventForm" onsubmit="return false" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label" for="eventTitle">제목</label>
                                        <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="일정 제목" required />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="eventStartDate">시작날짜</label>
                                        <input type="text" class="form-control" id="eventStartDate" name="eventStartDate" placeholder="시작 날짜" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="eventEndDate">종료날짜</label>
                                        <input type="text" class="form-control" id="eventEndDate" name="eventEndDate" placeholder="End Date" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="switch">
                                            <input type="checkbox" class="switch-input allDay-switch" />
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">All Day</span>
                                        </label>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="eventLabel">구분</label>
                                        <select class="select2 select-event-label form-select" id="eventLabel" name="eventLabel">
                                            <option data-label="success" value="Holiday" selected>연차</option>
                                            <option data-label="warning" value="Family">반차</option>
                                            <option data-label="primary" value="Business" id="Business">출장</option>
                                            <option data-label="danger" value="Personal">자리비움</option>
                                        </select>
                                    </div>
                                    <!--이벤트타입 차량 선택 시 활성화-->
                                    <div class="col mb-3" id="radioCheck">
                                        <label for="nameBasic" class="form-label">*법인차량 사용여부</label>
                                        <div class="form-check custom-option custom-option-basic checked">
                                            <label class="form-check-label custom-option-content" for="customCheckTemp3">
                                                <input class="form-check-input" type="checkbox" value="" id="customCheckTemp3" checked="">
                                                <span class="custom-option-header"><span class="h6 mb-0">사용</span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mb-3" id="carCheck">
                                        <!-- Basic Custom Radios -->
                                        <div class="col mb-3">
                                            <label for="nameBasic" class="form-label">*사용차량</label>
                                            <select
                                                    class="select2 select-event-guests form-select"
                                                    style="width: 250px;"
                                                    id="vehicle_select"
                                                    name="vehicle_select"
                                                    data-placeholder="차량을 선택하세요.">
                                            </select>
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser %}
                                    <div class="mb-3 select2-primary">
                                        <label class="form-label" for="employee_select">작성자 (관리자 전용)</label>
                                        <select id="employee_select"
                                                class="select2 form-select form-select-lg select2-hidden-accessible"
                                                data-allow-clear="true" data-select2-id="select2Basic" tabindex="-1"
                                                aria-hidden="true">
                                            {% for obj in employee_list %}
                                                <option data-select2-id="2" value="{{ obj.id }}">
                                                    {{ obj.department_position__name }} {{ obj.username }} {{ obj.job_position__name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}
                                    <div class="mb-3 select2-primary">
                                        <label class="form-label" for="eventGuests">참석자</label>
                                        <input id="TagifyUserList" name="TagifyUserList" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="eventLocation">장소</label>
                                        <input type="text" class="form-control" id="eventLocation" name="eventLocation" placeholder="장소" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="eventDescription">설명</label>
                                        <textarea class="form-control" name="eventDescription" id="eventDescription"></textarea>
                                    </div>
                                    <div class="my-4 d-flex justify-content-start">
                                        <button type="submit" class="btn btn-primary btn-add-event me-3 d-none">등록</button>
                                        <button class="btn btn-dark me-3" id="approvalButton">전자결재 열기</button>
                                        <button type="reset" class="btn btn-label-secondary btn-cancel me-3"
                                                id="hide_offcanvas" data-bs-dismiss="offcanvas">돌아가기</button>
                                        <button id="delete_btn" class="btn btn-label-danger btn-delete-event me-3 d-none">Delete</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Calendar & Modal -->
                    </div>
                    </div>
                </div>
            <!-- / Content -->
            </div>
        </div>
    </div>
</div>

</body>

<!-- footer -->
{% include 'admins/admin_footer.html' %}

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/fullcalendar/fullcalendar.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'sneat/assets/js/main.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-typeahead.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'sneat/assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'sneat/assets/js/app-calendar.js' %}"></script>
<script>
    let request_isSuperuser = {{ request.user.is_superuser|lower }};
    let request_userId = {{ request.user.id }};
    let is_birthday;

    $(function (event) {
        setTimeout(function() {
            calendar.refetchEvents();
        }, 1500);
    });

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    $(document).ready(function () {
        toggleRadioGroup($('#eventLabel').val());

        $('#eventLabel, #customCheckTemp3').change(function () {
            toggleRadioGroup($('#eventLabel').val());
        });
        $('#delete_btn').css('display', 'none');
        
        checkUserBirthday();
        if (!is_birthday) {
            checkUserJoinday();
        }
    });

    function toggleRadioGroup(selectedValue) {
        $('#radioCheck').toggle(selectedValue === 'Business');
        $('#carCheck').toggle(selectedValue === 'Business' && $('#customCheckTemp3').is(":checked"));
    }

    var input = document.querySelector('input[name=TagifyUserList]');
    var tagify = new Tagify(input);

    $(document).on('click', '.btn-add-event', function(e) {
        e.preventDefault();
        console.log('guest', tagify.value)

         if ($("#eventTitle").val()===''){
              Swal.fire({
                title: 'Fail!',
                text: '일정제목을 입력해주세요!',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
         }

        var checkbox = document.querySelector('.allDay-switch');
        var startdate = $("#eventStartDate").val();
        var enddate = $("#eventEndDate").val();

        if (startdate > enddate){
             Swal.fire({
                title: 'Fail!',
                text: '종료날짜를 확인해주세요!',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
        }

        if (!checkbox.checked) {
            if (startdate.length===10  || enddate.length===10){
                Swal.fire({
                    title: 'Fail!',
                    text: '날짜를 클릭하여 시간을 선택해주세요!',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
                return false;
            }
        }

        var formData = {
            eventTitle: $("#eventTitle").val(),
            eventLabel: $("#eventLabel").val(),
            eventStartDate: startdate,
            eventEndDate: enddate,
            allDay: $(".allDay-switch").prop("checked") === true,
            eventGuests: $("#eventGuests").val(),
            eventLocation: $("#eventLocation").val(),
            eventDescription: $("#eventDescription").val(),
            tagList : JSON.stringify(tagify.value),
            employee_select : $('#employee_select').val()
        };

        if ($("#eventLabel").val() === "Business" && $('#customCheckTemp3').is(":checked")){
            formData.vehicleSelect = $("#vehicle_select").val();
        }

        if ($("#eventLabel").val() === null) {
            Swal.fire({
                title: 'Fail!',
                text: '구분에 일정타입을 선택해주세요 ex)연차,반차,출장..',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
        }

        console.log('f', formData)

        api_gp("{% url 'get_eventDataAll' %}", "POST", formData, () => {
                Swal.fire({
                title: 'Success',
                text: '일정이 등록되었습니다!',
                icon: 'success',
                confirmButtonText: '확인'
            }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                 });
        });

    })


    $(document).on('click', '.btn-update-event', function (e) {
        e.preventDefault();
        if (!(request_isSuperuser === true || request_userId === event_creat_id)) {
            alert('수정 및 삭제 권한이 없습니다.');
            return false;
        }

        eventData = {
            updateEventId: updateEventId,
            eventTitle: $("#eventTitle").val(),
            eventLabel: $("#eventLabel").val(),
            eventStartDate: $("#eventStartDate").val(),
            eventEndDate: $("#eventEndDate").val(),
            allDay: $(".allDay-switch").prop("checked") === true,
            eventURL: $("#eventURL").val(),
            eventGuests: $("#eventGuests").val(),
            eventLocation: $("#eventLocation").val(),
            eventDescription: $("#eventDescription").val(),
            tagList: JSON.stringify(tagify.value),
            employee_select: $('#employee_select').val()
        };

        if ($("#eventLabel").val() === "Business" && $('#customCheckTemp3').is(":checked")) {
            eventData.vehicleSelect = $("#vehicle_select").val();
        } else {
            eventData.vehicleSelect = null
        }

        if ($("#eventLabel").val() === null) {
            Swal.fire({
                title: 'Fail!',
                text: '구분에 일정타입을 선택해주세요 ex)연차,반차,출장..',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
        }

        $.ajax({
            url: "{% url 'get_eventDataAll' %}",
            type: 'PATCH',
            contentType: 'application/json',
            data: JSON.stringify(eventData),
            success: function () {
                // console.log('수정데이터', eventData);
                Swal.fire({
                    title: 'Success!',
                    text: '일정이 수정되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            },
            error: function (xhr, status, error) {
                var responseJson = JSON.parse(xhr.responseText);
                var errorMessage = responseJson.error;

                Swal.fire({
                    title: '오류 발생!',
                    text: '에러 메시지: ' + errorMessage,
                    icon: 'error',
                    confirmButtonText: '확인'
                });
            }
        });

    });


    $(".btn-delete-event").click(function(e) {
        e.preventDefault();
        if (!(request_isSuperuser === true || request_userId === event_creat_id)) {
            alert('수정 및 삭제 권한이 없습니다.');
            return false;
        }

        var formData = {
            eventId: updateEventId
        }

        $.ajax({
            url: "{% url 'get_eventDataAll' %}",
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function () {
                // console.log('삭제 아이디', formData);
                Swal.fire({
                     title: 'Success!',
                     text: '일정이 삭제되었습니다.',
                     icon: 'success',
                     confirmButtonText: '확인'
                 }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                });
            }
        });

    });

    function edit_item_func() {
        $('.btn_div').show();

        document.getElementById('editableQuote').contentEditable = "true";
        document.getElementById('editableCite').contentEditable = "true";
        document.getElementById('editableQuote').focus();

        $('#save_btn').click(function () {
            var quoteText = document.getElementById('editableQuote').innerText;
            var citeText = document.getElementById('editableCite').innerText;

            $.ajax({
                url: "{% url 'today_about' %}",
                type: 'POST',
                data: {
                    title: citeText,
                    content: quoteText,
                },
                success: function (response) {
                    $('#editableQuote').text(quoteText);
                    $('#editableCite').text(citeText);

                    document.getElementById('editableQuote').contentEditable = "false";
                    document.getElementById('editableCite').contentEditable = "false";
                    $('.btn_div').hide();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("저장에 실패했습니다. 다시 시도해주세요.");
                }
            });
        })
    }

    function cancel_edit_func() {
        document.getElementById('editableQuote').contentEditable = "false";
        document.getElementById('editableCite').contentEditable = "false";
        $('.btn_div').hide();
    }

    $(document).ready(function () {
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function getLoginInfo() {
            const loginInfo = {
                username: getCookie('username'),
                user_id: getCookie('user_id'),
                token: getCookie('Authorization'),
                is_superuser: getCookie('is_superuser'),
                story_admin: getCookie('story_admin'),
            };
            return loginInfo;
        }

        function displayLoginInfo() {
            const loginInfo = getLoginInfo();
            // console.log("로그인 정보:");
            for (let key in loginInfo) {
                if (loginInfo[key]) {
                    // console.log(`${key}: ${loginInfo[key]}`);
                } else {
                    // console.log(`${key}: 정보가 없습니다`);
                }
            }
        }

        displayLoginInfo();
    })

    // 미결재문서 바로가기
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('.apv_waiting_docs').addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = "/admins/apv/?apv_waiting_docs=true";
        })
        document.querySelector('.apv_unread_docs').addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = "/admins/apv/?apv_unread_docs=true";
        });
        document.querySelector('.apv_my_temp_docs').addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = "/admins/apv/?apv_my_temp_docs=true";
        });
        const selectAllCheckbox = document.getElementById('selectAll');
        if (selectAllCheckbox) {
            selectAllCheckbox.click();
            setTimeout(function () {
                selectAllCheckbox.click();
            }, 1000);
        }
    });


    document.getElementById('approvalButton').addEventListener('click', function () {
        if (!apvIdCate || !apvId) {
            showToast('관련 전자결재 문서를 찾을 수 없습니다.');
            document.getElementById('hide_offcanvas').click();
            return;
        }

        let url = `/admins/apv/progress/${apvIdCate}/${apvId}/`;
        let newWindow = window.open(url, '_blank', 'width=1199,height=1000,scrollbars=yes,resizable=yes');

        fetch(`/admins/apv/detail/?apv_id=${apvId}`)
            .then(response => {
            if (response.status === 403) {
                newWindow.close();
                showToast('해당 전자결재 문서에 접근 권한이 없습니다.');
                document.getElementById('hide_offcanvas').click();
            }
        })
    });


    // 토스트 팝업 생성 함수
    function showToast(message, options = {}) {
        const {
            position = 'bottom: 1rem; left: 1rem;',
            delay = 2000,
            width = '350px',
        } = options;

        const toastId = `toast_${Date.now()}`;

        $('#toast_popup_area').append(`
            <div id="${toastId}" class="toast position-fixed animate-slide-in" style="${position} z-index: 10000; width: ${width}; border: 1px solid rgba(0, 0, 0, 0.1);">
              <div class="toast-header bg-dark text-white p-2">
                <strong class="mx-2" style="font-size: 13px; font-family: sans-serif;"><i class="fa-solid fa-bell me-2"></i>알림</strong>
              </div>
              <div class="toast-body" style="color: #2b2d30; font-size: 12px; font-family: sans-serif;">
                ${message}
              </div>
            </div>
        `);

        const toastElement = $(`#${toastId}`);
        toastElement.toast({ delay });
        toastElement.toast('show');

        setTimeout(function () {
            toastElement
                .removeClass('animate-slide-in')
                .addClass('animate-slide-out');
            setTimeout(function () {
                toastElement.remove();
            }, 500); // 애니메이션 시간(0.5초) 후 삭제
        }, delay);
    }
    
    
    document.addEventListener("DOMContentLoaded", function () {
        let employmentDateStr = '{{ request.user.employment_date|date:'Y-m-d' }}';
        let employmentDate = new Date(employmentDateStr);
        let today = new Date();

        let workingDays = Math.floor((today - employmentDate) / (1000 * 60 * 60 * 24));  // 근무일수
        let workingYears = Math.floor(workingDays / 365);  // 레벨
        
        let nextAnniversary = new Date(today.getFullYear(), employmentDate.getMonth(), employmentDate.getDate());
        if (nextAnniversary < today) {
            nextAnniversary.setFullYear(today.getFullYear() + 1);
        }
        let leave_refill_days = Math.ceil((nextAnniversary - today) / (1000 * 60 * 60 * 24));
        
        let workingDaysPer = (((workingDays / 365) - workingYears) * 100).toFixed(1);  // 경험치

        document.getElementById("employment_years").textContent = 'Lv ' + workingYears;
        document.getElementById("working_days").textContent = '+' + workingDays + ' days';
        document.getElementById("leave_refill_days").textContent = '-' + leave_refill_days + ' days';
        document.getElementById("workingDaysRate").textContent = workingDaysPer + '%';
        
        // Progress Bar 업데이트
        let progressBar = document.getElementById("levelProgressBar");
        progressBar.style.width = workingDaysPer + "%";
        progressBar.setAttribute("aria-valuenow", workingDaysPer);
    });


    function checkUserBirthday() {
        let userBirthdayStr = '{{ request.user.birthday|date:"Y-m-d" }}';
        if (!userBirthdayStr) return; // 생일 정보가 없을 경우 함수 종료

        let userBirthday = new Date(userBirthdayStr);
        let today = new Date();

        // 사용자의 생일과 오늘의 월/일을 비교
        if (userBirthday.getMonth() === today.getMonth() && userBirthday.getDate() === today.getDate()) {
            is_birthday = true;
            let backgroundImageUrl = "{% static 'img/firework4.gif' %}";
            let profileBorderUrl = "{% static 'img/border_birthday.png' %}";

            // 메인 텍스트
            $('#profile_card_text').text("생일을 축하합니다")

            // 경험치바 스타일
            $('.event_bar_bg').css('background-color', '#e67d8c');
            $('#levelProgressBar').removeClass('bg-secondary');
            $('#levelProgressBar').css('background-color', 'darkred');

            // 메인 텍스트 스타일
            document.querySelectorAll('.event_text_main').forEach(el => {
                el.style.color = 'darkred';
            });

            // 서브 텍스트 스타일
            document.querySelectorAll('.event_text_sub').forEach(el => {
                el.style.color = '#b66470';
            });

            // 카드 배경
            document.querySelectorAll('.event_card_bg').forEach(el => {
                el.style.backgroundColor = '#ffd0cc';
                el.style.backgroundImage = `url('${backgroundImageUrl}')`;
                el.style.backgroundSize = 'cover';
                el.style.backgroundPosition = 'center';
            });
            $('.event_card_bg').css('border', '3px solid #e67d8c')
            $('.event_card_bg').css('box-shadow', 'none')

            // 이미지 프레임
            let profileBorder = document.getElementById('profile_border');
            if (profileBorder) {
                profileBorder.src = profileBorderUrl;
                profileBorder.style.display = 'block';
            }
        }
    }


    function checkUserJoinday() {
        let userJoindayStr = '{{ request.user.employment_date|date:"Y-m-d" }}';
        if (!userJoindayStr) return; // 생일 정보가 없을 경우 함수 종료

        let userJoinday = new Date(userJoindayStr);
        let today = new Date();

        // 신규 입사
        if (userJoinday.getFullYear() === today.getFullYear() && userJoinday.getMonth() === today.getMonth() && userJoinday.getDate() === today.getDate()) {
            let backgroundImageUrl = "{% static 'img/firework3.gif' %}";
            let profileBorderUrl = "{% static 'img/border_goldleaf.png' %}";

            // 메인 텍스트
            $('#profile_card_text').text("입사를 축하합니다")

            // 경험치바 스타일
            {% comment %}$('.event_bar_bg').css('background-color', '#bbb');
            $('#levelProgressBar').removeClass('bg-secondary');
            $('#levelProgressBar').css('background-color', 'darkgray');{% endcomment %}

            // 메인 텍스트 스타일
            document.querySelectorAll('.event_text_main').forEach(el => {
                el.style.color = '#f0f0f0';
            });

            // 서브 텍스트 스타일
            document.querySelectorAll('.event_text_sub').forEach(el => {
                el.style.color = '#bbb';
            });

            // 카드 배경
            document.querySelectorAll('.event_card_bg').forEach(el => {
                el.style.backgroundColor = '#1e232e';
                el.style.backgroundImage = `url('${backgroundImageUrl}')`;
                el.style.backgroundSize = 'cover';
                el.style.backgroundPosition = 'center';
            });

            // 이미지 프레임
            let profileBorder = document.getElementById('profile_border');
            if (profileBorder) {
                profileBorder.src = profileBorderUrl;
                profileBorder.style.display = 'block';
            }
        }

        // 매년 입사일
        else if (userJoinday.getMonth() === today.getMonth() && userJoinday.getDate() === today.getDate()) {
            let backgroundImageUrl = "{% static 'img/firework3.gif' %}";
            let profileBorderUrl = "{% static 'img/border_goldleaf.png' %}";

            // 메인 텍스트
            $('#profile_card_text').text("레벨업을 축하합니다")

            // 경험치바 스타일
            {% comment %}$('.event_bar_bg').css('background-color', '#bbb');
            $('#levelProgressBar').removeClass('bg-secondary');
            $('#levelProgressBar').css('background-color', 'darkgray');{% endcomment %}

            // 메인 텍스트 스타일
            document.querySelectorAll('.event_text_main').forEach(el => {
                el.style.color = '#f0f0f0';
            });

            // 서브 텍스트 스타일
            document.querySelectorAll('.event_text_sub').forEach(el => {
                el.style.color = '#bbb';
            });

            // 카드 배경
            document.querySelectorAll('.event_card_bg').forEach(el => {
                el.style.backgroundColor = '#1e232e';
                el.style.backgroundImage = `url('${backgroundImageUrl}')`;
                el.style.backgroundSize = 'cover';
                el.style.backgroundPosition = 'center';
            });

            // 이미지 프레임
            let profileBorder = document.getElementById('profile_border');
            if (profileBorder) {
                profileBorder.src = profileBorderUrl;
                profileBorder.style.display = 'block';
            }
        }
    }
</script>

