{% load static %}
<style>
   #change_clr:hover,
   #change_clr:focus {
       background-color: #9da8b5;
   }
   #change_clr:active {
       background-color: #9da8b5;
   }

   .selected {
       background-color: #f5f5f9;
   }

   .menu-sub {
       width : 90%;
   }

    .menu-toggle::after {
        display: none;
   }
</style>
<body>
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'adminIndex' %}" class="app-brand-link main-page">
            <img id="index_logo" src="{% static 'img/logo.jpg' %}">
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto" id="sidebar_small_btn">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <div class="menu-item" style="padding-left: 40px;">
            <div style="margin-bottom: 20px; text-align: left">
                <span id="currentDate"></span>
            </div>
            <div style="margin-top: -20px; margin-bottom: 20px; width: 100%; text-align: left">
                <strong style="font-size: large;">나의 근태 현황</strong>
            </div>

            <div>
                <div style="margin-top: 10px">
                    <span>🕒 오늘 총 근무 시간</span>
                    <div style="text-align: left; margin-left: 25px">
                        <h10 id="todayWorkTime">0h 0m 0s</h10>
                    </div>
                </div>
                <div style="margin-top: 10px; width: auto">
                    <span>🕒 이번주 누적 시간</span>
                    <div style="text-align: left; margin-left: 25px">
                        <h10 id="weekWorkTime">0h 0m 0s</h10>
                    </div>
                </div>
            </div>

            <div class="work-check" style="display: flex; flex-direction: row; margin-top: 20px">
                <button class="btn btn-outline-primary me-2" id="checkInBtn">출근</button>
                <button class="btn btn-outline-primary" id="checkOutBtn">퇴근</button>
            </div>
        </div>

        <!-- Apps & Pages -->
        <div class="menu-header small text-uppercase">
            <span class="menu-header-text" data-i18n="Apps & Pages">Apps &amp; Pages</span>
        </div>
        <li class="menu-item">
            <a href="{% url 'adminNotice' %}" class="menu-link normal-menu">
                <i class='bx bx-volume-full'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="공지사항">공지사항</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'adminBoard' %}" class="menu-link normal-menu">
                <i class='bx bx-notepad'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="게시판">게시판</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='bx bx-calendar-week'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="근태관리">근태관리</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'adminWorkSchedule' %}" class="menu-link">
                        <div class="text-truncate" data-i18n="일일 근태관리">일일 근태관리</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'workHistorySearch' %}" class="menu-link">
                        <div class="text-truncate" data-i18n="일일 근태조회">일일 근태조회</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'monthWorkSchedule' %}" class="menu-link">
                        <div class="text-truncate" data-i18n="월별 근태관리">월별 근태관리</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='bx bx-clinic'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="휴가관리">휴가관리</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'holidayInfo' %}" class="menu-link">
                        <div class="text-truncate" data-i18n="연차정책">연차정책</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'HolidayCheckView' %}" class="menu-link">
                        <div class="text-truncate" data-i18n="연차조회">연차조회</div>
                    </a>
                </li>
            </ul>
            {% if request.user.is_superuser %}
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'HolidayAdjustmentView' %}" class="menu-link">
                            <div class="text-truncate" data-i18n="연차조정">연차조정</div>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </li>

        <li class="menu-item">
            <a href="{% url 'BusinessMain' %}" class="menu-link">
                <i class='bx bx-briefcase'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="출장관리">출장관리</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="{% url 'vehicleMain' %}" class="menu-link">
                <i class='bx bx-car'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="법인차량관리">법인차량관리</div>
            </a>
        </li>

{#        <li class="menu-item">#}
{#            <a href="javascript:void(0);" class="menu-link menu-toggle">#}
{#                <i class='bx bx-bar-chart-alt-2'></i>#}
{#                <div class="text-truncate" style="margin-left: 10px;" data-i18n="프로젝트관리">프로젝트관리</div>#}
{#            </a>#}
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'ProjectMain' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="프로젝트">프로젝트</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'TaskMgmt' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="TASK관리">TASK관리</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'ProjectMgmt' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="프로젝트(관리자)">프로젝트(관리자)</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
        </li>

{#        <li class="menu-item">#}
{#            <a href="javascript:void(0);" class="menu-link menu-toggle">#}
{#                <i class='bx bx-task'></i>#}
{#                <div class="text-truncate" style="margin-left: 10px;" data-i18n="주간업무보고">주간업무보고</div>#}
{#            </a>#}
{#            {% if request.user.report_auth == 'E' or request.user.is_superuser %}#}
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'weeklyReportMain' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="업무보고 (PE)">업무보고 (PE)</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#            {% endif %}#}
{#            {% if request.user.report_auth == 'M' or request.user.is_superuser %}#}
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'weeklyReportMgmt' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="업무보고 (PM)">업무보고 (PM)</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#            {% endif %}#}
{#            {% if request.user.report_auth == 'C' or request.user.is_superuser %}#}
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'weeklyReportCEO' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="업무보고 (CEO)">업무보고 (CEO)</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#            {% endif %}#}
{#        </li>#}

        <li class="menu-item">
            <a href="{% url 'calendarPage' %}" class="menu-link normal-menu">
                <i class='bx bx-calendar'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="캘린더">캘린더</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="{% url 'apv_list' %}" class="menu-link">
                <i class='bx bx-copy-alt'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="전자결재">전자결재</div>
            </a>
        </li>

{#        <li class="menu-item">#}
{#            <a href="#" class="menu-link">#}
{#                <i class='bx bx-save'></i>#}
{#                <div class="text-truncate" style="margin-left: 10px;" data-i18n="자료실">자료실</div>#}
{#            </a>#}
{#        </li>#}

        <li class="menu-item">
            <a href="{% url 'Organization' %}" class="menu-link">
                <i class='bx bx-customize'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="조직관리">조직관리</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='bx bx-show-alt'></i>
                <div class="text-truncate" style="margin-left: 10px;" data-i18n="ADMINS">ADMINS</div>
            </a>
            {% if request.user.is_superuser %}
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'approvalDeletePage' %}" class="menu-link">
                            <div class="text-truncate" data-i18n="가입승인/탈퇴">가입승인/탈퇴</div>
                        </a>
                    </li>
                </ul>
            {% endif %}
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'userSettingsPage' %}" class="menu-link">
                        <div class="text-truncate" data-i18n="내 정보 관리">내 정보 관리</div>
                    </a>
                </li>
            </ul>
{#            <ul class="menu-sub">#}
{#                <li class="menu-item">#}
{#                    <a href="{% url 'userAuthorityPage' %}" class="menu-link">#}
{#                        <div class="text-truncate" data-i18n="권한관리">권한관리</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}

{#            {% if request.user.is_superuser %}#}
            {% if request.user.cs_admin %}
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'payQuestionPage' %}" class="menu-link">
                            <div class="text-truncate" data-i18n="견적문의">견적문의</div>
                        </a>
                    </li>
                </ul>
            {% endif %}
            {% comment %}{% if request.user.is_superuser %}
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'apv_list' %}" class="menu-link">
                            <div class="text-truncate" data-i18n="전자결재 개발중">test</div>
                        </a>
                    </li>
                </ul>
            {% endif %}{% endcomment %}
        </li>

        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 4px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>

    </ul>
</aside>
</body>
<script>
var index_logo = document.getElementById('index_logo');
var html_tag = document.documentElement;

$('#sidebar_small_btn').click(() => {
    html_tag.addEventListener('transitionend', function() {
        if (html_tag.classList.contains('layout-menu-collapsed')) {
            index_logo.src = "{% static 'img/logo.png' %}";
        } else {
            index_logo.src = "{% static 'img/logo.jpg' %}";
        }
    }, { once: true });
});


document.getElementById('layout-menu').addEventListener('mouseover', function() {
   index_logo.src = "{% static 'img/logo.jpg' %}";
});

document.getElementById('layout-menu').addEventListener('mouseout', function() {
   if (html_tag.classList.contains('layout-menu-collapsed')) {
       index_logo.src = "{% static 'img/logo.png' %}";
   } else {
       index_logo.src = "{% static 'img/logo.jpg' %}";
   }
});
</script>
<script>
    const checkInBtn = document.getElementById('checkInBtn');
    const checkOutBtn = document.getElementById('checkOutBtn');
    const token = '0f811adef337d3';
    const today = new Date();
    let attendanceTime;
    let is_offwork;
    let endDate;
    let startDate;
    let nextSunday;
    let weeklyWorkTime;
    let dayInterval;
    let weekInterval;

    function getCurrentDate() {
        var year = today.getFullYear();
        var month = (today.getMonth() + 1).toString().padStart(2, '0');
        var day = today.getDate().toString().padStart(2, '0');

        return year + '-' + month + '-' + day;
    }
    document.getElementById('currentDate').innerHTML = getCurrentDate();

    function getCookie(name) {
        const cookieValue = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return cookieValue ? decodeURIComponent(cookieValue[2]) : null;
    }

    function setCookie(name, value, days) {
        const expires = new Date();
        expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + '=' + encodeURIComponent(value) + ';expires=' + expires.toUTCString() + ';path=/';
    }

    function deleteCookie(name) {
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/';
    }


    function formatTime(sec) {
        let hours = Math.floor(sec / 3600);
        let minutes = Math.floor((sec % 3600) / 60);
        let seconds = sec % 60;

        return `${hours}h ${minutes}m ${seconds}s`;
    }

     $('#checkInBtn').click(() => {
        checkInBtn.disabled = true;

        const se = document.createElement('script');
        se.src = `https://ipinfo.io/?token=${token}&callback=checkInFunction`;
        document.body.appendChild(se);
        document.body.removeChild(se);
    });

     $('#checkOutBtn').click(() => {

        const se = document.createElement('script');
        se.src = `https://ipinfo.io/?token=${token}&callback=checkOutFunction`;
        document.body.appendChild(se);
        document.body.removeChild(se);
    });

    //출근버튼 함수
    function checkInFunction(data) {

        var attendance_ip = data.ip

        var formdata = {
            ip: attendance_ip
        }

         $.ajax({
             url: "{% url 'check_in' %}",
             type: "POST",
             data: formdata,
             headers: { "X-CSRFToken": '{{ csrf_token }}' },
             success: function (response) {
                 Swal.fire({
                     title: 'Success!',
                     text: '출근이 등록되었습니다.',
                     icon: 'success',
                     confirmButtonText: '확인'
                 }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                 });
                 checkInBtn.disabled = true;
                 checkOutBtn.disabled = false;
             },
             error: function (response) {
                 alert(response.responseJSON.message)
             }
         });
    }

    // 퇴근버튼 함수
    function checkOutFunction(data) {

        var attendance_ip = data.ip

        var formdata = {
            offwork_ip: attendance_ip
        }

         $.ajax({
             url: "{% url 'check_out' %}",
             type: "POST",
             data: formdata,
             headers: { "X-CSRFToken": '{{ csrf_token }}' },
             success: function (response) {
                 Swal.fire({
                     title: 'Success!',
                     text: '퇴근이 등록되었습니다.',
                     icon: 'success',
                     confirmButtonText: '확인'
                 }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                 });
                 // checkInBtn.disabled = false;
                 checkOutBtn.disabled = true;
             }
         });
    }

    document.addEventListener('DOMContentLoaded', function () {
        // 페이지 로드 시 사용자의 마지막 출퇴근 기록을 요청
        $.ajax({
            url: "{% url 'last_attendance' %}",
            type: "GET",
            data: {
                user_id: getCookie('user_id')
            },
            success: function (response) {
                {#console.log('res', response)#}
                attendanceTime = new Date(response.date + "T" + response.attendanceTime);
                is_offwork = response.is_offwork;
                endDate = new Date(response.endDate);
                startDate = new Date(response.startDate);
                nextSunday = new Date(response.nextSunday);
                weeklyWorkTime = parseFloat(response.weeklyWorkTime);

                if (response.is_offwork) {
                    checkInBtn.disabled = false;
                    checkOutBtn.disabled = true;
                } else {
                    checkInBtn.disabled = true;
                    checkOutBtn.disabled = false;

                    var dailyWorkTime = (endDate - attendanceTime) / 1000;

                    weeklyWorkTime += dailyWorkTime;

                    {#console.log("일일 ", dailyWorkTime);#}
                    {#console.log("누적 ", weeklyWorkTime);#}

                    dayInterval = setInterval(function () {
                        dailyWorkTime++;
                        document.getElementById('todayWorkTime').innerHTML = formatTime(dailyWorkTime);
                    }, 1000);

                    weekInterval = setInterval(function () {
                        weeklyWorkTime++;
                        document.getElementById('weekWorkTime').innerHTML = formatTime(weeklyWorkTime);
                    }, 1000);
                }
            }
        });
    });
</script>
