{% load static %}
<style>
   #change_clr:hover,
   #change_clr:focus {
       background-color: #9da8b5;
   }
   #change_clr:active {
       background-color: #9da8b5;
   }
</style>
<body>
     <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo" style="margin-left: 25px; margin-bottom: 10px; ">
                <a href="{% url 'adminIndex' %}" class="app-brand-link">
                    <img src="{% static 'img/logo.jpg' %}">
                </a>
            </div>


                <div style="margin-left: 30px;">
                    <div style="margin-bottom: 20px; text-align: left">
                        <span id="currentDate"></span>
                    </div>
                    <div style="margin-top: -20px; margin-bottom: 20px; width: 100%; text-align: left">
                        <strong style="font-size: large;">나의 근태 현황</strong>
                    </div>
                    <div>
                        <div style="margin-top: 10px">
                            <span>🕒 오늘 총 근무 시간</span>
                            <div style="text-align: left; margin-left: 25px">
                                <h10>0h 0m 0s</h10>
                            </div>
                        </div>
                        <div style="margin-top: 10px; width: auto">
                            <span>🕒 이번주 누적 시간</span>
                            <div style="text-align: left; margin-left: 25px">
                                <h10>0h 0m 0s</h10>
                            </div>
                        </div>

                    </div>
                    <div class="work-check" style="display: flex; flex-direction: row; margin-top: 20px">
                        <form id="checkInForm" action="{% url 'check_in' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary me-2" id="checkInBtn">출근</button>
                        </form>

                        <form id="checkOutForm" action="{% url 'check_out' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary me-2" id="checkOutBtn">퇴근</button>
                        </form>
                    </div>
                </div>
                     <div style="border-bottom: #9da8b5 solid 1px; margin-top: 30px; margin-left: 15px; width: 70%;"></div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1 ps" style="margin-left: 25px;">
                    <li class="menu-item" style="margin-top: 30px; width: 100%;">
                        <a href="{% url 'adminNotice' %}" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}" style="margin-right: 8px"> <!-- Font Awesome bell icon -->
                                <span data-i18n="공지사항">공지사항</span>
                            </div>
                        </a>
                    </li>
                     <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="{%  url 'adminBoard' %}" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/wpf_note.png' %}" style="margin-right: 8px">
                                <span data-i18n="게시판">게시판</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="{% url 'adminWorkSchedule' %}" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/ic_outline-work-history.png'%}" style="margin-right: 8px">
                                <span data-i18n="근태관리">근태관리</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/icon-park-outline_vacation.png'%}" style="margin-right: 8px">
                                <span data-i18n="휴가관리">휴가관리</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/material-symbols_business-center-outline.png' %}" style="margin-right: 8px">
                                <span data-i18n="출장관리">출장관리</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/ri_car-line.png' %}" style="margin-right: 8px">
                                <span data-i18n="법인차량관리">법인차량관리</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/uil_calender.png' %}" style="margin-right: 8px">
                                <span data-i18n="캘린더">캘린더</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/lets-icons_paper-alt.png' %}" style="margin-right: 8px">
                                <span data-i18n="전자결재">전자결재</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item" style="margin-top: 10px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/ph_floppy-disk-bold.png' %}" style="margin-right: 8px">
                                <span data-i18n="자료실">자료실</span>
                            </div>
                        </a>
                    </li>
                   <li class="menu-item" style="margin-top: 10px; margin-bottom: 30px; width: 100%;">
                        <a href="" class="menu-link"
                           style="display: block; text-align: left; margin-left: -10px" id="change_clr">
                            <div class="text-truncate">
                                <img src="{% static 'admin/img/indexImg/icon-park-outline_system.png' %}" style="margin-right: 8px">
                                <span data-i18n="조직관리">조직관리</span>
                            </div>
                        </a>
                    </li>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                    <div class="ps__rail-y" style="top: 0px; right: 4px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </ul>
     </aside>
</body>

<script>
    function getCurrentDate() {
        var today = new Date();
        var year = today.getFullYear();
        var month = (today.getMonth() + 1).toString().padStart(2, '0');
        var day = today.getDate().toString().padStart(2, '0');

        return year + '-' + month + '-' + day;
    }

    document.getElementById('currentDate').innerHTML = getCurrentDate();
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkInForm = document.getElementById('checkInForm');
        const checkOutForm = document.getElementById('checkOutForm');
        const checkInBtn = document.getElementById('checkInBtn');
        const checkOutBtn = document.getElementById('checkOutBtn');

        // 초기 설정: 출근 버튼은 활성화, 퇴근 버튼은 비활성화
        checkInBtn.disabled = false;
        checkOutBtn.disabled = true;

        // 출근 버튼 클릭 시
        checkInForm.addEventListener('submit', function () {
            checkInBtn.disabled = true;
            checkOutBtn.disabled = false;
        });

        // 퇴근 버튼 클릭 시
        checkOutForm.addEventListener('submit', function () {
            checkInBtn.disabled = false;
            checkOutBtn.disabled = true;
        });
    });
</script>