{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>

    {% include 'admins/admin_header.html' %}
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/fullcalendar/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/flatpickr/flatpickr.css' %}"/>

</head>
<style>
    .flatpickr-calendar {
        box-shadow: 0 0 0 0 !important;
    }
</style>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

       {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <!--body3-->
            <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-fluid flex-grow-1 container-p-y">
              <div class="card app-calendar-wrapper">
                <div class="row g-0">
                  <!-- Calendar Sidebar -->
                  <div class="col-3 app-calendar-sidebar d-none d-md-block" id="app-calendar-sidebar" style="width: 18%">
                    <div class="border-bottom p-4 my-sm-0 mb-3">
                      <div class="d-grid">
                        <button
                          class="btn btn-primary btn-toggle-sidebar"
                          style="width: 255px; margin-left: -5px;"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#addEventSidebar"
                          aria-controls="addEventSidebar">
                          <i class="bx bx-plus me-1"></i>
                          <span class="align-middle">일정 추가</span>
                        </button>
                      </div>
                    </div>
                    <div class="p-4">
                      <!-- inline calendar (flatpicker) -->
                      <div class="ms-n2">
                        <div class="inline-calendar"></div>
                      </div>

                      <hr class="container-m-nx my-4" />

                      <!-- Filter -->
                      <div class="mb-4">
                        <small class="text-small text-muted text-uppercase align-middle">Filter</small>
                      </div>

                      <div class="form-check mb-2">
                        <input
                          class="form-check-input select-all"
                          type="checkbox"
                          id="selectAll"
                          data-value="all"
                          checked />
                        <label class="form-check-label" for="selectAll">전체</label>
                      </div>

                        <div class="app-calendar-events-filter">
                            <div class="form-check form-check-danger mb-2">
                                <input
                                        class="form-check-input input-filter"
                                        type="checkbox"
                                        id="select-personal"
                                        data-value="personal"
                                        checked/>
                                <label class="form-check-label" for="select-personal">자리비움</label>
                            </div>

                            <div class="form-check form-check-warning mb-2">
                                <input
                                        class="form-check-input input-filter"
                                        type="checkbox"
                                        id="select-family"
                                        data-value="family"
                                        checked/>
                                <label class="form-check-label" for="select-family">반차</label>
                            </div>
                            <div class="form-check form-check-success mb-2">
                                <input
                                        class="form-check-input input-filter"
                                        type="checkbox"
                                        id="select-holiday"
                                        data-value="holiday"
                                        checked/>
                                <label class="form-check-label" for="select-holiday">연차</label>
                            </div>
                            <div class="form-check mb-2">
                                <input
                                        class="form-check-input input-filter"
                                        type="checkbox"
                                        id="select-business"
                                        data-value="business"
                                        checked/>
                                <label class="form-check-label" for="select-business">출장</label>
                            </div>
                            <div class="form-check form-check-info">
                                <input
                                        class="form-check-input input-filter"
                                        type="checkbox"
                                        id="select-etc"
                                        data-value="etc"
                                        checked/>
                                <label class="form-check-label" for="select-etc">차량(QM3)</label>
                            </div>
                            <div class="form-check form-check-info" style="margin-top: 8px;">
                                <input
                                        class="form-check-input input-filter"
                                        type="checkbox"
                                        id="select-etc"
                                        data-value="spotage"
                                        checked/>
                                <label class="form-check-label" for="select-etc">차량(스포티지)</label>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- /Calendar Sidebar -->

                  <!-- Calendar & Modal -->
                  <div class="col app-calendar-content">
                    <div class="card shadow-none border-0">
                      <div class="card-body pb-0">
                        <!-- FullCalendar -->
                        <div id="calendar" style="margin-top: 3px;"></div>
                      </div>
                    </div>
                    <div class="app-overlay"></div>
                    <!-- FullCalendar Offcanvas -->
                    <div
                      class="offcanvas offcanvas-end event-sidebar"
                      tabindex="-1"
                      id="addEventSidebar"
                      aria-labelledby="addEventSidebarLabel">
                      <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title mb-2" id="addEventSidebarLabel">일정 추가</h5>
                        <button
                          type="button"
                          class="btn-close text-reset"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        <form class="event-form pt-0" id="eventForm" onsubmit="return false" method="post">
                            {% csrf_token %}
                          <div class="mb-3">
                            <label class="form-label" for="eventTitle">제목</label>
                            <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="일정 제목" required/>
                          </div>

                            <div class="mb-3">
                            <label class="form-label" for="eventStartDate">시작날짜</label>
                            <input
                              type="text"
                              class="form-control"
                              id="eventStartDate"
                              name="eventStartDate"
                              placeholder="시작 날짜" />
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="eventEndDate">종료날짜</label>
                            <input
                              type="text"
                              class="form-control"
                              id="eventEndDate"
                              name="eventEndDate"
                              placeholder="End Date" />
                          </div>
                          <div class="mb-3">
                            <label class="switch">
                              <input type="checkbox" class="switch-input allDay-switch" />
                              <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                              </span>
                              <span class="switch-label">All Day</span>
                            </label>
                          </div>

                          <div class="mb-3">
                            <label class="form-label" for="eventLabel">구분</label>
                            <select class="select2 select-event-label form-select" id="eventLabel" name="eventLabel">
                              <option data-label="success" value="Holiday" selected>연차</option>
                              <option data-label="warning" value="Family">반차</option>
                              <option data-label="primary" value="Business" id="Business">출장</option>
                              <option data-label="danger" value="Personal">자리비움</option>
                            </select>
                          </div>
                            <!--이벤트타입 차량 선택 시 활성화-->
                            <div class="col mb-3" id="radioCheck">
                                <label for="nameBasic" class="form-label">*법인차량 사용여부</label>
                                <div class="form-check custom-option custom-option-basic checked">
                                    <label class="form-check-label custom-option-content" for="customCheckTemp3">
                                        <input class="form-check-input" type="checkbox" value="" id="customCheckTemp3" checked="">
                                        <span class="custom-option-header"><span class="h6 mb-0">사용</span></span>
                                    </label>
                                </div>
                            </div>


                            <div class="mb-3" id="carCheck">
                                <!-- Basic Custom Radios -->
                                <div class="col mb-3">
                                    <label for="nameBasic" class="form-label">*사용차량</label>
                                    <select
                                            class="select2 select-event-guests form-select"
                                            style="width: 250px;"
                                            id="vehicle_select"
                                            name="vehicle_select"
                                            data-placeholder="차량을 선택하세요.">
                                    </select>
                                </div>
                                <!-- /Basic Custom Radios -->
                            </div>
                            {% if request.user.is_superuser %}
                                <div class="mb-3 select2-primary">
                                    <label class="form-label" for="employee_select">작성자 (관리자 전용)</label>
                                    <select id="employee_select"
                                            class="select2 form-select form-select-lg select2-hidden-accessible"
                                            data-allow-clear="true" data-select2-id="select2Basic" tabindex="-1"
                                            aria-hidden="true">
                                        {% for obj in employee_list %}
                                            <option data-select2-id="2" value="{{ obj.id }}">
                                                {{ obj.department_position__name }} {{ obj.username }} {{ obj.job_position__name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                          <div class="mb-3 select2-primary">
                            <label class="form-label" for="eventGuests">참석자</label>
                              <input id="TagifyUserList" name="TagifyUserList" class="form-control"/>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="eventLocation">장소</label>
                            <input
                              type="text"
                              class="form-control"
                              id="eventLocation"
                              name="eventLocation"
                              placeholder="장소" />
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="eventDescription">설명</label>
                            <textarea class="form-control" name="eventDescription" id="eventDescription"></textarea>
                          </div>
                          <div class="mb-3 d-flex justify-content-sm-between justify-content-start my-4">
                            <div>
                              <button type="submit" class="btn btn-primary btn-add-event me-sm-3 me-1">Add</button>
                              <button
                                type="reset"
                                class="btn btn-label-secondary btn-cancel me-sm-0 me-1"
                                data-bs-dismiss="offcanvas">
                                Cancel
                              </button>
                            </div>

                                    <div><button class="btn btn-label-danger btn-delete-event d-none">Delete</button></div>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- /Calendar & Modal -->
                </div>
              </div>
            </div>
            <!-- / Content -->
        </div>



    </div>

    </div>
</div>

</body>

<!--footer-->
{% include 'admins/admin_footer.html' %}

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/fullcalendar/fullcalendar.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'sneat/assets/js/main.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-typeahead.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'sneat/assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'sneat/assets/js/app-calendar.js' %}"></script>
<script type="text/javascript">
    var request_isSuperuser = {{ request.user.is_superuser|lower }};
    var request_userId = {{ request.user.id }};
</script>
<script>

    $(function (event) {

        setTimeout(function() {
            calendar.refetchEvents();
        }, 500);
    });

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    $(document).ready(function () {
        toggleRadioGroup($('#eventLabel').val());

        $('#eventLabel, #customCheckTemp3').change(function () {
            toggleRadioGroup($('#eventLabel').val());
        });

    });

    function toggleRadioGroup(selectedValue) {
        $('#radioCheck').toggle(selectedValue === 'Business');
        $('#carCheck').toggle(selectedValue === 'Business' && $('#customCheckTemp3').is(":checked"));
    }

    var input = document.querySelector('input[name=TagifyUserList]');
    var tagify = new Tagify(input);


    $(document).on('click', '.btn-add-event', function(e) {
        e.preventDefault();
        console.log('guest', tagify.value)

         if ($("#eventTitle").val()===''){
              Swal.fire({
                title: 'Fail!',
                text: '일정제목을 입력해주세요!',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
         }

        var checkbox = document.querySelector('.allDay-switch');
        var startdate = $("#eventStartDate").val();
        var enddate = $("#eventEndDate").val();

        if (startdate > enddate){
             Swal.fire({
                title: 'Fail!',
                text: '종료날짜를 확인해주세요!',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
        }

        if (!checkbox.checked) {
            if (startdate.length===10  || enddate.length===10){
            Swal.fire({
                title: 'Fail!',
                text: '날짜를 클릭하여 시간을 선택해주세요!',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
            }
        }

        var formData = {
            eventTitle: $("#eventTitle").val(),
            eventLabel: $("#eventLabel").val(),
            eventStartDate: startdate,
            eventEndDate: enddate,
            allDay: $(".allDay-switch").prop("checked") === true,
            eventGuests: $("#eventGuests").val(),
            eventLocation: $("#eventLocation").val(),
            eventDescription: $("#eventDescription").val(),
            tagList : JSON.stringify(tagify.value),
            employee_select : $('#employee_select').val()
        };

        if ($("#eventLabel").val() === "Business" && $('#customCheckTemp3').is(":checked")){
            formData.vehicleSelect = $("#vehicle_select").val();
        }

        if ($("#eventLabel").val() === null) {
            Swal.fire({
                title: 'Fail!',
                text: '구분에 일정타입을 선택해주세요 ex)연차,반차,출장..',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
        }

        console.log('f', formData)

        api_gp("{% url 'get_eventDataAll' %}", "POST", formData, () => {
                Swal.fire({
                title: 'Success',
                text: '일정이 등록되었습니다!',
                icon: 'success',
                confirmButtonText: '확인'
            }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                 });
        });

    })


    $(document).on('click', '.btn-update-event', function (e) {
        e.preventDefault();
        if (!(request_isSuperuser === true || request_userId === event_creat_id)) {
            alert('수정 및 삭제 권한이 없습니다.');
            return false;
        }

        eventData = {
            updateEventId: updateEventId,
            eventTitle: $("#eventTitle").val(),
            eventLabel: $("#eventLabel").val(),
            eventStartDate: $("#eventStartDate").val(),
            eventEndDate: $("#eventEndDate").val(),
            allDay: $(".allDay-switch").prop("checked") === true,
            eventURL: $("#eventURL").val(),
            eventGuests: $("#eventGuests").val(),
            eventLocation: $("#eventLocation").val(),
            eventDescription: $("#eventDescription").val(),
            tagList : JSON.stringify(tagify.value),
            employee_select : $('#employee_select').val()
        };

        if ($("#eventLabel").val() === "Business" && $('#customCheckTemp3').is(":checked")){
            eventData.vehicleSelect = $("#vehicle_select").val();
        } else {
            eventData.vehicleSelect = null
        }

        if ($("#eventLabel").val() === null) {
            Swal.fire({
                title: 'Fail!',
                text: '구분에 일정타입을 선택해주세요 ex)연차,반차,출장..',
                icon: 'error',
                confirmButtonText: '확인'
            })
            return false;
        }

        $.ajax({
            url: "{% url 'get_eventDataAll' %}",
            type: 'PATCH',
            contentType: 'application/json',
            data: JSON.stringify(eventData),
            success: function () {
                // console.log('수정데이터', eventData);
                Swal.fire({
                     title: 'Success!',
                     text: '일정이 수정되었습니다.',
                     icon: 'success',
                     confirmButtonText: '확인'
                 }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                });
            },
            error: function (xhr, status, error) {
                var responseJson = JSON.parse(xhr.responseText);
                var errorMessage = responseJson.error;

                Swal.fire({
                    title: '오류 발생!',
                    text: '에러 메시지: ' + errorMessage,
                    icon: 'error',
                    confirmButtonText: '확인'
                });
            }
        });

    });


    $(".btn-delete-event").click(function(e) {
        e.preventDefault();
        if (!(request_isSuperuser === true || request_userId === event_creat_id)) {
            alert('수정 및 삭제 권한이 없습니다.');
            return false;
        }

        var formData = {
            eventId: updateEventId
        }

        $.ajax({
            url: "{% url 'get_eventDataAll' %}",
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function () {
                // console.log('삭제 아이디', formData);
                Swal.fire({
                     title: 'Success!',
                     text: '일정이 삭제되었습니다.',
                     icon: 'success',
                     confirmButtonText: '확인'
                 }).then((result) => {
                     if (result.isConfirmed) {
                         location.reload();
                     }
                });
            }
        });

    });


</script>

</html>
