{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    {% include 'admins/admin_header.html' %}

    <!-- Core CSS -->

    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.css' %}"/>
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/typography.css' %}"/>
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/katex.css' %}"/>
    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/quill/editor.css' %}"/>



</head>

<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <!-- Content -->


            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="py-3 mb-4"><span class="text-muted fw-light">Forms /</span> File upload</h4>

                <div class="row">
                    <!-- Multi  -->
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">파일첨부</h5>
                            <div class="card-body">
                                <form action="/upload" class="dropzone needsclick" id="dropzone-multi">

                                    <!-- 제목 필드 -->
                                    <div class="mb-3">
                                        <label for="title" class="form-label">제목</label>
                                        <input type="text" class="form-control" id="title" name="title"
                                               placeholder="제목을 입력하세요">
                                    </div>

                                    <div class="dz-message needsclick" style="border: lightgrey dashed 2px;">
                                        Drop files here or click to upload
                                        <span class="note needsclick">(This is just a demo dropzone. Selected files are <span
                                                class="fw-medium">not</span> actually uploaded.)</span>
                                    </div>
                                    <div class="fallback">
                                        <input name="file" type="file"/>
                                    </div>

                                    <!-- Content wrapper -->
                                    <div class="content-wrapper">


                                        <!-- Content -->
                                        <div class="container-xxl flex-grow-1 container-p-y">
                                            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Forms /</span>
                                                Editors</h4>

                                            <div class="row">

                                                <!-- Full Editor -->
                                                <div class="col-12">
                                                    <div class="card">
                                                        <h5 class="card-header">Full Editor</h5>
                                                        <div class="card-body">
                                                            <div id="full-editor">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Full Editor -->


                                            </div>
                                        </div>
                                        <!-- / Content -->



                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- / Content -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/dropzone/dropzone.js' %}"></script>
</body>
{% include 'admins/admin_footer.html' %}



<script src="{% static 'sneat/assets/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/quill/quill.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'sneat/assets/js/forms-file-upload.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-editors.js' %}"></script>
</html>