<div class="w-80 d-flex justify-content-center">
<div class="pagination">
    <li class="page-item">
        <a class="page-link" href="?page=1&search_content={{ search_content }}&search_title={{ search_title }}{% if search_to %}&search-to={{ search_to }}{% endif %}{% if search_from %}&search-from={{ search_from }}{% endif %}" aria-label="First">
            <span aria-hidden="true"><i class='bx bxs-chevrons-left'></i></span>
        </a>
    </li>

    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search_content={{ search_content }}&search_title={{ search_title }}{% if search_to %}&search-to={{ search_to }}{% endif %}{% if search_from %}&search-from={{ search_from }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true"><i class='bx bxs-chevron-left'></i></span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class='bx bxs-chevron-left'></i></span>
            </a>
        </li>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
        {% if page_num >= page_obj.number|add:"-3" and page_num <= page_obj.number|add:"2" %}
            {% if page_obj.number == page_num %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_num }}&search_content={{ search_content }}&search_title={{ search_title }}&search-to={{ search_to }}&search-from={{ search_from }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}&search_content={{ search_content }}&search_title={{ search_title }}&search-to={{ search_to }}&search-from={{ search_from }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&search_content={{ search_content }}&search_title={{ search_title }}{% if search_to %}&search-to={{ search_to }}{% endif %}{% if search_from %}&search-from={{ search_from }}{% endif %}" aria-label="Next">
                <span aria-hidden="true"><i class='bx bxs-chevron-right'></i></span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><i class='bx bxs-chevron-right'></i></span>
            </a>
        </li>
    {% endif %}

    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search_content={{ search_content }}&search_title={{ search_title }}{% if search_to %}&search-to={{ search_to }}{% endif %}{% if search_from %}&search-from={{ search_from }}{% endif %}" aria-label="Last">
            <span aria-hidden="true"><i class='bx bxs-chevrons-right'></i></span>
        </a>
    </li>
</div>
</div>