{% load static %}
<style>
    body {
        background-color: #ffffff !important;
    }

    @media (max-width: 900px) {
        .userinfo_area {
            padding: 0 !important;
        }
    }
</style>
{#<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">#}
{#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
<header id="page-topbar">
    <div class="navbar-header layout-navbar d-flex justify-content-between align-items-center p-0">
        <div class="d-flex justify-content-start align-items-center px-3">
            {#            왼쪽 공간#}
        </div>
        <div class="userinfo_area d-flex justify-content-end align-items-center px-3">
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect p-2"
                        id="notiCenter" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="position: relative;">
                    <i class="bx bx-bell" style="font-size: 36px;"></i>
                    <span class="badge bg-danger rounded-pill" id="notiCount"
                          style="position: absolute; top: 5px; right: 5px; font-size: 10px;"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                     aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0" key="t-notifications"> 알림창 </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small" key="t-view-all"> 모두 보기</a>
                            </div>
                        </div>
                    </div>

                    <div data-simplebar style="height: auto; width: 400px; margin: 0 20px 10px 20px;">
                        <a href="javascript: void(0);" class="text-reset notification-item p-2">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="bx bx-cart"></i>
                                    </span>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1" key="t-your-order">전자결재 기능개발 중</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1" key="t-grammer">결재 상태의 업데이트를 알려줄 알림창입니다.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-min-ago">2024-07-01 오후 3:30</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript: void(0);" class="text-reset notification-item p-2">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="bx bx-cart"></i>
                                    </span>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1">결재문서 [AP240701-008] 완료</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1" key="t-simplified">'[휴가신청서] 개발1팀 슈퍼맨 240701'의 결재가 완료되었습니다.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-hours-ago">2024-07-03 오전 10:22</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="javascript: void(0);" class="text-reset notification-item p-2">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="bx bx-badge-check"></i>
                                    </span>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-1" key="t-shipped">결재문서 [AP240702-002] 반려</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1" key="t-grammer">'[휴가신청서] 개발1팀 슈퍼맨 240702'의 결재가 반려되었습니다.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-min-ago">2024-07-03 오전 10:22</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="p-2 border-top d-grid">
                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">더 보기</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if request.user.profile_image %}
                        <img src="/data/{{ request.user.profile_image }}" style="width: 40px; height: 40px; border-radius: 100%;" alt="profile_image">
                    {% else %}
                        <i class='bx bxs-user-circle' style='font-size: 36px;'></i>
                    {% endif %}
                    {% comment %}<div class="mt-1" id="username" style="font-size: 16px; font-weight: bold; color: #777;">
                        <div class="d-flex justify-content-start">{{ request.user.department_position.name }}</div>
                        <div class="d-flex justify-content-start">{{ request.user.username }} 님 &nbsp;</div>
                    </div>
                    &nbsp;&nbsp;<i class="fa-solid fa-chevron-down fa-lg"></i>{% endcomment %}
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item d-flex" href="{% url 'userSettingsPage' %}">
                        <i class="bx bx-user font-size-14 align-middle me-2"></i>
                        <span key="t-profile">{{ request.user.username }} 님</span></a>
                    {% comment %}<a class="dropdown-item" href="#"><i
                            class="bx bx-wallet font-size-16 align-middle me-1"></i> <span
                            key="t-my-wallet">My Wallet</span></a>
                    <a class="dropdown-item d-block" href="#"><span
                            class="badge bg-success float-end">11</span><i
                            class="bx bx-wrench font-size-16 align-middle me-1"></i> <span key="t-settings">Settings</span></a>
                    <a class="dropdown-item" href="#"><i
                            class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span
                            key="t-lock-screen">Lock screen</span></a>{% endcomment %}
                    <div class="dropdown-divider m-1"></div>
                    <a class="dropdown-item d-flex text-danger" href="{% url 'logout' %}">
                        <i class="bx bx-power-off font-size-14 align-middle me-1 text-danger"></i>
                        <span key="t-logout">로그아웃</span></a>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    $("#logout").click(function () {
        flush_token();
        window.location.href = "/logout/";
    });

    function flush_token() {
        document.cookie = 'Authorization=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'user_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'username=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_superuser=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_master=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_active=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'permissions=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_name=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'order_company=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    document.addEventListener("DOMContentLoaded", function () {
        let notiCount = document.getElementById("notiCount").textContent.trim();
        let notiCenter = document.getElementById("notiCenter");

        if (notiCount !== "") {
            notiCenter.classList.add("bx-tada");
        } else {
            notiCenter.classList.remove("bx-tada");
        }
    });

</script>
