<!DOCTYPE html>
<header>{% include "header.html" %}</header>
<body style="overflow: hidden">
{% load static %}
{{ in.media }}

<div class="card m-2">
    <div class="card-body p-2">
        <!-- 본문 -->
        <div
                class="content-search row no-gutters align-items-center content-input-group"
        >
            <div class="content-title col-1 align-self-stretch">매입관리</div>
            <form id="search_form" class="col-10">
                <div class="row no-gutters">
                    <div class="content-input-group col-4 px-0">
                        <div class="content-input-group-header">
                            <label>입고일자</label>
                        </div>
                        <div class="content-input-group-input">
                            <div class="input-group input-daterange h-100">
                                <input
                                        type="text"
                                        class="form-control datepicker"
                                        id="make_from"
                                        autocomplete="off"
                                />
                                <div
                                        class="col-2 border d-flex justify-content-center align-items-center"
                                >
                                    ~
                                </div>
                                <input
                                        type="text"
                                        class="form-control datepicker"
                                        id="make_to"
                                        autocomplete="off"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="content-input-group col-3 px-0">
                        <div class="content-input-group-header">
                            <label>거래처</label>
                        </div>
                        <div class="content-input-group-input">
                            {{ in.cs_name_sch }}
                        </div>
                    </div>
                    <div class="content-input-group col-4 px-0">
                        <div class="content-input-group-header">
                            <label>품번</label>
                        </div>
                        <div class="content-input-group-input">
                            {{ in.it_code_name }}
                        </div>
                    </div>
                    {% comment %}<div class="content-input-group col-2 px-0">
                        <div class="content-input-group-header">
                            <label>품명</label>
                        </div>
                        <div class="content-input-group-input">
                            {{ in.it_name_sch }}
                        </div>
                    </div>{% endcomment %}
                </div>
            </form>
            <div class="col-1 px-0">
                <button
                        class="btn button-search rounded-0 w-100 h-100"
                        type="button"
                        onclick="search_click();"
                >
                    검색
                </button>
            </div>
        </div>
    </div>
    <div id="domestic_table" class="card m-2">
        <div class="row no-gutters card-body p-2">
            <!-- 본문 -->
            <div
                    class="content-table col-12"
                    style="overflow-y: hidden; height: 500px"
            >
                <table id="list_table" class="table table-sm text-center">
                    <colgroup>
                        <col style="width: 3%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="col-0.5">NO</th>
                        <th class="col-1">거래처</th>
                        <th class="col-1">입고일</th>
                        <th class="col-1">품번</th>
                        <th class="col-1">품명</th>
                        <th class="col-1">수량</th>
                        <th class="col-1">단가</th>
                        <th class="col-1">공급가액</th>
                        <th class="col-1">부가세액</th>
                        <th class="col-1">합계금액</th>
                        <th class="col-1">지급일자</th>
                        <th class="col-1">지급액</th>
                        <th class="col-1">미지급액</th>
                        <th class="col-1">지급구분</th>
{#                        <th class="col-1">비고</th>#}
                    </tr>
                    </thead>
                    <tbody id="order_purchase_tbody"></tbody>
                </table>
                <div class="row no-gutters d-flex justify-content-center" id="item_nation"
                     style="margin-top: -20px;">
                </div>

                <table id="list_table" class="table table-sm text-center">
                    <tbody id="order_sum_tbody"></tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row no-gutters card-body">
            <!-- 본문 -->

            <div class="content-table col-12" style="overflow-x: hidden; overflow-y:auto;height:251px">
                <table id="pay_table" class="table table-sm text-center">
                    <thead>
                    <tr>
                        <th class="col-0.5">순번</th>
                        <th class="col-2">지급일자</th>
                        <th class="col-2">지급액</th>
                        <th class="col-6">비고</th>
                    </tr>
                    </thead>
                    <tbody id="pay_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <!-- 본문 -->
        <div class="content-search row no-gutters align-items-center content-input-group">
            <div class="content-title col-1 align-self-stretch">매입관리 입력</div>
            <form id="order_purchase_form" class="col-11">
                <div class="row no-gutters">
                    <div class="content-input-group col-4 px-0">
                        <div class="content-input-group-header">
                            <label>지급일자</label>
                        </div>
                        <div class="content-input-group-input">
                            <div class="input-group input-daterange h-100">
                                <input type="text" class="form-control datepicker" id="pay_at" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="content-input-group col-3 px-0">
                        <div class="content-input-group-header">
                            <label>지급액</label>
                        </div>
                        <div class="content-input-group-input">
                            <div class="input-group input-daterange h-100">
                                <input type="text" class="form-control" id="pay_amount" autocomplete="off" onkeyup="_chkNumber(this, 3)">
                            </div>
                        </div>
                    </div>
                    <div class="content-input-group col-5 px-0">
                        <div class="content-input-group-header">
                            <label>비고</label>
                        </div>
                        <div class="d-flex align-items-stretch content-input-group-input">
                            <input type="text" class="form-control" id="payedNote" autocomplete="off">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row no-gutters card-body p-2">
        <div class="row no-gutters w-100 justify-content-end">
            <div class="col-1 px-0 mr-2">
                <button class="btn button-custom2 w-100" type="button" onclick="pay_refresh();">
                    초기화
                </button>
            </div>
            <div class="col-1 px-0 mr-2">
                <button class="btn button-custom2 w-100" type="button" onclick="pay_add();">
                    지급등록
                </button>
            </div>
            <div class="col-1 px-0 mr-2">
                <button class="btn button-custom2 w-100" type="button" onclick="pay_modify();">
                    지급수정
                </button>
            </div>
            <div class="col-1 px-0 mr-2">
                <button class="btn button-custom2 w-100" type="button" onclick="pay_delete();">
                    지급삭제
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/api_adapter.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_paginations.js' %}" type="text/javascript"></script>

<script>

    let cs_name_sch = null;
    let it_code_name = null;

    let make_from = null;
    let make_to = null;

    let page1_size = 10;

    let nation_data1 = {
        cname : 'nation1',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation',
        range: 5,
        page_size: page1_size,
    };


    let nation1 = new Pnations(nation_data1, search);  // 인스턴스 명


    $(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        minViewMode: 0,
        maxViewMode: 2,
        autoclose: true,
        language: "ko",
        todayHighlight: 'true',
    });


    let detail_click_id = null;
    let pay_click_id = null;


    $(function () {
        let now = new Date();
        let first_date = new Date(now.getFullYear(), now.getMonth(), 1);

        $("#make_from").datepicker("setDate", first_date);
        $("#make_to").datepicker("setDate", "today");
        $("#pay_at").datepicker("setDate", "today");

        refresh();
    });


    function refresh() {
        nation1.page = 1;

        make_from = $("#make_from").val();
        make_to = $("#make_to").val();

        cs_name_sch = $('#id_cs_name_sch').val();
        it_code_name = $('#id_it_code_name').val();

        search();
    }


    function search_click(){
        detail_click_id = null;
        pay_click_id = null;
        nation1.page = 1;

        make_from = $("#make_from").val();
        make_to = $("#make_to").val();

        cs_name_sch = $('#id_cs_name_sch').val();
        it_code_name = $('#id_it_code_name').val();

        search();
        pay_search();
    }


    function search() {

        let query = "?page_size=" + page1_size + "&page=" + nation1.page;
        if (make_from == '' || make_from == null || make_from == '선택') {
        } else {
            query += "&make_from=" + make_from;
        }
        if (make_to == '' || make_to == null || make_to == '선택') {
        } else {
            query += "&make_to=" + make_to;
        }

        if (cs_name_sch == '' || cs_name_sch == null || cs_name_sch == '선택') {
        } else {
            query += "&customer_id=" + cs_name_sch;
        }
        if (it_code_name == '' || it_code_name == null || it_code_name == '선택') {
        } else {
            query += "&code_id=" + it_code_name;
        }

        loading_start();
        api_gp('/order/purchase/read/' + query, 'GET', {}, (done) => {
            loading_finish();

            if (done) {
                load_detail_table(done);
            }
        });
    }


    function load_detail_table(done) {
        console.table(done);
        let rows = "";
        let num = (((nation1.page * 1) - 1) * nation_data1["page_size"]) + 1;
        let data = done.results;
        let j = 0;

        for (let i = 0; i < data.length; i++) {
            let item = data[i];

            // append it
            if (item.type == 'list') {
                let row = "<tr id='" + item.id + "' style='cursor:pointer;width:50px'>";
                row += "<td>" + (num + j) + "</td>";  // 순번
                {#row += "<td>" + (item.cnt) + "</td>";  // 순번#}
                row += "<td class='d-none' name='id'>" + item.id + "</td>";  // id
                row += "<td name='customer_name' style='width:100px;'>" + (item.from_name ? item.from_name : "") + "</td>";  // 거래처
                row += "<td name='in_at' style='width:100px;'>" + (item.in_at ? item.in_at : "") + "</td>";  // 입고일
                row += "<td name='item_code' style='width:100px;'>" + (item.item_code ? item.item_code : "") + "</td>";  // 품번
                row += "<td name='item_name' style='width:100px;'>" + (item.item_name ? item.item_name : "") + "</td>";  // 품명

                row += "<td name='in_amount'>" + (item.in_amount ? item.in_amount.toLocaleString() : "") + "</td>";  // 수량
                row += "<td name='in_price'>" + (item.in_price ? item.in_price.toLocaleString() : "") + "</td>";  // 단가

                row += "<td name='supply'>" + (item.in_price ? item.supply.toLocaleString() : "") + "</td>";  // 공급가액
                row += "<td name='surtax'>" + (item.in_price ? item.surtax.toLocaleString() : "") + "</td>";  // 부가세액
                row += "<td name='sum'>" + (item.in_price ? item.sum.toLocaleString() : "") + "</td>";  // 합계금액

                row += "<td name='pay_at'>" + (item.pay_at ? item.pay_at : "") + "</td>";  // 지급일자
                row += "<td name='pay_amount'>" + (item.pay_amount ? item.pay_amount.toLocaleString() : "") + "</td>";  // 지급액

                let remain_amount = item.remain_amount;
                if (remain_amount == '') remain_amount = 0;
                if (remain_amount >= 0){
                    row += "<td name='remain_amount'>" + (remain_amount ? remain_amount.toLocaleString() : "") + "</td>";  // 미지급액
                }else{
                    row += "<td name='remain_amount' style='color: red'>" + (remain_amount ? remain_amount.toLocaleString() : "") + "</td>";  // 미지급액
                }

                row += "<td name='pay_div'>" + (item.pay_div ? item.pay_div: "미지급") + "</td>";  // 지급구분

                {#row += "<td name='etc'>" + (item.etc ? item.etc : "") + "</td>";  // 비고#}
                row += "</tr>";
                rows += row;

                j += 1;

            }else if (item.type == 'sum'){
                let row = "<tr id='' style='cursor:pointer;'>";
                row += "<td colspan='5'>" + '소계' + "</td>";
                row += "<td name='in_amount_sum'>" + (item.in_amount_sum ? item.in_amount_sum.toLocaleString() : "") + "</td>";  // 수량
                {#row += "<td name='in_price_sum'>" + (item.in_price_sum ? item.in_price_sum.toLocaleString() : "") + "</td>";  // 단가#}
                row += "<td name='in_price_sum'>" + "" + "</td>";  // 단가
                row += "<td name='supply_sum'>" + (item.supply_sum ? item.supply_sum.toLocaleString() : "") + "</td>";
                row += "<td name='surtax_sum'>" + (item.surtax_sum ? item.surtax_sum.toLocaleString() : "") + "</td>";
                row += "<td name='supply_surtax_sum'>" + (item.supply_surtax_sum ? item.supply_surtax_sum.toLocaleString() : "") + "</td>";

                row += "<td colspan='5'>" + "" + "</td>";
                row += "</tr>";
                rows += row;
            }
        }

        nation1.nation_display(done);

        $('#order_purchase_tbody').html(rows);
        if (detail_click_id != null){
            $("#" + detail_click_id).addClass('clicked');
        }

        let rows2 = "";
        let row2 = "<tr id='" + '' + "' style='cursor:pointer;'>";
        {#row2 += "<td style='width:400px;'>" + '합계' + "</td>";#}
        row2 += "<td style='font-weight: bold;'>" + '매입 합계' + "</td>";
        row2 += "<td style='width:9%;'>" + '수량' + "</td>";
        row2 += "<td style='width:9%;'>" + (done.total_in_amount ? done.total_in_amount.toLocaleString() : "") + "</td>";
        row2 += "<td style='width:9%;'>" + '단가' + "</td>";
        row2 += "<td style='width:9%;'>" + (done.total_in_price ? done.total_in_price.toLocaleString() : "") + "</td>";
        row2 += "<td style='width:9%;'>" + '공급가액' + "</td>";
        row2 += "<td style='width:9%;'>" + (done.total_supply ? done.total_supply.toLocaleString() : "") + "</td>";
        row2 += "<td style='width:9%;'>" + '부가세액' + "</td>";
        row2 += "<td style='width:9%;'>" + (done.total_surtex ? done.total_surtex.toLocaleString() : "") + "</td>";
        row2 += "<td style='width:9%;'>" + '합계금액' + "</td>";
        row2 += "<td style='width:9%;'>" + (done.total_supply_surtex ? done.total_supply_surtex.toLocaleString() : "") + "</td>";
        row2 += "</tr>";
        rows2 += row2;

        $('#order_sum_tbody').html(rows2);

        $('#order_purchase_tbody > tr').on('click', function () {

            let click_id = $(this).attr("id");
            if (click_id == '' || click_id == null) {
            }else{
                detail_click_id = click_id;

                // table click highlight
                $(this).parent().find('tr').removeClass('clicked');
                $(this).addClass('clicked');

                pay_search();
            }
        });
    }


    function pay_search() {
        let allData = {
            item_in_id: detail_click_id,  // 입고 리스트 ID
        };

        api_gp('/order/purchase/pay/read/', 'GET', allData, (done) => {
            console.table(done);
            if (done) {
                $("#pay_at").datepicker("setDate", "today");
                $("#pay_amount").val('');
                $("#payedNote").val('');

                load_pay_table(done);
            }
        });
    }


    function pay_update() {
        let allData = {
            item_in_id: detail_click_id,  // 입고 리스트 ID
        };

        api_gp('/order/purchase/pay/read/', 'GET', allData, (done) => {
            if (done) {
                load_pay_table(done);
            }
        });
    }


    function load_pay_table(done) {
        let rows = "";
        let data = done.results;

        for (let i = 0; i < data.length; i++) {
            let item = data[i];

            // append it
            let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
            row += "<td>" + (i+1) + "</td>";  // 순번
            row += "<td class='d-none' name='id'>" + item.id + "</td>";  // id
            row += "<td name='pay_at'>" + (item.pay_at ? item.pay_at : "") + "</td>";  // 지급일자
            row += "<td name='pay_amount'>" + (item.pay_amount ? item.pay_amount.toLocaleString() : "") + "</td>";  // 지급액
            row += "<td name='etc'>" + (item.etc ? item.etc : "") + "</td>";  // 비고
            row += "</tr>";
            rows += row;
        }

        $('#pay_tbody').html(rows);

        $('#pay_tbody').html(rows);
        if (pay_click_id != null){
            $("#" + pay_click_id).addClass('clicked');
        }

        $('#pay_tbody > tr').on('click', function () {
            // table click highlight
            $(this).parent().find('tr').removeClass('clicked');
            $(this).addClass('clicked');

            pay_click_id = $(this).attr("id");

            let pay_at = $(this).find("td[name=pay_at]").text();
            $('#pay_at').val(pay_at); // 지급일자

            let pay_amount = $(this).find("td[name=pay_amount]").text();
            $('#pay_amount').val(pay_amount); // 지급액

            let etc = $(this).find("td[name=etc]").text();
            $('#payedNote').val(etc); // 비고
        });

        search();
    }


    function pay_refresh(){
        pay_click_id = null;
        $("#pay_at").datepicker("setDate", "today");
        $("#pay_amount").val('');
        $("#payedNote").val('');
        pay_search();
    }


    function pay_add(){
        if (detail_click_id == null){
            alert('매입 리스트를 클릭하세요');
            return;
        }

        let pay_at = $("#pay_at").val();
        if (pay_at == null || pay_at == undefined){
            pay_at = '';
        }

        let pay_amount = $("#pay_amount").val();
        pay_amount = tof(pay_amount,3);

        let payedNote = $("#payedNote").val();

        let allData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            item_in_id : detail_click_id,  // 입고 리스트 ID
            pay_at : pay_at,  // 지급일자
            pay_amount : pay_amount,  // 지급액
            etc : payedNote,  // 비고
        };

        api_gp('/order/purchase/pay/create/', 'post', allData, (done) => {
            console.table(done);
            if (done.result) {
                if (done.result == 'ok'){
                    alert("등록되였습니다.");
                    pay_click_id = done.pay_id;
                    pay_search();
                }
            }
        });
    }

    function pay_modify(){
        if (detail_click_id == null){
            alert('매입 리스트를 클릭하세요');
            return;
        }

        if (pay_click_id == null){
            alert('수정할 리스트를 클릭하세요');
            return;
        }

        let pay_at = $("#pay_at").val();
        if (pay_at == null || pay_at == undefined){
            pay_at = '';
        }

        let pay_amount = $("#pay_amount").val();
        pay_amount = tof(pay_amount,3);

        let payedNote = $("#payedNote").val();

        let allData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            pay_click_id : pay_click_id,  // Pay 리스트 ID
            pay_at : pay_at,  // 지급일자
            pay_amount : pay_amount,  // 지급액
            etc : payedNote,  // 비고
        };

        api_gp('/order/purchase/pay/update/', 'post', allData, (done) => {
            console.table(done);
            if (done.result) {
                if (done.result == 'ok'){
                    alert("수정하였습니다.");
                    pay_update();
                }
            }
        });
    }

    function pay_delete() {
        let allData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            pk: pay_click_id,  // pk
        };

        if (pay_click_id == null) {
            alert("삭제할 리스트를 선택하세요.");
        } else {
            let del = confirm("선택한 리스트를 삭제하시겠습니까?");

            if (del) {
                api_gp('/order/purchase/pay/delete/', 'post', allData, () => {
                    alert("삭제하였습니다.");
                    pay_click_id = null;
                    pay_search();
                });
            }
        }
    }

</script>
</html>
