*{
    /*margin: 0 auto;*/
    padding: 0;
    list-style: none;
}

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

/* body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; } */


a {
    text-decoration: none;
    color: inherit;
}


a#topBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    display: none;
    right: 1%;
    bottom: 20px;
    z-index: 999;
    font-size: 35px;
}


.nav_popup {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

/* 메인메뉴 CSS */

.main_logo {
    display: flex;
}

.navbar {
    display: flex;
    /*position: absolute;*/
    width: 100%;
    /*z-index: 10;*/
    background: transparent;
}

.menu {
    display: flex;
    height: 100%;
    /*padding-left: 30rem;*/
}


.menu > li {
    position: relative;
    font-size: 16px;
    padding: 30px 50px;
    /*color: #fff;*/
    color: rgba(0, 0, 0, 1);
}

.menu_li > a {
    /*color: white;*/
    color: rgba(0, 0, 0, 1);
}

.menu > li > a::after {
    width: 0;
    height: 0.3vw;
    /*background: #0eb3d3;*/
    z-index: 100;
}

.menu > li > a:hover::after {
    width: 100%;
    left: 0;
    transition: all 0.3s;

}

ul li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
}


.popup {
    padding: 30px;
}


.submenu {
    top: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1000000000;
    text-align: center;
    display: none;
    background-color: rgba(255, 255, 255, 1);
}


.submenu li {
    padding: 10px;
    transition: all 0.5s;
}

.layout-wrapper {
    padding-top: 5%;
}

.button-reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button-reset:focus,
.button-reset:active {
    outline: none;
    box-shadow: none;
}

/* page별 헤더메뉴 css */

/* 메인 페이지 스타일 */
.menu_main .navbar {
  background: black;
}

/*.menu_main .main_logo img {*/
/*  content: url("/static/renewal/image/logo_B.png");*/
/*}*/

.menu_main .menu_li_a {
  color: #fff; /* 하얀색 */
}

.submenu > a {
    color: black;
}

/* 약관 페이지 스타일 */
.menu_term .navbar {
  background: #fff; /* 흰색 */
}

.menu_term .main_logo img {
  content: url("/static/renewal/image/logo_A.png");
}

.menu_term .menu_li a {
  color: #000; /* 검은색 */
}




/* ibt 페이지 스타일 */
.menu_ibt .navbar {
  background: transparent; /* 흰색 */
}

.menu_ibt .main_logo img {
  content: url("/static/renewal/image/logo_A.png");
}

.menu_ibt .menu_li a {
  color: #000; /* 검은색 */
}

.main_overlay > h1 {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    font-size: 5vh;
}

.main_overlay > h2 {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    font-size: 4.5vh;
}

.relative_div {
    position: relative;
}

.img_card2 {
    position: absolute; top: 7%; left: 9%; color: white;
}

.img_card2 span {
    font-size: 22px; line-height: 26px;
}

.ex4_div p {
    font-size: 2.8vh;
}

.ex4_div img {
    margin-right: 4%
}

.ex4_div h6 {
    font-size: 2vh;
}

.rnd_div {
    position: absolute; top: 42%; left: 27%; color: white;
}

.rnd_div span {
    font-size: 3vh;text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);font-weight: 500;
}



/* mms 페이지 스타일 */
.menu_mms .menu_li_a {
  color: white;
}

.submenu > li > a {
    color: black;
}


.dash_board_div2 p {
    color: #FF6B00;
    font-weight: 600;
    font-size: 2.3vh;
}

.dash_board_div2 span {
    color: #3E3A39;
    font-size: 1.8vh;
    line-height: 28px;
    font-weight: 400;
}

.dash_board_div2 img {
    margin-right: 2%;
    padding-bottom: 1%;
}

/* mms_q%a */
/*.q_div {*/
/*    position: absolute; top: 40%; left: 15%;*/
/*}*/

.q_div span, .a_div span {
    font-weight: 600; font-size: 2.5vh; line-height: 38px;
}

/*.a_div {*/
/*    position: absolute; top: 7%; right: 13%;*/
/*}*/

.tab_div {
    background: #FFFFFF; border-radius: 16px; height: 25%;
}

.tab_div span {
   font-weight: 400; font-size: 2.2vh;
}

.down_div2 {
    position: absolute; top: 10%; left: 9%; color: rgba(62, 58, 57, 1);
}

.down_div2 span{
    font-size: 22px
}

.down_div3 {
    position: absolute; bottom: 19%; left: 9%; color: rgba(137, 137, 137, 1);
}

.down_div3 span {
    font-size: 18px; text-decoration-line: underline;
}



/* mes 페이지 스타일 */
.menu_mes .menu_li_a {
  color: white;
}

.submenu > li > a {
    color: black;
}