{% load static %}

{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'admin/css/seoul-soft_location.css' %}">



<!--menu 로드-->
{% include 'menu.html' %}

<div class="main_img">
    <img src="{% static 'admin/img/회사소개 배경이미지.png' %}" alt="오시는길 배경">
    <!-- <h1>오시는길</h1>        -->
</div>


<div id="senter_menu">
    <ul class="senter_button">
        <li><a href="/menu/0106/">문의하기</a></li>
        <li><a href="/menu/010602/">오시는길</a></li>
    </ul>
</div>


<div class="text-center map location_tit">
    <h5 class="visually-hidden location_h5">LOCATION</h5>
    <h1 class="display-5 fw-bold location_h1">오시는길</h1>
    <div class="ratio ratio-21x9 iframebox">
        <iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1593.7872949497498!2d127.9315918820615!3d36.97221569848537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3564864db672fe69%3A0x134db61591b24e2d!2z7Lap7LKt67aB64-EIOy2qeyjvOyLnCDspJHslZnroZwgODA!5e0!3m2!1sko!2skr!4v1647317855770!5m2!1sko!2skr" allowfullscreen></iframe>
    </div>
</div>





   <div class="slide_wrapper" style="display: none;">
    <ul class="slides">
        <li><img src="{% static 'admin/img/banner-01-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-02-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-03-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-04-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-05-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-06-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-07-1.png' %}" alt="" width="220px"></li>
    </ul>
    
</div>
<p class="controls">
    <span class="prev"></span>
    <span class="next"></span>
</p>


<!--footer 로드-->
{% include 'footer.html' %}
