<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">

    <!--네이버 검색등록 -->
    <meta name="naver-site-verification" content="3341b7ec1724ec0a9582242d0010961174bd3b25"/>
    <meta name="description" content="여객화물운송업 및 제조업에 스마트 솔루션을 제공하는 전문 기업으로, 버스 ERP, 스마트 팩토리, 스마트 공방, 지능형 AVM 등의 솔루션을 제공하고 있습니다. 무료 컨설팅을 통해 회사의 경쟁력을 키워보세요.">

    <!--  구글폰트 링크  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/static/admin/css/slick.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" >
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"> -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Popper.js script for dropdown menu -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="http://mattstow.com/experiment/responsive-image-maps/jquery.rwdImageMaps.min.js"></script>
    <!-- 기존 naver map clientID
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=dxGxubaN3QcjV5OPEYjC"></script>
    -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ec4e4ae0adbe97712d1274f5920055f"></script>

    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/content.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/font/linecon.css">
    <link rel="stylesheet" href="/static/css/vector-icons/vector-icons.css">
    <link rel="stylesheet" href="/static/css/font/steadysets.css">
    <!-- fullpage.css -->
    <link rel="stylesheet" type="text/css" href="/static/fullpage/fullpage.css">
    <script type="text/javascript" charset="utf-8" src="/static/js/default.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!--공홈 url-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/admin/js/slick.min.js"></script>
    <script src="/static/admin/js/slickslide.js"></script>
    <script src="/static/admin/js/main_slide.js" type="text/javascript" defer="defer"></script>
    <script src="/static/admin/js/custom.js" defer="defer"></script>

    <title>서울소프트</title>
</head>

<body>

<style>
    a:hover {
        color: #fff;

    }

    .a_white {
        color: white !important;
    }
</style>
<link rel="stylesheet" href="/static/css/default.css">


<nav class="navber navbar-expand-lg">

    <div class="main_logo">
        <a href="/"><img src="/static/admin/img/seoul-soft_logo.svg" alt="main_logo" width="180px"></a>
    </div>


    <ul class="menu nav nav-pills">

        <li>
            <a href="/menu/0101/" class="a_white">ERP</a>
            <ul class="submenu">
                <li><a href="/menu/0101/">운송ERP</a></li>
            </ul>
        </li>

        <li>
            <a href="/menu/0102/" class="a_white">MES</a>
            <ul class="submenu">
                <li><a href="/menu/0102/">MES</a></li>
                <li><a href="/menu/010201/">요금제</a></li>
            </ul>
        </li>

        <li>
            <a href="/menu/0103/" class="a_white">VR/AR</a>
            <ul class="submenu">
                <li><a href="/menu/0103/">VR/AR</a></li>
            </ul>
        </li>

        <li>
            <a href="/menu/0104/" class="a_white">구축실적</a>
            <ul class="submenu">
                <li><a href="/menu/0104/">운송ERP</a></li>
                <li><a href="/menu/010402/">MES</a></li>
            </ul>
        </li>

        <li>
            <a href="/menu/0105/" class="a_white">회사소개</a>
            <ul class="submenu">
                <li><a href="/menu/0105/">개요</a></li>
                <li><a href="/menu/010502/">연혁</a></li>
            </ul>
        </li>


        <li>
            <a href="/menu/0106/" class="a_white">문의하기</a>
            <ul class="submenu">
                <li><a href="/menu/0106/">문의하기</a></li>
                <li><a href="/menu/010602/">오시는길</a></li>
            </ul>
        </li>
    </ul>

    <div id="aside" class="col d-flex justify-content-center px-0">
            <div class="aside-box col d-flex justify-content-center my-auto px-0">
                <ul>
                    {% if request.user.is_active %}
                        {% if request.user.is_staff %}
                            <li><a href="/admins/index/"><span>그룹웨어</span></a></li>
                        {% endif %}
                        <li><a href=""><span class="user">{{ request.COOKIES.username }}</span></a></li>
                        <li><a href="{% url 'logout' %}" id="logout"><span>로그아웃</span></a></li>
                        <li><a href=""><span>ADAS/AVM</span></a></li>
                    {% else %}
                        <li><a href="/signup/"><span>회원가입</span></a></li>
                        <li><a href="/login/"><span>로그인</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


    <a href="#" class="nav_popup"><img src="/static/admin/img/popup.svg" alt="popup"></a>

</nav>

<a href="#" id="topBtn"><i class="fa-solid fa-circle-arrow-up"></i></a>
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var width = window.outerWidth;
        if (width > 768) {
            $('#topmenu').show();
            $('#topmenu_mb').hide();

        } else {
            $('#topmenu').hide();
            $('#topmenu_mb').show();
        }
    });
    $(window).resize(function () {
        var width = window.outerWidth;
        if (width > 768) {
            $('#topmenu').show();
            $('#topmenu_mb').hide();
        } else {
            $('#topmenu').hide();
            $('#topmenu_mb').show();
        }
    });
    $('#topmenu').hover(
        function () {
            $('#menu-list').removeClass('d-none');
            $('#collapsed-topmenu-shadow').removeClass('d-none');
        },
        function () {
            $('#menu-list').addClass('d-none');
            $('#collapsed-topmenu-shadow').addClass('d-none');
        }
    );
    $('#sidebarToggle_open').on('click', function () {
        $('#menu-list_mb').show('slide', {'direction': 'left', 'easing': 'easeInOutCubic',}, 650);
        $('#collapsed-topmenu-shadow')
            .removeClass('d-none')
            .on('click', function () {
                $('#sidebarToggle_close').trigger('click');
            });
    })

    $('#sidebarToggle_close').on('click', function () {
        $('#menu-list_mb').hide('slide', {'direction': 'left', 'easing': 'easeInOutCubic',}, 650);
        $('#collapsed-topmenu-shadow').addClass('d-none');
    });

    $("#logout").click(function () {
        flush_token();
        window.location.href = "/logout/";
    });

    function flush_token() {
        document.cookie = 'Authorization=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'user_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'username=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_superuser=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_master=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_active=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'permissions=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_name=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'order_company=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }


</script>
<link rel="stylesheet" href="/static/admin/css/seoul-soft_history.css">

<style>
    .sec {
        width: 348px;
        height: 708px;
        flex-shrink: 0;
        margin: 7px;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.20);
    }
    .sec_head {
        width: 100%;
        height: 181px;
        flex-shrink: 0;
        background: #2661AE;
    }
    .sec_body {
        width: 100%;
        height: 457px;
        flex-shrink: 0;
        text-align: left;
        padding-left: 54px;
    }
    .sec_foot {
        width: 100%;
        height: 70px;
        flex-shrink: 0;
    }

    p {
        font-size: 17px;
        padding-top: 5px;
    }

    .bt {
        width: 500px;
        height: 350px;
        flex-shrink: 0;
        margin: 7px;
    }

    .bt_head {
        width: 100%;
        height: 181px;
        flex-shrink: 0;
        background: #2661AE;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.20);
    }

    .bt_foot {
        color: #2661AE;
        text-align: center;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
        cursor: pointer;
    }

    .bt_foot:hover {
        color: cadetblue;
    }

</style>

<div class="main_img">
    <img src="/static/admin/img/%ED%9A%8C%EC%82%AC%EC%86%8C%EA%B0%9C%20%EB%B0%B0%EA%B2%BD%EC%9D%B4%EB%AF%B8%EC%A7%80.png" alt="회사소개 배경">
    <!-- <h1>회사소개</h1>        -->
</div>

<div id="senter_menu">
    <ul class="senter_button">
        <li><a href="/menu/0102/">MES</a></li>
        <li>요금제</li>
    </ul>
</div>


<div class="container history_box">
    <div class="text-center">
        <h1 class="display-5 history_h1" style="color: #2661AE">요금제</h1>
        <section1 class="" style="display: flex; flex-wrap: wrap; justify-content: center;">
            <sect1 class="sec" style="background: white;">
                <div class="sec_head" style="">
                    <div style="height: 90px; padding-left:30px; padding-top: 20px; text-align: left">
                        <img src="/static/admin/img/charge/mdi_house.png" alt="" width="80px;">
                    </div>
                    <div style="width: 100%; height: 90px; text-align: left; font-size: 24px; font-weight: bold; color: white; display: flex; justify-content: flex-start">
                        <div style="padding-left:33px; padding-top: 10px; width: 50%;">
                            BASIC
                        </div>
                        <div style="padding-right:33px; padding-top: 10px; width: 50%; text-align: right;">
                            <div>
                                80만원
                            </div>
                            <div style="font-size: 0.6em; color: #C2C2C2; font-weight: lighter">
                                월 임차비 매월 결제
                            </div>

                        </div>
                    </div>

                </div>
                <div class="sec_body" style="background: white;">
                    <p></p>
                    <p>&#8226; 클라우드 서비스형 소프트웨어</p>
                    <p>&#8226; 기본 모듈 제공</p>
                    <p>&#8226; 멤버 1인</p>
                    <p>&#8226; 최초 구축 후 2년간 유지보수 무료</p>
                    <p>&#8226; 유지보수비용 (10만원/월)</p>

                </div>
                <div class="sec_foot" style="align-items: center;">
                    <div class="btn btn-primary" style="width: 70%;" onclick="btn_contact();">
                        BASIC으로 시작하기
                    </div>
                </div>
            </sect1>

            <sect2 class="sec" style="background: white;">
                <div class="sec_head" style="">
                    <div style="height: 90px; padding-left:30px; padding-top: 24px; text-align: left">
                        <img src="/static/admin/img/charge/flowbite_building-solid.png" alt="" width="80px;">
                    </div>
                    <div style="width: 100%; height: 90px; text-align: left; font-size: 24px; font-weight: bold; color: white; display: flex; justify-content: flex-start">
                        <div style="padding-left:44px; padding-top: 10px; width: 50%;">
                            PRO
                        </div>
                        <div style="padding-right:33px; padding-top: 10px; width: 50%; text-align: right;">
                            <div>
                                200만원
                            </div>
                            <div style="font-size: 0.6em; color: #C2C2C2; font-weight: lighter">
                                월 임차비 매월 결제
                            </div>

                        </div>
                    </div>

                </div>
                <div class="sec_body" style="background: white;">
                    <p></p>
                    <p>&#8226; 클라우드 서비스형 소프트웨어</p>
                    <p>&#8226; 확장 모듈 제공</p>
                    <p>&#8226; 멤버 10인</p>

                    <p>&#8226; 디지털 전환(DX)-센서 및기기 연동</p>
                    <p>&#8226; 특화형 솔루션 연동 가능</p>
                    <p>&#8226; 특화형 솔루션 별도 협의</p>

                    <p>&#8226; 최초 구축 후 2년간 유지보수 무료</p>
                    <p>&#8226; 유지보수비용 (10만원/월)</p>

                </div>
                <div class="sec_foot" style="align-items: center;">
                    <div class="btn btn-primary" style="width: 70%;" onclick="btn_contact();">
                        PRO로 시작하기
                    </div>
                </div>
            </sect2>

            <sect3 class="sec" style="background: white;">
                <div class="sec_head" style="">
                    <div style="height: 90px; padding-left:46px; padding-top: 33px; text-align: left">
                        <img src="/static/admin/img/charge/Vector.png" alt="" width="68px;">
                    </div>
                    <div style="width: 100%; height: 90px; text-align: left; font-size: 24px; font-weight: bold; color: white; display: flex; justify-content: flex-start">
                        <div style="padding-left:25px; padding-top: 10px; width: 50%;">
                            PREMIUM
                        </div>
                        <div style="padding-right:33px; padding-top: 10px; width: 50%; text-align: right;">
                            <div>
                                300만원
                            </div>
                            <div style="font-size: 0.6em; color: #C2C2C2; font-weight: lighter">
                                월 임차비 매월 결제
                            </div>

                        </div>
                    </div>

                </div>
                <div class="sec_body" style="background: white;">
                    <p></p>
                    <p>&#8226; 클라우드 서비스형 소프트웨어</p>
                    <p>&#8226; MES의 모든 기능</p>
                    <p>&#8226; 멤버 무제한</p>

                    <p>&#8226; 디지털 전환(DX)-센서 및기기 연동</p>
                    <p>&#8226; 특화형 솔루션 연동 가능</p>
                    <p>&#8226; 특화형 솔루션 별도 협의</p>

                    <p>&#8226; 기업 맞춤형 지원 별도 협의</p>
                    <p>&#8226; 최초 구축 후 2년간 유지보수 무료</p>
                    <p>&#8226; 유지보수비용 (10만원/월)</p>

                </div>
                <div class="sec_foot" style="align-items: center;">
                    <div class="btn btn-primary" style="width: 70%;" onclick="btn_contact();">
                        PREMIUM으로 시작하기
                    </div>
                </div>
            </sect3>

            <sect4 class="sec" style="background: white;">
                <div class="sec_head" style="">
                    <div style="height: 90px; padding-left:38px; padding-top: 25px; text-align: left">
                        <img src="/static/admin/img/charge/image_11.png" alt="" width="68px;">
                    </div>
                    <div style="width: 100%; height: 90px; text-align: left; font-size: 24px; font-weight: bold; color: white; display: flex; justify-content: flex-start">
                        <div style="padding-left:25px; padding-top: 10px; width: 50%;">
                            SPECIAL
                        </div>
                        <div style="padding-right:33px; padding-top: 10px; width: 50%; text-align: right;">
                            <div>
                                200만원
                            </div>
                            <div style="font-size: 0.6em; color: #C2C2C2; font-weight: lighter">
                                월 임차비 매월 결제
                            </div>

                        </div>
                    </div>

                </div>
                <div class="sec_body" style="background: white;">
                    <p></p>
                    <p>&#8226; 클라우드 서비스형 소프트웨어</p>
                    <p>&#8226; 20개 이상 업체 PACKAGE 상품</p>
                    <p>&#8226; PRO의 모든기능 제공무제한</p>
                    <p>&#8226; D2C 운영 플랫폼 무료 제공</p>

                    <p>&#8226; 최초 구축 후 2년간 유지보수 무료</p>
                    <p>&#8226; 유지보수비용 (10만원/월)</p>

                </div>
                <div class="sec_foot" style="align-items: center;">
                    <div class="btn btn-primary" style="width: 70%;" onclick="btn_contact();">
                        SPECIAL로 시작하기
                    </div>
                </div>
            </sect4>
        </section1>
    </div>
</div>

<div style="height: 140px;"></div>

<!-- 중간 MES -->
<div style="width: 100%; height: 100%; padding: 150px 50px; background: #F8F8F8;">
    <div style="width: 80%; height: 90%; background: white;">
        <div style="width: 100%; height: 100%;">
            <img src="/static/admin/img/charge/mes_arc.png" alt="" width="100%;"
                 style="box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.20);">
        </div>
    </div>
</div>

<!-- 하단 D2C 운영 플랫폼-->
<h1 class="display-5 history_h1" style="color: #2661AE; margin-top: 150px; text-align: center">D2C 운영 플랫폼</h1>
<div style="width: 100%; height: 100%;
        background: url('/static/admin/img/charge/Rectangle_1095.png') no-repeat center center;
        background-size: cover;
        text-align: center; margin-bottom: 70px;">

    <div class="btn btn-outline-light"
         style="margin-top: 33px; font-size: 17px; width: 211px; height: 45px; text-align: center; line-height: 30px; pointer-events: none;" disabled>
        상품/상세정보 등록
    </div>
    <div style="margin-top: 20px; font-size: 17px; color: white;">
        자사 MES PRO와 연동하여 자동 등록
    </div>

    <div class="btn btn-outline-light"
         style="margin-top: 33px; font-size: 17px; width: 211px; height: 45px; text-align: center; line-height: 30px; pointer-events: none;" disabled>
        무료 템플릿 제공
    </div>
    <div style="margin-top: 20px; font-size: 17px; color: white;">
        3가지 유형의 템플릿 제공
    </div>

    <div style="margin-top: 29px; display: flex; flex-wrap: wrap; justify-content: center;">
        <div class="bt" style="background: white;">
            <div class="bt_head" style="width: 100%; height: 300px; background: url('/static/admin/img/charge/image_8.png') center/cover no-repeat;">
            </div>

            <div class="bt_foot">
                일반 쇼핑몰형
            </div>
        </div>

        <div class="bt" style="background: white;">
            <div class="bt_head" style="width: 100%; height: 300px; background: url('/static/admin/img/charge/image_9.png') center/cover no-repeat;">
            </div>

            <div class="bt_foot">
                직거래형
            </div>
        </div>

        <div class="bt" style="background: white;">
            <div class="bt_head" style="width: 100%; height: 300px; background: url('/static/admin/img/charge/image_10.png') center/cover no-repeat;">
            </div>

            <div class="bt_foot">
                예약형
            </div>
        </div>
    </div>
</div>


<!--footer 로드-->

<link rel="stylesheet" href="/static/admin/css/seoul-soft_main.css">
        <!-- 푸터 영역 -->

        <div class="footer_background">
            <div class="container col-lg-12 ">
                <div class="copyright row">
                    <p class="rounded float-start copy_p1">개인정보처리방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이용약관</p>
                    <div class="footer_nav d-flex">
                        <ul class="col-lg-2 footer_copy_list">
                            <li class="nav-item mb-1">CEO</li>
                            <li class="nav-item mb-4">Address</li>
                            <li class="non"></li>
                            <li class="nav-item mb-1">Tel</li>
                            <li class="nav-item mb-1">Fax</li>
                            <li class="nav-item mb-1">Email</li>
                        </ul>
                        <ul class="col-lg-12 footer_copy_list2">
                            <li class="nav-item mb-1">노병진</li>
                            <li class="nav-item mb-1">[본사] 충청북도 충주시 중앙로 80(성서동 228), 501호</li>
                            <li class="nav-item mb-1">[부설연구소] 서울특별시 금천구 가산디지털1로 84(에이스하이엔드8차) 810호</li>
                            <li class="nav-item mb-1">02-6052-1192~4</li>
                            <li class="nav-item mb-1">02-6000-9349</li>
                            <li class="nav-item mb-1">seoulsoft@seoul-soft.com</li>
                        </ul>
                    </div>
                    <div class="sns_icon col-lg-2 col-md-6">
                        <a href="https://blog.naver.com/seoul-soft" target='_blank' class="icon-sns1"><i class="fa-brands fa-microblog blog"></i></a>
                        <a href="https://www.youtube.com/@SEOULSOFT" target='_blank' class="icon-sns2"><i class="fa-brands fa-youtube youtube"></i></a>
                        <a href="https://www.instagram.com/seoul_soft/?hl=ko" target='_blank' class="icon-sns3"><i class="fa-brands fa-instagram ingstagram"></i></a>
                        <a href="https://www.facebook.com/seoulsoftco" target='_blank' class="icon-sns4"><i class="fa-brands fa-facebook-f facebook"></i></a>
                    </div>
                    <p class="col-lg-12 copyright_p">&copy; Copyright 2018 SEOUL SOFT Co., Ltd. All Rights Reserved</p>

                </div>
            </div>
        </div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top" href="body">
    <img alt="page-top" src="/static/img/top.png"/>
</a>

<!-- Core plugin JavaScript-->
<script src="/static/js/jquery-easing/jquery.easing.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/53e8ea0ab6.js" crossorigin="anonymous"></script>

</body>

</html>


<script>
    function btn_contact(){
        window.location.href = "/menu/0106/";
    }
</script>
<script>

</script>