{% load static %}

{% include 'header.html' %}

<!--menu 로드-->
{% include 'menu.html' %}
<link rel="stylesheet" href="{% static 'admin/css/seoul-soft_smartsupport.css' %}">


<!-- 구축실적 영역 -->

<div class="main_img">
    <img src="{% static 'admin/img/구축실적 이미지.PNG' %}" alt="구축실적 배경">

    <!-- <h1>구축실적</h1> -->

</div>

<div id="senter_menu">
    <ul class="senter_button">
        <li><a href="/menu/0104/">운송ERP</a></li>
        <li><a href="/menu/010402/">MES</a></li>
    </ul>
</div>

<div class="container-xl contents_box">

<div class="row contents">
<div class="col-md-12 contents_tit">
    <h6>SMART SUPPORT PROJECT</h6>
    <h1>구축실적</h1><br><br><br>
</div>
<div class="row-cols-1 buildlist">
    <h1>스마트공방 누적건수</h1>
    <div class="mes_build">
        <div class="card" data-aos="fade-up">
          <div class="box">
            <h5>제품제조업</h5>
            <h2>37</h2>
            <p>건</p>
            <img src="{% static 'admin/img/구축실적_카드이미지1.png' %}" alt="">
          </div>
        </div>
        <div class="card" data-aos="fade-down" data-aos-offset="250">
          <div class="box2">
            <h5>식품제조업</h5>
            <h2>24</h2>
            <p>건</p>
            <img src="{% static 'admin/img/구축실적_카드이미지2.png' %}" alt="">
        </div>
        </div>
        <div class="card box3" data-aos="fade-right" data-aos-offset="400">
            <h5>사업진행 예정</h5>
            <div class="box3_1" >
            <div class="list1">
                <h2>제품제조업</h2>
                <img src="{% static 'admin/img/구축실적_제품제조업 아이콘.png' %}" alt="">
            </div>
            <span>14</span>
            <p>건</p>
            </div>
            <div class="box3_2">
                <div class="list2">
                    <h2>식품제조업</h2>
                    <img src="{% static 'admin/img/구축실적_식품제조업 아이콘.png' %}" alt="">
                </div>
                <span>11</span>
                <p>건</p>
            </div>
            <div class="box3_3">
                <div class="list3">
                    <h2>소프트웨어 개발</h2>
                    <img src="{% static 'admin/img/구축실적_소프트웨어개발 아이콘.png' %}" alt="">
                </div>
                <span>11</span>
                <p>건</p>
            </div>
        </div>
      </div>
</div>

<div class="row-cols-1 buildlist">
    <h1>스마트팩토리 누적건수</h1>
    <div class="mes_build">
        <div class="card" data-aos="fade-up">
          <div class="box4">
            <h5>제품제조업</h5>
            <h2>9</h2>
            <p>건</p>
            <img src="{% static 'admin/img/구축실적_카드이미지3.png' %}" alt="">
          </div>
        </div>
        <div class="card" data-aos="fade-down" data-aos-offset="250">
          <div class="box5">
            <h5>식품제조업</h5>
            <h2>6</h2>
            <p>건</p>
            <img src="{% static 'admin/img/구축실적_카드이미지4.png' %}" alt="">
        </div>
        </div>
        <div class="card box3" data-aos="fade-right" data-aos-offset="400">
            <h5>사업진행 예정</h5>
            <div class="box3_1">
            <div class="list1">
                <h2>제품제조업</h2>
                <img src="{% static 'admin/img/구축실적_제품제조업 아이콘.png' %}" alt="">
            </div>
            <span>10</span>
            <p>건</p>
            </div>
            <div class="box3_2">
                <div class="list2">
                    <h2>식품제조업</h2>
                    <img src="{% static 'admin/img/구축실적_식품제조업 아이콘.png' %}" alt="">
                </div>
                <span>7</span>
                <p>건</p>
            </div>
            <div class="box3_3">
                <div class="list4">
                    <h2>숙박업</h2>
                    <img src="{% static 'admin/img/구축실적_숙박업 아이콘.png' %}" alt="">
                </div>
                <span>3</span>
                <p>건</p>
            </div>
        </div>
      </div>
</div>
</div>
</div>


<div class="slide_wrapper" style="display: none;">
    <ul class="slides">
        <li><img src="{% static 'admin/img/banner-01-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-02-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-03-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-04-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-05-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-06-1.png' %}" alt="" width="220px"></li>
        <li><img src="{% static 'admin/img/banner-07-1.png' %}" alt="" width="220px"></li>
    </ul>
    
</div>
<p class="controls">
    <span class="prev"></span>
    <span class="next"></span>
</p>

<!--footer 로드-->
{% include 'footer.html' %}
