{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'admin/css/seoul-soft_main.css' %}">
<!--menu 로드-->
<style>
    .white-background {
        background-color: rgba(255, 255, 255, 1) !important; /* 배경색을 흰색으로 설정 */
    }

    .custom_btn > button {
        background-color: rgba(239, 239, 239, 1);
        color: rgba(137, 137, 137, 1);
        border: 0;
        border-radius: 21px;
    }

    .custom_btn > button:hover {
        background-color: rgba(234, 234, 115, 1);
        color: black;
    }

    .custom_btn > button:active {
        background-color: rgba(234, 234, 115, 1);
        color: black;
    }

    .custom_btn > button:focus {
        box-shadow: 0 0 0 0;
    }

</style>
{% include 'menu.html' %}
<body class="menu_mms">
<div class="layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page" id="layout_page">
            <!-- Content wrapper -->
            <div class="content-wrapper pb-5" style="background-color: rgba(248, 248, 248, 1)">

                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y row justify-content-center" style="margin-bottom: 5%; position: relative;">
                    <img src="{% static 'renewal/image/mms/mms_main.png' %}" style="width: 1903px;">
                    <div class="main_overlay" style="position: absolute; bottom: 11%; left: 7%; color: white;">
                        <h1 style="font-weight: 800">MMS</h1><br/>
                        <h2>많은 것을 뛰어넘는 하나로,</h2>
                        <h2>Mobility Business Master</h2>
                    </div>
                </div>

                <div class="card-body" style="padding: 0 5% 0 5%;">
                    <div class="card-body">
                        <div class="col-xl-6">
                            <h3><b style="font-size: 38px;font-weight: 700">MMS</b></h3><br/><br/>
                            <h3 style="font-weight: 400;font-size: 34px;line-height: 41px;">ERP와 FMS를 한 플랫폼에서</h3>
                            <h3 style="font-size: 34px;line-height: 41px;font-weight: 400">독보적인 이동 자산 운영 서비스 신세계를 경험해보세요.</h3>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center mt-4 mb-5">
                                <img src="{% static 'renewal/image/mms/mms_e1.png' %}">
                            </div>
                            <a href="#"><img src="{% static 'renewal/image/mms/mms_q_btn.png' %}"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body row justify-content-center" style="padding-top: 5%;">
                    <div class="col-xl-11 row">
                        <div class="col-xl-4 dash_board_div">
                            <img src="{% static 'renewal/image/mms/mms_card1.png' %}">
                            <div class="col-xl-10 dash_board_div2">
                                <p>강력한 대시보드</p>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    데이터 시각화를 통한 퍼포먼스 데이터 통찰력 상승
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    실시간 모니터링으로 정확한 업무 현황
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    파악 조직 또는 개별적인 정보 집중 관리로 업무 효율성 증대
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    다양한 데이터 소스 통합 및 주요 성과 목표 파악
                                </span>
                            </div>
                        </div>


                        <div class="col-xl-4 dash_board_div">
                            <img src="{% static 'renewal/image/mms/mms_card2.png' %}">
                            <div class="col-xl-10 dash_board_div2">
                                <p>원가절감 분석 기능</p>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    비용 발생 영역 식별 및 현황 시각화
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    재료 및 기타자산 분석을 통한 자원 최적화
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    기간별 비교 지표를 통한 절감 추세 확인
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    전략적인 경영을 위한 다양한 인사이트 제공
                                </span>
                            </div>
                        </div>

                        <div class="col-xl-4 dash_board_div">
                            <img src="{% static 'renewal/image/mms/mms_card3.png' %}">
                            <div class="col-xl-10 dash_board_div2">
                                <p>실시간 차량 데이터 관제</p>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    구글 맵을 활용한 실시간 차량운행현황 모니터링
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    실시간 관제로 효율적인 운송 계획 수립 및 관리
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    비상 상황에 신속한 대응 및 자원 관리 최적화
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    구체적인 현황 확인으로 서비스 품질 향상
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-body row justify-content-center">
                    <div class="col-xl-11 row">
                        <div class="col-xl-4 dash_board_div">
                            <img src="{% static 'renewal/image/mms/mms_card4.png' %}">
                            <div class="col-xl-10 dash_board_div2">
                                <p>드라이빙 퍼포먼스 평가 활용</p>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    실시간 지표 활용으로 운전 품질 스코어링
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    연비, 주행속도 등 경제운전 평가
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    위험운전행동 및 차량별 안전운전 평가
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    에코 드라이빙 평가를 통한 법규 준수 및 브랜드 이미지 강화
                                </span>
                            </div>
                        </div>

                        <div class="col-xl-4 dash_board_div">
                            <img src="{% static 'renewal/image/mms/mms_card5.png' %}">
                            <div class="col-xl-10 dash_board_div2">
                                <p>데이터 기반 운전자 평가</p>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    데이터 기반의 지속적인 인사 평가 및 관리
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    운전 습관 및 행동 모니터링을 통한 습관 개선
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    안전운전 촉진으로 교통 규정 준수 및 사고 예방
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    고객 서비스 향상 및 유지보수 비용 절감
                                </span>
                            </div>
                        </div>

                        <div class="col-xl-4 dash_board_div">
                            <img src="{% static 'renewal/image/mms/mms_card6.png' %}">
                            <div class="col-xl-10 dash_board_div2">
                                <p>사내 네트워크</p>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    데이터 시각화를 통한 퍼포먼스 데이터 통찰력 상승
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    실시간 모니터링으로 정확한 업무 현황
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    파악 조직 또는 개별적인 정보 집중 관리로 업무 효율성 증대
                                </span><br/>
                                <span>
                                    <img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">
                                    다양한 데이터 소스 통합 및 주요 성과 목표 파악
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin: 8% 5% 0 5%;">
                    <div class="card-body">
                        <div class="col-xl-6">
                            <span><b style="font-size: 38px;font-weight: 700;line-height: 50px;">모든 기능을 담은 MMS</b></span><br/>
                            <span><b style="font-size: 38px;font-weight: 700;line-height: 50px;">클라우드 기반의 지속적인 서비스</b></span>
                        </div>
                        <div class="card-body mt-4">
                            <a href="#"><img src="{% static 'renewal/image/mms/mms_detail_btn.png' %}"></a>
                        </div>
                        <div class="row justify-content-center mt-5">
                            <div class="col-xl-7">
                                <h3 style="color: #FF6B00;font-weight: 600;font-size: 28px;">클라우드 →  PC(고객사)</h3>
                                <div class="d-flex justify-content-start mt-5">
                                    <img src="{% static 'renewal/image/mms/mms_service1.png' %}">
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <h3 style="color: #FF6B00;font-weight: 600;font-size: 28px;">클라우드 →  Mobile(운전자)</h3>
                                <div class="d-flex justify-content-center mt-5">
                                    <img src="{% static 'renewal/image/mms/mms_service2.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card-body d-grid" style="margin: 8% 5% 0 5%;">
                    <div class="talk_div">
                        <img src="{% static 'renewal/image/mms/mms_talk1.png' %}">
                        <div class="q_div">
                            <span><b>복잡도가 높은 솔루션은</b></span><br/>
                            <span><b>사용하기 어려워요</b></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end talk_div">
                       <img src="{% static 'renewal/image/mms/mms_ans1.png' %}">
                        <div class="a_div">
                            <span><b>강력한 대시보드를 통한 시각적 통찰력을 얻어보세요</b></span><br/>
                            <span><b>실시간 데이터 연동으로 인사이트 결정을 지원합니다</b></span>
                        </div>
                    </div>
                </div>

                <div class="card-body d-grid" style="margin: 6% 5% 0 5%;">
                    <div class="talk_div">
                        <img src="{% static 'renewal/image/mms/mms_talk2.png' %}">
                        <div class="q_div">
                            <span><b>준공영제화를 고려한</b></span><br/>
                            <span><b>플랫폼 찾기 어려워요</b></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end talk_div">
                       <img src="{% static 'renewal/image/mms/mms_ans2.png' %}">
                        <div class="a_div">
                            <span><b>실시간 차량 데이터 관제를 통해 운행 효율성을 개선하세요</b></span><br/>
                            <span><b>서비스 품질 및 신뢰도에 대한 고민까지 해결해 드립니다.</b></span>
                        </div>
                    </div>
                </div>

                <div class="card-body d-grid" style="margin: 6% 5% 0 5%;">
                    <div class="talk_div">
                        <img src="{% static 'renewal/image/mms/mms_talk3.png' %}">
                        <div class="q_div">
                            <span><b>배차-경영-인사-재고 관리를</b></span><br/>
                            <span><b>하나의 플랫폼에서 하고 싶어요</b></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end talk_div">
                       <img src="{% static 'renewal/image/mms/mms_ans3.png' %}">
                        <div class="a_div">
                            <span><b>데이터 기반의 운전자 평가 및 에코 드라이빙을 실현하세요</b></span><br/>
                            <span><b>우리의 클라우드에서 원하는 모든 정보를 선택할 수 있습니다</b></span>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 8% 5% 0 5%;">
                    <div class="card-body">
                        <h3 style="font-weight: 700;font-size: 38px;">MMS 도입 효과</h3>
                        <div class="card-body row justify-content-center mt-5">
                            <div class="col-xl-4">
                                <div class="d-flex justify-content-center align-items-center tab_div">
                                    <span>비효율적인 업무 프로세스</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center tab_div mt-5">
                                    <span>분산된 시스템과 데이터</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center tab_div mt-5">
                                    <span>효율성 및 생산성 저하</span>
                                </div>
                            </div>
                            <div class="col-xl-1" style="margin-top: 1%;padding-left: 3.5%;">
                                <img src="{% static 'renewal/image/mms/mms_frame2.png' %}">
                            </div>
                            <div class="col-xl-7">
                                <div class="d-flex justify-content-center align-items-center tab_div">
                                    <span>주요 기능 데이터 연계 및 자동화, 실시간 모니터링</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center tab_div mt-5">
                                    <span>실시간 모니터링 디바이스를 활용한 지능화, 심층적인 인사이트 제공</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center tab_div mt-5">
                                    <span>다양한 IoT 기기 연계와 체계적인 데이터 관리로 경제 및 안전운전 실현</span>
                                </div>
                            </div>
                        </div>

                        <div class="card-body row mt-4">
                            <div class="sub_overlay row" style="color: white;">
                                <div class="down_div1">
                                    <img src="{% static 'renewal/image/ibt/card.png' %}">
                                    <div class="down_div2">
                                        <span><b>스마트팜 Button</b></span><br/>
                                        <span><b>소개서 다운로드</b></span>
                                    </div>
                                    <div class="down_div3">
                                        <a href="#"><span>바로가기</span></a>
                                    </div>
                                </div>

                                <div class="down_div1 ml-5">
                                    <img src="{% static 'renewal/image/ibt/card.png' %}">
                                    <div class="down_div2">
                                        <span><b>스마트팜 Button</b></span><br/>
                                        <span><b>구축 문의하기</b></span>
                                    </div>
                                    <div class="down_div3">
                                        <a href="#"><span>바로가기</span></a>
                                    </div>
                                </div>

                                <div class="down_div1 ml-5">
                                    <img src="{% static 'renewal/image/ibt/card.png' %}">
                                    <div class="down_div2">
                                        <span><b>더 많은 활용방안이</b></span><br/>
                                        <span><b>궁금하다면?</b></span>
                                    </div>
                                    <div class="down_div3">
                                        <a href="#"><span>BLOG 바로가기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
<script>
     $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            console.log("현재 스크롤 위치: " + scroll + "px");
            if (scroll >= 950) { // 852px 스크롤을 지났을 때
                $(".navbar").addClass("white-background");
                $(".main_logo img").attr("src", "{% static 'renewal/image/logo_A.png' %}");
                $(".menu_li > a").css("color", "#000");
            } else {
                $(".navbar").removeClass("white-background");
                $(".main_logo img").attr("src", "{% static 'renewal/image/logo_B.png' %}");
                $(".menu_li > a").css("color", "white");
            }
     })

     $(document).ready(function() {
         $('.left').addClass('btn_selected').css({
             'background-color': 'rgba(234, 234, 115, 1)',
             'color': 'black',
             'box-shadow': '0 0 0 0',
         });

         $('.btn_by').click(function () {
             $('.btn_by').css({
                 'background-color': '',
                 'color': '',
                 'box-shadow': '0 0 0 0',
             }).removeClass('btn_selected');

             $(this).css({
                 'background-color': 'rgba(234, 234, 115, 1)',
                 'color': 'black',
                 'box-shadow': '0 0 0 0',
             }).addClass('btn_selected');

             var imgSrc = $(this).data('img-src');
             $('#bussiness_model').attr('src', imgSrc);

         })
     })



</script>
</html>