{# 서비스 / MES 페이지 #}

{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'admin/css/seoul-soft_main.css' %}">
<!--menu 로드-->
<style>
    .white-background {
        background-color: rgba(255, 255, 255, 1) !important; /* 배경색을 흰색으로 설정 */
    }

    .slide-container {
        overflow: hidden;
    }

    .slide-image-wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide-image {
        width: 31%;
        margin-right: 3%;
    }

    .desc-ul {
        list-style: none; /* 기본 불릿 제거 */
        padding-left: 20px; /* 왼쪽 여백 */
        margin: 10px 0; /* 위아래 여백 */
    }

    .desc-li {
        position: relative; /* 불릿 위치 조정용 */
        font-size: 18px; /* 글자 크기 */
        font-weight: 400; /* 글자 두께 */
        line-height: 28px; /* 줄 간격 */
        color: #3E3A39; /* 글자 색상 */
        padding-left: -10px; /* 왼쪽 여백 */
    }

    .desc-li::before {
        content: "•"; /* 원형 불릿 */
        color: #d9d9d9; /* 불릿 색상 */
        position: absolute; /* 불릿 위치 절대값 설정 */
        left: 0; /* 불릿 왼쪽 정렬 */
        font-size: 30px; /* 불릿 크기 조정 */
        line-height: 30px; /* 불릿과 텍스트의 줄 맞춤 */
        width: 20px; /* 불릿과 텍스트 간격 조정 */
        margin-left: -25px; /* 불릿 가로 위치 조정 */
        margin-top: -5px; /* 불릿 세로 위치 조정 */
    }

    {#2025지원사업 팝업#}
    .popup-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        box-shadow: 0 0 10px gray;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .popup-image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }

    .popup-checkbox {
        margin-top: 10px;
        cursor: pointer;
    }


    @media (max-width: 1000px) {
        .layout-content-navbar {
            width : 1500px;
        }
        .footer {
            width : 1500px;
        }
    }

</style>
{% include 'menu.html' %}
<body class="menu_mes" style="overflow-x: hidden;">
<div class="layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page" id="layout_page">
            <!-- Content wrapper -->
            <div class="content-wrapper" style="background-color: rgba(248, 248, 248, 1)">

                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y row justify-content-center"
                     style="margin-bottom: 5%; position: relative;padding: 0 0 0 0;">
                    <img src="{% static 'renewal/image/mes/mes_main.png' %}" style="width: 105%;">
                    <div class="main_overlay" style="position: absolute; top: 70%; bottom: 11%; left: 16%; color: white;">
                        <h1 style="font-size: 42px; font-weight: 800; line-height: 50px;">MES</h1><br/>
                        <h2 style="font-size: 32px; font-weight: normal; line-height: 38px;">유연한 Architecture를 가진<br>
                        Cloud 기반의 통합 생산관리</h2>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="card-body d-flex justify-content-between align-items-center col-xl-10" style="padding: 0 8.5% 0 6%;">
                        <div class="card-body">
                            <h3 style="font-size: 32px; font-weight: 700; line-height: 38px;">MES</h3><br/>
                            <h3 style="font-size: 28px; font-weight: 400; line-height: 33px;">
                                공정에 따라 쉽게 확장이 가능한 MES를<br/>만나보세요. 대규모 데이터 수집 및 예측 분석을<br/>
                                통해 생산성과 경쟁력을 확보할 수 있습니다.</h3>
                            <a href="/menu/0106/"><img src="{% static 'renewal/image/mes/mes_q_btn.png' %}" style="margin: 5% 0 0 0;"></a>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{% static 'renewal/image/mes/monitorx2.png' %}"
                                 style="width: 631px; height: 505px;">
                        </div>
                    </div>

                    <div class="col-9 row justify-content-center" style="margin: 15% 0 0 0;">
                        <div class="d-flex justify-content-between">
                            <div class="card-body">
                                <div class="card-body col-12 white-background row justify-content-between"
                                     style="width: 660px; height: 270px; border-radius:12px;">
                                    <div class="col-4 row align-items-center justify-content-center">
                                        <img src="{% static 'renewal/image/mes/mes_card11.png' %}" width="75%" alt="saw_wheel">
                                    </div>
                                    <div class="col-9 row align-items-center my-4">
                                        <span style="font-size: 24px; font-weight: 500; line-height: 28px;"><b>클라우드 서버 기반 관리</b></span>
                                        <ul class="desc-ul" style="margin: 20px 0 0 0;">
                                            <li class="desc-li">접근성 확장을 통한 협업 및 업무의 유연성 강화</li>
                                            <li class="desc-li">유연한 요금 체계를 통한 비용 최적화</li>
                                            <li class="desc-li">리소스 확장 및 유지보수의 용이성</li>
                                            <li class="desc-li">데이터 및 집약 기술의 보안성</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="card-body col-12 white-background row justify-content-between"
                                     style="width: 660px; height: 270px; border-radius:12px;">
                                    <div class="col-4 row align-items-center justify-content-center">
                                        <img src="{% static 'renewal/image/mes/mes_card22.png' %}" width="75%" alt="phone">
                                    </div>
                                    <div class="col-9 row align-items-center my-4">
                                        <span style="font-size: 24px; font-weight: 500; line-height: 28px;"><b>대규모 데이터 수집 및 예측 분석</b></span>
                                        <ul class="desc-ul" style="margin: 20px 0 0 0;">
                                            <li class="desc-li">공정 오류 예측을 통한 생산 효율 극대화</li>
                                            <li class="desc-li">품질 및 고객 만족도 향상</li>
                                            <li class="desc-li">효율적인 자원 관리를 통한 비용 절감</li>
                                            <li class="desc-li">제품 수요 예측을 통한 시장 대응력 강화</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="card-body">
                                <div class="card-body col-12 white-background row justify-content-between"
                                     style="width: 660px; height: 270px; border-radius:12px;">
                                    <div class="col-4 row align-items-center justify-content-center">
                                        <img src="{% static 'renewal/image/mes/mes_card33.png' %}" width="75%" alt="thumb_up">
                                    </div>
                                    <div class="col-9 row align-items-center my-4">
                                        <span style="font-size: 24px; font-weight: 500; line-height: 28px;"><b>실시간 모니터링 및 시각화</b></span>
                                        <ul class="desc-ul" style="margin: 20px 0 0 0;">
                                            <li class="desc-li">생산 공정 문제 식별과 신속한 대응</li>
                                            <li class="desc-li">시각화 데이터를 통한 인사이트 확보</li>
                                            <li class="desc-li">생산자 및 관리자 간의 투명성 제고</li>
                                            <li class="desc-li">재고 과잉 및 부족 방지를 통한 재고 최적화</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="card-body col-12 white-background row justify-content-between"
                                     style="width: 660px; height: 270px; border-radius:12px;">
                                    <div class="col-4 row align-items-center justify-content-center">
                                        <img src="{% static 'renewal/image/mes/mes_card44.png' %}" width="75%" alt="four-leaf-clover">
                                    </div>
                                    <div class="col-9 row align-items-center my-4">
                                        <span style="font-size: 24px; font-weight: 500; line-height: 28px;"><b>맞춤화 서비스 진행</b></span>
                                        <ul class="desc-ul" style="margin: 20px 0 0 0;">
                                            <li class="desc-li">업종 및 고객 니즈에 맞는 커스터마이징</li>
                                            <li class="desc-li">규제 및 표준 준수 강화</li>
                                            <li class="desc-li">고객 서비스 및 만족도 향상</li>
                                            <li class="desc-li">성능 및 생산성 최적화</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-9 row justify-content-start" style="margin: 15% 0 0 5%;">
                        <div style="width: 465px; margin: auto 0 auto 0; padding: 0 0 0 0;">
                            <span style="color: #b21616; font-size: 28px; font-weight: 600; line-height: 33px;">강력한 대시보드</span><br/><br/>
                            <span style="font-size: 36px; font-weight: 600; line-height: 42px;"><b>한 눈에 알아보기 쉬운<br/>생산 프로세스 대시보드</b></span><br/><br/>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <img src="{% static 'renewal/image/mes/mes_main2.png' %}" style="width: 848px; height: 477px;" alt="mes_main2">
                        </div>
                    </div>

                    <div class="col-9 row justify-content-start" style="margin: 15% 0 0 5%;">
                        <div style="width: 465px; margin: auto 0 auto 0; padding: 0 0 0 0;">
                            <span style="color: #b21616; font-size: 28px; font-weight: 600; line-height: 33px;">재고관리를 완벽하게</span><br/><br/>
                            <span style="font-size: 36px; font-weight: 600; line-height: 42px;"><b>재고 회전율 최적화를 통한<br/>생산성 향상 및 경쟁력 강화</b></span><br/><br/>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <img src="{% static 'renewal/image/mes/mes_main3.png' %}" style="width: 848px; height: 477px;" alt="mes_main3">
                        </div>
                    </div>

                    <div class="col-9 row justify-content-start" style="margin: 15% 0 0 5%;">
                        <span style="font-size: 32px; font-weight: 700; line-height: 38px;">MES 주요 기능</span>
                        <div class="d-flex justify-content-between" style="margin: 3% -4% 0 -12%;">
                            <div style="margin: auto">
                                <button class="button-reset" id="prevBtn"><img src="{% static 'renewal/image/mes/mes_left.png' %}" width="80%;"></button>
                            </div>
                            <div class="slide-container" style="width: 80%; overflow: hidden; position: relative;">
                                <div class="slide-image-wrapper" style="display: flex; transition: transform 0.5s ease-in-out;" id="slider">
                                    <img class="slide-image" src="{% static 'renewal/image/mes/slide1.png' %}">
                                    <img class="slide-image" src="{% static 'renewal/image/mes/slide2.png' %}">
                                    <img class="slide-image" src="{% static 'renewal/image/mes/slide3.png' %}">
                                    <img class="slide-image" src="{% static 'renewal/image/mes/slide4.png' %}">
                                    <img class="slide-image" src="{% static 'renewal/image/mes/slide5.png' %}">
                                    <img class="slide-image" src="{% static 'renewal/image/mes/slide6.png' %}">
                                </div>
                            </div>
                            <div style="margin: auto">
                                <button class="button-reset" id="nextBtn"><img src="{% static 'renewal/image/mes/mes_right.png' %}" width="80%;"></button>
                            </div>
                        </div>

                        <div class="row justify-content-start" style="padding: 20% 0 0 1%;">
                            <div>
                                <div style="font-size: 32px; font-weight: 700; line-height: 38px; padding: 0 0 5% 0;">
                                    MES 도입 효과
                                </div>

                                <div class="card-body d-flex justify-content-start" style="padding: 0; margin: 0;">
                                    <div>
                                        <div class="d-flex justify-content-center align-items-center tab_div"
                                             style="width:340px; height: 86px; margin-bottom: 30px;">
                                            <span style="font-size: 24px; font-weight: 500; line-height: 28px;">공정 현황 파악의 한계</span>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center tab_div"
                                             style="width:340px; height: 86px; margin-bottom: 30px;">
                                            <span style="font-size: 24px; font-weight: 500; line-height: 28px;">데이터 수기 작성 및 수집 분석</span>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center tab_div"
                                             style="width:340px; height: 86px; margin-bottom: 30px;">
                                            <span style="font-size: 24px; font-weight: 500; line-height: 28px;">재고 파악 및 품질 관리의 한계</span>
                                        </div>
                                    </div>
                                    <div style="margin: 3% 2.5% 0 3%;">
                                        <img src="{% static 'renewal/image/mms/mms_frame2.png' %}"
                                             style="height:80%;" alt="mms_frame2">
                                    </div>
                                    <div>
                                        <div class="d-flex justify-content-center align-items-center tab_div"
                                             style="width:846px; height: 86px; margin-bottom: 30px;">
                                            <span style="font-size: 24px; font-weight: 500; line-height: 28px;">생산 과정 실시간 모니터링 및 신속한 대응</span>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center tab_div"
                                             style="width:846px; height: 86px; margin-bottom: 30px;">
                                            <span style="font-size: 24px; font-weight: 500; line-height: 28px;">클라우드 서버를 통한 자동화 데이터 수집 및 분석, 오류 감소</span>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center tab_div"
                                             style="width:846px; height: 86px; margin-bottom: 30px;">
                                            <span style="font-size: 24px; font-weight: 500; line-height: 28px;">쉬운 재고 파악 등 생산 일정 최적화를 통한 비용 절감, 품질 문제 분석 및 개선</span>
                                        </div>
                                    </div>
                                </div>
                                <hr style="border: 1px solid #000000;width: 105%; margin-top: 5%;"/>
                            </div>
                        </div>

                        <div class="col-10 row justify-content-start" style="padding: 3% 0 0 1%;">
                            <h3 style="font-size: 32px; font-weight: 700; line-height: 38px;">더 자세하게 알아보기</h3>
                        </div>

                        <div class="col-10 d-flex justify-content-start" style="margin: 3% 0 8% 8%;">
                            <div style="margin: 0 3.5% 0 0;">
                                <a href="/menu/010801/" onclick="return openPopup()" style="text-decoration: none;">
                                    <div class="card d-flex justify-content-center align-items-center" style="background: #ffffff; border: 1px solid #B5B6B6; border-radius: 8px; width: 416px; height: 97px;">
                                        <span style="font-size: 26px; font-weight: 600; line-height: 31px; color: #595757;">클라우드 MES 요금제 확인하기 &nbsp;
                                            <i class="fa-solid fa-download" style="color: #595757;"></i>
{#                                        <img src="{% static 'renewal/image/download_regular.png' %}" style="height: 34px; margin-left: 10px;" alt="download_regular">#}
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <div style="margin: 0 3.5% 0 0;">
                                <a href="/menu/0106/" style="text-decoration: none;">
                                    <div class="card d-flex justify-content-center align-items-center" style="background: #ffffff; border: 1px solid #B5B6B6; border-radius: 8px; width: 300px; height: 97px;">
                                        <span style="font-size: 26px; font-weight: 600; line-height: 31px; color: #595757;">MES 구축 문의하기 &nbsp;
                                            <i class="fa-solid fa-download" style="color: #595757;"></i>
{#                                        <img src="{% static 'renewal/image/download_regular.png' %}" style="height: 34px; margin-left: 10px;" alt="download_regular">#}
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="https://blog.naver.com/seoul-soft" style="text-decoration: none;">
                                    <div class="card d-flex justify-content-center align-items-center" style="background: #ffffff; border: 1px solid #B5B6B6; border-radius: 8px; width: 260px; height: 97px;">
                                        <span style="font-size: 26px; font-weight: 600; line-height: 31px; color: #595757;">BLOG 바로가기 &nbsp;
                                            <i class="fa-solid fa-arrow-down fa-rotate-by" style="color: #595757; --fa-rotate-angle: 230deg;"></i>
{#                                        <img src="{% static 'renewal/image/right_arrow.png' %}" style="height: 34px; margin-left: 10px;" alt="right_arrow">#}
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content-wrapper" style="background: linear-gradient(87.04deg, #F6F6F6 0.08%, #D8D8D8 99.92%);">
                    <div class="row justify-content-center" style="padding: 4% 0 0 0;">
                        <span style="font-size: 32px; font-weight: 600; line-height: 38px; color: #161519;"><b>MES 정부지원사업 확인하기</b></span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 row justify-content-center" style="padding: 3% 0 5% 0;">
                            <a href="https://www.semas.or.kr/web/SUP01/SUP01103.kmdc" style="text-decoration: none; padding: 0 8% 0 0;">
                                <div class="card white-background row justify-content-center"
                                     style="width: 480px; height: 220px; border-radius: 12px;">
                                    <div style="margin: 0 0 0 10%;">
                                        <span style="font-size: 28px; font-weight: 600; line-height: 33px; color: #161519;">스마트공방
                                            <i class="fa-solid fa-chevron-right fa-sm"></i><br/></span><br/>
                                        <span style="font-size: 24px; font-weight: 500; line-height: 28px; color: #595757;">상시근로자수 10인 미만의 제조업<br/>소공인 수작업 위주의 생산 현장 개선</span>
                                    </div>
                                </div>
                            </a>

                            <a href="https://sf.kbiz.or.kr/lmth/01info_01.html" style="text-decoration: none;">
                                <div class="card white-background row justify-content-center"
                                     style="width: 480px; height: 220px; border-radius: 12px;">
                                    <div style="margin: 0 0 0 10%;">
                                        <span style="font-size: 28px; font-weight: 600; line-height: 33px; color: #161519;">스마트팩토리
                                            <i class="fa-solid fa-chevron-right fa-sm"></i><br/></span><br/>
                                        <span style="font-size: 24px; font-weight: 500; line-height: 28px; color: #595757;">국내 중소 · 중견 기업<br/>생산성 향상 및 경쟁력 강화</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        // console.log("현재 스크롤 위치: " + scroll + "px");
        if (scroll >= 950) { // 852px 스크롤을 지났을 때
            $(".navbar").addClass("white-background");
            $(".main_logo img").attr("src", "{% static 'renewal/image/logo_A.png' %}");
            $(".menu_li > a").css("color", "#000");
        } else {
            $(".navbar").removeClass("white-background");
            $(".main_logo img").attr("src", "{% static 'renewal/image/logo_B.png' %}");
            $(".menu_li > a").css("color", "white");
        }
    })

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".menu_li > a").forEach(function (el) {el.style.color = "#fff";});
        let currentIndex = 0;
        const images = document.querySelectorAll('.slide-image');
        const totalImages = images.length;
        const visibleImages = 3;
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        const slider = document.getElementById('slider');

        nextBtn.addEventListener('click', function () {
            if (currentIndex < totalImages - visibleImages) {
                currentIndex++;
                updateSliderPosition();
            }
        });

        prevBtn.addEventListener('click', function () {
            if (currentIndex > 0) {
                currentIndex--;
                updateSliderPosition();
            }
        });

        function updateSliderPosition() {
            const offset = -(102 / visibleImages) * currentIndex;
            slider.style.transform = `translateX(${offset}%)`;
        }
    });

    function openPopup() {
        window.open('/menu/010801/', 'popup', 'width=1700,height=1000,scrollbars=yes,resizable=yes');
        return false;
    }



    {#2025 지원사업 팝업 영역#}

    function getToday() {
        let today = new Date();
        return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
    }

    function closePopup(popupId, storageKey) {
        localStorage.setItem(storageKey, getToday()); // 오늘 날짜 저장
        document.getElementById(popupId).remove(); // 팝업 닫기
    }

    function closePopupNoSave(popupId) {
        document.getElementById(popupId).remove(); // 팝업 닫기
    }

    function openPopupWindow(url) {
        window.open(url, "_blank", "width=1200,height=1000,scrollbars=yes,resizable=yes");
    }

    function createPopup(popupId, storageKey, imgSrc, linkUrl, position) {
        let lastClosedDate = localStorage.getItem(storageKey);
        if (lastClosedDate === getToday()) {
            return; // 오늘 이미 닫았으면 팝업 생성 안 함
        }
        
        let popup = document.createElement("div");
        popup.id = popupId;
        popup.classList.add("popup-container");

        // 팝업 위치 지정
        popup.style.top = position.top;
        popup.style.left = position.left;
        popup.style.width = position.width;
        popup.style.transform = "translate(-50%, -50%)";

        popup.innerHTML = `
            <div class="popup-image" style="background-image: url('${imgSrc}'); cursor: pointer;"
                 onclick="openPopupWindow('${linkUrl}')">
            </div>
            <div class="popup-content d-flex justify-content-between align-items-center px-3 w-100">
                <label class="popup-checkbox">
                    <input type="checkbox" id="doNotShow_${popupId}" onclick="closePopup('${popupId}', '${storageKey}')">
                    오늘 하루 열지 않음
                </label>
                <div class="btn btn-sm btn-secondary" style="height: 30px;" onclick="closePopupNoSave('${popupId}')">닫기</div>
            </div>
        `;

        document.body.appendChild(popup);
    }

    window.onload = function () {
        createPopup(
            "2025_popup_1",
            "popupClosedDate_1",
            "/static/img/2025_popup_1.jpg",
            "https://docs.google.com/forms/d/e/1FAIpQLSdX389nEmgAAz1jPIeVzEcaslqVNkE_LrRwbKs3QFhfbWF0xw/viewform",
            { top: "40%", left: "40%", width: "300px" } // 첫 번째 팝업 위치
        );
        createPopup(
            "2025_popup_2",
            "popupClosedDate_2",
            "/static/img/2025_popup_2.jpg",
            "https://blog.naver.com/seoul-soft/223746306586",
            { top: "40%", left: "60%", width: "280px" } // 두 번째 팝업 위치
        );
    };


</script>
</html>