{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'admin/css/seoul-soft_main.css' %}">
<!--menu 로드-->
<style>
    .white-background {
        background-color: rgba(255, 255, 255, 1) !important; /* 배경색을 흰색으로 설정 */
    }

    .custom_btn > button {
        background-color: rgba(239, 239, 239, 1);
        color: rgba(137, 137, 137, 1);
        border: 0;
        border-radius: 21px;
    }

    .custom_btn > button:hover {
        background-color: rgba(234, 234, 115, 1);
        color: black;
    }

    .custom_btn > button:active {
        background-color: rgba(234, 234, 115, 1);
        color: black;
    }

    .custom_btn > button:focus {
        box-shadow: 0 0 0 0;
    }

</style>
{% include 'menu.html' %}
<body class="menu_ibt">
<div class="layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page" id="layout_page">
            <!-- Content wrapper -->
            <div class="content-wrapper" style="background-color: rgba(248, 248, 248, 1)">

                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y row justify-content-center" style="margin-bottom: 5%; position: relative;">
                    <img src="{% static 'renewal/image/ibt/ibt_main.png' %}" style="width: 1903px;">
                    <div class="main_overlay" style="position: absolute; bottom: 11%; left: 7%; color: white;">
                        <h1 style="font-weight: 800">I.B.T(바이오융합)</h1><br/>
                        <h2>스마트팜 Button Platform을 통한</h2>
                        <h2>농업과 바이오산업의 혁신 선도</h2>
                    </div>
                </div>

                <div class="card-body" style="padding: 0 6.5% 0 6.5%;">
                    <div class="row">
                        <div class="col-xl-6">
                            <h3><b style="font-size: 38px;font-weight: 800">I.B.T(바이오융합)</b></h3><br/><br/>
                            <h3 style="font-size: 32px;font-weight: 400;">수익보장형 스마트팜 Button으로 6차 농업 융복합 실현.</h3>
                            <h3 style="font-size: 32px;font-weight: 400">지능형 시스템과 바이오융합 기술 결합으로 혁신을 선도합니다.</h3>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-flex justify-content-center" style="padding-top: 10%">
                                <img src="{% static 'renewal/image/ibt/button_logo.png' %}">
                            </div>
                            <div class="d-flex justify-content-end" style="padding-top: 10%">
                                <a href="#"><img src="{% static 'renewal/image/ibt/button_q_btn.png' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="background-color: rgba(234, 234, 115, 1); margin: 5% 7% 5% 7%; height: 30vh;">
                    <div class="row justify-content-center">
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/button_e_1.png' %}">
                            <div class="img_card2">
                                <span>원격</span><br/>
                                <span>자동제어</span><br/>
                                <span>모니터링</span>
                            </div>
                        </div>
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/button_e_2.png' %}">
                            <div class="img_card2">
                                <span>Button</span><br/>
                                <span>Platform</span><br/>
                                <span style="font-size: 20px">Data 수집 및 분석</span>
                            </div>
                        </div>
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/button_e_3.png' %}">
                            <div class="img_card2">
                                <span>기능성</span><br/>
                                <span>원료개발</span><br/>
                                <span>BIO / R&D</span>
                            </div>
                        </div>
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/button_e_4.png' %}">
                            <div class="img_card2">
                                <span>고부가가치</span><br/>
                                <span>기능성 제품</span><br/>
                            </div>
                        </div>
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/button_e_5.png' %}">
                            <div class="img_card2">
                                <span>유통 • 판매</span><br/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 8% 7% 0 7%;">
                    <div class="card-body" style="width: 50%;">
                        <div class="card-body col-xl-12 white-background row justify-content-center">
                            <div class="col-xl-5 mt-4">
                                <img src="{% static 'renewal/image/ibt/saw_wheel.png' %}">
                            </div>
                            <div class="col-xl-6 mt-5 mb-5 ex4_div">
                                <p><b>클러스터형 스마트팜</b></p>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">최신 기술 및 데이터 분석을 통한 지속 가능성</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">농장 간의 지식 공유를 통한 생산성 향상</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">자원 사용 최적화를 통한 환경 친화적 농업 실현</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">농업 지역의 경제적인 다양성 증가</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="width: 50%;">
                        <div class="card-body col-xl-12 white-background row justify-content-center">
                            <div class="col-xl-5 mt-4">
                                <img src="{% static 'renewal/image/ibt/phone.png' %}">
                            </div>
                            <div class="col-xl-6 mt-5 mb-5 ex4_div">
                                <p><b>손쉬운 농작물 관리</b></p>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">전용 APP 을 활용한 원격관리와 환경제어</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">CCTV 를 통한 24시간 다각도 실시간 모니터링</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">자동제어로 간편한 관리 및 균일한 품질 보장</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">실시간 알림 제공을 통한 위험요소 감소</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 1% 7% 8% 7%;">
                    <div class="card-body" style="width: 50%;">
                        <div class="card-body col-xl-12 white-background row justify-content-center">
                            <div class="col-xl-5 mt-4">
                                <img src="{% static 'renewal/image/ibt/thumb_up.png' %}">
                            </div>
                            <div class="col-xl-6 mt-5 mb-5 ex4_div">
                                <p><b>안정적인 생산환경 제공</b></p>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">생산성 극대화 및 수익 증대</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">예측 가능한 생산 일정을 통한 생산량 최적화</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">농작물 생산의 신뢰성 향상을 통한 브랜드 가치 상승</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">품질 관리를 통한 시장 경쟁력 상승</h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="width: 50%;">
                        <div class="card-body col-xl-12 white-background row justify-content-center">
                            <div class="col-xl-5 mt-4">
                                <img src="{% static 'renewal/image/ibt/four-leaf-clover.png' %}">
                            </div>
                            <div class="col-xl-6 mt-5 mb-5 ex4_div">
                                <p><b>농작물 활용 기능성 원료 개발</b></p>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">안정성과 품질이 보장된 원료</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">다양한 품종의 고부가 가치 작물 확보</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">지속 가능한 농업 및 자원 활용 촉진</h6>
                                <h6><img src="{% static 'renewal/image/ibt/Ellipse 340.png' %}">새로운 제품과 기술 개발을 통한 산업 구조 혁신</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body row justify-content-center">
                    <div style="margin: auto">
                        <span style="font-size: 42px"><b>모바일 원격관리 자동제어 기능으로</b></span><br/>
                        <span style="font-size: 42px"><b>진입장벽 없는 스마트팜을 경험해보세요</b></span>
                        <p class="mt-4" style="color: rgba(137, 137, 137, 1);font-size: 16px;">*디바이스 운영 체계에 따라 상이할 수 있음</p>
                    </div>
                    <div style="margin: auto">
                        <img src="{% static 'renewal/image/ibt/phone2.png' %}">
                    </div>
                </div>

                <div class="card-body row justify-content-center" style="margin-top: 5%;">
                    <div style="padding: 15% 0 0 6%;">
                        <span style="font-size: 42px"><b>영농일지를 통해 농작물의 성장과정을 추적</b></span><br/>
                        <span style="font-size: 42px"><b>품질 및 생산성을 향상시켜보세요</b></span>
                    </div>
                    <div style="margin: auto">
                        <img src="{% static 'renewal/image/ibt/phone3.png' %}">
                    </div>
                </div>

                <div class="card-body" style="margin: 5% 7% 8% 7%;">
                    <div class="row justify-content-between">
                        <div>
                            <span style="font-size: 38px;"><b>Smart Farm</b></span><br/>
                            <span style="font-size: 28px;">다원화된 수익기반형 사업모델</span>
                        </div>
                        <div>
{#                            <img src="{% static 'renewal/image/ibt/Component 1.png' %}">#}
                            <div class="btn-group custom_btn mt-5" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn_by left" data-img-src="{% static 'renewal/image/ibt/사업모델.png' %}">수익공유 상생협력형</button>
                                <button type="button" class="btn btn_by middle" data-img-src="{% static 'renewal/image/ibt/구독형.png' %}">구독형</button>
                                <button type="button" class="btn btn_by right" data-img-src="{% static 'renewal/image/ibt/창업형.png' %}">창업형</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 row justify-content-center">
                        <img id="bussiness_model" src="{% static 'renewal/image/ibt/사업모델.png' %}" width="90%">
                    </div>
                </div>

                <div class="card-body" style="margin: 5% 7% 8% 7%;">
                    <div class="row">
                        <div>
                            <span style="font-size: 38px;"><b>R&D</b></span><br/>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="card-body relative_div">
                            <img src="{% static 'renewal/image/ibt/randd1.png' %}">
                            <div class="rnd_div">
                                <span>질병 연관성 연구</span>
                            </div>
                        </div>
                        <div class="card-body relative_div">
                            <img src="{% static 'renewal/image/ibt/randd2.png' %}">
                            <div class="rnd_div">
                                <span>기능성 식품 개발</span>
                            </div>
                        </div>
                        <div class="card-body relative_div">
                            <img src="{% static 'renewal/image/ibt/randd3.png' %}">
                            <div class="rnd_div">
                                <span>기능성 화장품 개발</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid flex-grow-1 container-p-y row justify-content-center"
                     style="position: relative;">
                    <img src="{% static 'renewal/image/ibt/ibt_main2.png' %}" style="width: 1903px">
                    <div class="sub_overlay" style="position: absolute; top: 10%; left: 9%; color: white;">
                        <p style="font-size: 38px"><b>기능성 식품</b></p>
                        <span style="font-size: 34px;line-height: 42px;">식품첨가물 등 맞춤형 소재 개발로</span><br/>
                        <p style="font-size: 34px;line-height: 42px;">OEM / ODM 방식을 구축하고 있습니다.</p><br/>
                        <span style="font-size: 24px">스마트팜 Button에서 재배한 참송이버섯을</span><br/>
                        <p style="font-size: 24px">천연조미료로 가공하여 고부가 가치를 이끌어 내고 있습니다.</p><br/>
                        <a href="#"><img src="{% static 'renewal/image/ibt/more_btn.png' %}" style="width: 60%"></a>
                    </div>
                    <div class="sub_overlay row" style="position: absolute; bottom: 7%; left: 9%; color: white;">
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/card.png' %}">
                            <div class="down_div2">
                                <span><b>스마트팜 Button</b></span><br/>
                                <span><b>소개서 다운로드</b></span>
                            </div>
                            <div class="down_div3">
                                <a href="#"><span>바로가기</span></a>
                            </div>
                        </div>
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/card.png' %}">
                            <div class="down_div2">
                                <span><b>스마트팜 Button</b></span><br/>
                                <span><b>구축 문의하기</b></span>
                            </div>
                            <div class="down_div3">
                                <a href="#"><span>바로가기</span></a>
                            </div>
                        </div>
                        <div class="relative_div">
                            <img src="{% static 'renewal/image/ibt/card.png' %}">
                            <div class="down_div2">
                                <span><b>더 많은 활용방안이</b></span><br/>
                                <span><b>궁금하다면?</b></span>
                            </div>
                            <div class="down_div3">
                                <a href="#"><span>BLOG 바로가기</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
<script>
     $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            console.log("현재 스크롤 위치: " + scroll + "px");
            if (scroll >= 950) { // 852px 스크롤을 지났을 때
                $(".navbar").addClass("white-background");
                $(".main_logo img").attr("src", "{% static 'renewal/image/logo_A.png' %}");
                $(".menu_li > a").css("color", "#000");
            } else {
                $(".navbar").removeClass("white-background");
            }
     })

     $(document).ready(function() {
         $('.left').addClass('btn_selected').css({
             'background-color': 'rgba(234, 234, 115, 1)',
             'color': 'black',
             'box-shadow': '0 0 0 0',
         });

         $('.btn_by').click(function () {
             $('.btn_by').css({
                 'background-color': '',
                 'color': '',
                 'box-shadow': '0 0 0 0',
             }).removeClass('btn_selected');

             $(this).css({
                 'background-color': 'rgba(234, 234, 115, 1)',
                 'color': 'black',
                 'box-shadow': '0 0 0 0',
             }).addClass('btn_selected');

             var imgSrc = $(this).data('img-src');
             $('#bussiness_model').attr('src', imgSrc);

         })
     })



</script>
</html>