{% load static %}
<!DOCTYPE html>

<meta charset="UTF-8">
{% include 'admins/admin_header.html' %}
<style>
    /* 모바일웹 텍스트 줄바꿈 방지 */
    .table td, .table th {
        white-space: nowrap;
    }

    .attached_hover:hover {
        text-decoration: underline;
        color: midnightblue !important;
    }

    @media (max-width: 1000px) {
        .control-buttons {
            height: 40px;
        }

    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/topnav.html' %}

            <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column px-3 pb-2">
                <div class="mb-xl-0 mb-4">
                    <div class="d-flex svg-illustration mb-2 gap-2">
                        <a href="{% url 'apv_list' %}">
                            <strong style="color: #000; font-size: x-large; margin-left: 20px; font-family: Pretendard;"></i><i class="fa-regular fa-file-lines" style="color: #000000;"></i>&nbsp; 전자결재</strong></a>
                    </div>
                </div>
            </div>

            <div class="px-4">
                <div id="template_include" style="border: 1px solid #ddd; padding: 2% 0 2% 0;"></div>

                <div class="d-flex justify-content-end py-4">
                    <div type="button" class="btn btn-outline-danger mx-2" style="width: 150px;"
                         onclick="apv_delete()"> 삭 제
                    </div>
                    <div type="button" class="btn btn-outline-secondary mx-2" style="width: 150px;"
                         onclick="apv_tempsave()"> 임시 저장
                    </div>
                    <div type="button" class="btn btn-outline-info mx-2" style="width: 150px;"
                         onclick="apv_modal_approvalsend()"> 결재 전송
                    </div>
                    <a href="{% url 'apv_list' %}" class="btn btn-outline-warning mx-2" style="width: 150px;">목록 보기</a>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
{% include 'admins/admin_footer.html' %}

<script>

    let currentUrl = window.location.href;
    let apv_click_id = currentUrl.split("/").slice(-2, -1)[0];

    $(function () {
        load_apv_detail()
    });

    function loadTemplateScripts() {

    }

    function load_apv_detail() {
        let query = "?apv_id=" + apv_click_id;
        api_gp("/admins/apv/detail/" + query, "get", {}, (done) => {
            draw_apv_detail(done);
        })
    }

    function draw_apv_detail(done) {
        console.log("draw_apv_temp_update: ", done);
        let data = done.results[0];

        categoryId = data.apv_category.id;
        fetch(`/admins/apv/detail_temp/${categoryId}`)
            .then(response => response.text())
            .then(templateData => {
                loadTemplateScripts();
                document.getElementById('template_include').innerHTML = templateData;
                document.getElementById('doc_title').value = data.doc_title;
                document.getElementById('doc_no').value = data.doc_no;
                document.getElementById('create_date').value = data.updated_at;
                document.getElementById('username_md').value = data.created_by.username;
                document.getElementById('team').value = data.created_by.department_position;
                document.getElementById('leave_reason').value = data.leave_reason;
                document.getElementById('period_from').value = data.period_from;
                document.getElementById('period_to').value = data.period_to;
                document.getElementById('period_count').value = data.period_count;
                document.getElementById('special_comment').value = data.special_comment;

                draw_apv_approval_flow(data);
                draw_apv_cc_users(data);
                draw_apv_attached_files(data);
                draw_comments(data);

            })

            .catch(error => {
                console.error('Error loading category detail:', error);
            });
    }

    function draw_apv_attached_files(data) {
        let attachedFilesDiv = document.getElementById('attached_files');
        attachedFilesDiv.innerHTML = '';

        let iconClassMap = {
            'default': 'fa-regular fa-file fa-lg',
            'txt': 'fa-regular fa-file-lines fa-lg',
            'hwp': 'fa-regular fa-file-lines fa-lg',
            'hwpx': 'fa-regular fa-file-lines fa-lg',
            'jpg': 'fa-regular fa-file-image fa-lg',
            'png': 'fa-regular fa-file-image fa-lg',
            'pdf': 'fa-regular fa-file-powerpoint fa-lg',
            'doc': 'fa-regular fa-file-word fa-lg',
            'docx': 'fa-regular fa-file-word fa-lg',
            'ppt': 'fa-regular fa-file-powerpoint fa-lg',
            'pptx': 'fa-regular fa-file-powerpoint fa-lg',
            'xls': 'fa-regular fa-file-excel fa-lg',
            'xlsx': 'fa-regular fa-file-excel fa-lg',
            'zip': 'fa-regular fa-file-zipper fa-lg',
        };

        // 첨부 파일 데이터를 순회하여 링크 요소를 생성
        data.attachments.forEach((attachment, index) => {
            let fileLink = document.createElement('a');
            fileLink.href = attachment.file;

            let decodedUrl = decodeURIComponent(attachment.file);
            let fileName = decodedUrl.split('/').pop(); // URL에서 파일명 추출
            let fileExtension = fileName.split('.').pop().toLowerCase(); // 파일명에서 확장자 추출 및 소문자로 변환

            // 아이콘 클래스 설정
            let iconClass = iconClassMap[fileExtension] || iconClassMap['default'];
            let iconElement = document.createElement('i');
            iconElement.className = iconClass;
            iconElement.style.marginRight = '8px'; // 아이콘과 텍스트 사이에 여백 추가

            // 링크 텍스트 설정
            {#fileLink.textContent = `첨부${index + 1} : ` + fileName;#}
            fileLink.textContent = fileName;
            fileLink.insertBefore(iconElement, fileLink.firstChild);

            // 동적 확장자를 포함한 다운로드 파일명 설정
            fileLink.setAttribute('download', `파일_${index + 1}.${fileExtension}`);

            // 링크 텍스트 스타일 설정
            fileLink.style.color = '#343a40';
            fileLink.style.display = 'inline-block'; // 인라인 블록으로 설정하여 아이콘과 텍스트가 같은 줄에 오게 함
            fileLink.style.fontSize = '16px'; // 글자 크기 설정
            fileLink.classList.add('attached_hover'); // 클래스 추가

            // 링크 요소를 블록으로 표시
            let fileContainer = document.createElement('div');
            fileContainer.appendChild(fileLink);
            fileContainer.style.display = 'block'; // 각 파일을 블록으로 표시

            // 첨부 파일 div에 링크 요소 추가
            attachedFilesDiv.appendChild(fileContainer);
        });
    }


    function draw_apv_cc_users(data) {
        let apvCcDiv = document.getElementById('apv_cc');
        let apvCcList = apvCcDiv.querySelector('ul');
        apvCcList.innerHTML = ''; // 기존 내용을 비움

        if (!data.apv_cc) {
            return;
        }

        let createCcUserDiv = (username, departmentName, profile_image) => {
            return `
            <li style="display: flex; align-items: center; padding: 10px;">
                <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-right: 10px;">
                    <img src="${profile_image}" alt="Avatar"
                         style="width: 100%; height: 100%;">
                </div>
                <div><span style="">${departmentName}<br/>${username}</span></div>
            </li>
        `;
        };

        data.apv_cc.forEach(cc => {
            apvCcList.innerHTML += createCcUserDiv(cc.username, cc.departmentName || '', cc.profile_image );
        });
    }


    function draw_apv_approval_flow(data) {
        let approvalFlowDiv = document.getElementById('approval_flow');
        approvalFlowDiv.innerHTML = ''; // 기존 내용을 비움

        let createApproverDiv = (title, name, date, status, imageSrc) => {
            let statusBadge = status === '완료' ? 'text-bg-success' : 'text-bg-primary';
            return `
            <div class="px-3" style="text-align: center;">
                <div class="my-1" style="font-size: 14px; font-weight: bold; color: #555;">${title}</div>
                <img class="mb-3" src="${imageSrc}" alt="${name}"
                     style="border-radius: 50%; width: 80px; height: 80px; object-fit: cover; display: block; margin: 0 auto;">
                <div class="my-0" style="font-weight: bold; white-space: nowrap;">${name}</div>
                <div class="my-0" style="font-size: 14px; color: #555;">${date}</div>
                <div class="my-2" style="font-size: 16px; color: #555;"><span class="badge ${statusBadge}">${status}</span></div>
            </div>
        `;
        };

        let approvers = [
            {
                title: '작성자',
                name: data.created_by.username,
                date: data.updated_at,
                status: '완료',
                imageSrc: data.created_by.profile_image,
            },
            {
                title: '승인자1',
                name: data.approvers[0]?.approver1_name,
                date: data.updated_at,
                status: data.approvers[0]?.approver1_status,
                imageSrc: data.approvers[0]?.approver1_img,
            },
            {
                title: '승인자2',
                name: data.approvers[0]?.approver2_name,
                date: data.updated_at,
                status: data.approvers[0]?.approver2_status,
                imageSrc: data.approvers[0]?.approver2_img,
            },
            {
                title: '승인자3',
                name: data.approvers[0]?.approver3_name,
                date: data.updated_at,
                status: data.approvers[0]?.approver3_status,
                imageSrc: data.approvers[0]?.approver3_img,
            },
            {
                title: '승인자4',
                name: data.approvers[0]?.approver4_name,
                date: data.updated_at,
                status: data.approvers[0]?.approver4_status,
                imageSrc: data.approvers[0]?.approver4_img,
            },
            {
                title: '승인자5',
                name: data.approvers[0]?.approver5_name,
                date: data.updated_at,
                status: data.approvers[0]?.approver5_status,
                imageSrc: data.approvers[0]?.approver5_img,
            },
            {
                title: '승인자6',
                name: data.approvers[0]?.approver6_name,
                date: data.updated_at,
                status: data.approvers[0]?.approver6_status,
                imageSrc: data.approvers[0]?.approver6_img,
            }
        ];

        approvers.forEach((approver, index) => {
            if (approver.name) {
                approvalFlowDiv.innerHTML += createApproverDiv(approver.title, approver.name, approver.date, approver.status, approver.imageSrc);
                if (index < approvers.length - 1 && approvers[index + 1].name) {
                    approvalFlowDiv.innerHTML += `<div style="font-size: 24px; color: #999; margin: 0 10px 0 10px;">→</div>`;
                }
            }
        });
    }

    function draw_comments(data) {
        let commentListDiv = document.getElementById('comment_list');
        commentListDiv.innerHTML = ''; // 기존 내용을 비움

        if (!data.comments || data.comments.length === 0) {
            commentListDiv.innerHTML = '<div style="font-size: 16px; color: #999;">등록된 추가 의견이 없습니다.</div>';
            return;
        }

        let formatDateTime = (dateString) => {
            let date = new Date(dateString);
            let year = date.getFullYear();
            let month = String(date.getMonth() + 1).padStart(2, '0');
            let day = String(date.getDate()).padStart(2, '0');
            let hours = date.getHours();
            let minutes = String(date.getMinutes()).padStart(2, '0');
            let period = hours < 12 ? '오전' : '오후';
            hours = hours % 12 || 12; // 12시간제로 변경

            return `${year}-${month}-${day} ${period} ${String(hours).padStart(2, '0')}:${minutes}`;
        };

        let createCommentDiv = (profile_image, username, date, content) => {
            return `
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <img src="${profile_image}" alt="프로필 사진"
                     style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                <div style="font-size: 16px;">
                    <strong>${username}</strong> <span style="color: #999; margin-left: 10px;">${date}</span>
                    <br>
                    ${content}
                </div>
            </div>
        `;
        };

        // createDocumentFragment를 사용하여 성능 개선
        let fragment = document.createDocumentFragment();
        data.comments.forEach(comment => {
            let commentDiv = document.createElement('div');
            let formattedDate = formatDateTime(comment.created_at);
            commentDiv.innerHTML = createCommentDiv(comment.created_by.profile_image, comment.created_by.username, formattedDate, comment.content);
            fragment.appendChild(commentDiv);
        });
        commentListDiv.appendChild(fragment);
    }

    function apv_delete() {
        if (confirm('전자결재를 삭제하시겠습니까?')) {
            let api_data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                pk: nullapply(apv_click_id),
                }

            api_gp('/admins/apv/delete/', 'post', api_data, (done) => {
                    alert(txt.delete_ed);
                    location.href = "/admins/apv/";
            });

        } else {
            alert(txt.cancel);
        }
    }

    function create_comment() {
        let api_data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            document: apv_click_id,
            content: content,
        };

        let attachedFiles = document.getElementById('attached_files').files;
        let fileReadCount = 0;

        function sendApiRequest() {
            api_gp('/admins/apv/create/', 'post', api_data, (done) => {
                $('#apv_md_create').modal("hide");
                apv_nation.page = 1;  // 첫 페이지로
                search_apv_data();
                alert(txt.create_ed);
            });
        }

        function readFileAndAddToApiData(file, index) {
            let reader = new FileReader();
            reader.onload = function(event) {
                let fileData = {
                    name: file.name,
                    type: file.type,
                    size: file.size,
                    content: event.target.result.split(',')[1] // Base64 데이터 부분만 추출
                };
                api_data.attached_files.push(fileData);
                fileReadCount++;
                if (fileReadCount === attachedFiles.length) {
                    sendApiRequest();
                }
            };
            reader.readAsDataURL(file);
        }

        if (attachedFiles.length > 0) {
            for (let i = 0; i < attachedFiles.length; i++) {
                readFileAndAddToApiData(attachedFiles[i], i);
            }
        } else {
            sendApiRequest();
        }
    }

</script>