<style>
    .list-group {
        list-style-type: none;
        padding: 0 20px 0 0;
        margin: 0;
        width: 300px; /* 원하는 너비로 조정 가능 */
    }

    .list-group-item {
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        display: block;
    }

    .list-group-item:hover {
        background-color: #0079fb;
        border-color: #0079fb;
        color: #ffffff;
    }

    .list-group-item.active {
        background-color: #0079fb !important;
        border-color: #0079fb !important;
        color: #ffffff !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header" style="background:white; height: 50px;">
        <strong style="color: #000; font-size: x-large; margin: 10px 0 0 20px; font-family: Pretendard;">신규 결재
            작성</strong></a>
    </div>
    <div class="modal-body w-100 d-flex" style="height:750px;">
        <!-- 결재 종류 선택 영역 -->
        <div class="col-12 d-flex">
            <div class="col-2">
                <div class="d-flex align-items-center p-2">
                    <i class="fa-regular fa-folder-open fa-lg" style="color: #000;"></i>
                    <span style="color: #000; font-size: 18px; padding-left: 10px;">결재양식 선택</span>
                </div>
                <div class="p-1" id="category_list"
                     style="border: 1px solid #ddd; width:80%; max-height: 600px; overflow-y: auto;"></div>
            </div>
            <div class="col-10">
                <div id="template_include" style="overflow-y: auto;">
                    <div class="d-flex justify-content-center" style="margin-top: 25%;">결재양식을 선택해 주세요</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
        <div class="col-6 d-flex justify-content-end">
            <div type="button" class="btn btn-outline-secondary mx-2" style="width: 150px;" onclick="apv_modal_tempsave()"> 임시 저장 </div>
            <div type="button" class="btn btn-outline-info mx-2" style="width: 150px;" onclick="apv_modal_approvalsend()"> 결재 전송 </div>
            <div type="button" class="btn btn-outline-danger mx-2" style="width: 150px;" data-bs-dismiss="modal"> 닫기 </div>
        </div>
    </div>
</div>

<script>

    let categoryName = '';
    let categoryId = '';

    $(function () {
        get_apv_category();
    });

    function get_apv_category() {
        api_gp("/admins/apv/category/", "get", {}, (done) => {
            console.log("category :", done);

            let categoryList = document.getElementById('category_list');
            categoryList.innerHTML = ''; // 기존 항목 초기화

            done.forEach(category => {
                let listItem = document.createElement('a');
                listItem.className = 'list-group-item list-group-item-action';
                listItem.textContent = ' ' + category.name;
                listItem.href = "javascript:void(0);";

                let icon = document.createElement('i');
                icon.className = 'fa-regular fa-file';
                listItem.prepend(icon);

                listItem.onclick = function () {
                    if (confirm(`${category.name} 전자결재를 작성하시겠습니까?\n현재 작성중인 문서는 초기화됩니다.`)) {
                        document.querySelectorAll('.list-group-item').forEach(item => {
                            item.classList.remove('active');
                        });
                        this.classList.add('active');

                        categoryName = category.name;
                        categoryId = category.id;

                        loadCategoryTemplate();
                    }
                };
                categoryList.appendChild(listItem);
            });
        });
    }

    function loadCategoryTemplate() {
        fetch(`category/${categoryId}`)
            .then(response => response.text())
            .then(data => {
                document.getElementById('template_include').innerHTML = data;
                loadTemplateScripts();
            })
            .catch(error => {
                console.error('Error loading category detail:', error);
            });
    }

    function loadTemplateScripts() {
        $(document).ready(function () {
            $('#period_from, #period_to').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });

            $('#period_from, #period_to, #period_from_half, #period_to_half').change(function () {
                updatePeriodToOptions();
                calculatePeriod();
            });
            updatePeriodToOptions();
        });

        loadCreateDate();
    }

    function loadCreateDate() {
        let createDateInput = document.getElementById('create_date');
        let days = ['일', '월', '화', '수', '목', '금', '토'];
        let now = new Date();
        let year = now.getFullYear();
        let month = ('0' + (now.getMonth() + 1)).slice(-2);
        let day = ('0' + now.getDate()).slice(-2);
        let weekDay = days[now.getDay()];
        let formattedDate = year + '-' + month + '-' + day + ' (' + weekDay + ')';
        let simepleDate = year.toString().slice(-2) + month + day
        createDateInput.value = formattedDate;

        document.getElementById('username_md').value = loginInfo.username;
        document.getElementById('team').value = loginInfo.department_position_name;
        if (categoryName === "휴가신청서") {
            document.getElementById('doc_title').value = '[' + categoryName + '] ' + loginInfo.department_position_name + ' ' + loginInfo.username + ' ' + simepleDate;
        }
        if (categoryName === "지출결의서") {
            document.getElementById('doc_title').value =  '[' + categoryName + '] ' + '이 곳을 클릭하여 제목을 입력하세요';
        }

    }

    function calculatePeriod() {
        let periodFrom = $('#period_from').val();
        let periodTo = $('#period_to').val();
        let periodFromHalf = $('#period_from_half').val();
        let periodToHalf = $('#period_to_half').val();
        let periodCount = $('#period_count');

        let fromDate = new Date(periodFrom);
        let toDate = new Date(periodTo);

        if (isNaN(fromDate) || isNaN(toDate)) {
            periodCount.val('');
            return;
        }

        if (fromDate > toDate) {
            alert("시작 날짜는 종료 날짜보다 나중일 수 없습니다.");
            periodCount.val('');
            return;
        }

        let daysDiff = 0;
        let currentDate = fromDate;
        while (currentDate <= toDate) {
            let dayOfWeek = currentDate.getDay();
            if (dayOfWeek !== 0 && dayOfWeek !== 6) { // 일요일(0)과 토요일(6) 제외
                daysDiff++;
            }
            currentDate.setDate(currentDate.getDate() + 1);
        }

        if (fromDate.getTime() === toDate.getTime()) {
            if (periodFromHalf === 'am' && periodToHalf === 'pm') {
                daysDiff = 1; // 같은 날 오전과 오후를 선택하면 1일로 계산
            } else if (periodFromHalf === 'pm' && periodToHalf === 'am') {
                daysDiff = 0; // 같은 날 오후와 오전을 선택하면 0일로 계산
            } else if (periodFromHalf !== periodToHalf) {
                daysDiff = 0.5; // 같은 날 오전과 오후가 다른 경우 반나절로 계산
            }
        } else {
            if (periodFromHalf === 'pm') {
                daysDiff -= 0.5; // 시작일이 오후면 반나절 차감
            }
            if (periodToHalf === 'am') {
                daysDiff -= 0.5; // 종료일이 오전이면 반나절 차감
            }
        }

        if (daysDiff >= 0.5) {
            periodCount.val(daysDiff);
        } else {
            periodCount.val('');
        }
    }

    function updatePeriodToOptions() {
        let periodFrom = $('#period_from').val();
        let periodFromHalf = $('#period_from_half').val();
        let periodToHalf = $('#period_to_half');

        let fromDate = new Date(periodFrom);
        let toDate = new Date($('#period_to').val());

        if (fromDate.getTime() === toDate.getTime()) {
            periodToHalf.val(periodFromHalf).prop('disabled', true);
        } else {
            periodToHalf.prop('disabled', false);
        }
    }


{% comment %}    function apv_modal_tempsave() {

        let apvCcElement = document.getElementById('apv_cc');
        let selectedCcValues = getSelectedValues(apvCcElement);

        let api_data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',

            apv_category_id: nullapply(categoryId),
            apv_status : '임시',

            doc_title: nullapply($('#apv_md_create #doc_title').val()),
            leave_reason: nullapply($('#apv_md_create #leave_reason').val()),
            period_from: nullapply($('#apv_md_create #period_from').val()),
            period_to: nullapply($('#apv_md_create #period_to').val()),
            period_count: nullapply($('#apv_md_create #period_count').val()),
            special_comment: nullapply($('#apv_md_create #special_comment').val()),
            {#attached_files: $('#apv_md_create #attached_files').val() ? $('#apv_md_create #attached_files').val().split(',') : [],#}

            approver1: getApproverId('approver1'),
            approver2: getApproverId('approver2'),
            approver3: getApproverId('approver3'),
            approver4: getApproverId('approver4'),
            approver5: getApproverId('approver5'),
            approver6: getApproverId('approver6'),
            apv_cc: selectedCcValues,
        };

        let attachedFiles = document.getElementById('attached_files').files;
        for (let i = 0; i < attachedFiles.length; i++) {
            api_data[`attached_files_${i}`] = attachedFiles[i];
        }

        api_gp('/admins/apv/create/', 'post', api_data, (done) => {
            $('#apv_md_create').modal("hide");

            apv_nation.page = 1;  // 첫페이지로

            {#apv_api_data_save(done);#}
            search_apv_data();
            alert(txt.create_ed);
        });
    }{% endcomment %}

    function getApproverId(approverInputId) {
        let approverName = $(`#${approverInputId}`).val();
        let option = $(`#approver_list option`).filter(function() {
            return $(this).val() === approverName;
        });

        return option.length ? option.data('approver-id') : null;
    }

    function getSelectedValues(selectElement) {
        const selectedValues = [];
        const selectedOptions = selectElement && selectElement.options;

        for (let i = 0; i < selectedOptions.length; i++) {
            if (selectedOptions[i].selected) {
                selectedValues.push(selectedOptions[i].value);
            }
        }

        return selectedValues.length > 0 ? selectedValues : null;
    }

    function apv_modal_tempsave() {
        let apvCcElement = document.getElementById('apv_cc');
        let selectedCcValues = getSelectedValues(apvCcElement);

        let api_data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            apv_category_id: nullapply(categoryId),
            apv_status: '임시',
            doc_title: nullapply($('#apv_md_create #doc_title').val()),
            leave_reason: nullapply($('#apv_md_create #leave_reason').val()),
            period_from: nullapply($('#apv_md_create #period_from').val()),
            period_to: nullapply($('#apv_md_create #period_to').val()),
            period_count: nullapply($('#apv_md_create #period_count').val()),
            special_comment: nullapply($('#apv_md_create #special_comment').val()),
            attached_files: [],
            approver1: getApproverId('approver1'),
            approver2: getApproverId('approver2'),
            approver3: getApproverId('approver3'),
            approver4: getApproverId('approver4'),
            approver5: getApproverId('approver5'),
            approver6: getApproverId('approver6'),
            apv_cc: selectedCcValues,
        };

        let attachedFiles = document.getElementById('attached_files').files;
        let fileReadCount = 0;

        function sendApiRequest() {
            api_gp('/admins/apv/create/', 'post', api_data, (done) => {
                $('#apv_md_create').modal("hide");
                apv_nation.page = 1;  // 첫 페이지로
                search_apv_data();
                alert(txt.create_ed);
            });
        }

        function readFileAndAddToApiData(file, index) {
            let reader = new FileReader();
            reader.onload = function(event) {
                let fileData = {
                    name: file.name,
                    type: file.type,
                    size: file.size,
                    content: event.target.result.split(',')[1] // Base64 데이터 부분만 추출
                };
                api_data.attached_files.push(fileData);
                fileReadCount++;
                if (fileReadCount === attachedFiles.length) {
                    sendApiRequest();
                }
            };
            reader.readAsDataURL(file);
        }

        if (attachedFiles.length > 0) {
            for (let i = 0; i < attachedFiles.length; i++) {
                readFileAndAddToApiData(attachedFiles[i], i);
            }
        } else {
            sendApiRequest();
        }
    }



</script>