{% load static %}
<!DOCTYPE html>

<meta charset="UTF-8">
{% include 'admins/admin_header.html' %}
<style>
    /* 모바일웹 텍스트 줄바꿈 방지 */
    .table td, .table th {
        white-space: nowrap;
    }

    .attached_hover:hover {
        text-decoration: underline;
        color: midnightblue !important;
    }

    @media (max-width: 1000px) {
        .control-buttons {
            height: 40px;
        }

    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/topnav.html' %}

            <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column px-3 pb-2">
                <div class="mb-xl-0 mb-4">
                    <div class="d-flex svg-illustration mb-2 gap-2">
                        <a href="{% url 'apv_list' %}">
                            <strong style="color: #000; font-size: x-large; margin-left: 20px; font-family: Pretendard;"></i><i class="fa-regular fa-file-lines" style="color: #000000;"></i>&nbsp; 전자결재</strong></a>
                    </div>
                </div>
            </div>

            <div class="px-4">
                <div id="template_include" style="border: 1px solid #ddd; padding: 2% 0 2% 0;"></div>

                <div class="d-flex justify-content-end py-4">
                    <div type="button" class="btn btn-outline-danger mx-2" style="width: 150px;"
                         onclick="apv_delete()"> 삭 제
                    </div>
                    <div type="button" class="btn btn-outline-secondary mx-2" style="width: 150px;"
                         onclick="apv_tempsave()"> 임시 저장
                    </div>
                    <div type="button" class="btn btn-outline-info mx-2" style="width: 150px;"
                         onclick="apv_modal_approvalsend()"> 결재 전송
                    </div>
                    <a href="{% url 'apv_list' %}" class="btn btn-outline-warning mx-2" style="width: 150px;">목록 보기</a>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
{% include 'admins/admin_footer.html' %}

<script>

    let currentUrl = window.location.href;
    let apv_click_id = currentUrl.split("/").slice(-2, -1)[0];

    $(function () {
        load_apv_detail()
    });

    function loadTemplateScripts() {

    }

    function load_apv_detail() {
        let query = "?apv_id=" + apv_click_id;
        api_gp("/admins/apv/detail/" + query, "get", {}, (done) => {
            draw_apv_detail(done);
        })
    }

    function draw_apv_detail(done) {
        console.log("draw_apv_temp_update: ", done);
        let data = done.results[0];

        categoryId = data.apv_category.id;
        fetch(`/admins/apv/detail_temp/${categoryId}`)
            .then(response => response.text())
            .then(templateData => {
                loadTemplateScripts();
                document.getElementById('template_include').innerHTML = templateData;
                document.getElementById('doc_title').value = data.doc_title;
                document.getElementById('doc_no').value = data.doc_no;
                document.getElementById('create_date').value = data.updated_at;
                document.getElementById('username_md').value = data.created_by.username;
                document.getElementById('team').value = data.created_by.department_position;
                document.getElementById('approver1').value = data.approvers[0]?.approver1_name ? data.approvers[0].approver1_name + ' (' + data.approvers[0].approver1_team + ')' : '';
                document.getElementById('approver2').value = data.approvers[0]?.approver2_name ? data.approvers[0].approver2_name + ' (' + data.approvers[0].approver2_team + ')' : '';
                document.getElementById('approver3').value = data.approvers[0]?.approver3_name ? data.approvers[0].approver3_name + ' (' + data.approvers[0].approver3_team + ')' : '';
                document.getElementById('approver4').value = data.approvers[0]?.approver4_name ? data.approvers[0].approver4_name + ' (' + data.approvers[0].approver4_team + ')' : '';
                document.getElementById('approver5').value = data.approvers[0]?.approver5_name ? data.approvers[0].approver5_name + ' (' + data.approvers[0].approver5_team + ')' : '';
                document.getElementById('approver6').value = data.approvers[0]?.approver6_name ? data.approvers[0].approver6_name + ' (' + data.approvers[0].approver6_team + ')' : '';
                document.getElementById('leave_reason').value = data.leave_reason;
                document.getElementById('period_from').value = data.period_from;
                document.getElementById('period_to').value = data.period_to;
                document.getElementById('period_count').value = data.period_count;
                document.getElementById('special_comment').value = data.special_comment;

                let apvCcSelect = document.getElementById('apv_cc');
                let selectedCcIds = data.apv_cc.map(cc => cc.user_id);
                Array.from(apvCcSelect.options).forEach(option => {
                    if (selectedCcIds.includes(parseInt(option.value))) {
                        option.selected = true;
                    } else {
                        option.selected = false;
                        option.style.display = 'none';
                    }
                });

                let iconClassMap = {
                    'default': 'fa-regular fa-file fa-lg',
                    'txt': 'fa-regular fa-file-lines fa-lg',
                    'hwp': 'fa-regular fa-file-lines fa-lg',
                    'hwpx': 'fa-regular fa-file-lines fa-lg',
                    'jpg': 'fa-regular fa-file-image fa-lg',
                    'png': 'fa-regular fa-file-image fa-lg',
                    'pdf': 'fa-regular fa-file-powerpoint fa-lg',
                    'doc': 'fa-regular fa-file-word fa-lg',
                    'docx': 'fa-regular fa-file-word fa-lg',
                    'ppt': 'fa-regular fa-file-powerpoint fa-lg',
                    'pptx': 'fa-regular fa-file-powerpoint fa-lg',
                    'xls': 'fa-regular fa-file-excel fa-lg',
                    'xlsx': 'fa-regular fa-file-excel fa-lg',
                    'zip': 'fa-regular fa-file-zipper fa-lg',
                };

                // 첨부 파일을 표시할 div 요소를 가져옴
                let attachedFilesDiv = document.getElementById('attached_files');
                attachedFilesDiv.innerHTML = '';

                // 첨부 파일 데이터를 순회하여 링크 요소를 생성
                data.attachments.forEach((attachment, index) => {
                    let fileLink = document.createElement('a');
                    fileLink.href = attachment.file;

                    let decodedUrl = decodeURIComponent(attachment.file);
                    let fileName = decodedUrl.split('/').pop(); // URL에서 파일명 추출
                    let fileExtension = fileName.split('.').pop().toLowerCase(); // 파일명에서 확장자 추출 및 소문자로 변환

                    // 아이콘 클래스 설정
                    let iconClass = iconClassMap[fileExtension] || iconClassMap['default'];
                    let iconElement = document.createElement('i');
                    iconElement.className = iconClass;
                    iconElement.style.marginRight = '8px'; // 아이콘과 텍스트 사이에 여백 추가

                    // 링크 텍스트 설정
                    {#fileLink.textContent = `첨부${index + 1} : ` + fileName;#}
                    fileLink.textContent = fileName;
                    fileLink.insertBefore(iconElement, fileLink.firstChild);

                    // 동적 확장자를 포함한 다운로드 파일명 설정
                    fileLink.setAttribute('download', `파일_${index + 1}.${fileExtension}`);

                    // 링크 텍스트 스타일 설정
                    fileLink.style.color = '#343a40';
                    fileLink.style.display = 'inline-block'; // 인라인 블록으로 설정하여 아이콘과 텍스트가 같은 줄에 오게 함
                    fileLink.style.fontSize = '16px'; // 글자 크기 설정
                    fileLink.classList.add('attached_hover'); // 클래스 추가

                    // 링크 요소를 블록으로 표시
                    let fileContainer = document.createElement('div');
                    fileContainer.appendChild(fileLink);
                    fileContainer.style.display = 'block'; // 각 파일을 블록으로 표시

                    // 첨부 파일 div에 링크 요소 추가
                    attachedFilesDiv.appendChild(fileContainer);
                });
            })

            .catch(error => {
                console.error('Error loading category detail:', error);
            });
    }

    function draw_apv_attached_files() {

    }

    function apv_delete() {
        if (confirm('전자결재를 작성하시겠습니까?')) {
            let api_data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                pk: nullapply(apv_click_id),
                }

            api_gp('/admins/apv/delete/', 'post', api_data, (done) => {
                    alert(txt.delete_ed);
                    location.href = "/admins/apv/";
            });

        } else {
            alert(txt.cancel);
        }
    }

</script>