<style>
    .custom-select {
        position: relative;
        display: inline-block;
        width: 200px;
    }

    .custom-select select {
        display: inline-block;
        width: 100%;
        height: 35px;
        margin: 0;
        padding: 0 10px;
        font-size: 16px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .custom-select::after {
        content: '▼';
        position: absolute;
        top: 45%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #495057;
        font-size: 10px;
    }
</style>

<div class="template-layout container-fluid">
    <div class="d-flex justify-content-center">
        <input class="form-control" id="doc_title" style="color: #000; font-size: 30px; font-weight: 700; border: none; margin-bottom: 10px;">
    </div>

    <div class="d-flex">
        <!-- 좌측 개인정보 -->
        <div class="col-3">
            <div class="d-flex align-items-center p-2">
                <i class="fa-regular fa-file fa-lg" style="color: #000;"></i>
                <span style="color: #000; font-size: 18px; padding-left: 10px;">기본 정보</span>
            </div>
            <div style="border: 1px solid #ddd; margin: auto 20px auto 0px">
                <div class="d-flex justify-content-start my-3">
                    <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">문서번호</div>
                    <input class="form-control" id="doc_no" style="width:200px;" placeholder="자동으로 생성됩니다" readonly>
                </div>
                <div class="d-flex justify-content-start my-3">
                    <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">작성일</div>
                    <input class="form-control" id="create_date" style="width:200px;" readonly>
                </div>
                <div class="d-flex justify-content-start my-3">
                    <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">작성자</div>
                    <input class="form-control" id="username_md" style="width:200px;">
                </div>
                <div class="d-flex justify-content-start my-3">
                    <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">부 서</div>
                    <input class="form-control" id="team" style="width:200px;">
                </div>
            </div>
        </div>

        <!-- 우측 결재라인 -->
        <div class="col-9">
            <div class="d-flex align-items-center p-2">
                <i class="fa-solid fa-user-check fa-lg" style="color: #000;"></i>
                <span style="color: #000; font-size: 18px; padding-left: 10px;">결재선 정보</span>
            </div>
            <div style="border: 1px solid #ddd; margin: auto 20px auto 0; overflow: hidden;">
                <div class="d-flex" style="height:237px;">
                    <div>
                        <div class="d-flex justify-content-start my-3">
                            <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">결재자 1</div>
                            <input list="approver_list" class="form-control" id="approver1" name="approver_list" style="width:200px;">
                            <datalist id="approver_list">
                                {% for value, display in approver_list %}
                                    <option value="{{ value }} - {{ display }}"></option>
                                {% endfor %} </datalist>
                        </div>
                        <div class="d-flex justify-content-start my-3">
                            <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">결재자 2</div>
                            <input list="approver_list" class="form-control" id="approver2" name="approver_list" style="width:200px;">
                            <datalist id="approver_list">
                                {% for value, display in approver_list %}
                                    <option value="{{ value }} - {{ display }}"></option>
                                {% endfor %} </datalist>
                        </div>
                        <div class="d-flex justify-content-start my-3">
                            <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">결재자 3</div>
                            <input list="approver_list" class="form-control" id="approver3" name="approver_list" style="width:200px;">
                            <datalist id="approver_list">
                                {% for value, display in approver_list %}
                                    <option value="{{ value }} - {{ display }}"></option>
                                {% endfor %} </datalist>
                        </div>
                    </div>
                    <div class="mx-4">
                        <div class="d-flex justify-content-start my-3">
                            <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">결재자 4</div>
                            <input list="approver_list" class="form-control" id="approver4" name="approver_list" style="width:200px;">
                            <datalist id="approver_list">
                                {% for value, display in approver_list %}
                                    <option value="{{ value }} - {{ display }}"></option>
                                {% endfor %} </datalist>
                        </div>
                        <div class="d-flex justify-content-start my-3">
                            <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">결재자 5</div>
                            <input list="approver_list" class="form-control" id="approver5" name="approver_list" style="width:200px;">
                            <datalist id="approver_list">
                                {% for value, display in approver_list %}
                                    <option value="{{ value }} - {{ display }}"></option>
                                {% endfor %} </datalist>
                        </div>
                        <div class="d-flex justify-content-start my-3">
                            <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">결재자 6</div>
                            <input list="approver_list" class="form-control" id="approver6" name="approver_list" style="width:200px;">
                            <datalist id="approver_list">
                                {% for value, display in approver_list %}
                                    <option value="{{ value }} - {{ display }}"></option>
                                {% endfor %} </datalist>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start my-3">
                        <div class="row justify-content-center align-items-start mt-1 mx-1" style="color: #000; font-size: 16px; width:100px;">참조자</div>
                        <select class="form-control" id="apv_cc" name="approver_list" style="width:240px;" multiple>
                            {% for value, display in approver_list %}
                                <option value="{{ value }}">{{ value }} - {{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 하단 세부정보 -->
    <div class="col-12 mt-4">
        <div class="d-flex align-items-center p-2">
            <i class="fa-regular fa-file-lines fa-lg" style="color: #000;"></i>
            <span style="color: #000; font-size: 18px; padding-left: 10px;">휴가신청 정보</span>
        </div>
        <div style="border: 1px solid #ddd; margin: auto 20px auto 0px">
            <div class="d-flex justify-content-start my-3">
                <div class="row justify-content-center align-items-center mx-1"
                     style="color: #000; font-size: 16px; width:100px;">휴가 종류
                </div>
                <div class="custom-select">
                    <select class="form-control" id="leave_reason" name="leave_reason">
                        <option value="">클릭 후 선택하세요</option>
                        {% for value, display in leave_choices %}
                            <option value="{{ value }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row justify-content-center align-items-center mx-3"></div>
                <div class="row justify-content-center align-items-center mx-1"
                     style="color: #000; font-size: 16px; width:100px;">휴가 기간
                </div>
                <input id="period_from" placeholder="시작 날짜" class="form-control" name="period_from" autocomplete="off"
                       style="width:150px;" type="text"/>
                <select id="period_from_half" class="form-control" style="width:70px; margin: 0 10px 0 0;">
                    <option value="full">종일</option>
                    <option value="am">오전</option>
                    <option value="pm">오후</option>
                </select>
                <input id="period_to" placeholder="종료 날짜" class="form-control" name="period_to" autocomplete="off"
                       style="width:150px;" type="text"/>
                <select id="period_to_half" class="form-control" style="width:70px;">
                    <option value="full">종일</option>
                    <option value="am">오전</option>
                    <option value="pm">오후</option>
                </select>
                <div class="row justify-content-center align-items-center mx-3"></div>
                <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">휴가 일수 총
                </div>
                <input class="form-control" id="period_count"
                       style="text-align: right; width:60px; border: none; padding-left: 0;">
                <div class="row justify-content-start align-items-center mx-1" style="color: #000; font-size: 16px; width:50px;"> 일
                </div>

            </div>
            <div class="d-flex justify-content-start my-3">
                <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">휴가 사유
                </div>
                <textarea class="form-control" id="special_comment" style="width:80%; height:100px;"></textarea>
            </div>
            <div class="d-flex justify-content-start my-3">
                <div class="row justify-content-center align-items-center mx-1" style="color: #000; font-size: 16px; width:100px;">관련 첨부
                </div>
                <input type="file" class="form-control" id="attached_files" name="attached_files" style="width:500px;" multiple>
            </div>
        </div>
    </div>
</div>
