{% load static %}
<!DOCTYPE html>

    {% include 'admins/admin_header.html' %}
<style>
    .table td, .table th {
        white-space: nowrap;
    }
</style>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

       {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}


            <!-- 근태관리(데이터 테이블) -->
              <div class="layout container-fluid align-items-center mt-4">
                <div class="card invoice-preview-card">
                <strong style="font-size: x-large; margin-left: 20px; margin-top: 15px; font-family: Pretendard;">근태관리</strong>
                 <!--Search Form -->
                  <div class="card-body">
                    <form method="get">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <!-- 시작 날짜와 끝 날짜 -->
                                    <div class="col-md-6 col-12 mb-4" style="margin-top: 20px;">
                                        <div class="input-group input-daterange">
                                            <input id="datepicker_to" placeholder="시작 날짜" class="form-control"
                                                   name="search-to"
                                                   value="{{ search_to | default_if_none:'' }}" autocomplete="off"/>
                                            <input id="datepicker_from" placeholder="끝 날짜" class="form-control"
                                                   name="search-from"
                                                   value="{{ search_from | default_if_none:'' }}" autocomplete="off"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12 mb-4" style="margin-top: 20px;">
                                        <div class="row" style="display: flex; flex-direction: row;">
                                            <!-- 검색 대상 선택 -->
                                            <div class="col-md-4 col-12 mb-3">
                                                <select id="selectpickerBasic" class="selectpicker form-control" name="search_title">
                                                    <option value="name"
                                                            {% if 'name' in search_title %}selected {% endif %}>성명
                                                    </option>
                                                </select>
                                            </div>

                                            <!-- 검색어 입력과 검색 버튼 -->
                                            <div class="col-md-8 col-12 mb-3"
                                                 style="display: flex; flex-direction: row;">
                                                <input type="text" placeholder="검색" class="form-control"
                                                       id="form-search" name="search_content"
                                                       value="{{ search_content | default_if_none:'' }}"/>
                                                <button class="btn btn-primary btn-compose" data-bs-toggle="modal" style="margin-left: 10px; width: 150px; background-color: #6c757d; border-color: #6c757d;">검색</button>
                                            </div>

                                            <!-- 엑셀 다운로드 버튼 -->
                                          <div class="d-flex justify-content-end">
                                              <button
                                                      type="button"
                                                      style="width: 300px;"
                                                      id="workHistory-xlsx-down"
                                                      class="btn btn-outline-dark"
                                                      data-bs-toggle="modal"
                                                      data-bs-target="#workHistory-xlsx-download">
                                                  <i class='bx bxs-download'></i>엑셀 다운로드
                                              </button>
                                              {% include 'admins/attendance/xlsx_download_modal.html' %}
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                  <!--Search form-->
                <div class="card-datatable table-responsive">
                    <table class="dt-multilingual table border-top">
                        <thead>
                        <tr style="text-align: center; width: auto; height: auto; background-color: #fffbfb">
                            <!-- 각 <th> 태그에 스타일을 추가하여 글자 크기를 조절 -->
                            <th style="font-size: medium; font-weight: bold">근무일자</th>
                            <th style="font-size: medium; font-weight: bold">성명</th>
                            <th style="font-size: medium; font-weight: bold">직급</th>
                            <th style="font-size: medium; font-weight: bold">부서</th>
                            <th style="font-size: medium; font-weight: bold">출근시간</th>
                            <th style="font-size: medium; font-weight: bold">퇴근시간</th>
                            <th style="font-size: medium; font-weight: bold">근무시간</th>
                            <th style="font-size: medium; font-weight: bold">연장근로</th>
                            <th style="font-size: medium; font-weight: bold">지각시간</th>
                            <th style="font-size: medium; font-weight: bold">조퇴시간</th>
                            <th style="font-size: medium; font-weight: bold">출근IP</th>
                            <th style="font-size: medium; font-weight: bold">퇴근IP</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in attendance_queryset %}
                            <tr style="text-align: center" data-pk="{{ obj.id }}">
                                <td>{{ obj.date }}</td>
                                <td>{{ obj.employee__username }}</td>
                                <td>{{ obj.jobTitle__name | default_if_none:'' }}</td>
                                <td>{{ obj.department__name }}</td>
                                <td>{{ obj.attendanceTime|date:"H:i" }}</td>
                                <td>{{ obj.offworkTime|date:"H:i" }}</td>
                                <td>{{ obj.workTime|date:"H:i" }}</td>
                                <td>{{ obj.extendTime|date:"H:i" }}</td>
                                <td>{{ obj.latenessTime|date:"H:i" }}</td>
                                <td>{{ obj.earlyleaveTime|date:"H:i" }}</td>
                                <td>{{ obj.attendance_ip }}</td>
                                <td>{{ obj.offwork_ip | default_if_none:'' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
              <div style="margin-bottom: 30px; margin-top: 50px;">
                  {% include 'admins/search_to_from_paging.html' with search_to=search_to search_from=search_from search_title=search_title search_content=search_content %}
              </div>

              </div>
              </div>
        </div>
    </div>
</div>
</body>

<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    $( function() {
        $( "#datepicker_to" ).datepicker({ format : 'yyyy-mm-dd'});
        $( "#datepicker_from" ).datepicker({ format : 'yyyy-mm-dd'});
    } );
</script>
    {% include 'admins/admin_footer.html' %}
</html>