<!DOCTYPE html>
    <meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}
{% load custom_filters %}
<style>
    .absence-color td {
        color: red;
    }

    .late-color td {
        color: orange;
    }

    .not-offwork-color td {
        color: yellow;
    }

    .event-type-business td {
        color: blue;
    }

    .event-type-holiday td {
        color: green;
    }

    .event-type-half-refresh td {
        color: purple;
    }
</style>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; height: 100%; margin-left: 26px; margin-top: 30px;">
                <form class="dt_adv_search" method="get">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end" style="margin: 30px 30px 0 0;">
                        <div class="col-md-6 col-12 mb-4 d-flex justify-content-end">
                            <input class="form-control" placeholder="조회날짜" id="datepicker_to" style="max-width: 200px;" name="search-to" value="{{ search_to | default_if_none:''}}"/>
                            <button class="btn btn-primary btn-compose" data-bs-toggle="modal" style="margin-left: 10px; width: 150px; background-color: #6c757d; border-color: #6c757d;">검색</button>
                        </div>
                    </div>
                </form>

                <div class="d-md-flex d-sm-block justify-content-between align-items-center" style="margin: 40px;">
                    <h5 style="font-family: Pretendard;">검색 날짜 : {{ search_to | default_if_none:'-' }}</h5>
                    <div class="ml-auto mr-2 justify-content-end d-md-flex d-sm-block" style="padding-right: 40px;">
                        <p>
                            <font color="gray" style="margin-left: 30px;">■</font> : 출근
                            <font color="red" style="margin-left: 20px;">■</font> : 결근
                            <font color="orange" style="margin-left: 20px;">■</font> : 지각
                            <font color="blue" style="margin-left: 20px;">■</font> : 출장
                            <font color="#228b22" style="margin-left: 20px;">■</font> : 연차
                            <font color="purple" style="margin-left: 20px;">■</font> : 반차
                        </p>
                    </div>
                </div>

                    <!--Team Members -->
                    <div class="d-flex flex-md-row flex-sm-column flex-column">
                        {% for obj_cm in codemaster %}
                        <div class="card h-100 w-100">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="card-title m-0 me-2" style="font-family: Pretendard; font-size: x-large;">{{ obj_cm.name }}</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr style="font-family: Pretendard;">
                                        <th>이름</th>
                                        <th style="padding-left: 0px; padding-right: 0px; width: 80px;">출근시간</th>
                                        <th style="text-align: center">퇴근등록</th>
                                    </tr>
                                    </thead>
                                   <tbody>
                                        {% for obj_aq in attendance_queryset %}
                                            {% if obj_cm.id == obj_aq.department_position_id %}
                                                {% with obj_aq.events as events %}
                                                    {% if events %}
                                                        {% with events|event_type:search_to as event_type %}
                                                            {% with obj_aq.attendance_rec.0 as attendance_rec %}
                                                                <tr class="{{ event_type|attendance_css_class }}">
                                                                    <td><h6 class="mb-0 text-truncate">{{ obj_aq.username }}</h6></td>
                                                                    {% if event_type == '연차' %}
                                                                        <td><medium class="fw-medium">연차</medium></td>
                                                                    {% elif event_type == '반차' %}
                                                                        <td><medium class="fw-medium">반차</medium></td>
                                                                    {% else %}
                                                                        <td style="padding-left: 5px; padding-right: 0px; width: 80px"><medium class="fw-medium">{{ attendance_rec.attendanceTime }}</medium></td>
                                                                    {% endif %}
                                                                    <td style="text-align: center"><medium class="fw-medium">{{ attendance_rec.is_offwork|yesno:"O,X" }}</medium></td>
                                                                </tr>
                                                            {% endwith %}
                                                        {% endwith %}
                                                    {% elif obj_aq.attendance_rec %}
                                                        {% with obj_aq.attendance_rec.0 as attendance_rec %}
                                                            <tr class="{{ attendance_rec|attendance_status|attendance_css_class }}">
                                                                <td><h6 class="mb-0 text-truncate">{{ obj_aq.username }}</h6></td>
                                                                <td style="padding-left: 5px; padding-right: 0px; width: 80px;"><medium class="fw-medium">{{ attendance_rec.attendanceTime }}</medium></td>
                                                                <td style="text-align: center"><medium class="fw-medium">{{ attendance_rec.is_offwork|yesno:"O,X" }}</medium></td>
                                                            </tr>
                                                        {% endwith %}
                                                    {% else %}
                                                        <tr class="absence-color">
                                                            <td><h6 class="mb-0 text-truncate">{{ obj_aq.username }}</h6></td>
                                                            <td style="padding-left: 5px; padding-right: 0px; width: 80px;"><medium class="fw-medium">N/A</medium></td>
                                                            <td style="text-align: center;"><medium class="fw-medium">X</medium></td>
                                                        </tr>
                                                    {% endif %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--/ Team Members -->
                    <div style="padding-left: 30px; margin-top: 40px;">
                        <h3 class="mb-4 doc-page-title" style="font-family: Pretendard;">🚫 전날 퇴근 미등록자 🚫</h3>
                        <h4 style="font-family: Pretendard;">&nbsp;&nbsp;&nbsp;홍재성</h4>
                    </div>




            </div>
        </div>
    </div>
</div>
</div>
</body>
{% include 'admins/admin_footer.html' %}
<script>
    $( function() {
        $( "#datepicker_to" ).datepicker({ format : 'yyyy-mm-dd'});
        $( "#datepicker_from" ).datepicker({ format : 'yyyy-mm-dd'});
    } );
</script>
</html>