<!DOCTYPE html>

    <meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; height: 100%; margin-left: 26px; margin-top: 30px;">
                <form class="dt_adv_search" method="get">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end" style="margin: 30px 30px 0 0;">
                        <div class="col-md-6 col-12 mb-4 d-flex justify-content-end">
                            <input class="form-control" placeholder="{{ today }}" id="datepicker_to" style="max-width: 200px;" name="search-to" value="{{ search_to | default:today }}"/>
                            <button class="btn btn-primary btn-compose" data-bs-toggle="modal" style="margin-left: 10px; width: 150px; background-color: #6c757d; border-color: #6c757d;">검색</button>
                        </div>
                    </div>
                </form>

                <!--Team Members -->
                <div class="d-flex flex-md-row flex-sm-column flex-column">
                    <div class="card h-100 w-50">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2" style="font-family: Pretendard; font-size: x-large;">전략기획본부</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                <tr style="font-family: Pretendard;">
                                    <th>이름</th>
                                    <th>출근시간</th>
                                    <th>퇴근처리</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><h6 class="mb-0 text-truncate" style="color: yellowgreen">Nathan Wagner</h6></td>
                                    <td><medium class="fw-medium" style="color: yellowgreen">09:00</medium></td>
                                    <td><medium class="fw-medium" style="color: yellowgreen">O</medium></td>
                                </tr>
                                <tr>
                                    <td><h6 class="mb-0 text-truncate" style="color: purple">Emma Bowen</h6></td>
                                    <td><medium class="fw-medium" style="color: purple">09:00</medium></td>
                                    <td><medium class="fw-medium" style="color: purple">O</medium></td>
                                </tr>
                                <tr>
                                    <td><h6 class="mb-0 text-truncate" style="color: red">Adrian McGuire</h6></td>
                                    <td><medium class="fw-medium" style="color: red">09:00</medium></td>
                                    <td><medium class="fw-medium" style="color: red">O</medium></td>
                                </tr>
                                <tr>
                                    <td><h6 class="mb-0 text-truncate">Alma Gonzalez</h6></td>
                                    <td><medium class="fw-medium">09:00</medium></td>
                                    <td><medium class="fw-medium">O</medium></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/ Team Members -->





            </div>
        </div>
    </div>
</div>
</div>
</body>
{% include 'admins/admin_footer.html' %}
<script>
    $( function() {
        $( "#datepicker_to" ).datepicker({ format : 'yyyy-mm-dd'});
        $( "#datepicker_from" ).datepicker({ format : 'yyyy-mm-dd'});
    } );
</script>
</html>