{% load static %}
<!-- Modal -->
<form action="#" method="post">
    {% csrf_token %}
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1" style="font-family: Pretendard;">출장등록</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col mb-3">
                            <div class="col-md-12 col-12">
                                <label for="nameBasic" class="form-label">*일정</label>
                                <div class="mb-3 d-flex flex-row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="flatpickr-start" placeholder="시작 날짜"/>
                                        <input type="text" class="form-control" id="flatpickr-end" placeholder="끝 날짜"/>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="switch" style="margin-left: 20px; margin-top: 7px;">
                                        <input type="checkbox" class="switch-input allDay-switch"/>
                                        <span class="switch-toggle-slider"><span class="switch-on"></span><span class="switch-off"></span></span>
                                        <span class="switch-label">All Day</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                        <!-- /Checkbox -->

                    <div class="row">
                        <div class="col mb-11">
                            <label for="nameBasic" class="form-label">*참석자</label>
                            <div class="col-md-8 mb-4">
                                <input id="TagifyUserList" name="TagifyUserList" class="form-control"/>
                            </div>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*외부참석자</label>
                            <input type="text" id="board_group_name"
                                   name="board_group_name"
                                   class="form-control"
                                   placeholder="외부참석자"
                                   required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*장소</label>
                            <input type="text" id="board_group_name"
                                   name="board_group_name"
                                   class="form-control"
                                   placeholder="장소"
                                   required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*목적</label>
                            <input type="text" id="board_group_name"
                                   name="board_group_name"
                                   class="form-control"
                                   placeholder="목적"
                                   required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*관련사업명</label>
                            <input type="text" id="board_group_name"
                                   name="board_group_name"
                                   class="form-control"
                                   placeholder="목적"
                                   required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*비고</label>
                            <input type="text" id="board_group_name"
                                   name="board_group_name"
                                   class="form-control"
                                   placeholder="비고"
                                   required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*법인차량 사용여부</label>
                            <div class="form-check custom-option custom-option-basic checked">
                            <label class="form-check-label custom-option-content" for="customCheckTemp3">
                              <input class="form-check-input" type="checkbox" value="" id="customCheckTemp3" checked="">
                              <span class="custom-option-header">
                                <span class="h6 mb-0">사용</span>
                              </span>
                            </label>
                          </div>
                        </div>
                    </div>

                     <div class="row" id="carCheck">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*사용차량</label>
                            <select
                              class="select2 select-event-guests form-select"
                              style="width: 250px;"
                              id="vehicle_select"
                              name="vehicle_select"
                              multiple>
                              <option value="Jane Foster">QM3</option>
                              <option value="Donna Frank">스포티지</option>
                              <option value="Donna Frank">기타</option>
                            </select>
                        </div>
                     </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-label-secondary"
                                data-bs-dismiss="modal">취소
                        </button>
                        <button type="button" class="btn btn-primary"
                                id="addBoardBtn">등록완료
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#flatpickr-start").flatpickr({
            dateFormat: 'Y-m-d H:i',
            enableTime: true
        });
        $("#flatpickr-end").flatpickr({
            dateFormat: 'Y-m-d H:i',
            enableTime: true
        });
    });

    $(document).ready(function () {

         $('#customCheckTemp3').change(function () {
            if ($(this).is(':checked')) {
                $('#carCheck').show();
            } else {
                $('#carCheck').hide();
            }
        });
    });
</script>

