{% load static %}
<!DOCTYPE html>

    {% include 'admins/admin_header.html' %}
<style>
    .table td, .table th {
        white-space: nowrap;
    }
</style>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

       {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <!-- 출장관리(데이터 테이블) -->
            <div class="card" style="width: 97%; margin-left: 26px; margin-top: 30px">

                <strong style="font-size: x-large; margin-left: 20px; margin-top: 15px; font-family: Pretendard;">출장관리</strong>

                <div class="card-body">
                    <form class="dt_adv_search" method="get">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="row g-3">

                                    <!-- 시작 날짜와 끝 날짜 -->
                                    <div class="col-md-6 col-12 mb-4" style="margin-top: 30px;">
                                        <div class="input-group input-daterange">
                                            <input id="datepicker_to" placeholder="시작 날짜" class="form-control"
                                                   name="search-to"
                                                   value="{{ search_to | default_if_none:'' }}" autocomplete="off"/>
                                            <input id="datepicker_from" placeholder="끝 날짜" class="form-control"
                                                   name="search-from"
                                                   value="{{ search_from | default_if_none:'' }}" autocomplete="off"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12 mb-4" style="margin-top: 30px;">
                                        <div class="input-group" style="display: flex; flex-direction: row;">

                                            <!-- 검색 대상 선택 -->
                                            <div class="col-md-4 col-12 mb-3">
                                                <select id="selectpickerBasic" class="selectpicker form-control">
                                                    <option value="name" {% if 'name' in search_title %}selected {% endif %}>성명</option>
                                                    <option value="number" {% if 'number' in search_title %}selected {% endif %}>사원번호</option>
                                                    <option value="department" {% if 'department' in search_title %}selected {% endif %}>부서</option>
                                                </select>
                                            </div>

                                            <!-- 검색어 입력과 검색 버튼 -->
                                            <div class="col-md-8 col-12 mb-3"
                                                 style="display: flex; flex-direction: row;">
                                                <input type="text" placeholder="검색" class="form-control" id="form-search" name="search-content" value="{{ search_content | default_if_none:'' }}"/>
                                                <button class="btn btn-primary btn-compose" data-bs-toggle="modal" style="margin-left: 10px; width: 150px; background-color: #6c757d; border-color: #6c757d;">검색</button>
                                            </div>
                                        </div>
                                    </div>

                                 <!-- 엑셀 다운로드 버튼 -->
                                      <div class="d-flex justify-content-end">
                                          <button
                                                  type="button"
                                                  style="width: 300px;"
                                                  id="workHistory-xlsx-down"
                                                  class="btn btn-outline-dark"
                                                  data-bs-toggle="modal"
                                                  data-bs-target="#basicModal">
                                              <i class='bx bxs-briefcase-alt-2'></i>출장등록
                                          </button>
                                          {% include 'admins/business/business_add_Modal.html' %}
                                      </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>


              <!--Search form-->
                <div class="card-datatable table-responsive">
                    <table class="dt-multilingual table border-top">
                        <thead>
                        <tr style="text-align: center; width: auto; height: auto; background-color: #fffbfb">
                            <th style="font-size: medium; font-weight: bold">일정</th>
                            <th style="font-size: medium; font-weight: bold">참석자</th>
                            <th style="font-size: medium; font-weight: bold">장소</th>
                            <th style="font-size: medium; font-weight: bold">목적</th>
                            <th style="font-size: medium; font-weight: bold">법인차량</th>
                            <th style="font-size: medium; font-weight: bold">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align: center" data-toggle="modal" data-target="#editModal">
                                <td>2024.01.01</td>
                                <td>김진란</td>
                                <td>서울소프트 사무실</td>
                                <td>2024 ooo지원사업 ooo관련 ooo사용</td>
                                <td>사용</td>
                                <td>출장취소</td>
                            </tr>
                            <tr style="text-align: center">
                                <td>2024.01.01 ~ 2024.01.03</td>
                                <td>김진란,홍재성</td>
                                <td>서울소프트 사무실</td>
                                <td>2024 ooo지원사업 ooo관련 ooo사용</td>
                                <td>미사용</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    {% include 'admins/business/business_edit_Modal.html' %}
                </div>
              <div style="margin-bottom: 30px; margin-top: 50px;">
                  {% include 'admins/paging.html' %}
              </div>


            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'sneat/assets/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-typeahead.js' %}"></script>
<script>
    $(function () {
        $("#datepicker_to").datepicker({format: 'yyyy-mm-dd'});
        $("#datepicker_from").datepicker({format: 'yyyy-mm-dd'});
    });

    $(document).ready(function () {
        $("tr").click(function () {
            $('#editModal').modal('show');
        });
    });

</script>
{% include 'admins/admin_footer.html' %}
</html>