<!DOCTYPE html>
<html>
<header>{% include "header.html" %}</header>
<body style="overflow: hidden;">
<!-- {#{% extends 'index.html' %}#} -->
{% load static %}

<!-- {#{% block title %}#}
{#    <title>생산진행현황 조회</title>#}
{#{% endblock title %}#}
{##}
{#{% block content %}#} -->

<div class="spinner" id="spinner">
    <img src="../../../static/img/spinner.gif" width="150px" height="150px"/>
</div>

<div
        class="row no-gutters justify-content-center d-lg-none d-md-flex d-sm-flex"
>
    <h2 class="font-weight-bold my-2">생산진행현황 조회</h2>
</div>
<!-- 검색 -->
<div class="card m-2">
    <div class="card-body p-2">
        <!-- 본문 -->
         <div class="content-search row no-gutters align-items-center">
        <form
                class="col-11"
                id="progress_lookup_main-form"
                onsubmit="nation1.page = 1; return progress_lookup_search_submit(event)"
        >
            <div class="row no-gutters">
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">

                                <label>브랜드</label>
                            </div>
                            <div class="content-input-group-input">
                                <select class="form-control brand-dropdown" id="search_brand">
                                </select>
                            </div>
                        </div>
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>제품군</label>
                            </div>
                            <div class="content-input-group-input">
                                <select class="form-control item_group-dropdown" id="search_item_group">
                                </select>
                            </div>
                        </div>

                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>품번</label>
                            </div>
                            <div class="content-input-group-input">
                                <select class="form-control item-code-dropdown-search" id="search_item-code">
                                </select>
                            </div>
                        </div>
                              <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>나이스번호</label>
                            </div>
                            <div class="content-input-group-input">
                                <select class="form-control nice_number-dropdown-search" id="search_item-nice">
                                </select>
                            </div>

                        </div>
            </div>
                <div class="row no-gutters">
          <div class="content-input-group col-2">
                            <div class="content-input-group-header">
                                <label>진행현황</label>
                            </div>
                            <div class="content-input-group-input">
                                <select class="form-control " id="search_progress_status">
                                    <option>대기</option>
                                    <option>진행</option>
                                    <option>완료</option>
                                </select>
                            </div>


                    </div>
            <div
                                class="content-input-group col-lg-4 col-md-12 px-0 mb-lg-0 mb-md-2 mb-sm-2"
                        >

                            <div class="content-input-group-header">
                                <label>생산일정</label>
                            </div>
                            <div class="content-input-group-input">
                                <div class="input-group input-daterange">
                                    <input
                                            type="text"
                                            class="form-control datepicker"
                                            id="created_at_after"
                                            name="created_at_after"
                                            autocomplete="off"
                                    />
                                    <div class="input-group-addon px-3">~</div>
                                    <input
                                            type="text"
                                            class="form-control datepicker"
                                            id="created_at_before"
                                            name="created_at_before"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>
                        </div>

            </div>
            <div class="row no-gutters">
                      <div class="content-input-group col-4 mt-2">
                            <div class="content-input-group-input input-group">
                                <input class="form-control" id="multiSearch" placeholder="검색어를 입력해주세요
                                "/>
                              <div class="input-group-append">
                         <button class="btn btn-outline-secondary" type="button" onclick="nation1.page =1; progress_lookup_load_table()"> 🔍</button>

                            </div>
                            </div>
                            </div>
            </div>
        </form>
        <div class="col-1 px-0">
           <button class="btn button-search w-100" form="progress_lookup_main-form">검색</button>
        </div>
         </div>
    </div>
</div>

<!-- 테이블 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <div class="content-table col-12" style="overflow-x:auto; height: 600px;">
            <table
                    id="progress_lookup_data-table"
                    class="table table-sm text-center"
            >
                <thead>
                <tr>
                    <th>순번</th>
                    <th>브랜드</th>
                    <th>제품군</th>
                    <th>품명</th>
                    <th>품번</th>
                    <th>나이스번호</th>
                    <th>계획수량</th>
                    <th>생산진행현황</th>
                    <th>생산일정</th>
                    <th>완료수량</th>
                    <th>불량수량</th>
                </tr>
                </thead>
                 <tbody id="progress_lookup_main-tbody">
                </tbody>
            </table>
                       <div class="row no-gutters d-flex justify-content-center" id="item_nation"
                     style="margin-top: -20px;">
                </div>
        </div>
    </div>
</div>
<script
        src="{% static 'js/api_process.js' %}"
        type="text/javascript"
></script>
<script src="{% static 'js/api_paginations.js' %}" type="text/javascript"></script>
<script>
    $(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        minViewMode: 0,
        maxViewMode: 2,
        autoclose: true,
        language: "ko",
        todayHighlight: 'true',
    });

      let nation_data1 = {
        cname : 'nation1',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation',
        range: 5,

        page_size: 5,
    };
    let nation1 = new Pnations(nation_data1,progress_lookup_load_table);
    // $(".datepicker").datepicker("setDate", "today");  // 초기값 빈 칸

    $(".input-daterange input").each(function () {
        $(this).datepicker({
            format: "yyyy-mm-dd",
            language: "ko",
        });
    });
    $(".select2").select2({width: "100%"});

    let fr_date = '';
    let to_date = '';
    let select_status = '';

    function progress_lookup_search_submit(e) {
        e.preventDefault();
        $("#spinner").show();

        select_status = $("[name='status']").val(),
            progress_lookup_load_table();
        return false;
    }

    function mock(data) {
        let result = data
        let rows = ""

        for(let i=0; i<result.length; i++){
          let item= result[i]
          let row = ""
          row += `<tr>
                    <td rowspan="${item.status.progresses.length +1}">${(nation1.page-1)*5+ (i+1)}</td>
                    <td rowspan="${item.status.progresses.length +1}">${nullapply(item.brand)}</td>
                    <td rowspan="${item.status.progresses.length +1}">${nullapply(item.item_group)}</td>
                    <td rowspan="${item.status.progresses.length +1}" data-toggle="tooltip" title=${item.name}>${nullapply(item.name.length >10 ? item.name.slice(0,10)+ "...": item.name)}</td>
                    <td rowspan="${item.status.progresses.length +1}" data-toggle="tooltip" title=${item.item_code}>${nullapply(item.item_code.length >10 ? item.item_code.slice(0,10)+ "...": item.item_code)}</td>
                    <td rowspan="${item.status.progresses.length +1}" data-toggle="tooltip" title=${item.nice_number}>${nullapply(item.nice_number.length >10 ? item.nice_number.slice(0,10)+ "...": item.nice_number)}</td>
                    <td rowspan="${item.status.progresses.length +1}">${item.amount}</td>
                    <td rowspan="${item.status.progresses.length +1}">${(item.status.produce_amounts.length === 0 ? "대기" : item.complete ===false ? "진행": "완료")}</td>
                    <td rowspan="${item.status.progresses.length +1}">${item.fr_date}~${nullapply(item.to_date)}</td>
                    `
            if(item.status.progresses.length === 0){
                row += `<td>0</td>`
                row += `<td>0</td>`
                row += '</tr>'
            }else{
                row += "</tr>"
            for (let j = 0; j < item.status.progresses.length; j++) {
                row +="<tr>"
                row += `<td>${item.status.produce_amounts[j]}</td>`
                row += `<td>${item.status.faulty_amounts[j]}</td>`
                row += "</tr>"
            }
            }
          rows += row
      }

        $("#progress_lookup_main-tbody").html(rows);
        document.querySelectorAll("#progress_lookup_main-tbody tr td").forEach(element=>
        element.classList.add("align-middle")
        )
        console.log(rows);
        spinner();
    }

    function progress_lookup_load_table() {
        let query = "?";
        query += `page=${nation1.page}&`
        let brand = $('#search_brand option:selected').val() ? $('#search_brand option:selected').val() : ""
        let item_group = $('#search_item_group option:selected').val() ? $('#search_item_group option:selected').val() : ""
        let nice_number = $('#search_item-nice option:selected').val() ? $('#search_item-nice option:selected').val() : ""
        let item_code = $('#search_item-code option:selected').val() ? $('#search_item-code option:selected').val() : ""
        let multiSearch = $('#multiSearch').val() ? $('#multiSearch').val() : ""

        if (brand !== '') query += "brand=" + brand + "&";
        if (item_group !== '') query += "item_group=" + item_group + "&";
        if (nice_number !== '') query += "nice_number=" + nice_number + "&";
        if (item_code !== '') query += "item_code=" + item_code + "&";
        if (multiSearch !== '') query +="search=" + multiSearch + "&"

        let fr_date = $("#created_at_after").val();
        let to_date = $("#created_at_before").val();
        let select_status = $("#search_progress_status").val()

        if (fr_date !== null || fr_date !== '') query += "fr_date=" + fr_date + "&";
        if (to_date !== null || to_date !== '') query += "to_date=" + to_date + "&";

        if (select_status !==null || select_status !=='') query +="status=" + select_status + "&";

        console.log(query);

        // test
        api_gp("/process/status/" + query + "/", "GET", {}, (done) => {
            nation1.nation_display(done)
            mock(done.results);
        });


        {% comment %}
        api_gp("/process/status/" + query + "/", "GET", {}, (done) => {
            mock(done);
        });
        {% endcomment %}

        {% comment %}
        //Table pagination
        $('.pagination-container').remove();
        $('.table tbody').paginathing();
        {% endcomment %}
    }

    function progress_lookup_init() {
        function make_dropdown(data, selectors) {
            let list = "<option value=''>선택 및 검색</option>";
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                if (selectors === '.bom-dropdown') {
                    list += "<option value='" +
                        item.id + "'>" +
                        item.bom_number +
                        "</option>";
                } else if (selectors === ".item-name-dropdown-search") {
                    list +=
                        "<option value='" + item.product_name + "'>" + item.product_name + "</option>";
                } else if (selectors === ".item-code-dropdown-search") {
                    list +=
                        "<option value='" + item.bom_number + "'>" + item.bom_number + "</option>";
                } else if (selectors === ".nice_number-dropdown-search") {
                    list +=
                        "<option value='" + item.nice_number + "'>" + item.nice_number + "</option>";
                } else {
                    list +=
                        "<option value='" + item.id + "'>" + item.name + "</option>";
                }
            }
            $(selectors).html(list);
            $(selectors).select2({
                // select2 width 늘리기
                width: "100%",
            });
        }

        // BOM명, 생산제품명
        api_gp("/bom/master_select/", "GET", {}, (data) => {
            make_dropdown(data, ".item-name-dropdown-search");
            make_dropdown(data, ".item-code-dropdown-search");
            make_dropdown(data, ".nice_number-dropdown-search");
        });

        api_gp("/codes/?group=107&enable=true", "GET", {}, (data) => {
            make_dropdown(data.results, ".location-dropdown");
        });

        // 브랜드
        api_gp('/codes_select/?group=127&enable=true', 'GET', {}, (data) => {
            make_dropdown(data, '.brand-dropdown-search');
        });

        // 제품군
        api_gp('/codes_select/?group=128&enable=true', 'GET', {}, (data) => {
            make_dropdown(data, '.item_group-dropdown-search');
        });
        api_gp("/codes_select/?group=127&enable=true", "GET", {}, (data) => {
            make_dropdown(data, "#search_brand");
        });
        api_gp("/codes_select/?group=128&enable=true", "GET", {}, (data) => {
            make_dropdown(data, "#search_item_group");
        });

        // main table
        progress_lookup_load_table();
    }

    $(() => {
        refresh();
        // Table Export
        $(parent.document).find("#excel-export").click(() =>
            init_excel_export(
                $("#progress_lookup_data-table"),
                "생산진행현황조회"
            )
        );
    });

    function refresh() {
        let now = new Date();
        let first_date = new Date(now.getFullYear(), now.getMonth(), 1);
        $("#created_at_after").datepicker("setDate", first_date);
        nation1.page=1
        progress_lookup_init();
    }

    function spinner() {
        $("#spinner").hide();
    }

</script>
<!-- {#{% endblock %}#} -->
</body>
</html>
