<!DOCTYPE html>
<html>
<header>{% include "header.html" %}</header>
<body style="overflow: hidden;">
{% load static %}

{#<title>공정명등록관리</title>#}

<div class="spinner" id="spinner">
    <img src="../../../static/img/spinner.gif" width="150px" height="150px"/>
</div>


<!-- 생산제품 BOM -->
<div class="card m-2">
    <div class="card-body p-2">
        <!-- 검색 -->
        <form
                class="content-search row no-gutters align-items-center content-input-group"
                id="process_detail_main-form"
                onsubmit="return search_submit(event)"
        >
            <div class="content-title col-1 align-self-stretch">
                생산제품검색
            </div>
            <div class="col-11" id="process_detail">
                <div class="row no-gutters">
                    <div class="content-input-group col-3 px-0">
                        <div class="content-input-group-header">
                            <label>생산제품명</label>
                        </div>
                        <div class="content-input-group-input">
                            <select
                                    class="form-control product-dropdown"
                                    id="search_product"
                            ></select>
                        </div>
                    </div>
                    <div class="content-input-group col-3">
                        <div class="content-input-group-header">
                            <label>고객사</label>
                        </div>
                        <div class="content-input-group-input">
                            <select class="form-control customer-dropdown" id="search_customer">
                            </select>
                        </div>
                    </div>
                    <div class="col-1 px-0">
                        <button class="btn button-search w-100">검색</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <!-- 생산제품 테이블 -->
    <div class="card m-2">
        <div class="row no-gutters card-body p-2">
            <div class="col-12 px-0">
                <!-- 본문 -->
                <div class="content-table col-12 px-0 mb-2" style="overflow-x:auto; overflow-y:hidden; height: 251px;">
                    <table id="BOM_data-table-up" class="table table-sm text-center">
                        <thead>
                        <tr>
                            <th>순번</th>
                            <th id="n_bom_code">BOM 코드</th>
                            <th>생산제품명</th>

                            <th>품명상세</th>
                            <th id="n_bom_model1">모델</th>
                            <th>버전</th>
                            <th>고객사</th>

                            <th>첨부파일</th>
                        </tr>
                        </thead>
                        <tbody id="BOMmaster_tbody">
                        </tbody>
                    </table>

                    <div class="row no-gutters d-flex justify-content-center" id="item_nation"
                         style="margin-top: -20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 세부공정등록 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <form class="content-content w-100" id="templet_process_manage">
            <div class="row no-gutters w-100 mb-2">
                <div class="col-1 content-title">세부공정등록</div>
                <div class="col-11" id="detail_process_detail">
                    <div class="row no-gutters">
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>세부공정명<strong>*</strong></label>
                            </div>
                            <div class="content-input-group-input">
                                <select name="type" class="form-control type-dropdown">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>작업장</label>
                            </div>
                            <div class="content-input-group-input">
                                <select
                                        name="workshop"
                                        class="form-control workshop-dropdown"
                                >
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>담당자</label>
                            </div>
                            <div class="content-input-group-input">
                                <select name="charge" class="form-control user-dropdown">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>기타</label>
                            </div>
                            <div class="content-input-group-input">
                                <input name="etc" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters w-100 justify-content-end">
                <div class="col-1 px-0 mr-2">
                    <a
                            class="btn button-custom2 w-100"
                            role="button"
                            onclick="templet_process_add()"
                    >등록</a
                    >
                </div>
                <div class="col-1 px-0 mr-2">
                    <a
                            class="btn button-custom2 w-100"
                            role="button"
                            onclick="templet_process_edit()"
                    >수정</a
                    >
                </div>
                <div class="col-1 px-0 mr-2">
                    <a
                            class="btn button-custom2 w-100"
                            role="button"
                            onclick="templet_proecess_remove()"
                    >삭제</a
                    >
                </div>
            </div>
        </form>
    </div>

    <!-- 세부공정등록 테이블 -->
    <div class="card m-2">
        <div class="row no-gutters card-body p-2">

            <div class="content-table col-12" style="overflow-x:auto; overflow-y:hidden; height: 251px;">
                <table id="templet_process_data-table-down" class="table table-sm text-center">
                    <thead>
                    <tr>
                        <th>순번</th>
                        <th>세부공정명</th>
                        <th>작업장</th>
                        <th>공정 담당자</th>
                        <th>공정 등록자</th>
                        <th>공정 등록일</th>
                        <th>기타</th>
                    </tr>
                    </thead>
                    <tbody id="templet_process_tbody"></tbody>
                </table>

                <div class="row no-gutters d-flex justify-content-center" id="item_nation2"
                     style="margin-top: -20px;">
                </div>

            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/api_BOMmaster.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_process.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_codemaster.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_customer.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_paginations.js' %}" type="text/javascript"></script>
<script>
    let nation_data1 = {
        cname : 'nation1',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation',
        range: 5,
        page_size: 5,
    };

    let nation1 = new Pnations(nation_data1, main_search);  // 인스턴스 명

    let nation_data2 = {
        cname : 'nation2',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation2',
        range: 5,
        page_size: 5,
    };

    let nation2 = new Pnations(nation_data2, detail_search);  // 인스턴스 명

    let main_click_id = null;
    let detail_click_id = null;

    $(function () {
        set_naming();
        refresh();

        // Table Export
        $(parent.document).find("#excel-export").click(() =>
            init_excel_export($("#templet_process_data-table-down"), "공정관리")
        );
    });


    function set_naming(){
        let enterprise_manage = get_userinfo().enterprise_manage;
        if (enterprise_manage == '(주)건강생활연구소'){
            $("#n_bom_model1").text("제품군");
            $("#n_bom_code").text("코드");
        }
        if (enterprise_manage == '(주)온교육') {
            $("#n_bom_code").text("품번");
        }
    }


    function refresh() {
        process_manage_init();
        main_search();
    }


    function main_search(){
        let search_product = $('#search_product :selected').text();
        let search_customer = $('#search_customer :selected').text();

        let query = "?page=" + nation1.page;
        if (search_product == '' || search_product == null || search_product == '선택 및 검색'){
        } else { query += "&product_name=" + search_product; }
        if (search_customer == '' || search_customer == null || search_customer == '선택 및 검색'){
        } else { query += "&master_customer__name=" + search_customer; }

        api_gp("/bom/master/" + query, "GET", {}, (done) => {
            main_table_draw(done);
        });
    }


    function process_manage_init() {
        function make_dropdown(data, selectors) {
            let list = "<option value=''>선택 및 검색</option>";
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                if (selectors === '.bom-dropdown') {
                    list += "<option value='" + item.id + "'>" + item.bom_name + "</option>";
                } else if (selectors === ".product-dropdown") {
                    list +=
                        "<option value='" + item.id + "'>" + item.product_name + "</option>";
                } else if (selectors === ".user-dropdown") {
                    list +=
                        "<option value='" + item.id + "'>" + item.username + "</option>";
                } else {
                    list +=
                        "<option value='" + item.id + "'>" + item.name + "</option>";
                }
            }
            $(selectors).html(list);
            $(selectors).select2({width: "100%"});
        }

        // BOM명, 생산제품명
        api_gp("/bom/master_select/", "GET", {}, (data) => {
            make_dropdown(data, ".bom-dropdown");
            make_dropdown(data, ".product-dropdown");
        });

        // 고객사
        api_gp('/customers_select/', 'GET', {}, (data) => {
            make_dropdown(data, '.customer-dropdown');
        });

        // 세부공정명
        api_gp("/codes_select/?group=109&enable=true", "GET", {}, (data) => {
            make_dropdown(data, ".type-dropdown");
        });

        // 작업장
        api_gp("/codes_select/?group=110&enable=true", "GET", {}, (data) => {
            make_dropdown(data, ".workshop-dropdown");
        });

        // 담당자
        api_gp("/users_select/", "GET", {}, (data) => {
            make_dropdown(data, ".user-dropdown");
        });
    }


    function main_table_draw(done) {
        {#console.table(done);#}

        let data = done.results;
        let num = (((nation1.page*1) - 1) * nation_data1["page_size"]) + 1 ;
        let rows = "";

        for (let i = 0; i < data.length; i++) {
            let item = data[i];
            if (item.detail_code != 0) {
                // append it
                let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
                row += "<td>" + (num + i) + "</td>";
                row += "<td class='d-none' name='main_click_id'>" + item.id + "</td>";
                row += "<td name='bom_number'>" + item.bom_number + "</td>";  // BOM 코드
                row += "<td name='product_name'>" + item.product_name + "</td>";  // 생산제품명

                row += "<td name='detail'>" + (item.detail ? item.detail : "") + "</td>"; // 품명상세
                row += "<td name='model_name'>" + (item.model_name ? item.model_name.name : "") + "</td>";  // 모델
                row += "<td name='version'>" + (item.version ? item.version : "") + "</td>";  // 버전
                row += "<td name='master_customer'>" + (item.master_customer ? item.master_customer.name : '') + "</td>";  // 고객사

                row += "<td name='file' data-tableexport-display=\"none\">" +
                    (nullapply(item.file) ? "<a href='" + nullapply(item.file) +
                        "' onclick=\"writeLog(this.href); window.open(this.href, '_blank', 'width=800, height=600'); return false;\">" +
                        "<img src='../../../static/img/pdf_icon.png' width='20' height='20'></a>" : "") + "</td>";

                row += "</tr>";
                rows += row;
            }
        }

        spinner();

        nation1.nation_display(done);
        $('#BOMmaster_tbody').html(rows);

        // click check
        if (main_click_id != null){
            $("#BOMmaster_tbody #" + main_click_id).addClass('clicked');
        }

        $('#BOMmaster_tbody > tr').on('click', function () {
            reset_templet_process();

            // table click highlight
            $(this).parent().find('tr').removeClass('clicked');
            $(this).addClass('clicked');

            main_click_id = $(this).attr("id");

            detail_table_load();
        });
    }


    function detail_table_load() {
        nation2.page = 1;
        detail_click_id = null;

        $("#templet_process_tbody").empty();
        $("#item_nation2").empty();

        detail_search();
    }


    function detail_search(){
        let query = "?page=" + nation2.page + "&";
        query += "master=" + main_click_id + "&";

        api_gp("/process/subtemplet/" + query, "GET", {}, (done) => {
            detail_table_draw(done);
        });
    }

    function detail_table_draw(done) {
        console.table(done);

        let data = done.results;
        let num = (((nation2.page*1) - 1) * nation_data2["page_size"]) + 1 ;

        let rows = "";
        let detail_count = 0;

        for (let i = 0; i < data.length; i++) {
            let detail_item = data[i];
            let detail_created_date = detail_item.created_at;

            detail_count++;
            let row =
                "<tr id='" + detail_item.id + "' style='cursor:pointer;'>";
            row += "<td>" + (num + i) + "</td>";  //순번
            row +=
                "<td name='type' property='" +
                detail_item.type.id +
                "'>" +
                detail_item.type.name +
                "</td>"; //세부공정명
            row +=
                "<td name='workshop' property='" +
                (detail_item.workshop ? detail_item.workshop.id : "") +
                "'>" +
                (detail_item.workshop ? detail_item.workshop.name : "") +
                "</td>"; //작업장
                row +=
                "<td name='charge' property='" +
                (detail_item.charge ? detail_item.charge.id : "") + "'>" +
                (detail_item.charge ? detail_item.charge.username : "") +
                "</td>"; // 공정 담당자

            row +=
                "<td name='created_by' property='" +
                detail_item.created_by +
                "'>" +
                detail_item.created_by +
                "</td>"; // 공정 등록자
            row +=
                "<td name='created_at'>" +
                detail_created_date.substring(0, 4) +
                "-" +
                detail_created_date.substring(5, 7) +
                "-" +
                detail_created_date.substring(8, 10) +
                "</td>"; // 공정 등록일
            row += "<td name='etc'>" + detail_item.etc + "</td>"; // 기타
            row += "</tr>";

            rows += row;
        }

        nation2.nation_display(done);
        $("#templet_process_tbody").html(rows);

        // click check
        if (detail_click_id != null){
            $("#templet_process_tbody #" + detail_click_id).addClass('clicked');
        }

        $("#templet_process_tbody > tr").on("click", function () {

            // 세부공정명
            $("#templet_process_manage [name='type']").val(
                $(this).find("[name='type']").attr("property")
            );
            $("#templet_process_manage [name='type']").trigger("change");

            // 작업장
            $("#templet_process_manage [name='workshop']").val(
                $(this).find("[name='workshop']").attr("property")
            );
            $("#templet_process_manage [name='workshop']").trigger("change");

            // 공정담당자
            $("#templet_process_manage [name='charge']").val(
                $(this).find("[name='charge']").attr("property")
            );
            $("#templet_process_manage [name='charge']").trigger("change");

            // 기타
            $("#templet_process_manage [name='etc']").val(
                $(this).find("[name='etc']").text()
            );

            spinner();

            // table click highlight
            $(this).parent().find('tr').removeClass('clicked');
            $(this).addClass('clicked');

            detail_click_id = $(this).attr("id");
        });
    }


    function search_submit(e) {
        e.preventDefault();

        nation1.page = 1;
        main_click_id = null;

        nation2.page = 1;
        detail_click_id = null;

        main_search();
        return false;
    }


    function templet_process_get_form_data() {
        let workshop = null;
         if($("#detail_process_detail [name='workshop']").val() == null
            || $("#detail_process_detail [name='workshop']").val() == "")
                workshop = null;
         else workshop = parseInt($("#detail_process_detail [name='workshop']").val());
        return {
            master:parseInt(main_click_id),
            type: parseInt($("#detail_process_detail [name='type']").val()), // 세부공정명
            workshop: workshop, // 작업장
            charge: $("#detail_process_detail [name='charge']").val(), // 공정담당자
            etc: $("#detail_process_detail [name='etc']").val(), // 기타
        };
    }


    function templet_process_add() {
        if (main_click_id == null){
            alert("생산 제품을 먼저 선택해 주세요.");
            return;
        }

        if ($("#detail_process_detail [name='type']").val() == null
            || $("#detail_process_detail [name='type']").val() == ""){
            alert("세부공정명을 먼저 선택해 주세요.");
            return;
        }


        let data = templet_process_get_form_data();
        api_gp("/process/subtemplet/", "POST", data, (done) => {
            alert("등록하였습니다.");
            nation2.page = 1;
            detail_click_id = done.id;
            detail_search();
        });
    }


    function templet_process_edit() {
        if (main_click_id == null){
            alert("생산 제품을 먼저 선택해 주세요.");
            return;
        }

        if (detail_click_id == null){
            alert("세부공정을 먼저 선택해 주세요.");
            return;
        }

        if ($("#detail_process_detail [name='type']").val() == null
            || $("#detail_process_detail [name='type']").val() == ""){
            alert("세부공정명을 먼저 선택해 주세요.");
            return;
        }

        let data = templet_process_get_form_data();
        api_gp("/process/subtemplet/" + detail_click_id + "/", "PATCH", data, (done) => {
            alert("수정하였습니다.");
            detail_search();
            }
        );
    }


    function templet_proecess_remove() {
        if (main_click_id == null){
            alert("생산 제품을 먼저 선택해 주세요.");
            return;
        }

        if (detail_click_id == null){
            alert("세부공정을 먼저 선택해 주세요.");
            return;
        }

        let data = templet_process_get_form_data();
        api_gp("/process/subtemplet/" + detail_click_id + "/", "DELETE", data, (done) => {
                alert("삭제하였습니다.");
                detail_table_load();
                {% comment %}process_sub_templet_search((done) => {
                    detail_table_draw(done);
                    reset_templet_process();
                }, handle_error, () => {

                });{% endcomment %}
            }
        );
    }


    function writeLog(_file) {
        let userinfo = get_userinfo();
        let file = decodeURI(_file);
        let user = userinfo["name"];
        let enterprise = userinfo["enterprise_name"];

        console.log("print");
        console.table(userinfo);

        $.ajax({
            url: "/write_log/",
            type: "POST",
            dataType: "json",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}', 'user': user, 'enterprise': enterprise, 'file': file,
            },
            success: function (data) {
                // alert(data.message);
                location.reload();
            },
            error: function (data) {
                // alert(data.message);
            },
        });
    }


    function reset_templet_process(){
        // 세부공정명
        $("#templet_process_manage [name='type']").val("");
        $("#templet_process_manage [name='type']").trigger("change");

        // 작업장
        $("#templet_process_manage [name='workshop']").val("");
        $("#templet_process_manage [name='workshop']").trigger("change");

        // 공정담당자
        $("#templet_process_manage [name='charge']").val("");
        $("#templet_process_manage [name='charge']").trigger("change");

        // 기타
        $("#templet_process_manage [name='etc']").val("");
        $("#templet_process_manage [name='etc']").trigger("change");
    }

    function spinner() {
        $("#spinner").remove();
    }

</script>

</body>
</html>