<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <!-- Page Type -->
    <meta charset="utf-8">

    <!-- Web Master -->
    <meta name="naver-site-verification" content="3341b7ec1724ec0a9582242d0010961174bd3b25"/>

    <!-- Page Info -->
    <title>{% block title %}서울소프트{% endblock %}</title>
    <meta name="description" content="서울소프트에서 다양한 기술과 디지털 혁신을 만나 보세요. 운송업 분야 통합관리시스템 MMS, Smart Farm, Smart Factory">
    <meta name="keywords" content="서울소프트, MES, MMS, IBT, ERP, ERP시스템, 재고관리, 생산관리, 영업관리, 그룹웨어">
    <meta name="application-name" content="SEOULSOFT SERVICES">
    <meta name="author" content="SEOULSOFT">

    <!-- Page Social -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="서울소프트">
    <meta property="og:description" content="서울소프트에서 다양한 기술과 디지털 혁신을 만나 보세요. 운송업 분야 통합관리시스템 MMS, Smart Farm, Smart Factory">
    <meta property="og:image" content="http://www.seoulsoft.kr/static/renewal/image/logo_A.png">
    <meta property="og:url" content="http://www.seoulsoft.kr/">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!--  구글폰트 링크  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/slick.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" >
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Popper.js script for dropdown menu -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="http://mattstow.com/experiment/responsive-image-maps/jquery.rwdImageMaps.min.js"></script>
    <!-- 기존 naver map clientID
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=dxGxubaN3QcjV5OPEYjC"></script>
    -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ec4e4ae0adbe97712d1274f5920055f"></script>

    <!-- fullpage.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'fullpage/fullpage.css' %}">
    <script type="text/javascript" charset="utf-8" src="{% static 'js/default.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

    <!--공홈 url-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'admin/js/slick.min.js' %}"></script>
    <script src="{% static 'admin/js/slickslide.js' %}"></script>
{#    <script src="{% static 'admin/js/main_slide.js' %}" type="text/javascript" defer="defer"></script>#}
    <script src="{% static 'admin/js/custom.js' %}" defer="defer"></script>

    <script src="{% static 'js/api_adapter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/api_paginations.js' %}"></script>



    <script src='https://www.google.com/recaptcha/api.js'></script>
<style>
    @font-face {
        font-family: 'Pretendard';
        src: url("{% static 'admin/fonts/Pretendard-Regular.woff' %}") format('woff');
    }

    body, html {
        font-family: Pretendard;
    }
</style>
</head>
