{% load static %}
<div class="header-area">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-8 clearfix">
            <div class="nav-btn pull-left">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-4 clearfix">
            <ul class="notification-area pull-right">
                <li><i class="fa fa-sign-out" id="logout" style="font-size: 48px;" ></i></li>
            </ul>
        </div>
    </div>
</div>



<script>

    {#let enterprise_name = get_userinfo().enterprise_name;#}
    let enterprise_manage = get_userinfo().enterprise_manage;

    $(".dropdown-item").on('contextmenu', function(ev) {
        ev.preventDefault();
        var button_url = this.getAttribute("href");
        window.open(button_url);
    })

    // logout action
    $("#logout").click(function() {
        flush_token();
        window.location.href = "/accounts/login/" // TODO:
    });

    // help 도움말
    $("#help").click(function() {
        if (enterprise_manage == '할랄푸드코리아') {
            var url = "/KPI/kpi_pop";
            var name = "KPI";
            var option = "width=1000, height=417, location=no";
            window.open(url, name, option);
        }else if (enterprise_manage == '(주)건강생활연구소'){
            var url = "/basic_information/health";
            var name = "health";
            var option = "width=1920, height=1080, location=no";
            {#var option = "width=600, height=600, location=no";#}
            {#window.open(url, name, option);#}
        }
    });

    if (enterprise_manage !== '(주)건강생활연구소'){
        $("#graph").addClass('d-none');
        $("#alert").addClass('d-none');
        $("#kpi").addClass('d-none');
    }

    $("#graph").click(function () {
        if (enterprise_manage == '(주)건강생활연구소'){
            var url = "/basic_information/graph";
            var name = "graph";
            var option = "width=1920, height=1080, location=no";
            {#var option = "width=600, height=600, location=no";#}
            window.open(url, name, option);
        }
    })

    $("#alert").click(function () {
        if (enterprise_manage == '(주)건강생활연구소'){
            var url = "/basic_information/alert";
            var name = "alert";
            var option = "width=1920, height=700, location=no";
            {#var option = "width=600, height=600, location=no";#}
            window.open(url, name, option);
        }
    })

    $("#kpi").click(function () {
        if (enterprise_manage == '(주)건강생활연구소'){
            var url = "/basic_information/rest_kpi";
            var name = "rest_kpi";
            var option = "width=1920, height=800, location=no";
            {#var option = "width=600, height=600, location=no";#}
            window.open(url, name, option);
        }
    })

    if (enterprise_manage == '한빛테크랩'){
        $('button.sm-6').attr("onclick", "url_click('/basic_information/BOM_hanvit/', 'sm-6');")
        $('button .sm-7').attr("onclick", "url_click('/BOM/manage_hanvit/', 'sm-7');")
        $('button .sm-8').attr("onclick", "url_click('/BOM/lookup_hanvit/', 'sm-8');")
    }

    // for screen-print
    $("#screen-print").click(function() {
        $('.tab-content .show iframe').contents().find("body").printThis();
    });

    $("#content-print").click(function() {
        var title_text = $("title").text();

        $('.tab-content .show iframe').contents().find("table").printThis({
            header: '<h3 class="mb-2" id=title">' + title_text + '</h3>'
        });
    });

    $(() => {

        let permissions = get_userinfo().permissions;

        for (let i = 0; i < AUTH_CNT_MAX; i++) {
            let enabled = (permissions[i]) == '1';
            if (enabled == true) $('.sm-' + i).css('display', 'block');
        }

        if (get_userinfo().is_superuser === 'true') {
            $('.sm-su').css('display', 'block');
            $(".sm-en").css("display", "block");
        }

        if (get_userinfo().is_master === "true") {
          $(".sm-en").css("display", "block");
        }

        for (let i = 1; i <= TAB_CNT_MAX; i++) {
            let checkDisplay = 1;
            let check_this = '#menu-' + i;
            $(check_this).find('a').each(function() {
                if (!($(this).css('display') == 'none')) {
                    checkDisplay = 0;
                }
            })
            if (checkDisplay) {
                $(check_this).css('display', 'none');
            }
        }

        let userinfo = get_userinfo();
        $("#usercode").text(userinfo.code);
        $("#username").text(userinfo.name);
        $("#enterprise_name").text(userinfo.enterprise_name);
        $("#e-name").text(userinfo.enterprise_name);
    });

    // 업체별 NickName 변경
    api_gp('/enterprises/?name=' + get_userinfo().enterprise_name, 'GET', {}, (data) => {
        // 기준정보
        if (data[0].nickBase != null && data[0].nickBase != '') {
            $("#menu-1-button").text(data[0].nickBase);
        }
        if (data[0].nCodeMaster != null && data[0].nCodeMaster != '') {
            $(".sm-0").text(data[0].nCodeMaster);
        }
        if (data[0].nCustomer != null && data[0].nCustomer != '') {
            $(".sm-1").text(data[0].nCustomer);
        }
        {% comment %}
        if (data[0].nUser != null && data[0].nUser != '') {
            $(".sm-2").text(data[0].nUser);
        }
        {% endcomment %}
        if (data[0].nFacilities != null && data[0].nFacilities != '') {
            $(".sm-3").text(data[0].nFacilities);
        }
        if (data[0].nItem != null && data[0].nItem != '') {
            $(".sm-4").text(data[0].nItem);
        }
        {% comment %}
        if (data[0].nAuthUser != null && data[0].nAuthUser != '') {
            $(".sm-5").text(data[0].nAuthUser);
        }
        {% endcomment %}
        if (data[0].nOrderCompany != null && data[0].nOrderCompany != '') {
            $(".sm-42").text(data[0].nOrderCompany);
        }
        if (data[0].nMyInfo != null && data[0].nMyInfo != '') {
            $(".sm-57").text(data[0].nMyInfo);
        }

        // BOM 관리
        if (data[0].nickBom != null && data[0].nickBom != '') {
            $("#menu-2-button").text(data[0].nickBom);
        }
        if (data[0].nBomForm != null && data[0].nBomForm != '') {
            $(".sm-6").text(data[0].nBomForm);
        }
        if (data[0].nBomManage != null && data[0].nBomManage != '') {
            $(".sm-7").text(data[0].nBomManage);
        }
        if (data[0].nBomSearch != null && data[0].nBomSearch != '') {
            $(".sm-8").text(data[0].nBomSearch);
        }
        if (data[0].nBomPlan != null && data[0].nBomPlan != '') {
            $(".sm-9").text(data[0].nBomPlan);
        }

        // 자재관리
        if (data[0].nickMaterial != null && data[0].nickMaterial != '') {
            $("#menu-3-button").text(data[0].nickMaterial);
        }
        if (data[0].nMaterialImport != null && data[0].nMaterialImport != '') {
            $(".sm-10").text(data[0].nMaterialImport);
        }
        if (data[0].nMaterialOutOrder != null && data[0].nMaterialOutOrder != '') {
            $(".sm-61").text(data[0].nMaterialOutOrder);
        }
        if (data[0].nMaterialOutOut != null && data[0].nMaterialOutOut != '') {
            $(".sm-62").text(data[0].nMaterialOutOut);
        }
        if (data[0].nMaterialOutput != null && data[0].nMaterialOutput != '') {
            $(".sm-11").text(data[0].nMaterialOutput);
        }
        if (data[0].nMaterialCarry != null && data[0].nMaterialCarry != '') {
            $(".sm-12").text(data[0].nMaterialCarry);
        }
        if (data[0].nMaterialSearch != null && data[0].nMaterialSearch != '') {
            $(".sm-13").text(data[0].nMaterialSearch);
        }
        if (data[0].nMaterialSearchT != null && data[0].nMaterialSearchT != '') {
            $(".sm-59").text(data[0].nMaterialSearchT);
        }
        if (data[0].nMaterialAdjust != null && data[0].nMaterialAdjust != '') {
            $(".sm-14").text(data[0].nMaterialAdjust);
        }

        // 공정관리
        if (data[0].nickProcess != null && data[0].nickProcess != '') {
            $("#menu-4-button").text(data[0].nickProcess);
        }

        {% comment %}
        if (data[0].nickProcess != null && data[0].nickProcess != '') {
            $(".sm-15").text(data[0].nickProcess);
        }
        {% endcomment %}

        if (data[0].nProcessNameAdd != null && data[0].nProcessNameAdd != '') {
            $(".sm-15").text(data[0].nProcessNameAdd);
        }
        if (data[0].nProcessDetail != null && data[0].nProcessDetail != '') {
            $(".sm-16").text(data[0].nProcessDetail);
        }
        if (data[0].nProcessStatsAdd != null && data[0].nProcessStatsAdd != '') {
            $(".sm-17").text(data[0].nProcessStatsAdd);
        }
        if (data[0].nProcessStatsAddT != null && data[0].nProcessStatsAddT != '') {
            $(".sm-58").text(data[0].nProcessStatsAddT);
        }
        if (data[0].nProcessStatsSearch != null && data[0].nProcessStatsSearch != '') {
            $(".sm-18").text(data[0].nProcessStatsSearch);
        }
        if (data[0].nProcessStatsSearchTV != null && data[0].nProcessStatsSearchTV != '') {
            $(".sm-56").text(data[0].nProcessStatsSearchTV);
        }

        //불량 관리
        if (data[0].nickFaulty != null && data[0].nickFaulty != '') {
            $("#menu-18-button").text(data[0].nickFaulty);
        }

        if (data[0].nFaultyAdd != null && data[0].nFaultyAdd != '') {
            $(".sm-63").text(data[0].nFaultyAdd);
        }
        if (data[0].nFaultyLookUp != null && data[0].nFaultyLookUp != '') {
            $(".sm-64").text(data[0].nFaultyLookUp);
        }
        if (data[0].nFaultyGraph != null && data[0].nFaultyGraph != '') {
            $(".sm-65").text(data[0].nFaultyGraph);
        }

        // 실적관리 - 변경 시 sm 번호 재 설정해놔야함
        if (data[0].nickResult != null && data[0].nickResult != '') {
            $("#menu-8-button").text(data[0].nickResult);
        }

        if (data[0].nProcessStatsSearch != null && data[0].nProcessStatsSearch != '') {
            $(".sm-27").text(data[0].nProcessStatsSearch);
        }
        if (data[0].nProcessStatsSearch != null && data[0].nProcessStatsSearch != '') {
            $(".sm-27").text(data[0].nProcessStatsSearch);
        }
        if (data[0].nProcessStatsSearch != null && data[0].nProcessStatsSearch != '') {
            $(".sm-27").text(data[0].nProcessStatsSearch);
        }
        if (data[0].nProcessStatsSearch != null && data[0].nProcessStatsSearch != '') {
            $(".sm-27").text(data[0].nProcessStatsSearch);
        }

        // 창고관리 - 변경 시 sm 번호 재 설정해놔야함
        if (data[0].nickWarehouse != null && data[0].nickWarehouse != '') {
            $("#menu-7-button").text(data[0].nickWarehouse);
        }


        // 대여관리
        if (data[0].nickRental != null && data[0].nickRental != '') {
            $("#menu-5-button").text(data[0].nickRental);
        }
        if (data[0].nRentalManage != null && data[0].nRentalManage != '') {
            $(".sm-19").text(data[0].nRentalManage);
        }
        if (data[0].nRentalAdd != null && data[0].nRentalAdd != '') {
            $(".sm-20").text(data[0].nRentalAdd);
        }
        if (data[0].nRentalSearch != null && data[0].nRentalSearch != '') {
            $(".sm-21").text(data[0].nRentalSearch);
        }

        // 온습도 모니터링
        if (data[0].nickSensor != null && data[0].nickSensor != '') {
            $("#menu-6-button").text(data[0].nickSensor);
        }

        if (data[0].nSensor != null && data[0].nSensor != '') {
            $(".sm-22").text(data[0].nSensor);
        }
        if (data[0].nSensorPC != null && data[0].nSensorPC != '') {
            $(".sm-23").text(data[0].nSensorPC);
        }
        if (data[0].nSensorTV != null && data[0].nSensorTV != '') {
            $(".sm-24").text(data[0].nSensorTV);
        }
        if (data[0].nSensorH2 != null && data[0].nSensorH2 != '') {
            $(".sm-39").text(data[0].nSensorH2);
        }
        if (data[0].nSensorPCH2 != null && data[0].nSensorPCH2 != '') {
            $(".sm-40").text(data[0].nSensorPCH2);
        }
        if (data[0].nSensorTVH2 != null && data[0].nSensorTVH2 != '') {
            $(".sm-41").text(data[0].nSensorTVH2);
        }
        if (data[0].nSensorLEDH2 != null && data[0].nSensorLEDH2 != '') {
            $(".sm-60").text(data[0].nSensorLEDH2);
        }

        // 온도전압 관리 - 변경 시 sm 번호 재 설정해놔야함
        if (data[0].nickTempVolt != null && data[0].nickTempVolt != '') {
            $("#menu-9-button").text(data[0].nickTempVolt);
        }
        if (data[0].nTempVoltManage != null && data[0].nTempVoltManage != '') {
            $(".sm-28").text(data[0].nTempVoltManage);
        }
        if (data[0].nTempVoltStatsSearch != null && data[0].nTempVoltStatsSearch != '') {
            $(".sm-29").text(data[0].nTempVoltStatsSearch);
        }
        if (data[0].nTempVoltBgSearch != null && data[0].nTempVoltBgSearch != '') {
            $(".sm-30").text(data[0].nTempVoltBgSearch);
        }


        if (data[0].nickOrder != null && data[0].nickOrder != '') {
            $("#menu-10-button").text(data[0].nickOrder);
        }
        if (data[0].nOrderAdd != null && data[0].nOrderAdd != '') {
            $(".sm-31").text(data[0].nOrderAdd);
        }
        if (data[0].nOrderCtAdd != null && data[0].nOrderCtAdd != '') {
            $(".sm-32").text(data[0].nOrderCtAdd);
        }
        if (data[0].nOrderCtStats != null && data[0].nOrderCtStats != '') {
            $(".sm-33").text(data[0].nOrderCtStats);
        }

        //외주 관리
        if (data[0].nickOutsourcing != null && data[0].nickOutsourcing != '') {
            $("#menu-19-button").text(data[0].nickOutsourcing);
        }
        if (data[0].nOutsourcingOut != null && data[0].nOutsourcingOut != '') {
            $(".sm-66").text(data[0].nOutsourcingOut);
        }
        if (data[0].nOutsourcingCtAdd != null && data[0].nOutsourcingCtAdd != '') {
            $(".sm-67").text(data[0].nOutsourcingCtAdd);
        }
        if (data[0].nOutsourcingCtStats != null && data[0].nOutsourcingCtStats != '') {
            $(".sm-68").text(data[0].nOutsourcingCtStats);
        }

        // HACCP 관리
        if (data[0].nickHaccp != null && data[0].nickHaccp != '') {
            $("#menu-11-button").text(data[0].nickHaccp);
        }
        if (data[0].nHaccp != null && data[0].nHaccp != '') {
            $(".sm-34").text(data[0].nHaccp);
        }
        if (data[0].nHaccpNew != null && data[0].nHaccpNew != '') {
            $(".sm-35").text(data[0].nHaccpNew);
        }

        // 주문관리
        if (data[0].nickOrdering != null && data[0].nickOrdering != '') {
            $("#menu-12-button").text(data[0].nickOrdering);
        }
        if (data[0].nOrderingAdd != null && data[0].nOrderingAdd != '') {
           $(".sm-36").text(data[0].nOrderingAdd);

        }
        if (data[0].nOrderingStatsSearch != null && data[0].nOrderingStatsSearch != '') {
            $(".sm-37").text(data[0].nOrderingStatsSearch);
        }

        if (data[0].nOrderingStatsAdd != null && data[0].nOrderingStatsAdd != '') {
            $(".sm-38").text(data[0].nOrderingStatsAdd);
        }

        // 출하관리
        if (data[0].nickOrderingEx != null && data[0].nickOrderingEx != '') {
            $("#menu-13-button").text(data[0].nickOrderingEx);
        }
        if (data[0].nOrderingExAdd != null && data[0].nOrderingExAdd != '') {
            $(".sm-43").text(data[0].nOrderingExAdd);
        }
        if (data[0].nOrderingExStatus != null && data[0].nOrderingExStatus != '') {
            $(".sm-44").text(data[0].nOrderingExStatus);
        }

        // 원가관리
        if (data[0].nickCost != null && data[0].nickCost != '') {
            $("#menu-14-button").text(data[0].nickCost);
        }
        if (data[0].nCostByProduct != null && data[0].nCostByProduct != '') {
            $(".sm-45").text(data[0].nCostByProduct);
        }
        if (data[0].nCostByExpert != null && data[0].nCostByExpert != '') {
            $(".sm-46").text(data[0].nCostByExpert);
        }

        // 의뢰서관리
        if (data[0].nickRequest != null && data[0].nickRequest != '') {
            $("#menu-15-button").text(data[0].nickRequest);
        }
        if (data[0].nRequestAdd != null && data[0].nRequestAdd != '') {
            $(".sm-47").text(data[0].nRequestAdd);
        }
        if (data[0].nRequestSearch != null && data[0].nRequestSearch != '') {
            $(".sm-48").text(data[0].nRequestSearch);
        }

        // 견적서관리
        if (data[0].nickEstimate != null && data[0].nickEstimate != '') {
            $("#menu-16-button").text(data[0].nickEstimate);
        }
        if (data[0].nEstimateAdd != null && data[0].nEstimateAdd != '') {
            $(".sm-49").text(data[0].nEstimateAdd);
        }
        if (data[0].nEstimateSearch != null && data[0].nEstimateSearch != '') {
            $(".sm-50").text(data[0].nEstimateSearch);
        }

        // 품질측정관리
        if (data[0].nickQuality != null && data[0].nickQuality != '') {
            $("#menu-17-button").text(data[0].nickQuality);
        }
        if (data[0].nQualityUnbalanceAdd != null && data[0].nQualityUnbalanceAdd != '') {
            $(".sm-51").text(data[0].nQualityUnbalanceAdd);
        }
        if (data[0].nQualityUnbalanceSearch != null && data[0].nQualityUnbalanceSearch != '') {
            $(".sm-52").text(data[0].nQualityUnbalanceSearch);
        }
        if (data[0].nQualityRotatorAdd != null && data[0].nQualityRotatorAdd != '') {
            $(".sm-53").text(data[0].nQualityRotatorAdd);
        }
        if (data[0].nQualityStatorAdd != null && data[0].nQualityStatorAdd != '') {
            $(".sm-55").text(data[0].nQualityStatorAdd);
        }
        // 매인 매출
        if (data[0].nOrderPurchaseOrSales != null && data[0].nOrderPurchaseOrSales != '') {
            $("#menu-20-button").text(data[0].nOrderPurchaseOrSales);
        }
        if (data[0].nOrderPurchase != null && data[0].nOrderPurchase != '') {
            $(".sm-69").text(data[0].nOrderPurchase);
        }
        if (data[0].nOrderSales != null && data[0].nOrderSales != '') {
            $(".sm-70").text(data[0].nOrderSales);
        }
        if (data[0].nProduction != null && data[0].nProduction != '') {
            $("#menu-21-button").text(data[0].nProduction);
        }
        if (data[0].nProductionDevice != null && data[0].nProductionDevice != '') {
            $(".sm-71").text(data[0].nProductionDevice);
        }
            if (data[0].nickMaterialInform != null && data[0].nickMaterialInform != '') {
            $("#menu-22-button").text(data[0].nickMaterialInform);
        }
        if (data[0].nMaterialInform != null && data[0].nMaterialInform != '') {
            $(".sm-72").text(data[0].nMaterialInform);
        }

        $("#header_menu").children().hide();
    });
</script>