{% load static %}
<!DOCTYPE html>
    {% include 'admins/admin_header.html' %}
    <title>LOG IN PAGE</title>

    <link rel="stylesheet" href="{% static 'sneat/assets/vendor/css/pages/page-auth.css' %}" />
<body>
<!-- Content -->

<div class="d-flex align-items-center justify-content-center authentication-wrapper authentication-cover">
     <!-- /Left Text -->
    <div style="border-bottom-left-radius: 36px; box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.12);">
        <img
                src="{% static 'img/login_img.png' %}"
                class="img-fluid"
                style="border-top-left-radius: 36px; border-bottom-left-radius: 36px;"
                alt="Login image"
                width="700"
                data-app-dark-img="illustrations/boy-with-rocket-dark.png"
                data-app-light-img="illustrations/boy-with-rocket-light.png"/>
    </div>

    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4" style="height: 811px; border-top-right-radius: 36px; border-bottom-right-radius: 36px; box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.12);">
        <div class="w-px-400 mx-auto">
            <!-- Logo -->
            <div class="app-brand mb-5">
                <a href="#" class="app-brand-link gap-2">
                    <span class="app-brand-text demo text-body fw-bold">
                        <img src="{% static 'img/logo.jpg' %}">
                    </span>
                </a>
            </div>
            <!-- /Logo -->
            <h3 class="mb-2"
                style="color: #000; font-family: Pretendard; font-size: 36px; font-style: normal; font-weight: 400; line-height: normal;">
                서울소프트에 오신 것을</h3>
            <h2 class="mb-4"
                style="color: #000; font-family: Pretendard; font-size: 36px; font-style: normal; font-weight: 700; line-height: normal;">
                환영합니다.</h2>
            <h6 style="color: #696CFF;font-family: Pretendard; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                로그인이 필요합니다.</h6>

            <form id="login" method="POST" onsubmit="return frm_check();" style="margin-top: 70px;">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">ID</label>
                    <input
                            type="text"
                            class="form-control"
                            id="email"
                            name="username"
                            placeholder="Enter your id"
                            autofocus required/>
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">Password</label>
                        <a href="#" id="forgot-password">
                            <small>Forgot Password?</small>
                        </a>
                    </div>
                    <div class="input-group input-group-merge">
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                name="password"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="password" required/>
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="remember-me"/>
                        <label class="form-check-label" for="defaultInline1">아이디 기억</label>
                    </div>
                </div>
                <button class="btn btn-primary d-grid w-100">로그인</button>
            </form>

            <p class="text-center" style="margin-top: 20px;">
                <span>회원이 아니신가요?</span>
                <a href="{% url 'signup' %}">
                    <span>회원가입</span>
                </a>
            </p>

        </div>
    </div>

</div>
    <!-- / Content -->

<script>
    // If you have an access token in the cookie (but this save-at-cookie feature must be modified in the future)
    // pass login page and redirect view to the codemaster.
    // Note that you must make a logic that redirect an un-authorized user to login page.
    if (get_token() !== "") {
        //window.location.href = "/admins/index/"; // TODO:
        window.location.href = "/"; // TODO:
    }

    $(function() {
           fnInit();
     });

     function frm_check(){
         saveid();
     }

    function fnInit(){
        var cookieid = getCookie("saveid");
        if(cookieid !=""){
            $("input:checkbox[id='defaultInline1']").prop("checked", true);
            $("#login [name='username']").val(cookieid);
        }

    }

    function setCookie(name, value, expiredays) {
        var todayDate = new Date();
        todayDate.setTime(todayDate.getTime() + 0);
        if(todayDate > expiredays){
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
        }else if(todayDate < expiredays){
            todayDate.setDate(todayDate.getDate() + expiredays);
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
        }


    }

    function getCookie(Name) {
        var search = Name + "=";

        if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
            offset = document.cookie.indexOf(search);
            if (offset != -1) { // 쿠키가 존재하면
                offset += search.length;
                // set index of beginning of value
                end = document.cookie.indexOf(";", offset);
                // 쿠키 값의 마지막 위치 인덱스 번호 설정
                if (end == -1)
                    end = document.cookie.length;

                return unescape(document.cookie.substring(offset, end));
            }
        }
        return "";
    }

    function saveid() {
        var expdate = new Date();
        if ($("#remember-me").is(":checked")){
            expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
            setCookie("saveid", $("#login [name='username']").val(), expdate);
            }else{
           expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
            setCookie("saveid", $("#login [name='username']").val(), expdate);

        }
    }

    // An example to login using /users/login/ API endpoint.
    // It will ends up with putting api token to cookies.
    // Note that processing CSRF token is not scope of this example.
    $("#login").submit(function (event) {
        // get vals
        let username = $('#login [name="username"]').val();
        let password = $('#login [name="password"]').val();

        // KPI 로그인
        let paramData = {"companyCode": "1210598790"};  //소공인 회사코드(사업자번호 10자리)
        let session_id = "";
       {% comment %} jQuery.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8", url: "http://smart-kpi.kr:7000/kpi/login",
            data: JSON.stringify(paramData), dataType: "json",
            success: function (data) {
                console.log(data);

                console.log(data.status);
                console.log(data.companyCode);
                console.log(data.companyName);
                console.log(data.sessionId);

                session_id = data.sessionId;

                // KPI Level-1
                let paramData1 =
                    {
                        "sessionId": session_id,

                        "kpiDate": "2021-10-25",
                        "activeUserCnt": 10,
                        "systemMenuCnt": 50,
                        "activeModuleCnt": 33,
                        "tableCnt": 75,
                        "recordCnt": 123
                    };
                jQuery.ajax({
                    type: "post",
                    contentType: "application/json; charset=utf-8", url: "http://smart-kpi.kr:7000/kpi/level1/create",
                    data: JSON.stringify(paramData1), dataType: "json",
                    success: function (data) {
                        console.log(data);

                    },
                    complete: function (data) {
                        console.log('complete');
                    },
                    error: function (xhr, status, error) {
                        console.log('error');
                        console.log(error);
                    }
                });

            },
            complete: function (data) {
                console.log('complete');
            },
            error: function (xhr, status, error) {
                console.log('error');
                console.log(error);
            }
        });{% endcomment %}



        // call login api
        api_login(
            username,
            password,
            () => {
                window.location.href = "/"; // TODO:
            },
            handle_error,
            (xhr, status) => {
            }
        );

        event.preventDefault();
    });

    document.querySelector('#forgot-password').addEventListener('click', function (e) {
        e.preventDefault();

        Swal.fire({
            title: 'Info!',
            text: '관리자에게 문의 바랍니다.',
            icon: 'info',
            confirmButtonText: '확인'
        });
    });
</script>
</body>
<script src="{% static 'sneat/assets/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
<script src="{% static 'sneat/assets/js/extended-ui-sweetalert2.js' %}"></script>
</html>
