{% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">

    <nav class="navbar navbar-expand-lg justify-content-between d-flex fixed-top" style="height: 8%;">
        <div class="main_logo" style="padding-left: 5%;">
            <a href="/"><img src="{% static 'renewal/image/logo_B.png' %}" alt="main_logo" style="width: 50%"></a>
        </div>

        <div class="pr-5">
            <ul class="menu nav nav-pills">
                <li class="menu_li">
                    <a href="/menu/0102/" class="menu_li_a">기업정보</a>
                    <ul class="submenu">
                        <li><a href="/menu/0102/">회사소개</a></li>
                        <li><a href="/menu/010202/">BROCHURE</a></li>
                    </ul>
                </li>

                <li class="menu_li">
                    <a href="/menu/0103/" class="menu_li_a">서비스</a>
                    <ul class="submenu">
                        <li><a href="/menu/0102/">MMS</a></li>
                        <li><a href="/menu/0103/">I.B.T</a></li>
                        <li><a href="/menu/0101/">MES</a></li>
                    </ul>
                </li>

                <li class="menu_li">
                    <a href="/menu/0104/" class="menu_li_a">스토리</a>
                    <ul class="submenu">
                        <li><a href="/menu/0104/">운송ERP</a></li>
                        <li><a href="/menu/010402/">MES</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div style="padding-right: 3%;">
            <ul class="menu nav nav-pills contact-us">
                <li class="menu_li">
                    <a href="/menu/0106/" class="menu_li_a">Contact Us</a>
                    <ul class="submenu">
                        <li><a href="/menu/0106/">문의하기</a></li>
                        <li><a href="/menu/010602/">오시는길</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>


<a href="#" id="topBtn"><i class="fa-solid fa-circle-arrow-up"></i></a>
<script>
    function flush_token() {
        document.cookie = 'Authorization=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'user_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'username=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_superuser=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_master=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_active=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'permissions=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_name=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'order_company=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>