{% load static %}

<style>

    .main_logo img {
        max-width: 114px;
        max-height: 35px;
        width: auto;
        height: auto;
    }

    .menu_li_a:hover,
    .submenu a:hover {
        text-decoration: none;
    }

    .menu_li {
        position: relative;
    }

    .menu_li_a {
        font-size: 16px;
        color:white;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        border-radius: 10px;
    }

    .menu_li:hover .submenu {
        display: block;
    }

    .submenu li {
        list-style: none;
    }

    .submenu li a {
        padding: 12px 16px;
        display: block;
        text-decoration: none;
        color: black;
    }

    .submenu li a:hover {
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    .navbar {
        max-height: 68px;
    }

    @media (max-width: 1000px) {
        .navbar {
            max-height: 100px;
        }
        .container {
            max-width: 900px;
        }
        .menu_li_a {
            font-size:24px;
        }
        .menu_li {
            padding-left: 40px !important;
            padding-right: 20px !important;
        }
    }

</style>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top d-flex justify-content-center mx-0" id="topNav" ">
    <div class="container d-flex justify-content-between px-2 px-lg-2 mx-0">

        <div class="main_logo d-flex">
            <a href="/">
                <img src="{% static 'renewal/image/logo_B.png' %}" alt="main_logo">
            </a>
        </div>

        <div class="">
            <ul class="menu nav nav-pills">
                <li class="menu_li">
                    <a class="menu_li_a">기업정보</a>
                    <ul class="submenu">
                        <li><a href="/menu/0107/">ESG 경영</a></li>
                        <li><a href="/menu/0108/">사업영역</a></li>
                    </ul>
                </li>

                <li class="menu_li">
                    <a class="menu_li_a">서비스</a>
                    <ul class="submenu">
                        <li><a href="/menu/0102/">MMS</a></li>
                        <li><a href="/menu/0103/">I.B.T</a></li>
                        <li><a href="/menu/0101/">MES</a></li>
                    </ul>
                </li>

                <li class="menu_li">
                    <a href="/menu/0109/" class="menu_li_a">스토리</a>
                </li>
            </ul>
        </div>

        <div class="">
            <ul class="menu nav nav-pills contact-us">
                <li class="menu_li">
                    <a href="/menu/0106/" class="menu_li_a">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<a href="#" id="topBtn"><i class="fa-solid fa-circle-arrow-up"></i></a>
<script>
    function flush_token() {
        document.cookie = 'Authorization=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'user_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'username=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_superuser=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_master=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'is_active=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'permissions=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_id=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'enterprise_name=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'order_company=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'story_admin=; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>