<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    {% include 'header.html' %}
</head>
<body style="background-color: #F8F8F8">
<div class="container">
    <div class="row no-gutters justify-content-center">
        <div class="card col-4 my-5">
            <div class="card-body p-5">
                <h2 class="text-center mb-5"><strong>저장 완료</strong></h2>
                <p class="text-center mb-2">저장이 완료되었습니다.</p>
                <p class="text-center mb-5"><strong style="color: red;">*</strong>관리자에게 승인 요청 바랍니다.</p>
                <div class="row no-gutters justify-content-center">
                    <div class="col-6 px-0">
                        <a class="btn button-custom w-100" href="/accounts/login/">확인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>