{% load static %}
<!DOCTYPE html>

    <meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}

<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/jstree/jstree.css' %}" />
<style>
    .list-container {
        line-height: 2.5;
    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; height: 100%; margin-left: 26px; margin-top: 30px;">

                <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0"
                     style="margin-bottom: -30px">
                    <div class="mb-xl-0 mb-4">
                        <div class="d-flex svg-illustration mb-3 gap-2">
                            <strong style="font-size: x-large;">게시판 홈</strong>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;">
                <div class="col-3">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <a href="{% url 'boardWritePage' %}">
                                <button type="button" class="btn btn-outline-dark">🖋 작성하기</button>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card mb-4">
                                <ul class="">
                                    <div style="margin-top: 20px; margin-bottom: 20px; ">


                                        <!-- Default Modal -->
                                        <div class="col-lg-4 col-md-6" style="margin-bottom: 20px;">
                                            <div class="mt-3">
                                                <!-- Button trigger modal -->
                                                <button
                                                        style="width: 150px; margin-bottom: 20px;"
                                                        type="button"
                                                        class="btn btn-label-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#basicModalAdd"><img
                                                        src="{% static 'admin/img/indexImg/add-to-queue-regular-24.png' %}">게시판 추가
                                                </button>
                                                {% include 'admins/board/groupAddModal.html' %}


                                            </div>

                                        </div>



                                        <div class="list-container">
                                            {% for cm in codemaster %}
                                                <li class="d-flex justify-content-between">
                                                    <a href="{% url 'boardList' cm.id %}">
                                                        <span style="letter-spacing: 1px;">{{ cm.name }}</span>
                                                    </a>
                                                    <script>console.log('id', {{ cm.id }})</script>
                                                    <div class="dropdown">
                                                        <button type="button"
                                                                class="btn p-0 dropdown-toggle hide-arrow"
                                                                data-bs-toggle="dropdown">
                                                            <i class="bx bx-dots-vertical-rounded"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal{{ cm.id }}" href="javascript:void(0);">
                                                                <i class="bx bx-edit-alt me-1"></i> 수정</a>
                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal{{ cm.id }}" href="javascript:void(0);">
                                                                <i class="bx bx-trash me-1"></i> 삭제</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                    {% include 'admins/board/groupEditModal.html' %}
                                                    {% include 'admins/board/groupDeleteModal.html' %}
                                            {% endfor %}


                                        </div>

                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
                      <h5 class="mb-0">게시물 미리보기</h5>
                    </div>
                      <div style="border-top: lightgrey solid 1px; margin-bottom: 20px;">
                          <div>
                              {% for cm in codemaster %}
                              <div class="card-body">
                                  <div style="margin-bottom: 20px;">
                                      <strong style="font-size: large">{{ cm.name }}</strong>
                                  </div>
                                  <div style="margin-top: 30px;">
                                      <table class="table border-top m-0">
                                          <thead>
                                          <tr style="background-color: lightgray">
                                              <th style="font-size: medium; font-weight: bold; text-align: center; width: 10%">번호</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center; width: 35%">제목</th>
                                              <th style="font-size: medium; font-weight: bold; width: 10%;">작성자</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center; width: 25%;">작성일시</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center;">조회</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center;">댓글</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          {% for bm in fixed_board %}
                                          <tr style="cursor: pointer;" onclick="window.location='{% url 'boardDetail' bm.id %}'">
                                              {% if bm.boardcode_id == cm.id and bm.fixed_flag %}
                                              <td style="color: red; text-align: center;"><img src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}" style="margin-right: 8px"></td>
                                              <td style="color: red">{{ bm.title }}</td>
                                              <td style="color: red">{{ bm.created_by }}</td>
                                              <td style="color: red; text-align: center;">{{ bm.updated_at|date:"Y년 n월 j일 A g:i" }}</td>
                                              <td style="color: red; text-align: center;">{{ bm.click_cnt }}</td>
                                              <td style="color: red; text-align: center;">{{ bm.reply_count }}</td>
                                              {% endif %}
                                          </tr>
                                              {% endfor %}

                                          {% for bm in boardmaster %}
                                          <tr style="cursor: pointer;" onclick="window.location='{% url 'boardDetail' bm.id %}'">
                                              {% if bm.boardcode_id == cm.id %}
                                              <td style="text-align: center;">{{ forloop.counter }}</td>
                                              <td>{{ bm.title }}</td>
                                              <td>{{ bm.created_by.username }}</td>
                                              <td style="text-align: center;">{{ bm.updated_at|date:"Y년 n월 j일 A g:i" }}</td>
                                              <td style="text-align: center;">{{ bm.click_cnt }}</td>
                                              <td style="text-align: center;">{{ bm.reply_count }}</td>
                                              {% endif %}
                                          </tr>
                                              {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                              </div>

                              {% endfor %}
                          </div>
                      </div>

                  </div>
                </div>
              </div>




                </div>

            </div>
        </div>
    </div>
</div>


</body>


<script>

    $("#addBoardBtn").click(function (e) {
        e.preventDefault();

        updateCheckedNodes();

        if (treeData == null) {
            Swal.fire({
                title: 'Fail!',
                text: '접근권한을 설정해주세요.',
                icon: 'error',
                confirmButtonText: '확인'
            })
        }

        var formdata = new FormData();

        formdata.append('board_group_name', $('#board_group_name').val());
        formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        formdata.append('treedata', JSON.stringify(treeData))

        console.log('formdata', formdata)

        $.ajax({
            url: "{% url 'boardGroupAdd' %}",
            type: "POST",
            data: formdata,
            processData: false,
            contentType: false,
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: '게시판이 등록되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'adminBoard' %}";
                    }
                });
            },
            error: function (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        })
    });

    function editBoardBtn(button) {
        var id = button.getAttribute('data-id');

        $.ajax({
            url: "{% url 'boardGroupEdit' %}",
            type: "GET",
            data: {
                id:id,
                board_group_edit_name:$('#board_group_edit_name' + id).val()
            },
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: '수정이 완료되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'adminBoard' %}";
                    }
                });
            },
            error: function (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        })

    }


    function deleteBoardBtn(button) {
        var id = button.getAttribute('data-id');

        $.ajax({
            url: "{% url 'boardGroupDelete' %}",
            type: "GET",
            data: {id: id},
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: '삭제가 완료되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            },
            error: function (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        })
    }

    function updateCheckedNodes() {
        var checkboxTree = $('#jstree-checkbox')
        var checkedNodes = checkboxTree.jstree('get_checked', true);
        var treeData = checkedNodes.map(function (node) {
            return {
                id: node.id,
                parent: node.parent,
                text: node.text,
                type: node.type
            };
        });
        window.treeData = treeData;
    }


</script>

{% include 'admins/admin_footer.html' %}

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/jstree/jstree.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'sneat/assets/js/extended-ui-treeview.js' %}"></script>
</html>