{% load static %}
<!DOCTYPE html>

{% include 'admins/admin_header.html' %}

<style>
    /* 상위 두 개의 행에 진한 경계선 추가 */
    table tr:nth-child(2) {
        border-bottom: 2px solid #6c757d;
    }
</style>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; margin-left: 26px; margin-top: 30px">

                <!-- Invoice -->

                <div class="card invoice-preview-card">
                    {% for cm in codemaster %}
                        {% if cm.id == boardmaster.first.boardcode_id %}
                            <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0"
                                 style="margin-bottom: -30px">
                                <div class="mb-xl-0 mb-4">
                                    <div class="d-flex svg-illustration mb-3 gap-2">
                                        <strong style="font-size: x-large;">{{ cm.name }}</strong>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="input-group input-group-merge"
                         style="width: 20%; margin: 30px 30px 30px auto;">
                        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
                               aria-describedby="basic-addon-search31">
                    </div>

                    <hr class="my-0">

                    <div class="table-responsive">

                        <table class="table border-top m-0">
                            <thead>
                            <tr style="background-color: lightgray">
                                <th style="font-size: medium; font-weight: bold; text-align: center; width: 10%">번호</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center; width: 50%">제목</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">작성자</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">작성일시</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">조회</th>
                                <th style="font-size: medium; font-weight: bold; text-align: center;">댓글</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--상단공지-->
                            {% for obj in fixed_boardmaster %}
                            <tr style="cursor: pointer;" onclick="window.location='{% url 'boardDetail' obj.id %}'">
                                <td style="color: red; text-align: center;"><img
                                        src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}"
                                        style="margin-right: 8px"></td>
                                <td style="color: red">{{ obj.title }}</td>
                                <td style="color: red; text-align: center;">{{ obj.created_by.username }}</td>
                                <td style="color: red; text-align: center;" class="updated_at">{{ obj.updated_at|date:"Y-m-d H:i:s" }}</td>
                                <td style="color: red; text-align: center;">{{ obj.click_cnt }}</td>
                                <td style="color: red; text-align: center;">{{ obj.reply_count }}</td>
                            </tr>
                            {% endfor %}

                            <!--일반공지-->
                            {% for obj in boardmaster %}
                            <tr style="cursor: pointer;" onclick="window.location='{% url 'boardDetail' obj.id %}'">
                                <td style="text-align:center;">{{ forloop.counter }}</td>
                                <td>{{ obj.title }}</td>
                                <td style="text-align:center;">{{ obj.created_by.username }}</td>
                                <td style="text-align:center;" class="updated_at">{{ obj.updated_at|date:"Y-m-d H:i:s" }}</td>
                                <td style="text-align:center;">{{ obj.click_cnt }}</td>
                                <td style="text-align:center;">{{ obj.reply_count }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div style="margin-bottom: 30px; margin-top: 50px;">
                        {% include 'admins/paging.html' %}
                    </div>
                </div>
            </div>
            <!-- /Invoice -->
        </div>
    </div>
</div>


</body>
{% include 'admins/admin_footer.html' %}
<script>
    const elements = document.querySelectorAll('.updated_at');
    const options = {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: true
    };

    elements.forEach((element) => {
        const date = new Date(element.textContent.trim());
        element.textContent = date.toLocaleString('ko-KR', options);
    });
</script>
</html>