{% load static %}
<!DOCTYPE html>

    <meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}

<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/jstree/jstree.css' %}" />
<style>
    .list-container {
        line-height: 2.5;
    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; height: 100%; margin-left: 26px; margin-top: 30px;">

                <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0"
                     style="margin-bottom: -30px">
                    <div class="mb-xl-0 mb-4">
                        <div class="d-flex svg-illustration mb-3 gap-2">
                            <strong style="font-size: x-large; font-family: Pretendard;">게시판 홈</strong>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;">
                <div class="col-3">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <a href="{% url 'boardWritePage' %}">
                                <button type="button" class="btn btn-outline-dark">🖋 작성하기</button>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card mb-4">
                                <ul class="">
                                    <div style="margin-top: 20px; margin-bottom: 20px; ">


                                        <!-- Default Modal -->
                                        <div class="col-lg-4 col-md-6" style="margin-bottom: 20px;">
                                            <div class="mt-3">
                                                <!-- Button trigger modal -->
                                                <button
                                                        style="width: 150px; margin-bottom: 20px;"
                                                        type="button"
                                                        class="btn btn-outline-dark"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#basicModalAdd">
                                                    게시판 추가<i class='bx bx-message-add'></i>
                                                </button>
                                                {% include 'admins/board/groupAddModal.html' %}


                                            </div>

                                        </div>



                                        <div class="list-container">
                                            {% for cm in codemaster %}
                                                <li class="d-flex justify-content-between">
                                                    <button class="btn rounded-pill btn-outline-info" style="margin-bottom: 10px;" onclick="renderlist({{ cm.id }})">
                                                        <span style="letter-spacing: 1px;">{{ cm.name }}</span>
                                                    </button>
                                                    <div class="dropdown">
                                                        <button type="button"
                                                                class="btn p-0 dropdown-toggle hide-arrow"
                                                                data-bs-toggle="dropdown">
                                                            <i class="bx bx-dots-vertical-rounded"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal{{ cm.id }}" href="javascript:void(0);">
                                                                <i class="bx bx-edit-alt me-1"></i> 수정</a>
                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal{{ cm.id }}" href="javascript:void(0);">
                                                                <i class="bx bx-trash me-1"></i> 삭제</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                    {% include 'admins/board/groupEditModal.html' %}
                                                    {% include 'admins/board/groupDeleteModal.html' %}
                                            {% endfor %}
                                        </div>

                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
                      <h5 class="mb-0">게시물 미리보기</h5>
                    </div>
                      <div style="border-top: lightgrey solid 1px; margin-bottom: 20px;">
                          <div>
                              <div class="card-body">
                                  <div style="margin-bottom: 20px;">
                                      <strong style="font-size: large" id="group_name">{{ boardcode_name }}</strong>
                                  </div>
                                  <div style="margin-top: 30px;">
                                      <table class="table table-hover">
                                          <thead>
                                          <tr style="background-color: lightgray">
                                              <th style="font-size: medium; font-weight: bold; text-align: center; width: 10%">번호</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center; width: 35%">제목</th>
                                              <th style="font-size: medium; font-weight: bold; width: 10%;">작성자</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center; width: 25%;">작성일시</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center;">조회</th>
                                              <th style="font-size: medium; font-weight: bold; text-align: center;">댓글</th>
                                          </tr>
                                          </thead>
                                          <tbody>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>


                          </div>
                      </div>

                  </div>
                </div>
              </div>

                </div>

            </div>
        </div>
</div>


</body>


<script>

    $("#addBoardBtn").click(function (e) {
        e.preventDefault();

        updateCheckedNodes();

        if (treeData == null) {
            Swal.fire({
                title: 'Fail!',
                text: '접근권한을 설정해주세요.',
                icon: 'error',
                confirmButtonText: '확인'
            })
        }

        var formdata = new FormData();

        formdata.append('board_group_name', $('#board_group_name').val());
        formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        formdata.append('treedata', JSON.stringify(treeData))

        console.log('formdata', formdata)

        $.ajax({
            url: "{% url 'boardGroupAdd' %}",
            type: "POST",
            data: formdata,
            processData: false,
            contentType: false,
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: '게시판이 등록되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'adminBoard' %}";
                    }
                });
            },
            error: function (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        })
    });

    function editBoardBtn(button) {
        var id = button.getAttribute('data-id');

        $.ajax({
            url: "{% url 'boardGroupEdit' %}",
            type: "GET",
            data: {
                id:id,
                board_group_edit_name:$('#board_group_edit_name' + id).val()
            },
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: '수정이 완료되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "{% url 'adminBoard' %}";
                    }
                });
            },
            error: function (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        })

    }


    function deleteBoardBtn(button) {
        var id = button.getAttribute('data-id');

        $.ajax({
            url: "{% url 'boardGroupDelete' %}",
            type: "GET",
            data: {id: id},
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: '삭제가 완료되었습니다.',
                    icon: 'success',
                    confirmButtonText: '확인'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    }
                });
            },
            error: function (error) {
                console.log(error);
                Swal.fire({
                    title: 'Error!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        })
    }

    function updateCheckedNodes() {
        var checkboxTree = $('#jstree-checkbox')
        var checkedNodes = checkboxTree.jstree('get_checked', true);
        var treeData = checkedNodes.map(function (node) {
            return {
                id: node.id,
                parent: node.parent,
                text: node.text,
                type: node.type
            };
        });
        window.treeData = treeData;
    }

    function renderlist(id) {
        $.ajax({
            url: `/admins/board/${id}/`,
            type: "GET",
            data: {id: id},
            success: function (data) {
                console.log('data', data)

                const groupName = document.getElementById('group_name');
                groupName.innerHTML = data.boardcode_name;

                const tbody = document.querySelector('tbody');
                tbody.innerHTML = '';  // 기존의 테이블 내용을 초기화

                // 상단공지 테이블
                data.fixed_boardmaster.forEach((fixed_boardmaster) => {
                    const date = new Date(fixed_boardmaster.updated_at);
                    const options = {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                        hour12: true
                    };
                    const formattedDate = date.toLocaleString('ko-KR', options);

                    const tr = document.createElement('tr');
                    tr.innerHTML =  `
                        <td style="text-align: center;"><img src="{% static 'admin/img/indexImg/icon-park-outline_volume-notice.png' %}"></td>
                        <td style="color:red;">${fixed_boardmaster.title}</td>
                        <td style="color:red;">${fixed_boardmaster.created_by}</td>
                        <td style="color: red; text-align: center;">${formattedDate}</td>
                        <td style="color:red; text-align: center">${fixed_boardmaster.click_cnt}</td>
                        <td style="color:red; text-align: center">${fixed_boardmaster.reply_count}</td>
                    `;
                    tr.style.cursor = 'pointer';
                    tr.addEventListener('click', function () {
                        window.location.href = `board/detail/${fixed_boardmaster.id}`;
                    });
                    tbody.appendChild(tr);
                });

                // 일반공지 테이블
                data.boardmaster.forEach((boardmaster, index) => {
                    const date = new Date(boardmaster.updated_at);
                    const options = {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                        hour12: true
                    };
                    const formattedDate = date.toLocaleString('ko-KR', options);

                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td style="text-align: center;">${index + 1}</td>
                        <td>${boardmaster.title}</td>
                        <td>${boardmaster.created_by}</td>
                        <td style="text-align: center;">${formattedDate}</td>
                        <td style="text-align: center;">${boardmaster.click_cnt}</td>
                        <td style="text-align: center;">${boardmaster.reply_count}</td>
                    `;
                    tr.style.cursor = 'pointer';
                    tr.addEventListener('click', function () {
                        window.location.href = `board/detail/${boardmaster.id}`;
                    });
                    tbody.appendChild(tr);
                });
            }

        })
    }

</script>

{% include 'admins/admin_footer.html' %}

<!-- Vendors JS -->
<script src="{% static 'sneat/assets/vendor/libs/jstree/jstree.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'sneat/assets/js/extended-ui-treeview.js' %}"></script>
</html>