{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}
</head>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

         <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="content-wrapper">



{% include 'admins/admin_footer.html' %}
<!-- / Footer -->
            </div>
         </div> <!-- end of layout-page -->
    </div> <!-- end of layout-container -->
</div>


</body>


</html>