{% load static %}
<!DOCTYPE html>

    <meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}
<style>
    /* 모바일웹 텍스트 줄바꿈 방지 */
    .table td, .table th {
        white-space: nowrap;
    }
       @media (max-width: 767px) {
        .col-md-3 {
            margin-top: 10px; /* 더 작은 화면에 대한 상단 여백 조절 */
        }
    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="layout container-fluid align-items-center mt-4">
                <div class="card invoice-preview-card">
                 <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0" style="margin-bottom: -30px">
                    <div class="mb-xl-0 mb-4">
                        <div class="d-flex svg-illustration mb-3 gap-2">
                            <strong style="font-size: x-large; margin-left: 20px; margin-top: 15px; font-family: Pretendard;">법인차량관리</strong>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <form method="get" class="">
                        {% csrf_token %}
                        <div class="row justify-content-end">
                            <div class="col-md-3 col-12">
                                <div class="input-group input-daterange">
                                    <input id="datepicker_to" placeholder="시작 날짜" class="form-control"
                                           name="search-to"
                                           value="{{ search_to | default_if_none:'' }}" autocomplete="off"/>
                                    <input id="datepicker_from" placeholder="끝 날짜" class="form-control"
                                           name="search-from"
                                           value="{{ search_from | default_if_none:'' }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <select id="selectpickerBasic" class="selectpicker form-control" name="search_title">
                                    <option value="name"
                                            {% if 'name' in search_title %}selected {% endif %}>성명
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2 col-12">
                                <input type="text" placeholder="검색" class="form-control"
                                       id="form-search" name="search_content"
                                       value="{{ search_content | default_if_none:'' }}"/>
                            </div>
                            <div class="col-md-1 col-12">
                                <button type="submit" class="btn btn-secondary w-100">검색</button>
                            </div>
                        </div>
                    </form>
                </div>


                <!--오늘 사용 예약현황-->
                <!-- Examples -->
                <div class="row mb-5 mt-5 justify-content-center">
                    <div class="col-md-6 col-lg-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 id="todayDate" style="font-family: Pretendard; margin-right: 10px;"></h5>
                                <h5 style="font-family: Pretendard;">사용 예약 현황</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive text-nowrap">
                                    <table class="table" id="today_use">
                                        <thead>
                                        <tr class="text-nowrap" style="text-align: center;">
                                            <th>이름</th>
                                            <th>차량</th>
                                            <th>사용 기간</th>
                                        </tr>
                                        </thead>
                                        {% for obj in today_qs %}
                                            <tbody style="text-align: center">
                                            <tr>
                                                <td>{{ obj.create_by }}</td>
                                                <td>{{ obj.vehicle }}</td>
                                                <td>{{ obj.start_date|date:"Y-m-d a g:i" }} ~ {{ obj.end_date|date:"Y-m-d a g:i" }}</td>
                                            </tr>
                                            </tbody>
                                        {% empty %}
                                            <tr>
                                                <td colspan="7" style="text-align: center;">차량 등록 정보가 없습니다.</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 id="tomorrowDate" style="font-family: Pretendard; margin-right: 10px;"></h5>
                                <h5 style="font-family: Pretendard;">사용 예약 현황</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive text-nowrap">
                                    <table class="table" id="today_use">
                                        <thead>
                                        <tr class="text-nowrap" style="text-align: center;">
                                            <th>이름</th>
                                            <th>차량</th>
                                            <th>사용 기간</th>
                                        </tr>
                                        </thead>
                                        {% for obj in tomorrow_qs %}
                                            <tbody style="text-align: center">
                                            <tr>
                                                <td>{{ obj.create_by }}</td>
                                                <td>{{ obj.vehicle }}</td>
                                                <td>{{ obj.start_date|date:"Y-m-d a g:i" }} ~ {{ obj.end_date|date:"Y-m-d a g:i" }}</td>
                                            </tr>
                                            </tbody>
                                        {% empty %}
                                            <tr>
                                                <td colspan="7" style="text-align: center;">차량 등록 정보가 없습니다.</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Examples -->


                <div>
                    <div class="mt-3 d-flex justify-content-end" style="margin-right: 65px;">
                        <!-- Button trigger modal -->
                        <button
                                style="width: 150px; margin-bottom: 20px;"
                                type="button"
                                class="btn btn-outline-dark d-none"
                                data-bs-toggle="modal"
                                data-bs-target="#basicModal">
                            <i class='bx bx-message-add'></i>사용등록
                        </button>

                        {% include 'admins/corporate_vehicle/vehicle_addModal.html' %}
                    </div>
                </div>

                <div class="table-container" style="overflow-x: auto; margin-top: 40px;">
                    <table class="table table-hover">
                        <thead>
                             <tr style="width: auto; height: auto; background-color: #fffbfb">
                                <!-- 각 <th> 태그에 스타일을 추가하여 글자 크기를 조절 -->
                                <th style="font-size: medium; font-weight: bold">차량명</th>
                                <th style="font-size: medium; font-weight: bold">사용 시작일</th>
                                <th style="font-size: medium; font-weight: bold">사용 종료일</th>
                                <th style="font-size: medium; font-weight: bold">사용자</th>
                                <th style="font-size: medium; font-weight: bold">참석자</th>
                                <th style="text-align: center; font-size: medium; font-weight: bold">목적</th>
                                <th style="text-align: center; font-size: medium; font-weight: bold">장소</th>
                                <th style="text-align: center; font-size: medium; font-weight: bold">사용확인</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for obj in event_qs %}
                            <tbody>
                            <tr>
                                <td>{{ obj.vehicle }}</td>
                                <td>{{ obj.start_date|date:"Y-m-d a g:i" }}</td>
                                <td>{{ obj.end_date|date:"Y-m-d a g:i" }}</td>
                                <td>{{ obj.create_by }}</td>
                                <td>
                                    {% for participant in obj.participant_set.all %}
                                        {{ participant.cuser }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td class="text-wrap" style="text-align: left; white-space: pre-wrap;">{{ obj.description|linebreaksbr }}</td>
                                <td style="text-align: center;">{{ obj.location }}</td>
                                {% if obj.corporatemgmt_set.exists %}
                                    <td style="text-align: center">
                                        <button type="button" class="btn btn-label-success useCheck_complete"
                                                data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-id="{{ obj.id }}">사용확인등록 완료
                                        </button>
                                    </td>
                                {% else %}
                                    <td style="text-align: center">
                                        <button type="button" class="btn btn-outline-danger useCheckBtn"
                                                data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-id="{{ obj.id }}">사용확인등록
                                        </button>
                                    </td>
                                {% endif %}
                                <td>
                                    {% if request.user.is_superuser or obj.create_by_id == request.user.id %}
                                        <div class="dropdown">
                                            <button type="button"
                                                    class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" data-bs-toggle="modal"
                                                   data-bs-target="#editModal"
                                                   data-id="{{ obj.id }}"
                                                   href="javascript:void(0);">
                                                    <i class="bx bx-edit-alt me-1"></i> 편집</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    {% include 'admins/corporate_vehicle/vehicle_useCheck_Modal.html' %}
                    {% include 'admins/corporate_vehicle/vehicle_edit_Modal.html' %}
                </div>
                <div style="margin-bottom: 30px; margin-top: 50px;">
                  {% include 'admins/search_to_from_paging.html' with search_to=search_to search_from=search_from search_title=search_title search_content=search_content %}
                </div>








            </div>
            {% include 'admins/index_footer.html' %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'sneat/assets/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-typeahead.js' %}"></script>
<script src="{% static 'sneat/assets/js/app-calendar-events.js' %}"></script>
<script src="{% static 'js/api_corporate_vehicle_check.js' %}"></script>
<script src="{% static 'js/tagifyEdit.js' %}"></script>
</body>
{% include 'admins/admin_footer.html' %}
<script>
    var taginput = document.querySelector('input[name=TagifyUserListEdit]');
    var tagify = new Tagify(taginput);
    var eventId;

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    $(function () {
        $("#datepicker_to").datepicker({format: 'yyyy-mm-dd'});
        $("#datepicker_from").datepicker({format: 'yyyy-mm-dd'});
    });

    function getCurrentDate() {
        var year = today.getFullYear();
        var month = (today.getMonth() + 1).toString().padStart(2, '0');
        var day = today.getDate().toString().padStart(2, '0');

        var weekdays = ['일', '월', '화', '수', '목', '금', '토'];
        var weekday = weekdays[today.getDay()];

        return year + '-' + month + '-' + day + ' '+ '(' + weekday + ')';
    }
    document.getElementById('todayDate').innerHTML = getCurrentDate();


    function getTomorrowDate() {
        var tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);

        var year = tomorrow.getFullYear();
        var month = (tomorrow.getMonth() + 1).toString().padStart(2, '0');
        var day = tomorrow.getDate().toString().padStart(2, '0');

        var weekdays = ['일', '월', '화', '수', '목', '금', '토'];
        var weekday = weekdays[tomorrow.getDay()];

        return year + '-' + month + '-' + day + ' ' + '(' + weekday + ')';
    }

    document.getElementById('tomorrowDate').innerHTML = getTomorrowDate();


    function corporateEditForm(data) {
        // console.log('edit', data);
        $('#flatpickr-edit-start').val(data.start_date);
        $('#flatpickr-edit-end').val(data.end_date);

        if (data.allDay) {
            $('.allDay-switch').prop('checked', true);
        } else {
            $('.allDay-switch').prop('checked', false);
        }
        if (data.guests !== undefined) {
            var guests = data.guests.map(function (guest) {
                return {
                    value: guest.cuser_id,
                    avatar: guest.cuser_department,
                    name: guest.cuser_username,
                    email: guest.cuser_position
                };
            });
            tagify.addTags(guests);
        }

        $('#eventDescription_edit').val(data.description);
        $('#eventLocation_edit').val(data.location);

        checkVehicleAvailability_edit(data.start_date, data.end_date, data.vehicleSelect);

        $('#flatpickr-edit-start, #flatpickr-edit-end').change(function () {
            var startDate = $('#flatpickr-edit-start').val();
            var endDate = $('#flatpickr-edit-end').val();
            var vehicleSelect = data.vehicleSelect;

            checkVehicleAvailability_edit(startDate, endDate, vehicleSelect);
        });
    }

    function checkVehicleAvailability_edit(startDate, endDate, eventVehicleCode) {
      $.get("/check-vehicle-availability/", {
        start_date: startDate,
        end_date: endDate
      }, function (data) {
          // console.log('car', data)
        var $select = $('#edit_vehicle_select');
        $select.empty();
        $.each(data.vehicle_list, function (index, vehicle) {
          var optionText = vehicle.name;
          var optionValue = vehicle.code;
          if (!vehicle.is_available && (!eventVehicleCode || vehicle.code !== eventVehicleCode)) {
            optionText += ' (예약 마감)';
          }
          var $option = $('<option>', {
            value: optionValue,
            text: optionText,
            disabled: !vehicle.is_available && (!eventVehicleCode || vehicle.code !== eventVehicleCode)
          });
          $select.append($option);
        });
        if (eventVehicleCode) {
          $select.val(eventVehicleCode);
        }
      });
    }

    $(document).ready(function () {
        $('.dropdown-item').click(function () {
            eventId = $(this).data('id');

            tagify.removeAllTags();

            $.ajax({
                url: "{% url 'corporateEditFormData' %}",
                data: {
                    'id': eventId,
                },
                dataType: 'json',
                success: corporateEditForm
            });
        });

         $('.useCheckBtn, .useCheck_complete').click(function () {
             eventId =  $(this).data('id');
         })

        var modal = $('#basicModal2');
        modal.on('hidden.bs.modal', function () {
            $('#usecheck_true').prop('checked', true).change();
            if ($('#usecheck_true').is(':checked')) {
                $('#oiling_check, #oiling_cost, #distance_input, #total_distance_input, #repair_input, #etc_textarea').prop('disabled', false);
            }
            $('#oiling_check').prop('checked', false);
            $('#distance_input, #total_distance_input, #oiling_cost, #repair_input, #etc_textarea').val('');
            $('#amount_div, #distance_div').find(':input, small').hide();
        });

    });

</script>

</html>