{% load static %}
<!-- Modal -->
<form action="#" method="post">
    {% csrf_token %}
    <div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1" style="font-family: Pretendard;">사용등록</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                   <div class="row">
                        <div class="col mb-4">
                        <label for="nameBasic" class="form-label">*사용일자</label>
                        <div class="input-group input-daterange" id="bs-datepicker-daterange1">
                            <input id="datepicker_to1" placeholder="시작 날짜" class="form-control" name="search-to"
                                   value="{{ search_to | default_if_none:'' }}"/>
                            <span class="input-group-text">to</span>
                            <input id="datepicker_from1" placeholder="끝 날짜" class="form-control" name="search-from"
                                   value="{{ search_from | default_if_none:'' }}"/>
                            <input type="text" id="timepicker-basic" placeholder="시:분" class="form-control" />
                            <label class="switch" style="margin-left: 20px; margin-top: 7px;">
                              <input type="checkbox" class="switch-input allDay-switch" />
                              <span class="switch-toggle-slider">
                                <span class="switch-on"></span>
                                <span class="switch-off"></span>
                              </span>
                              <span class="switch-label">All Day</span>
                            </label>
                        </div>
                    </div>
                   </div>
                        <!-- /Checkbox -->

                    <div class="row" >
                        <div class="col mb-11">
                            <label for="nameBasic" class="form-label">*사용자</label>
                            <div class="col-md-6 mb-4">
                                <input id="TagifyUserList" name="TagifyUserList" class="form-control"/>
                            </div>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*목적</label>
                            <input type="text" id="board_group_name"
                                   name="board_group_name"
                                   class="form-control"
                                   placeholder="목적"
                                   required/>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">*사용차량</label>
                            <select
                              class="select2 select-event-guests form-select"
                              style="width: 250px;"
                              id="vehicle_select"
                              name="vehicle_select"
                              multiple>
                              <option value="Jane Foster">QM3</option>
                              <option value="Donna Frank">스포티지</option>
                            </select>
                        </div>
                     </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-label-secondary"
                                data-bs-dismiss="modal">취소
                        </button>
                        <button type="button" class="btn btn-primary"
                                id="addBoardBtn">등록완료
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#datepicker_to1").datepicker({format: 'yyyy-mm-dd'});
        $("#datepicker_from1").datepicker({format: 'yyyy-mm-dd'});
    });

    $(document).ready(function () {
        $("#timepicker-basic").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true
        });
    });
</script>

