{% load static %}
<!DOCTYPE html>

    <meta charset="UTF-8">
     {% include 'admins/admin_header.html' %}
<style>
    /* 모바일웹 텍스트 줄바꿈 방지 */
    .table td, .table th {
        white-space: nowrap;
    }
       @media (max-width: 767px) {
        .col-md-3 {
            margin-top: 10px; /* 더 작은 화면에 대한 상단 여백 조절 */
        }
    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {% include 'admins/index_sidemenu.html' %}

        <!-- header -->
        <div class="layout-page" style="">
            {% include 'admins/index_header.html' %}

            <div class="card" style="width: 97%; height: 100%; margin-left: 26px; margin-top: 30px;">

                 <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0" style="margin-bottom: -30px">
                    <div class="mb-xl-0 mb-4">
                        <div class="d-flex svg-illustration mb-3 gap-2">
                            <strong style="font-size: x-large; font-family: Pretendard;">법인차량관리</strong>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <form method="get">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 col-12">
                                <div class="input-group input-daterange" id="bs-datepicker-daterange">
                                    <input id="datepicker_to" autocomplete="off" placeholder="시작 날짜" class="form-control" name="search-to" value="{{ search_to | default_if_none:'' }}"/>
                                    <input id="datepicker_from" autocomplete="off" placeholder="끝 날짜" class="form-control" name="search-from" value="{{ search_from | default_if_none:'' }}"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <select id="selectpickerBasic" class="form-control">
                                    <option value="name" {% if 'name' in search_title %} selected {% endif %}>성명</option>
                                    <option value="number" {% if 'number' in search_title %}selected {% endif %}>사원번호</option>
                                    <option value="department" {% if 'department' in search_title %}selected {% endif %}>부서</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-12">
                                <input type="text" placeholder="검색" class="form-control" id="form-search" name="search-content" value="{{ search_content | default_if_none:'' }}"/>
                            </div>
                            <div class="col-md-3 col-12">
                                <button type="button" class="btn btn-secondary w-100">검색</button>
                            </div>
                        </div>
                    </form>
                </div>






            <!--오늘 사용 예약현황-->
                <div class="bs-stepper-content d-flex justify-content-center">
                    <div class="mt-5 col-9" style="height: 350px; border: lightgrey 1px solid;">
                        <div style="margin: 30px 20px;">
                            <h5 id="todayDate" style="font-family: Pretendard; margin-right: 10px;"></h5>
                            <h5 style="font-family: Pretendard;">사용 예약 현황</h5>
                        </div>
                        <div>
                            <div class="table-responsive text-nowrap">
                                <table class="table" id="today_use">
                                    <thead>
                                    <tr class="text-nowrap" style="text-align: center;">
                                        <th>이름</th>
                                        <th>차량</th>
                                        <th>사용시간</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <div class="mt-3 d-flex justify-content-end" style="margin-right: 65px;">
                        <!-- Button trigger modal -->
                        <button
                                style="width: 150px; margin-bottom: 20px;"
                                type="button"
                                class="btn btn-outline-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#basicModal">
                            <i class='bx bx-message-add'></i>사용등록
                        </button>

                        {% include 'admins/corporate_vehicle/vehicle_addModal.html' %}
                    </div>
                </div>

                <div class="table-container" style="overflow-x: auto; margin-top: 40px;">
                    <table class="table table-hover">
                        <thead>
                             <tr style="width: auto; height: auto; background-color: #fffbfb">
                                <!-- 각 <th> 태그에 스타일을 추가하여 글자 크기를 조절 -->
                                <th style="font-size: medium; font-weight: bold">차량명</th>
                                <th style="font-size: medium; font-weight: bold">사용 시작일</th>
                                <th style="font-size: medium; font-weight: bold">사용 종료일</th>
                                <th style="font-size: medium; font-weight: bold">사용자</th>
                                <th style="font-size: medium; font-weight: bold">참가자</th>
                                <th style="text-align: center; font-size: medium; font-weight: bold">목적</th>
                                <th style="text-align: center; font-size: medium; font-weight: bold">장소</th>
                                <th style="text-align: center; font-size: medium; font-weight: bold">사용확인</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>QM3</td>
                                <td>2024-01-09 09:00</td>
                                <td>2024-01-09 18:00</td>
                                <td>사용자</td>
                                <td>참가자(1), 참가자(2)</td>
                                <td style="text-align: center;">사업체 방문</td>
                                <td style="text-align: center;">충북 충주시 중앙로 80</td>
                                <td style="text-align: center;"><button type="button" class="btn btn-outline-danger" id="checkBtn" data-bs-toggle="modal" data-bs-target="#basicModal2">사용확인등록</button></td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" data-bs-toggle="modal"
                                               data-bs-target="#editModal"
                                               href="javascript:void(0);">
                                                <i class="bx bx-edit-alt me-1"></i> 수정</a>
                                            <a class="dropdown-item" href="javascript:void(0);">
                                                <i class="bx bx-trash me-1"></i> 삭제</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>스포티지</td>
                                <td>2024-01-08 09:00</td>
                                <td>2024-01-08 18:00</td>
                                <td>사용자</td>
                                <td>참가자(1), 참가자(2)</td>
                                <td style="text-align: center;">사업체 방문</td>
                                <td style="text-align: center;">충북 충주시 중앙로 80</td>
                                <td style="text-align: center;"><button class="btn btn-label-success" id="completeBtn" style="pointer-events: none;">사용확인등록 완료</button></td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" data-bs-toggle="modal"
                                               data-bs-target="#editModal"
                                               href="javascript:void(0);">
                                                <i class="bx bx-edit-alt me-1"></i> 수정</a>
                                            <a class="dropdown-item" href="javascript:void(0);">
                                                <i class="bx bx-trash me-1"></i> 삭제</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% include 'admins/corporate_vehicle/vehicle_useCheck_Modal.html' %}
                    {% include 'admins/corporate_vehicle/vehicle_edit_Modal.html' %}
                </div>








            </div>
        </div>
    </div>
</div>
<script src="{% static 'sneat/assets/vendor/libs/tagify/tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-tagify.js' %}"></script>
<script src="{% static 'sneat/assets/js/forms-typeahead.js' %}"></script>
<script src="{% static 'sneat/assets/js/app-calendar-events.js' %}"></script>
</body>
{% include 'admins/admin_footer.html' %}
<script>
    var input = document.querySelector('input[name=TagifyUserList]');
    var tagify = new Tagify(input);

    getDatas();

    $(function () {
        $("#datepicker_to").datepicker({format: 'yyyy-mm-dd'});
        $("#datepicker_from").datepicker({format: 'yyyy-mm-dd'});
    });

    function getCurrentDate() {
        var year = today.getFullYear();
        var month = (today.getMonth() + 1).toString().padStart(2, '0');
        var day = today.getDate().toString().padStart(2, '0');

        var weekdays = ['일', '월', '화', '수', '목', '금', '토'];
        var weekday = weekdays[today.getDay()];

        return year + '-' + month + '-' + day + ' '+ '(' + weekday + ')';
    }
    document.getElementById('todayDate').innerHTML = getCurrentDate();

    $(document).ready(function () {

    });

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    function displayData(data) {
        var table = document.getElementById('today_use');
        today.setHours(0, 0, 0, 0);

        data.forEach(function (obj) {
            var startDate = new Date(obj.start);
            var endDate = new Date(obj.end);
            var todayEnd = new Date();
            todayEnd.setHours(23,59,59,999);

            if (obj.businessPair) {
                if (startDate <= today || endDate <= todayEnd) {
                    console.log('today', today)
                    console.log('start', startDate);
                    console.log('end', endDate);
                    var row = table.insertRow();

                    var time = obj.allDay ? '종일 09:00 ~ 18:00' :
                        startDate.getHours() + ' ~ ' + endDate.getHours();

                    row.innerHTML =
                        '<td style="text-align: center">' + obj.extendedProps.created_by + '</td>' +
                        '<td style="text-align: center">' + obj.extendedProps.vehicleName + '</td>' +
                        '<td style="text-align: center">' + startDate +time + '</td>' +
                        '<td style="text-align: center">' + endDate +time + '</td>';
                }
            }

        });
    }

</script>

</html>