{% load static %}
<!-- Modal -->
<form action="#" id="useCheckForm" method="post">
    {% csrf_token %}
    <div class="modal fade" id="basicModal2" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title" style="font-family: Pretendard;">사용확인등록</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <label for="nameBasic" class="form-label">* 사용확인</label>
                        <div class="col mb-10 d-flex flex-row">
                            <div class="col-md-5 col-6">
                                <div class="form-check custom-option custom-option-basic usecheck_true">
                                    <label class="form-check-label custom-option-content"
                                           for="usecheck_true">
                                        <input
                                                name="customRadioTemp"
                                                class="form-check-input"
                                                type="radio"
                                                id="usecheck_true"
                                                checked/>
                                        <span class="h6 mb-0">사용</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-5 col-6">
                                <div class="form-check custom-option custom-option-basic usecheck_false">
                                    <label class="form-check-label custom-option-content"
                                           for="usecheck_false">
                                        <input
                                                name="customRadioTemp"
                                                class="form-check-input"
                                                type="radio"
                                                id="usecheck_false"/>
                                        <span class="h6 mb-0">미사용</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="row">
                       <div class="col-md-6 mb-4">
                          <label for="nameBasic" class="form-label">*주유여부 체크</label>
                          <div class="form-check custom-option custom-option-basic">
                            <label class="form-check-label custom-option-content d-flex flex-row" for="oiling_check">
                              <input class="form-check-input" type="checkbox" value="" id="oiling_check">
                              <span class="custom-option-header" style="margin-left: 10px;">
                                <span class="h6 mb-0">주유여부</span>
                              </span>
                            </label>
                          </div>
                       </div>
                    </div>

                    <div class="row" id="distance_div">
                        <div class="col mb-11 d-flex flex-row">
                            <div class="col-3">
                                <input class="form-control" type="number" id="distance_input" placeholder="주행거리" style="display:none;">
                            </div>
                            <div class="col-2 m-2">
                                <small style="display: none">(단위: km)</small>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="amount_div">
                        <div class="col mb-11 d-flex flex-row">
                            <div class="col-5">
                                <input class="form-control" pattern="[0-9]+" id="oiling_cost" placeholder="금액(숫자만 입력해주세요.)" style="display:none;">
                            </div>
                            <div class="col-2 m-2 mb-4">
                                <small style="display: none">(단위: 원)</small>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col mb-11">
                            <label for="nameBasic" class="form-label">*누적주행거리</label>
                            <div class="col-md-11 mb-4">
                                <input class="form-control" id="total_distance_input"/>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col mb-11">
                            <label for="nameBasic" class="form-label">*자동차정비내역</label>
                            <div class="col-md-11 mb-4">
                                <textarea class="form-control" id="repair_input" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col mb-11">
                            <label for="nameBasic" class="form-label">*기타</label>
                            <div class="col-md-11 mb-4">
                                <textarea class="form-control" id="etc_textarea" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-label-secondary"
                                data-bs-dismiss="modal">취소
                        </button>
                        <button type="button" class="btn btn-primary" id="useCheckAdd_btn">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {

        $('#oiling_check').change(function () {
            if ($(this).is(':checked')) {
                $('#amount_div, #distance_div').find(':input, small').show();
            } else {
                $('#amount_div, #distance_div').find(':input, small').hide();
            }
        });

    });

    $('#usecheck_false').on('change', function () {
        if ($(this).is(':checked')) {
            $('#oiling_check, #oiling_cost, #distance_input, #total_distance_input, #repair_input, #etc_textarea').prop('disabled', true);
        }
    });

    $('#usecheck_true').on('change', function () {
        if ($(this).is(':checked')) {
            $('#oiling_check, #oiling_cost, #distance_input, #total_distance_input, #repair_input, #etc_textarea').prop('disabled', false);
        }
    });

    $('#useCheckAdd_btn').click(function (e) {
        e.preventDefault();
        // console.log('eve_id', eventId)

        var useCheck = $('#usecheck_true').is(':checked');

        var formdata = useCheck ? {
            oiling: $('#oiling_check').is(':checked'),
            oiling_cost: $('#oiling_cost').val(),
            distance: $('#distance_input').val(),
            total_distance: $('#total_distance_input').val(),
            maintenance: $('#repair_input').val(),
            etc: $('#etc_textarea').val(),
            eventId: eventId
        } : {
            // 미사용 체크했을 때
            oiling: false,
            oiling_cost: 0,
            distance: 0,
            total_distance: 0,
            maintenance: '',
            etc: '',
            eventId: eventId
        };

        console.log('f',formdata)

        if (formdata.distance==="" || formdata.total_distance===""){
            Swal.fire({
                    title: 'Fail!',
                    text: '입력한 값을 확인해주세요.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })

            return false
        }

        $.ajax({
            url: "{% url 'CorporateMgmtCreateView' %}",
            type: "POST",
            data: formdata,
            success: function (data) {
                if (data.success === true) {
                    Swal.fire({
                        title: 'Success!',
                        text: '등록이 완료되었습니다.',
                        icon: 'success',
                        confirmButtonText: '확인'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                }
            },
            error: function (err) {
                Swal.fire({
                    title: 'Fail!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        });
    });

    $('.useCheck_complete').click(function (e) {
        var eventId = $(this).data('id');

        $.ajax({
            url: "{% url 'CorporateMgmtCreateView' %}",
            type: "GET",
            data: {eventId: eventId},
            success: function (data) {
                data = JSON.parse(data);
                console.log('성공?', data)
                var fields = data[0].fields;
                $('#oiling_check').prop('checked', fields.oiling).change();
                $('#distance_input').val(fields.distance);
                if(fields.total_distance===0){
                    console.log('here')
                    $('#total_distance_input').val('');
                    $('#usecheck_false').prop('checked', true).change();
                    if ($('#usecheck_false').is(':checked')) {
                        $('#oiling_check, #oiling_cost, #distance_input, #total_distance_input, #repair_input, #etc_textarea').prop('disabled', true);
                    }
                } else {
                    $('#total_distance_input').val(fields.total_distance);
                }
                $('#repair_input').val(fields.maintenance);
                $('#etc_textarea').val(fields.etc);
                $('#useCheckAdd_btn').text('수정');
                $('#modal_title').text('사용확인등록 수정')
            },
            error: function (err) {
                Swal.fire({
                    title: 'Fail!',
                    text: '관리자에게 문의 바랍니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                })
            }
        });
    });

</script>

