{# 스토리 작성/수정 페이지 #}

<head>
{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'admin/css/seoul-soft_main.css' %}">
<!-- Summernote CSS -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<!--menu 로드-->
<style>
    .white-background {
        background-color: rgba(255, 255, 255, 1) !important; /* 배경색을 흰색으로 설정 */
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .form-select {
        width: 100%;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    /* 포커스 상태 스타일 */
    .form-select:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* 선택된 옵션 스타일 */
    .form-select option {
        font-weight: normal;
    }

    /* 첫 번째 옵션 (placeholder) 스타일 */
    .form-select option[selected] {
        color: #6c757d;
    }

    @media (max-width: 1000px) {
        .layout-content-navbar {
            width: 1000px;
        }

        .title-area {
            padding-top: 10% !important;
        }

        .card-body {
            padding-left: 5% !important;
        }

        .footer {
            width: 1300px;
        }
    }

</style>
{% include 'menu.html' %}
<body class="menu_story" style="overflow-x: hidden;">
<div class="layout-content-navbar">
    <div class="layout-container">
        <div class="layout-page" id="layout_page">
            <!-- Content wrapper -->
            <div class="content-wrapper" style="background-color: rgb(255,255,255)">

                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y row justify-content-center"
                     style="margin-bottom: 5%; position: relative; padding: 0 0 0 0;">
                    <div class="main_overlay" style="position: absolute; bottom: 11%; left: 7%; color: white;">
                    </div>
                </div>

                <div class="title-area card-body row justify-content-start" style="padding: 0 10% 0% 20%;">
                    <div>
                        <h1 style="font-size: 42px; font-weight: 700; line-height: 80px;">Story</h1>
                        <h2 style="font-size: 26px; font-weight: 500; line-height: 35px; color: #898989;" id="createupdate">스토리 작성</h2>
                        <br>
                        <form id="story-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="story_title">제목</label>
                                <input type="text" id="story_title" name="story_title" class="form-control"
                                       placeholder="제목을 입력하세요" required style="height:50px;" value="{{ story.title|default:'' }}">
                            </div>
                            <div class="form-group d-flex justify-content-between my-4">
                                <div class="col-4 px-0 m-0">
                                    <label for="story_category">카테고리</label>
                                    <select class="form-select" aria-label="Story Category" id="story_category"
                                            name="story_category" style="height:50px;">
                                        <option value="" disabled {% if not story.category %}selected{% endif %}>카테고리를 선택하세요</option>
                                        <option value="NEWS" {% if story.category == 'NEWS' %}selected{% endif %}>NEWS</option>
                                        <option value="ACTIVITY" {% if story.category == 'ACTIVITY' %}selected{% endif %}>ACTIVITY</option>
                                        <option value="CREW" {% if story.category == 'CREW' %}selected{% endif %}>CREW</option>
                                    </select>
                                </div>
                                <div class="col-7 form-group px-0 m-0">
                                    <label id="updateimage" for="story_picture" class="form-label">대표 이미지 ( *최적사이즈 404x219, 1MB이하 )</label>
                                    <input type="file" id="story_picture" name="story_picture" class="form-control"
                                           style="height:50px;" aria-label="Thumbnail">
                                    {% if story.thumbnail %}
                                        <img src="{{ story.thumbnail.url }}" alt="현재 이미지" style="margin-top: 10px; max-height: 150px;">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="story_content">내용</label>
                                <div id="summernote" name="story_content" aria-label="Story Content">{{ story.content|default:''|safe }}</div>
                            </div>
                            <button type="submit" class="btn btn-outline-info mr-4" style="margin:3% 0 8% 0;">{{ story.id|default:"작성 완료" }}</button>
                            <a href="javascript:history.back()" class="btn btn-outline-secondary" style="margin:3% 0 8% 0;">뒤로가기</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>

<script>

    let urlParams = new URLSearchParams(window.location.search);
    let storyId = urlParams.get('story_id');
    let story_category_id = '';

    if (storyId) {
        $.ajax({
            url: `/story/story_read/?story_id=${storyId}`,
            method: 'GET',
            success: function (response) {
                const data = response.results[0];
                $('#story_title').val(data.story_title);

                let story_category_id;
                if (data.story_category === "NEWS") {
                    story_category_id = NEWS;
                } else if (data.story_category === "ACTIVITY") {
                    story_category_id = ACTIVITY;
                } else if (data.story_category === "CREW") {
                    story_category_id = CREW;
                } else {
                    story_category_id = null;
                }

                $('#story_category').val(story_category_id);
                $('#story_picture').val(data.story_picture.url);
                $('#summernote').summernote('code', data.story_content);
                document.getElementById("createupdate").innerHTML = "스토리 수정";
                document.getElementById("updateimage").innerHTML = "대표 이미지 ( *첨부가 없을 경우, 기존 이미지 적용 )";
            },
            error: function (xhr, status, error) {
                console.error('Error: ', xhr, status, error);
            }
        });
    }

    $(document).ready(function () {
        $(".navbar").addClass("white-background");
        $(".main_logo img").attr("src", "{% static 'renewal/image/logo_A.png' %}");
        $(".menu_li > a").css("color", "#000");

        $('#summernote').summernote({
            height: 800, // 에디터 높이
            width: 1200,
            minHeight: null, // 최소 높이
            maxHeight: null, // 최대 높이
            focus: true, // 에디터 로딩후 포커스를 맞출지 여부
            lang: 'ko-KR', // 한글 설정
            tabDisable: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['fontstyle', ['fontname', 'fontsize', 'color']],
                ['para', ['paragraph']],
                {#['para', ['ul', 'ol', 'paragraph']],#}
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['hr', 'link', 'picture', 'video']],
                ['view', ['help']]
                {#['view', ['fullscreen', 'codeview', 'help']]#}
            ],
            callbacks: {
                onInit: function () {
                    // 'More Color' 드롭다운 버튼을 제외한 모든 'note-icon-caret' 요소 제거
                    $('.note-icon-caret').not(function () {
                        return $(this).closest('button[aria-label="More Color"]').length;
                    }).remove();
                }
            }
        });

        $('#story-form').on('submit', function (e) {
            e.preventDefault();
            let formData = new FormData(this);
            let story_content = $('#summernote').summernote('code');
            formData.append('story_content', story_content);
            let csrfToken = '{{ csrf_token }}';
            if (storyId) {
                requestUrl = `{% url "story_update" %}?story_id=${storyId}`;
            } else {
                requestUrl = `{% url "story_create" %}`;
            }

            $.ajax({
                url: requestUrl,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (storyId) {
                        alert("스토리가 수정되었습니다.");
                        window.location.href = `/menu/010902/?story_id=${storyId}`;
                    } else {
                        alert("스토리가 등록되었습니다.");
                        window.location.href = "/menu/0109/";
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    console.error('에러: ', xhr, status, error);
                    console.error(xhr.responseText);
                }
            });
        });
    });



</script>