<!DOCTYPE html>
<html>
  <header>{% include "header.html" %}</header>
  <body style="overflow: hidden;">
    <!-- {#{% extends 'index.html' %}#} -->
    {% load static %}
    <!-- {#{% block title %}#}
{#    <title>사용자 기준정보관리</title>#}
{#{% endblock title %}#}
{#{% block content %}#} -->

<div class="spinner" id="spinner">
  <img src="../../../static/img/spinner.gif" width="150px" height="150px" />
</div>

    <!-- 검색 -->
    <div class="card m-2">
      <div class="card-body p-2">
        <!-- 본문 -->
        <div
          class="content-search row no-gutters align-items-center content-input-group"
        >
          <div class="content-title col-1 align-self-stretch">검색</div>
          <form class="col-11" id="order_company_search">
            <div class="row no-gutters">
              <div class="content-input-group col-3 px-0">
                <div class="content-input-group-header">
                  <label>기업명</label>
                </div>
                    <div class="content-input-group-input">
                        <select
                        class="form-control company_name_dropdown"
                        name="search_name"
                      >
                      </select>
                  </div>
              </div>
           
              <div class="col-1 px-0">
                <button class="btn button-search rounded-0 w-100 h-100">
                  검색
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 내용 -->
    <div class="card m-2">
      <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <form class="content-content w-100" id="order_company_content">
          {% csrf_token %}
          <div class="row no-gutters w-100 mb-2">
            <div class="col-1 content-title">기업추가</div>
            <div class="col-11" id="order_company_detail_content">
              <div class="row no-gutters">
                <div class="content-input-group col-3">
                  <div class="content-input-group-header">
                    <label>기업명<strong>*</strong></label>
                  </div>
                  <div class="content-input-group-input">
                    <input class="form-control" name="name" />
                  </div>
                </div>
                <div class="content-input-group col-3">
                    <div class="content-input-group-header">
                      <label>설명</label></label>
                    </div>
                    <div class="content-input-group-input">
                      <input class="form-control" name="explain" />
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters w-100 justify-content-end">
            <div class="col-1 px-0 mr-2">
              <button
                type="button"
                class="btn button-custom2 w-100 add"
                onclick="order_company_add()"
              >
                추가
              </button>
            </div>
            <div class="col-1 px-0 mr-2">
              <button
                type="button"
                class="btn button-custom2 w-100"
                onclick="order_company_edit()"
              >
                수정
              </button>
            </div>
            <div class="col-1 px-0">
              <button
                type="button"
                class="btn button-custom2 w-100"
                onclick="delete_order_company()"
              >
                삭제
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 테이블 -->
    <div class="card m-2">
      <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <div class="content-table col-12">
          <table
            id="order_company-table"
            class="table table-sm text-center"
            style="min-width: 1300px"
          >
            <thead>
              <tr>
                <th>순번</th>
                <th>기업명</th>
                <th>설명</th>
                <th>등록자</th>
                <th>등록일</th>
                <th>수정일</th>
              </tr>
            </thead>
            <tbody id="order_company_main-tbody"></tbody>
          </table>
        </div>
      </div>
    </div>
                <!-- 테이블 건수 조회 -->
    <div class="card m-2">
        <div class="row no-gutters card-body p-2">
            <label class="mb-0">(<strong id="order_company_table_row">0</strong>) 건 로딩</label>
        </div>
    </div>
   
    <script src="{% static 'js/api_order_company.js' %}" type="text/javascript"></script>
    <script>

      console.log("login user data ::", get_userinfo()) ;
      
      $(".datepicker").datepicker({
        format: "yyyy-mm-dd",
        minViewMode: 0,
        maxViewMode: 2,
        autoclose: true,
        language: "ko",
        todayHighlight: true,
      });
      $(".datepicker").datepicker("setDate", "today");

      $("#order_company_search").submit(function (e) {
        e.preventDefault();

        let name = $("#order_company_search [name='search_name']").val();
        let param = [];
        param[0] = name;

        api_get_order_company_list(param, (data) => {
          order_company_load_table(data);
        });
        e.preventDefault();
      });

      var order_company_idx = ""; // pk

      function order_company_add() {
        let valid = true;
        // 필수 입력 검사
        
        if ($("#order_company_detail_content [name='search_name']").val() == "") {
          $("#order_company_detail_content [name='search_name']").css(
            "border",
            "1px solid red"
          );
          valid = false;
        }
        

        if (valid) {
          let name = $('#order_company_content [name="name"]').val();
          let explain = $('#order_company_content [name="explain"]').val();
         
            
          let order_company_data = {
            name: name,
            explain: explain,
          };

          api_post_order_company_content(order_company_data, () => {
            alert("추가 되었습니다.");
            $("#order_company_search").trigger("submit");
          });
          return true;
        } else return false;
      }

      // 필수항목을 모두 작성한 경우
      $("#order_company_detail_content [name='name']").on("change", function () {
        $(this).css("border", "");
      });
      

      $(function () {
        refresh();

        // Table export
        $(parent.document).find("#excel-export").click(() =>
          init_excel_export($("#order_company-table"), "납품기업")
        );
      });

      function refresh() {
        param = null;

        api_get_order_company_list(param, (data) => {
          $("#order_company_search").trigger("submit");
        });

        init();
      }

      function order_company_edit() {
        if (order_company_idx == null) {
          alert("데이터를 먼저 선택하십시오.");
        } else {
          let name = $('#order_company_content [name="name"]').val();
          let explain = $('#order_company_content [name="explain"]').val(); 

          let order_company_data = {
            name: name,
            explain: explain,
          };

          api_patch_order_company_content(order_company_idx, order_company_data, () => {
            alert("수정 완료.");
            $("#order_company_search").trigger("submit");
          });
        }
      }

      function delete_order_company() {
        if (order_company_idx == null) {
          alert("데이터를 먼저 선택하십시오.");
        } else {
          var del = confirm(
            "기업명 : " + order_company_idx + " 번을 삭제하시겠습니까?"
          );

          if (del) {
            api_delete_order_company_content(order_company_idx, () => {
              alert("삭제 완료.");
              $("#order_company_search").trigger("submit");
            });
          }
        }
      }

      var order_comapany_columns = [
        "name",
        "explain",
        "created_by",
        "created_at",
        "updated_at",
      ];

      function order_company_load_table(data) {
        mock(data);

        function mock(data) {
          $("#order_company_table_row").text(data.length); // 로딩된 데이터 갯수 세기
          let rows = "";
          let list_num = 1;

          for (let i = 0; i < data.length; i++) {
            let item = data[i];

            // append it
            let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
            row += "<td>" + list_num++ + "</td>";
            row += "<td data-item='name'>" + item.name + "</td>";
            row += "<td data-item='explain'>" + item.explain + "</td>";
            row += "<td data-item='created_by'>" + item.created_by + "</td>";
            row +=
              "<td data-item='created_at'>" +
              item.created_at.substring(0, 4) +
              "-" +
              item.created_at.substring(5, 7) +
              "-" +
              item.created_at.substring(8, 10) +
              "</td>";
              row +=
              "<td data-item='updated_at'>" +
              item.created_at.substring(0, 4) +
              "-" +
              item.created_at.substring(5, 7) +
              "-" +
              item.created_at.substring(8, 10) +
              "</td>";

            row += "</tr>";

            rows += row;
          }
          spinner();

          $("#order_company_main-tbody").html(rows);
          $("#order_company_main-tbody > tr").on("click", function () {
            order_comapany_columns.forEach((item) => {
                $("#order_company_content [name='" + item + "']").val(
                  $(this)
                    .find("[data-item='" + item + "']")
                    .text()
            )});
            order_company_idx = $(this).attr("id");
          });

          // table click highlight
          $(".content-table tbody tr").on("click", function () {
            $(this).parent().find("tr").removeClass("clicked");
            $(this).addClass("clicked");
          });

          //Table pagination
          $('.pagination-container').remove();
          $('.table tbody').paginathing();
        }
      }

      function init() {
        // TODO 추후 selector data 
        function make_dropdown(data, selectors) {
          let list = "<option value=''>선택</option>";
          for (let i = 0; i < data.length; i++) {
            let item = data[i];
            list +=
              "<option value='" + item.id + "'>" + item.name + "</option>";
          }
          $(selectors).html(list);
          $(selectors).select2({ width: "100%" });
        }

        api_gp("/order/company/", "GET", {}, (data) => {
          make_dropdown(data, ".company_name_dropdown");
        });
      }
  function spinner(){
    $("#spinner").remove();
  }
    </script>

    <!-- {#{% endblock %}#} -->
  </body>
</html>
