<!DOCTYPE html>
<html>
<header>{% include "header.html" %}</header>
<body style="overflow: hidden;">
<!-- {#{% extends 'index.html' %}#}  -->
{% load static %}

<div class="spinner" id="spinner">
    <img src="../../../static/img/spinner.gif" width="150px" height="150px"/>
</div>

<!-- 테이블 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <div class="content-table col-12" id="input_table" style="overflow-x:auto; overflow-y:hidden; height:251px">
            <table
                    id="material_output_data-table-up"
                    class="table table-sm text-center"
            >
                <thead>
                <tr>
                    <th>순번</th>
                    <th>출고지시번호</th>
                    <th>출고예정일자</th>
                    <!-- {# <th>구매처</th> #} -->
                    <th>품번</th>
                    <th>품명</th>
                    <th id="n_bom_model2">모델</th>
                    <th>자재구분</th>
                    <th>단위</th>
                    <th>출고예정수량</th>
                    <th>반출처(목적)</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody id="material-input-lookup-tbody"></tbody>
            </table>

            <div class="row no-gutters d-flex justify-content-center" id="item_nation"
                 style="margin-top: -20px;">
            </div>

        </div>
    </div>
</div>

<!-- 내용 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        <form class="content-content w-100" id="material_output_detail-form">
            <div class="row no-gutters w-100 mb-2">
                <div class="col-1 content-title">출고등록</div>
                <div class="col-11">
                    <div class="row no-gutters">
                        <div class="content-input-group col-2">
                            <div class="content-input-group-header">
                                <label>출고일자<strong>*</strong></label>
                            </div>
                            <div class="content-input-group-input">
                                <input
                                        class="form-control datepicker"
                                        autocomplete="off"
                                        type="text"
                                        name="out-at"
                                        id="out-at"
                                />
                            </div>
                        </div>
                        <div class="content-input-group col-2">
                            <div class="content-input-group-header">
                                <label>출고수량<strong>*</strong></label>
                            </div>
                            <div class="content-input-group-input">
                                <input
                                        class="form-control"
                                        name="out-amount"
                                        id="out-amount"
                                        onkeyup="_chkNumber(this, 3)"
                                />
                            </div>
                        </div>
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>반출처(목적)<strong>*</strong></label>
                            </div>
                            <div class="content-input-group-input">
                                <input class="form-control" name="purpose" id="purpose"/>
                            </div>
                        </div>
                        <div class="content-input-group col-3">
                            <div class="content-input-group-header">
                                <label>비고</label>
                            </div>
                            <div class="content-input-group-input">
                                <input class="form-control" name="etc" id="etc"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters w-100 justify-content-end">
                <div class="col-1 px-0 mr-2">
                    <button
                            class="btn button-custom2 w-100"
                            type="button"
                            onclick="material_output_add()"
                    >
                        출고반영
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 테이블 -->
<div class="card m-2">
    <div class="row no-gutters card-body p-2">
        <!-- 본문 -->
        {# Todo hjlim : Table Line 수 지정 #}
        <div class="content-table col-12" style="overflow-y:hidden;height:251px">
            <table id="material_output_data-table" class="table table-sm text-center" style="min-width:1300px;">
                <thead>
                <tr>
                    <th>순번</th>
                    <th>출고번호</th>
                    <th>출고일</th>
                    <!-- {# <th>구매처</th> #} -->
                    <th>품번</th>
                    <th>품명</th>
                    <th id="n_bom_model3">모델</th>
                    <th>자재구분</th>
                    <th>단위</th>
                    <th>기존재고</th>
                    <th>출고수량</th>
                    <th>반출처(목적)</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody id="material-output-tbody"></tbody>
            </table>

            <div class="row no-gutters d-flex justify-content-center" id="item_nation2"
                 style="margin-top: -20px;">
            </div>

        </div>
    </div>
</div>

<script src="{% static 'js/api_item.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_materials.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_codemaster.js' %}" type="text/javascript"></script>
<script src="{% static 'js/api_paginations.js' %}" type="text/javascript"></script>
<script>
    let nation_data1 = {
        cname : 'nation1',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation',
        range: 5,
        page_size: 5,
    };

    let nation1 = new Pnations(nation_data1, main_search);  // 인스턴스 명

    let nation_data2 = {
        cname : 'nation2',  // 인스턴스 명과 일치해야함
        table_id: 'item_nation2',
        range: 5,
        page_size: 5,
    };

    let nation2 = new Pnations(nation_data2, detail_search);  // 인스턴스 명

    // material_output table 에 사용됨.
    var detail_click_id = null;

    // material_input lookup table 에 사용됨.
    var main_click_id = null;
    var main_click_item_id = null;


    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        minViewMode: 0,
        maxViewMode: 2,
        autoclose: true,
        language: 'ko',
        todayHighlight: 'true',
    });

    {#$("#out-at").datepicker("setDate", "today");#}

    $(function () {
        set_naming();
        refresh();

        // Table Export
        $(parent.document).find("#excel-export").click(() => {
            {#init_excel_export($('#material_output_data-table-up'), '자재품목');#}
            init_excel_export($('#material_output_data-table'), '재고출고');
        });
    });


    function set_naming(){
        let enterprise_manage = get_userinfo().enterprise_manage;
        if (enterprise_manage == '(주)건강생활연구소'){
            $("#n_bom_model1").text("제품군");
            $("#n_bom_model2").text("제품군");
            $("#n_bom_model3").text("제품군");
        }
    }


    function refresh() {
        material_output_init();
        main_search();
        detail_search();
    }

    function main_search(){
        let customer_search = $('#customer_search :selected').val();
        let division_search = $('#division_search :selected').val();
        let item_id_search = $('#item_id_search :selected').val();
        let item_name_search = $('#item_name_search :selected').val();
        let model_search = $('#model_search :selected').val();

        let query = "?page=" + nation1.page + "&";
        if (customer_search == '' || customer_search == null){
        } else { query += "purchase_from=" + customer_search + "&"; }
        if (division_search == '' || division_search == null){
        } else { query += "division=" + division_search + "&"; }
        if (item_id_search == '' || item_id_search == null){
        } else { query += "code=" + item_id_search + "&"; }
        if (item_name_search == '' || item_name_search == null){
        } else { query += "name=" + item_name_search + "&"; }
        if (model_search == '' || model_search == null){
        } else { query += "model=" + model_search + "&"; }

        api_gp("/items/outorder/" + query + "/", "GET", {}, (done) => {
            main_table_draw(done);
        });
    }


    function main_table_draw(done) {
        console.table(done);

        let data = done.results;
        let num = (((nation1.page*1) - 1) * nation_data1["page_size"]) + 1 ;

        let rows = "";
        for (let i = 0; i < data.length; i++) {
            let item = data[i];

            let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
            row += "<td>" + (num + i) + "</td>";
            row += "<td name='a_num'>" + item.num + "</td>"; // 출고지시번호
            row += "<td name='a_out-at'>" + item.out_at + "</td>";   // 출고예정일자
            row += "<td class='d-none' name='a_item-id'>" + item.item.id + "</td>";   // 품번id
            row += "<td name='a_item-code'>" + item.item.code + "</td>";   // 품번
            row += "<td name='a_item-name'>" + item.item.name + "</td>";   // 품명
            row += "<td name='a_item-model'>" + (item.item.model_id ? item.item.model_name : "") + "</td>";   // 모델
            row += "<td name='a_item-item-division'>" + (item.item.division_id ? item.item.division_name : "") + "</td>";   // 자재구분
            row += "<td name='a_item-unit' property='" + (item.item.unit_id ? item.item.unit_id : "") + "'>" + (item.item.unit_id ? item.item.unit_name : "") + "</td>";   // 단위
            row += "<td name='a_out-amount'>" + (item.out_amount ? item.out_amount.toLocaleString() : 0) + "</td>";   // 출고예정수량
            row += "<td name='a_purpose'>" + item.purpose + "</td>";   // 반출처(목적)
            row += "<td name='a_etc'>" + (item.etc ? item.etc : "") + "</td>";   // 비고
            row += "</tr>";

            rows += row;
        }
        spinner();

        nation1.nation_display(done);
        $('#material-input-lookup-tbody').html(rows);

        // click check
        if (main_click_id != null){
            $("#material-input-lookup-tbody #" + main_click_id).addClass('clicked');
        }

        $('#material-input-lookup-tbody > tr').on('click', function () {
            $(this).parent().find('tr').removeClass('clicked');
            $(this).addClass('clicked');
            main_click_id = $(this).attr('id'); // id
            main_click_item_id = $(this).find("[name='a_item-id']").text();

            $("#out-at").val($(this).find("[name='a_out-at']").text());  // 출고일자
            $("#out-amount").val($(this).find("[name='a_out-amount']").text());  // 출고수량
            $("#purpose").val($(this).find("[name='a_purpose']").text());  // 반출처(목적)
            $("#etc").val($(this).find("[name='a_etc']").text());  // 비고
        });

        {#$("#item_nation2").empty();#}
    }


    function output_submit(e) {
        e.preventDefault();

        $("#out-at").datepicker("setDate", "today");
        $("#out-amount").val("");
        $("#purpose").val("");
        $("#etc").val("");

        $("#material-output-tbody").empty();

        nation1.page = 1;
        main_click_id = null;
        main_click_item_id = null;

        nation2.page = 1;
        detail_click_id = null;

        main_search();
        return false;
    }


    function detail_search(){
        let query = "?page=" + nation2.page + "&";
        {#query += "item=" + main_click_id + "&";#}

        api_gp("/items/out/" + query, "GET", {}, (done) => {
            detail_table_draw(done);
        });
    }


    function detail_table_draw(done) {
        {#console.table(done);#}

        let data = done.results;
        let num = (((nation2.page*1) - 1) * nation_data2["page_size"]) + 1 ;

        let rows = "";
        for (let i = 0; i < data.length; i++) {
            let item = data[i];

            let row = "<tr id='" + item.id + "' style='cursor:pointer;'>";
            row += "<td>" + (num + i) + "</td>";
            row += "<td data-item='num'>" + item.num + "</td>"; // 출고번호
            row += "<td data-item='out-at'>" + item.out_at + "</td>";   // 출고일
            row += "<td data-item='item-code'>" + item.item.code + "</td>";   // 품번
            row += "<td data-item='item-name'>" + item.item.name + "</td>";   // 품명
            row += "<td data-item='item-model'>" + (item.item.model_id ? item.item.model_name : "") + "</td>";   // 모델
            row += "<td data-item='item-item-division'>" + (item.item.division_id ? item.item.division_name : "") + "</td>";   // 자재구분
            row += "<td data-item='item-unit' property='" + (item.item.unit_id ? item.item.unit_id : "") + "'>" + (item.item.unit_id ? item.item.unit_name : "") + "</td>";   // 단위
            row += "<td data-item='current-amount'>" + (item.current_amount ? item.current_amount.toLocaleString() : 0) + "</td>";   // 재고수량
            row += "<td data-item='out-amount'>" + (item.out_amount ? item.out_amount.toLocaleString() : 0) + "</td>";   // 출고수량
            row += "<td data-item='purpose'>" + item.purpose + "</td>";   // 출고목적
            row += "<td data-item='etc'>" + (item.etc ? item.etc : "") + "</td>";   // 비고
            row += "</tr>";

            rows += row;
        }
        spinner();

        nation2.nation_display(done);
        $('#material-output-tbody').html(rows);

        // click check
        if (detail_click_id != null){
            $("#material-output-tbody #" + detail_click_id).addClass('clicked');
        }

        $('#material-output-tbody > tr').on('click', function () {
            $(this).parent().find('tr').removeClass('clicked');
            $(this).addClass('clicked');
            detail_click_id = $(this).attr('id');
        });
    }

    function material_output_init() {
        function make_dropdown(data, selectors) {
            let list = "<option value=''>선택 및 검색</option>";
            let distinct = [];
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                if (selectors.includes('.bom-dropdown')) {
                    list += "<option value='" + item.id + "'>" + item.bom_name + "</option>";
                } else if (selectors.includes('.item-code-dropdown')) {
                    list += "<option value='" + item.code + "'>" + item.code + "</option>";
                } else if (selectors.includes('.item-name-dropdown')) {
                    if (distinct.indexOf(item.name) === -1) {
                        list += "<option value='" + item.name + "'>" + item.name + "</option>";
                        distinct.push(item.name);
                    }
                } else {
                    list += "<option value='" + item.id + "'>" + item.name + "</option>";
                }
            }
            $(selectors).html(list);
            $(selectors).select2({width: '100%'});
        }

        // 구매처
        api_gp('/customers_select/', 'GET', {}, (data) => {
            make_dropdown(data, '#material_output_main-form .customer-dropdown');
        });

        // 자재구분
        api_gp('/codes_select/?group=118&enable=true', 'GET', {}, (data) => {
            make_dropdown(data, '#material_output_main-form .item-division-dropdown');
        });

        // 모델
        api_gp('/codes_select/?group=116&enable=true', 'GET', {}, (data) => {
            make_dropdown(data, '#material_output_main-form .model-dropdown');
        });

        // 품번, 품명
        api_gp('/items_select/', 'GET', {}, (data) => {
            make_dropdown(data, '#material_output_main-form .item-code-dropdown');
            make_dropdown(data, '#material_output_main-form .item-name-dropdown');
        });
    }


    function get_add_data(){
        let out_at = $('#out-at').val();
        let out_amount = $('#out-amount').val();
        let purpose = $('#purpose').val();
        let etc = $('#etc').val();

        out_amount = parseFloat(out_amount.replace(/,/g, ""));

        let data = {
            item: main_click_item_id,
            'out_at': out_at,
            'out_amount': out_amount,
            'purpose': purpose,
            'etc': etc,
        };

        return data;
    }


    function material_output_add() {
        if (main_click_item_id === undefined || main_click_item_id === null) {
            alert("상단의 품목을 선택해 주십시오.");
            return;
        }

        let out_at = $("#out-at").val();
        if (out_at === undefined || out_at === null || out_at === '') {
            alert("출고일자를 입력해주세요.");
            return;
        }

        let out_amount = $("#out-amount").val();
        if (out_amount === undefined || out_amount === null || out_amount === '') {
            alert("출고수량을 입력해주세요.");
            return;
        }

        let purpose = $("#purpose").val();
        if (purpose === undefined || purpose === null || purpose === '') {
            alert("반출처(목적)을 입력해주세요.");
            return;
        }

        let data = get_add_data();
        api_gp('/items/out/', 'POST', data, (data) => {
            alert("출고하였습니다.");
            nation1.page = 1;
            nation2.page = 1;
            detail_click_id = data.id;

            // 해당 출고 지시서 삭제
            api_gp('/items/outorder/' + main_click_id + '/', 'DELETE', {}, (done) => {
                console.table(done);
                $("#out-at").datepicker("setDate", "today");
                $("#out-amount").val("");
                $("#purpose").val("");
                $("#etc").val("");

                main_click_id = null;
                {#detail_click_id = null;#}
            });
            main_search();
            detail_search();
        });
    }


    function spinner() {
        $("#spinner").remove();
    }

</script>
<!-- {#{% endblock %}#} -->
</body>
</html>
